<template>
  <div class="dia" v-show="show">
    <div class="content">
      <h3>合伙人规则</h3>
      <p>
        1. 注册登陆成功后，点击“立即成为合伙人”即可成为合伙人；
        <br />2.
        合伙人通过分享分销商品列表内的商品，并在订单支付成功后15天内无退款，即为分销成功，获得相应的分销提成；
        <br />3. 合伙人可通过“我的分销商品”中查看自己的收益； <br />4.
        提成金额提现最低为10元。
      </p>
      <div class="btn" @click="confirmHandel">返回</div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { Dialog } from "vant";
Vue.use(Dialog);

export default {
  name: "ruleDialog",
  props: {
    show: {
      type: Boolean
    }
  },
  data() {
    return {};
  },
  methods: {
    confirmHandel() {
      this.$emit("closeRule");
    }
  },
  created() {},
  mounted() {}
};
</script>
<style lang="scss" scoped>
.dia {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 5.6rem;
    background: #ffffff;
    border-radius: 0.1rem;
    padding-top: 0.3rem;
    box-sizing: border-box;
    h3 {
      font-size: 0.36rem;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: #333333;
      margin-bottom: 0.41rem;
      text-align: center;
    }
    p {
      padding: 0 0.3rem 0.3rem 0.3rem;
      box-sizing: border-box;
      text-align: left;
      box-sizing: border-box;
      text-align: left;
      font-size: 0.3rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #333333;
      line-height: 0.48rem;
    }
    .btn {
      width: 100%;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.32rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #b00000;
      border-top: 2px solid #ebebeb;
    }
  }
}
</style>