<template>
  <div class="wrap">
    <div class="bg"></div>
    <div class="card">
      <img :src="prize_pic" alt="" />
      <h1 class="prize_name">{{ prize_name }}</h1>
      <h1 class="prize_name">{{ sub_title }}</h1>
      <h1 class="prize_name">{{ ticket_sub_name }}</h1>
      <div v-if="!is_check">
        <div class="btn sub" @click="sub">立即核销</div>
      </div>
      <div v-if="is_check">
        <p class="code">券码已经于{{ check_time.substr(0, 19) }}核销</p>
        <div class="btn scan" @click="close">关闭</div>
      </div>
    </div>
    <div class="dialog" v-if="dialog">
      <div class="dialog__content">
        <div class="dialog__title">是否核销？</div>
        <div class="button">
          <div class="button_son button__concel" @click="cancel">取消</div>
          <div class="button_son button__confirm" @click="confirm">确认</div>
        </div>
      </div>
    </div>
    <div class="error" v-if="error">
      <img
        src="@/../public/static/active314/cancel_fail.png"
        alt=""
        style="width:2.73rem"
      />
      <p>您不是核销人员！</p>
      <div class="btn" @click="close">关闭</div>
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";

Vue.use(Toast);
export default {
  name: "cancel",
  data() {
    return {
      prize_name: "",
      sub_title: "",
      prize_pic: "",
      check_time: "",
      ticket_sub_name: "",
      name: "",
      IDcard: "",
      tel: "",
      flag: true,
      check_code: "",
      code: "",
      check_id: "",
      is_check: false,
      dialog: false,
      error: false,
      e_ticket_code: 0
    };
  },
  created() {
    if (sessionStorage.getItem("e_ticket_code")) {
      this.e_ticket_code = sessionStorage.getItem("e_ticket_code");
    }
    this.checkReg();
    this.searchInfo();
  },
  methods: {
    //微信扫一扫
    WxScanQRCode() {
      wx.ready(function() {
        wx.scanQRCode({
          needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
          scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
          success: function(res) {
            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
            window.location.href = result; //因为我这边是扫描后有个链接，然后跳转到该页面
          },
          error: function(err) {
            if (err.errMsg.indexOf("function_not_exist") > 0) {
              alert("版本过低请升级");
            }
          }
        });
      });
    },
    cancel() {
      this.dialog = false;
    },
    sub() {
      this.dialog = true;
    },
    searchInfo() {
      /* 奖品详情 */
      let time = new Date().getTime();
      let obj = {
        e_ticket_code: this.e_ticket_code,
        open_id: localStorage.getItem("open_id"),
        queryType: 0,
        stamp: time,
        sign: MD5(
          localStorage.getItem("open_id") +
            "" +
            this.e_ticket_code +
            "" +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/wxmp/ticket/userQueryTicketSn", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 2) {
            this.prize_name = res.data.prize_data.prize_name
              ? res.data.prize_data.prize_name
              : res.data.data.act_name;
            this.sub_title = res.data.prize_data.sub_title
              ? res.data.prize_data.sub_title
              : res.data.data.ticket_name;
            this.prize_pic = res.data.prize_data.prize_pic
              ? res.data.prize_data.prize_pic
              : res.data.data.logo_url;
            this.ticket_sub_name = res.data.data.ticket_sub_name
              ? res.data.data.ticket_sub_name
              : res.data.ticketData.ticket_sub_name;
            this.check_time = res.data.data.chk_time;
            if (res.data.prize_data.is_check == 1) {
              this.is_check = true;
            } else {
              this.is_check = false;
            }
          } else {
            Toast(res.data.msg);
          }
        })
        .catch(function(err) {
          console.log(err);
        });
    },
    confirm() {
      if (!this.flag) {
        return false;
      }
      this.flag = false;
      let time = new Date().getTime();
      let obj = {
        e_ticket_code: this.e_ticket_code,
        open_id: localStorage.getItem("open_id"),
        queryType: 1,
        stamp: time,
        sign: MD5(
          localStorage.getItem("open_id") +
            "" +
            this.e_ticket_code +
            "" +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/wxmp/ticket/userQueryTicketSn", qs.stringify(obj))
        .then(res => {
          this.flag = true;
          console.log(res);
          if (res.data.result == 1) {
            this.$router.push({ path: "/cancelresult1", query: { status: 1 } });
          } else if (res.data.result == 5505) {
            //已注册
            this.dialog = true;
            this.got = true;
          } else if (res.data.result == 5505) {
            this.dialog = true;
            this.fail = true;
          } else if (res.data.result == 5504) {
            Toast("注册码错误");
          } else if (res.data.result == 1008) {
            Toast("该券码已经核销过，请不要重复核销！");
          } else {
            Toast("核销失败，请稍后再试~");
          }
        })
        .catch(function(err) {
          console.log(err);
        });
    },
    checkReg() {
      let time = new Date().getTime();
      let obj = {
        open_id: localStorage.getItem("open_id"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("open_id") + time + localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/merchant/mng/findRegister", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1005) {
            //未注册
            this.error = true;
            Toast(res.data.msg);
          } else if (res.data.result == 1004) {
            //已注册
            this.check_id = res.data.data.id;
          } else {
            Toast("核销员信息错误");
          }
        })
        .catch(function(err) {
          console.log(err);
        });
    },
    close() {
      WeixinJSBridge.call("closeWindow");
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgba(34, 34, 34, 1);
  .bg {
    width: 7.5rem;
    height: 3.83rem;
    background: linear-gradient(
      132deg,
      rgba(35, 111, 114, 1) 0%,
      rgba(103, 234, 239, 1) 100%
    );
  }
  .card {
    position: absolute;
    top: 0.88rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 6.95rem;
    height: 10.14rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0.04rem 0.21rem 0.13rem rgba(107, 58, 145, 0.07);
    border-radius: 0.16rem;
    filter: blur(0px);
    padding-top: 0.39rem;
    box-sizing: border-box;
    img {
      width: 2.93rem;
      // height: 2.93rem;
      display: block;
      margin: 0 auto 0.41rem;
      background: #eee;
    }
    h6 {
      padding-left: 0.45rem;
      box-sizing: border-box;
    }
    .prize_name {
      font-size: 0.34rem;
      font-family: PingFangSC-Regular;
      font-weight: 500;
      color: rgba(34, 34, 34, 1);
      line-height: 0.48rem;
      margin-bottom: 0.43rem;
    }
    .name {
      font-size: 0.32rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 0.45rem;
      text-align: left;
      margin-bottom: 0.14rem;
    }
    .id_card {
      font-size: 0.32rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 0.45rem;
      text-align: left;
      margin-bottom: 0.14rem;
    }
    .tel {
      font-size: 0.32rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      line-height: 0.45rem;
      text-align: left;
      margin-bottom: 0.48rem;
    }
    .code {
      font-size: 0.35rem;
      font-family: PingFangSC-Medium;
      font-weight: 600;
      color: rgba(34, 34, 34, 1);
      line-height: 0.49rem;
      margin-bottom: 0.29rem;
    }
    input {
      width: 6.3rem;
      height: 0.96rem;
      border-radius: 0.08rem;
      border: 0.02rem solid rgba(218, 218, 218, 1);
      font-size: 0.34rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(178, 178, 178, 1);
      padding-left: 0.24rem;
      box-sizing: border-box;
      line-height: 0.96rem;
    }
    .btn {
      width: 6.2rem;
      height: 0.94rem;
      background: #246768;
      border-radius: 0.1rem;
      margin: 0.29rem auto 0;
      line-height: 0.94rem;
      font-size: 0.34rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }
    .scan {
      margin: 1.45rem auto 0;
    }
  }
}
.dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  font-size: 0.34rem;
  position: fixed;
  top: 0;
  left: 0;
  .dialog__content {
    width: 5.6rem;
    height: 2.2rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.16rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .dialog__title {
      width: 100%;
      height: 1.23rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(34, 34, 34, 1);
    }
    .button {
      height: calc(100% - 1.23rem);
      font-size: 0.34rem;
      font-family: PingFangSC-Regular;
      font-weight: 500;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top: 0.01rem solid rgba(229, 229, 229, 1);
      box-sizing: border-box;
    }
    .button_son {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .button__concel {
      // border-right: 0.01rem solid #e0e0e0;
      color: #333;
    }
    .button__confirm {
      border-left: 0.01rem solid #e0e0e0;
      color: rgba(250, 85, 163, 1);
      font-weight: 600;
    }
  }
}
.error {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  img {
    width: 2.73rem;
    display: block;
    margin: 2.1rem auto 0.78rem;
  }
  p {
    font-size: 0.4rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 0.56rem;
  }
  .btn {
    width: 6.2rem;
    height: 0.94rem;
    background: rgba(248, 248, 248, 1);
    border-radius: 0.1rem;
    border: 0.02rem solid rgba(5, 5, 5, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.3rem auto 0;
    font-size: 0.36rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }
}
</style>