<template>
	<div class="lottery_Bg">
		<div class="lottery_bg">
      <img src="@/../public/static/images/code02_Bg.jpg" alt="">
		</div>
	</div>

</template>

<script>
	export default {
		name: "lottery_code",
		data() {
			return {}
		},
		mounted() {
			document.title = '拆红包 赢奖品';

		}
	}
</script>

<style scoped lang="scss">
	.lottery_Bg {
		width: 100%;
		height: 100%;
		background:#1875f3;
		.lottery_bg{
			width: 100%;
			height: 12.18rem;
			overflow: hidden;
			position: relative;
      img{
        width: 100%;
      }
		}
	}
</style>
