<template>
	<div class="lottery_Bg" style="background: url('./static/images/result.jpg') center/cover;">
		<div class="msg">{{msg}}</div>
		<div class="award_detail">{{award}}</div>
		<div class="sub_skip" @click="sub_skip"></div>
	</div>
</template>

<script>
	export default {
		name: "lottery_result",
		data() {
			return {
				award: '20',
        msg:'',
        isOk:1
			}
		},
		methods: {
			//点击隐藏按钮提交抽奖并跳转
			sub_skip() {
				this.$router.push({
					path: '/lottery_code'
				})
			}
		},
		created() {
				this.award = this.$route.query.Award;
				this.msg = this.$route.query.msg;
				this.isOk = this.$route.query.isOk;
		},
		mounted() {
			document.title = '拆红包 赢奖品';
		}
	}
</script>

<style scoped lang="scss">
	.lottery_Bg {
		width: 100%;
		height: 15.8rem;
		overflow: auto;
		position: relative;
    .msg{
      width: 100%;
      text-align: center;
      position: absolute;
      top: 2.4rem;
      font-family: PingFangSC-Regular;
      font-size: 0.3rem;
      color: #333;
    }
		.award_detail {
      width: 100%;
      text-align: center;
			position: absolute;
			top: 3.1rem;
			font-family: PingFangSC-Regular;
			font-size: 0.55rem;
			color: #db2c2a;
		}
		.sub_skip {
			position: absolute;
			top: 7.58rem;
			left: 2.22rem;
			width: 3.04rem;
			height: 0.8rem;
		}
	}
</style>
