<!--
 * @Author: your name
 * @Date: 2019-11-18 17:35:52
 * @LastEditTime : 2019-12-31 15:19:17
 * @LastEditors  : sueRimn
 * @Description: In User Settings Edit
 * @FilePath: \hand-up-3.0\src\views\goods\special_area.vue
 -->
<template>
  <div id="special_area">
    <van-swipe :autoplay="3000"
               indicator-color="white">
      <van-swipe-item v-for="v in bannerData"
                      :key="v.id">
        <img :src="v.adv_pic"
             @click="skip(v.adv_url,v.url_type,v.end_time)" />
      </van-swipe-item>
    </van-swipe>
    <div v-for="(v,i) in list"
         :key="i"
         @click="SKIPVIEW(v)">
      <img v-if="v.classID"
           :src="v.imgurl"
           style="width:100%;" />
    </div>

    <tabbar></tabbar>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Tabbar from "../TabBar.vue";
import Vue from 'vue';
import { Swipe, SwipeItem, Toast } from 'vant';
Vue.use(Swipe).use(SwipeItem);
export default {
  data () {
    return {
      list: [],
      bannerData: []
    }
  },
  created () {
    this.GET_CONFIG_GOOD_CLASS()
  },
  mounted () {
    document.title = '专区'
  },
  methods: {
    
    SpringSale (index) {
      const time = new Date().getTime();
      let adv_sign = sessionStorage.getItem('advSign') ? sessionStorage.getItem('advSign') : '0'
      const obj = {
        adv_type: index ? index : 5,
        adv_sign,
        adv_state: 1,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(index + "" + "1" + "1" + "10" + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post(
          api + "/wxmp/advertise/advertiseGeneral/doAdvertiseGeneralList",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataNum > 0) {
              if (index == 11) {
                //特价广告  限时特惠
                this.SpringSaleData = res.data.dataList[0];
                localStorage.setItem('SpringSaleData', JSON.stringify(this.SpringSaleData));
              } else if (index == 12) {
                //首页活动  星座 心理测试
                this.horoscopeData = res.data.dataList;
                localStorage.setItem('horoscopeData', JSON.stringify(this.horoscopeData));
              } else if (index == 13) {
                //举手头条
                this.notice = res.data.dataList[0];
                localStorage.setItem('notice', JSON.stringify(this.notice));
              } else if (index == 14) {
                //底部广告
                this.adv_bottom = res.data.dataList[0];
                localStorage.setItem('adv_bottom', JSON.stringify(this.adv_bottom));
              } else if (index == 4) {
                //推荐商品  每周特惠
                this.weeklyData = res.data.dataList[0];
                localStorage.setItem('weeklyData', JSON.stringify(this.weeklyData));
              } else if (index == 5) {
                //商城首页  banner
                this.bannerData = res.data.dataList;
                localStorage.setItem('bannerData', JSON.stringify(this.bannerData));
              }

            }
          } else {
            console.log(res.msg)
          }
        })
        .catch(error => {
          // eslint-disable-next-line no-undef
          console.log(error);
          if (index == 11) {
            //特价广告  限时特惠
            this.SpringSaleData = localStorage.getItem('SpringSaleData') ? JSON.parse(localStorage.getItem('SpringSaleData')) : this.SpringSale(index);
            this.countDownTime();
          } else if (index == 12) {
            //首页活动  星座 心理测试
            this.horoscopeData = localStorage.getItem('horoscopeData') ? JSON.parse(localStorage.getItem('horoscopeData')) : this.SpringSale(index);
          } else if (index == 13) {
            //举手头条
            this.notice = localStorage.getItem('notice') ? JSON.parse(localStorage.getItem('notice')) : this.SpringSale(index);
          } else if (index == 14) {
            //底部广告
            this.adv_bottom = localStorage.getItem('adv_bottom') ? JSON.parse(localStorage.getItem('adv_bottom')) : this.SpringSale(index);
          } else if (index == 4) {
            //推荐商品  每周特惠
            this.weeklyData = localStorage.getItem('weeklyData') ? JSON.parse(localStorage.getItem('weeklyData')) : this.SpringSale(index);
          } else if (index == 5) {
            //商城首页  banner
            this.bannerData = localStorage.getItem('bannerData') ? JSON.parse(localStorage.getItem('notice')) : this.SpringSale(index);
          }
        });
    },
    SKIPVIEW (v) {
      if (v.classID != '') {
        location.href = v.url;
        // this.$router.push({path:v.url,query:{class_id:v.classID,adv_id:v.adv_id}})
      } else {
        Toast(v.desc);
      }
    },
    skip (url, adv_type, end_time) {
      let times = new Date(end_time.substr(0, 19).replace(/-/g, '/')).getTime();
      if (Date.now() > times) {
        Toast("活动已截止，敬请期待新的特惠活动");
      } else {
        if (adv_type == 0) {
          location.href = url;
        } else if (adv_type == 1) {
          this.$router.push({ path: '/' + url });
        }
      }
    },
    /* 获取class配置 */
    GET_CONFIG_GOOD_CLASS () {
      axios
        .get(
          "./class.json"
        )
        .then(res => {
          if (window.location.href.includes('js')) {
            this.list = sessionStorage.getItem('advSign') ? res.data.js.special_areaList.filter(v => { return v.advSign == sessionStorage.getItem('advSign') }) : res.data.js.special_areaList.filter(v => { return v.advSign == 0 });
            this.SpringSale(res.data.js.special_adv_type);
          } else if (window.location.href.includes('vote')) {
            this.list = sessionStorage.getItem('advSign') ? res.data.vote.special_areaList.filter(v => { return v.advSign == sessionStorage.getItem('advSign') }) : res.data.vote.special_areaList.filter(v => { return v.advSign == 0 });
            this.SpringSale(res.data.vote.special_adv_type);
          } else if (window.location.href.includes('192')) {
            this.list = sessionStorage.getItem('advSign') ? res.data.js.special_areaList.filter(v => { return v.advSign == sessionStorage.getItem('advSign') }) : res.data.js.special_areaList.filter(v => { return v.advSign == 0 });
            this.SpringSale(res.data.js.special_adv_type);
            console.log(this.list)
            this.SpringSale(res.data.vote.special_adv_type);
          }

        })
    },
  },
  components: {
    Tabbar
  }
}
</script>

<style lang="scss" scoped>
#special_area /deep/ {
  background: #7c1117;
  width: 100%;
  height: 100%;
  padding: 0.2rem 0.27rem;
  box-sizing: border-box;
  > img {
    width: 100%;
    // height: 2.1rem;
  }
  .van-swipe {
    height: 2.8rem;
    box-sizing: border-box;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0.16rem;
    }
  }
}
</style>
<style lang="scss">
</style>