<template>
  <div class="dialog">
    <div
      class="con"
      style="background: url('@/../static/user/success_bg.png') no-repeat center/cover;"
    >
      <div class="title">{{wenzi}}</div>
      <div class="txt-top">
        <div class="tex-left">
          <h1 class="yuans" v-if="info.conpon_type == 1 && info.point == 0">
            ￥
            <span>{{info.prize/100}}</span>
          </h1>
          <h1 class="jifens" v-else-if="info.conpon_type == 1 && info.prize == 0">
            {{info.point}}
            <span>积分</span>
          </h1>
          <h1 class="zhekou" v-else-if="info.conpon_type == 2">
            {{(100-info.discount*1)/10}}
            <span>折</span>
          </h1>
          <h1 class="space" v-else></h1>
          <p v-if="info.order_fee != 0">满{{info.order_fee/100}}元使用</p>
          <!--<p v-if="info.order_point != 0">满{{info.order_point}}积分使用</p>-->
          <p v-else>满{{info.order_point}}积分使用</p>
        </div>
        <div class="tex-right" v-if="info.goods_class == -1"></div>
        <div class="tex-right" v-else>限指定商品使用</div>
      </div>
      <div class="txt-bottom">
        <p>使用说明：{{info.coupon_desc}}</p>
        <p>限用日期：{{info.begin_use_time.replace(/-/g,'.').slice(0,11)}}~{{info.end_use_time.replace(/-/g,'.').slice(0,11)}}</p>
      </div>
      <div class="go" @click="getPush" v-if="success">去逛一逛</div>
      <div class="go1" v-else>
        <div @click="closeDia">取消</div>
        <div @click="duihuan">确认</div>
      </div>
    </div>
  </div>
</template>

<script>
import qs from "qs";
import MD5 from "js-md5";
export default {
  name: "success",
  props: {
    info: {
      type: Object
    },
    couponCode: {
      type: String
    }
  },
  created() {},
  mounted() {
    console.log(this.info);
  },
  data() {
    return {
      success: false,
      coupon_id: 0,
      wenzi: "确认兑换吗？"
    };
  },
  methods: {
    getPush() {
      if (this.info.goods_id == -1) {
        if (sessionStorage.getItem("from_v") == 2) {
          location.href = "/wxmp/act/2020/09/CDMA/goodsshow.html";
        }
        if (this.info.class_id == -1) {
          this.$router.push({ path: "/goodslist" });
        } else {
          this.$router.push({
            path: "/goodslist",
            query: {
              class_id: this.info.class_id
            }
          });
        }
      } else {
        this.$router.push({
          path: "/shop_details",
          query: { id: this.info.goods_id, aid: -1, coupon_id: this.coupon_id }
        });
      }
    },
    closeDia() {
      this.$emit("closeDia", false);
      console.log("触发");
    },
    duihuan() {
      let vm = this;
      let time = Date.now();
      let obj = {
        sn: vm.couponCode,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            "" +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/wxmp/info/coupon/SnAddUserCouponAPI", qs.stringify(obj))
        .then(res => {
          console.log(res.data.result);
          if (res.data.result == 1) {
            vm.success = true;
            vm.wenzi = "恭喜您兑换成功";
            vm.coupon_id = res.data.data.id;
            sessionStorage.setItem("coupon_id", res.data.data.id);
          } else {
            this.$emit("closed", {
              types: res.data.result,
              errDialog: true,
              Dialog: false
            });
            vm.types = res.data.result;
          }
          console.log(res);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.55);
  .con {
    width: 5.29rem;
    height: 6.95rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 199;
    .title {
      font-family: SourceHanSansCN-Medium;
      font-size: 0.42rem;
      font-weight: 600;
      line-height: 0.48rem;
      color: #333333;
      padding-top: 0.4rem;
    }
    .txt-top {
      width: 3.86rem;
      height: 2.15rem;
      margin: 0.44rem auto 0;
      display: flex;
      justify-content: flex-start;
      padding-left: 0.28rem;
      box-sizing: border-box;
      .tex-left {
        width: 2.38rem;
        height: 100%;
        .space {
          width: 100%;
          height: 1.26rem;
        }
        .yuans {
          font-family: SourceHanSansCN-Medium;
          font-size: 0.55rem;
          font-weight: normal;
          letter-spacing: -0.08rem;
          height: 1.26rem;
          line-height: 1.76rem;
          color: #fa4203;
          span {
            font-size: 1.1rem;
            text-align: left;
            margin-left: -0.1rem;
          }
        }
        .jifens {
          font-family: SourceHanSansCN-Medium;
          font-size: 0.72rem;
          font-weight: normal;
          letter-spacing: -0.03rem;
          height: 1.26rem;
          line-height: 1.76rem;
          color: #fa4203;
          span {
            letter-spacing: 0;
            font-size: 0.36rem;
            text-align: left;
          }
        }
        .zhekou {
          font-family: SourceHanSansCN-Medium;
          font-size: 1.2rem;
          font-weight: normal;
          letter-spacing: -0.03rem;
          height: 1.26rem;
          line-height: 1.76rem;
          color: #fa4203;
          span {
            letter-spacing: 0;
            font-size: 0.6rem;
          }
        }
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0.26rem auto 0;
          width: 1.94rem;
          padding: 0.02rem 0.1rem;
          line-height: 0.45rem;
          height: 0.45rem;
          background-color: #ffffff;
          border-radius: 0.45rem;
          box-shadow: inset 0rem 0.02rem 0rem 0rem rgba(124, 124, 124, 0.75);
          font-family: SourceHanSansCN-Regular;
          font-size: 0.26rem;
          font-weight: normal;
          font-stretch: normal;
          letter-spacing: -0.01rem;
          color: #e6801f;
        }
      }
      .tex-right {
        width: calc(100% - 2.38rem);
        font-family: SourceHanSansCN-Regular;
        font-size: 0.26rem;
        letter-spacing: 0.02rem;
        color: #e6801f;
        writing-mode: vertical-lr;
        padding-left: 0.4rem;
        box-sizing: border-box;
      }
    }
    .txt-bottom {
      margin-top: 0.8rem;
      padding-left: 0.37rem;
      box-sizing: border-box;
      p {
        letter-spacing: -0.01rem;
        font-family: SourceHanSansCN-Regular;
        font-size: 0.3rem;
        font-weight: 500;
        line-height: 0.48rem;
        color: #333333;
        text-align: left;
      }
    }
    .go {
      margin: 0.3rem auto 0;
      width: 4.5rem;
      height: 0.78rem;
      background-image: linear-gradient(0deg, #f4b52d 0%, #f5cb3d 100%),
        linear-gradient(#fa4203, #fa4203);
      background-blend-mode: normal, normal;
      border-radius: 0.1rem;
      line-height: 0.78rem;
      font-family: SourceHanSansCN-Medium;
      font-size: 0.3rem;
      font-weight: 500;
      color: #333333;
    }
    .go1 {
      margin: 0.3rem auto 0;
      width: 4.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div {
        width: 2rem;
        height: 0.78rem;
        background-image: linear-gradient(0deg, #f4b52d 0%, #f5cb3d 100%),
          linear-gradient(#fa4203, #fa4203);
        background-blend-mode: normal, normal;
        border-radius: 0.1rem;
        line-height: 0.78rem;
        font-family: SourceHanSansCN-Medium;
        font-size: 0.3rem;
        font-weight: 500;
        color: #333333;
      }
    }
  }
}
</style>
