 <template>
  <div class="card_bag">
    <van-tabs
      v-model="active"
      sticky
      line-width="1.07rem"
      line-height="0.08rem"
      color="#FFDA00"
      @click="onClick"
    >
      <van-tab v-for="(v, i) in title" :title="v" :key="i">
        <van-list
          v-model="loading"
          :finished="finished"
          finished-text="没有更多了"
          @load="onLoad"
          v-if="list.length"
          style="padding-bottom:1.16rem"
        >
          <div
            class="card_item"
            :style="{
              backgroundImage:
                'url(' +
                (active == 0
                  ? '@/../static/user/card_pre.png)'
                  : '@/../static/user/card_nor.png)')
            }"
            v-for="(item, index) in list"
            :key="index"
          >
            <img
              :src="item.logo_url"
              alt=""
              style="width:1.48rem;height:1.48rem;"
            />
            <div class="card_item_info">
              <span class="card_item_info_title">{{
                item.ticket_name ? item.ticket_name : ""
              }}</span>
              <span class="card_item_info_date"
                >使用期限:{{ item.expire_time.substr(0, 19) }}</span
              >
              <div class="button">
                <span @click="SHOW_DETAIL(item)" v-if="!active">去使用</span>
              </div>
            </div>
          </div>
        </van-list>
        <div class="card_nor" v-if="pageNum != 1 && list.length == 0">
          <img
            src="@/../public/static/user/card_list_nor.png"
            alt=""
            style="width:4.06rem;height:4.16rem;margin:1.02rem auto 0;"
          />
        </div>
      </van-tab>
    </van-tabs>

    <!-- 去使用 -->
    <van-overlay :show="show">
      <div class="wrapper">
        <div class="block">
          <h5>{{ CUR_TIK.ticket_name }}</h5>
          <img
            :src="CUR_TIK.e_ticket_qrcode"
            alt=""
            v-if="CUR_TIK.ticket_class == 7 || CUR_TIK.e_ticket_qrcode"
          />
          <span class="sn sn1" v-if="CUR_TIK.ticket_class == 6"
            >卡号:<br /><span>{{ CUR_TIK.e_ticket_sort }}</span></span
          >
          <span
            class="sn"
            style="margin-top:.3rem"
            v-if="CUR_TIK.ticket_class == 6"
            >卡密:<br /><span>{{ CUR_TIK.DES_e_ticket_sn }}</span></span
          >
          <div class="close" @click="show = false">返回</div>
        </div>
      </div>
    </van-overlay>
    <tabbar></tabbar>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from "vue";
import { Tab, Tabs } from "vant";
import { Icon } from "vant";
import { Toast } from "vant";
import { Dialog } from "vant";
import { List } from "vant";
import { Overlay } from "vant";
import Des from "@/style/des.js";
import Tabbar from "../../TabBar.vue";
Vue.use(Tab)
  .use(Tabs)
  .use(Icon)
  .use(Dialog)
  .use(Overlay)
  .use(List)
  .use(Toast);
export default {
  components: {
    Tabbar
  },
  data() {
    return {
      CUR_TIK: "",
      pageNum: 1,
      pageSize: 20,
      pageCount: 0,
      active: 0,
      list: [],
      show: false,
      loading: false,
      finished: false,
      title: ["可使用", "已失效"]
    };
  },
  created() {
    this.GET_TICKETSNLIST();
  },
  mounted() {
    document.title = "电子券";
  },
  methods: {
    onClick(i) {
      this.active = i;
      this.pageNum = 1;
      this.pageSize = 20;
      this.pageCount = 0;
      this.list = [];
      this.GET_TICKETSNLIST();
    },
    onLoad() {
      // 异步更新数据
      if (this.loading) {
        setTimeout(() => {
          // 加载状态结束
          this.loading = false;
          this.pageNum++;
          // 数据全部加载完成
          if (this.pageNum <= this.pageCount) {
            this.GET_TICKETSNLIST();
          } else {
            this.finished = true;
          }
        }, 1000);
      }
    },
    GET_TICKETSNLIST() {
      const time = new Date().getTime();
      const obj = {
        user_id: localStorage.getItem("userId"),
        can_use: this.active == 0 ? 1 : 2,
        goods_order_id: -1,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            (this.active == 0 ? 1 : 2) +
            "-1" +
            this.pageNum +
            this.pageSize +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/ticket/ticketSnUserOrderList", qs.stringify(obj))
        .then(res => {
          // 加载状态结束
          this.loading = false;
          if (res.data.result == 1) {
            if (res.data.dataNum) {
              this.pageCount = res.data.pageCount;
              this.list.push(...res.data.dataList);
            } else {
              this.finished = true;
              if (this.pageNum == 1) {
                /* 此判断  防止初始加载数据时 出现无数据图 */
                this.pageNum++;
              }
            }
          } else {
            this.finished = true;
            if (this.pageNum == 1) {
              /* 此判断  防止初始加载数据时 出现无数据图 */
              this.pageNum++;
            }
          }
        });
    },
    SHOW_DETAIL(value) {
      this.show = true;
      this.CUR_TIK = { ...value };
      let num = Des.decryptByDES(
        value.e_ticket_sn,
        localStorage.getItem("des")
      );
      this.$set(this.CUR_TIK, "DES_e_ticket_sn", num);
    }
  }
};
</script>
<style lang="scss" scoped>
.card_bag {
  width: 100%;
  height: 100%;
  .card_item {
    width: 6.69rem;
    height: 2.05rem;
    margin: 0 auto 0.22rem;
    background-size: 6.69rem 2.05rem;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.38rem;
    box-sizing: border-box;
    .card_item_info {
      margin-left: 0.38rem;
      width: 4.07rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0.28rem 0;
      box-sizing: border-box;
      font-size: 0.32rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      .card_item_info_title {
        line-height: 0.48rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .card_item_info_date {
        margin-top: 0.05rem;
        font-size: 0.26rem;
        font-weight: 300;
      }
      .button {
        margin-top: 0.1rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        span {
          width: 1.26rem;
          height: 0.44rem;
          background: rgba(255, 255, 255, 1);
          border-radius: 0.44rem;
          color: #ff8200;
          font-size: 0.24rem;
          line-height: 0.44rem;
        }
      }
    }
  }
  .card_item:first-child {
    margin-top: 0.1rem;
  }
}
.card_bag {
  /deep/.van-tabs {
    height: calc(100% - 0.88rem);
    .van-tab span {
      font-size: 0.36rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(34, 34, 34, 1);
    }
    .van-tabs__content {
      height: 100%;
      .van-tab__pane {
        height: 100%;
        padding-top: 0.1rem;
        box-sizing: border-box;
        overflow-y: scroll;
      }
    }
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.block {
  width: 6rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.47rem;
  padding-bottom: 0.48rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  h5 {
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 0.4rem;
  }
  img {
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 0.21rem;
    margin-bottom: 0.41rem;
  }
  .sn1 {
    margin-bottom: 0 !important;
  }
  .sn {
    width: 100%;
    margin-top: 0.57rem;
    margin-bottom: 0.65rem;
    display: block;
    font-size: 0.34rem;
    font-family: Source Han Sans CN;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    line-height: 0.4rem;
    text-align: left;
    line-height: 0.6rem;
    span {
      font-weight: 300;
      font-size: 0.32rem;
    }
  }
  .close {
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 0.8rem;
    width: 3rem;
    height: 0.8rem;
    background: linear-gradient(
      153deg,
      rgba(255, 210, 0, 1) 0%,
      rgba(252, 202, 55, 1) 100%
    );
    border-radius: 0.7rem;
  }
}
</style>