<template>
  <div class="elec-coupon">
    <div class="hollow-two-circle">
      <img :src="prizeInfo.logo_url?prizeInfo.logo_url:'./static/active314/logo_zhierxing.png'" alt class="prize_Img-logo" />
      <h1 class="prize_name">{{prizeInfo.ticket_name}}</h1>
    </div>
    <div class="hollow-bottom">
      <!-- 条形码 -->
      <div class="bar-code">
        <img :src="prizeInfo.e_ticket_qrcode" alt :class="prizeInfo.is_chk==1?'filterGray':''" />
        <p style="font-size:.48rem;margin-bottom:0.2rem;">{{prizeInfo.e_ticket_sn_dec}}</p>
        <p class="prompt">{{text}}</p>
      </div>
      <!-- 使用规则 -->
      <div class="use-rule">
        <h4 class="prize_desc">本券限华东大润发&欧尚门店使用（九州店除外）</h4>
        <h4 class="prize_desc">有效期：{{prizeInfo.begin_time?prizeInfo.begin_time.substr(0,11)+'~'+prizeInfo.expire_time.substr(0,11):''}}</h4>
        <h4 class="prize_name">使用规则</h4>
        <h4 class="prize_desc"  v-html="prizeInfo.ticket_descr"></h4>
      </div>
    </div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
Vue.use(Toast);
export default {
  data() {
    return {
      prizeInfo: {},
      text: '出示条形码，至超市结账时使用'
    };
  },
  created() {
    if(localStorage.getItem('e_ticket_code')){
      this.getCodeInfo(localStorage.getItem('e_ticket_code'));
    }
  },
  mounted() {
    document.title = "奖品详情";
  },
  methods:{
    /* 获取券码信息 */
    getCodeInfo(e_ticket_code){
      let okey = localStorage.getItem("oKey")?localStorage.getItem("oKey"):'LK1SJ7IUUF6IG8';
      let key = localStorage.getItem("Key")?localStorage.getItem("Key"):'jushou2018shrosun';
      const time = Date.now();
      let obj = {
        e_ticket_code: e_ticket_code,
        stamp: time,
        sign: MD5(
          e_ticket_code +""+
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post('/api/rtmart/getBarcode', qs.stringify(obj))
        .then(res => {
          if(res.data.result === 1){
            this.prizeInfo = {...res.data.ticket_sn,ticket_descr:res.data.ticket.ticket_descr,ticket_name:res.data.ticket.ticket_name};
            this.text =new Date(this.prizeInfo.expire_time.substr(0,19).replace(/-/g,'/')).getTime()>Date.now()?(this.prizeInfo.is_chk==1?'条码已使用':'出示条形码，至超市结账时使用'):'条码已过期'
          }
        })
        .catch(function(err) {});
    },
  },
  destroyed(){
    localStorage.removeItem('e_ticket_code');
  }
};
</script>

<style lang="scss" scoped>
/* 定义全局变量 */
$hollow_h: 3.14rem;
$hollow_t: 1.21rem;
/* 定义的居中方式 */
@mixin position_center_x() {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@mixin position_center_y() {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
@mixin position_center() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 0;
}
/* 定义圆形 */
@mixin circle($circle) {
  width: $circle;
  height: $circle;
  border-radius: 50%;
}
/* 灰度滤镜 */
@mixin filterGray($percentage){
  -webkit-filter: grayscale($percentage) opacity(60%); /* Chrome, Safari, Opera */
    filter: grayscale($percentage) opacity(60%);
}
.elec-coupon {
  position: relative;
  top: 0;
  height: 100%;
  background: linear-gradient(
    -7deg,
    rgba(59, 168, 174, 1),
    rgba(42, 186, 191, 1)
  );
  background-size: 100% 4rem;
  background-position: 0 0;
  background-repeat: no-repeat;

  .hollow-two-circle {
    width: 6.86rem;
    height: $hollow_h;
    @include position_center_x;
    top: $hollow_t;
    background: radial-gradient(
          circle at right bottom,
          transparent 0.3rem,
          #fff 0
        )
        top right / 51% 2.78rem no-repeat,
      radial-gradient(circle at left bottom, transparent 0.3rem, #fff 0) top
        left / 51% 2.78rem no-repeat,
      radial-gradient(circle at right top, transparent 0.3rem, #fff 0) bottom
        right / 51% ($hollow_h - 2.78rem) no-repeat,
      radial-gradient(circle at left top, transparent 0.3rem, #fff 0) bottom
        left / 51% ($hollow_h - 2.78rem) no-repeat;
    filter: drop-shadow(0 0 0.11rem rgba(0, 0, 0, 0.2));
    border-radius: 0.16rem 0.16rem 0 0;
    &::after {
      content: "";
      width: 6.26rem;
      border: 0.02rem dashed #e0e0e0;
      position: absolute;
      left: 0;
      right: 0;
      top: 2.78rem;
      margin: auto;
    }
    .prize_name{
      width: 5rem;
      font-size:0.4rem;
      font-family:Source Han Sans CN;
      font-weight:400;
      color:rgba(0,0,0,1);
      line-height:0.56rem;
      @include position_center_x;
      top: 1.1rem;
    }
  }
  .hollow-bottom {
    width: 6.86rem;
    padding-bottom: 0.71rem;
    background: #fff;
    @include position_center_x;
    top: $hollow_t + $hollow_h;
    filter: drop-shadow(0 0.22rem 0.12rem rgba(0, 0, 0, 0.1));
    .prize_name {
      font-size: 0.32rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 0.5rem;
    }
    .prize_desc {
      font-size: 0.28rem;
      font-family: Source Han Sans CN;
      font-weight: 300;
      color: rgba(0, 0, 0, 1);
      line-height: 0.42rem;
      margin-bottom: 0.1rem;
      text-align: left;
    }
    /* sn 序列号 */
    .sn {
      display: flex;
      justify-content: center;
      align-items: center;

      .sn-box {
        width: 6.3rem;
        height: 0.8rem;
        background: rgba(255, 255, 255, 1);
        border: 0.01rem solid rgba(218, 218, 218, 1);
        border-radius: 0.08rem;
        margin: 0.73rem 0 1.29rem;
        font-size: 0.34rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        letter-spacing: 0.05rem;
        line-height: 0.8rem;
      }
    }
    /* bar-code 条形码 */
    .bar-code {
      width: 5.7rem;
      margin: 0.55rem auto;
      img {
        width: 100%;
        height: 1.8rem;
        background: #000;
        margin-bottom: 0.14rem;
      }
    }
    /* qr-code 二维码 */
    .qr-code {
      width: 5.7rem;
      margin: 0.47rem auto;
      img {
        width: 3.04rem;
        height: 3.04rem;
        margin: auto;
        background: #000;
        margin-bottom: 0.34rem;
      }
      
    }
    .prompt {
      text-align: center;
      font-size: 0.26rem;
      font-family: Source Han Sans CN;
      font-weight: 300;
      color: rgba(255, 0, 0, 1);
      line-height: 0.5rem;
    }
    .filterGray{
      @include filterGray(100%);
    }
    .use-rule {
      width: 6.34rem;
      padding-top: 0.24rem;
      margin: auto;
      border-top: 0.02rem dashed #e0e0e0;
    }
  }
  .prize_Img-logo {
    @include circle(1.45rem);
    @include position_center_x;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.06);
  }
  .prize_Img {
    height: 1.6rem;
    width: 4rem;
    @include position_center_x;
    top: 0.9rem;
    background: #eee;
  }
  
}
</style>