<template>
  <div class="get_shop_box">
    <div class="top_bg"></div>
    <div class="content">
      <img src="" alt="" class="prize_img">
      <div class="prizeinfo">
        <p class="prize_name">{{prizeInfo.prize_name}}</p>
        <p class="prize_general">领取时间：即日起至活动结束后一周内</p>
        <p class="prize_general">领取地址：上海市静安区共和新路3318号大润发服务台</p>
        <p style="color:#999999;font-size:0.28rem;margin-top:0.2rem;">请携本人身份证领取</p>
      </div>
    </div>
    <p style="margin-top:1.82rem;font-size:0.36rem;font-family:Source Han Sans CN;color:rgba(34,34,34,1);padding-left:0.56rem;box-sizing:border-box;">活动奖品领取凭证:</p>
    <img src="" alt="" class="img-qr">
    <p class="rule">活动结束后一周内仍可领取,详情另询主办方,<br>逾期视为放弃。</p>
    <!-- <div class="botton">
      <div class="left"
           @click="skip('/play_index')">再玩一次</div>
      <div class="right"
           @click="skip('/act_prize')">我的奖品</div>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "get_shop",
  data () {
    return {
      is_get: true,
      prizeInfo:{}
    }
  },
  methods: {
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
  },
  created () {
    if (sessionStorage.getItem('drf520_p_info')) {
      this.prizeInfo = JSON.parse(sessionStorage.getItem('drf520_p_info'));
    }
  },
  mounted () {
    document.title = "奖品详情";
  },
}
</script>

<style scoped  lang="scss">
$prize_img_size: 1.9rem;
.get_shop_box {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: hidden;
  text-align: left;
  .top_bg {
    width: 100%;
    height: 3.58rem;
    background: linear-gradient(
      132deg,
      rgba(35, 111, 114, 1) 0%,
      rgba(103, 234, 239, 1) 100%
    );
  }
  .img-qr{
    width: 3.03rem;
    height: 3.03rem;
    padding: 0.28rem;
    margin: 0.58rem auto 0.42rem;
    background: #eee;
  }
  .rule{
    font-size:0.26rem;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(255,0,0,1);
    line-height:0.39rem;
    text-align: center;
  }
  .botton {
    width: 100%;
    height: 0.88rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0.42rem;
    .left,
    .right {
      width: 3.28rem;
      height: 0.88rem;
      background: #246768;
      border-radius: 0.08rem;
      color: rgba(255, 255, 255, 1);
      font-size: 0.34rem;
      line-height: 0.88rem;
      text-align: center;
    }
  }
  .content {
    $content-width: 6.86rem;
    width: $content-width;
    min-height: 3.6rem;
    padding-left: 0.21rem;
    padding-top: 0.43rem;
    padding-bottom: 0.43rem;
    box-sizing: border-box;
    position: absolute;
    top: 0.53rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 0.2rem;
    box-shadow: 0.04rem 0 0.16rem rgba(0, 0, 0, 0.06);
    .prize_img {
      width: $prize_img_size;
      height: $prize_img_size;
      margin-right: 0.21rem;
      display: block;
      background: #eee;
    }
    .prizeinfo{
      width: $content-width - $prize_img_size;
      min-height: 2.77rem;
      padding-top: 0.19rem;
      box-sizing: border-box;
      .prize_name{
        font-size:0.34rem;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(34,34,34,1);
        line-height: 1;
        margin-bottom: 0.21rem;
      }
      .prize_general{
        font-size:0.26rem;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(85,85,85,1);
      }
    }
  }
}
</style>