<template>
  <div class="active_rule" style="background-image:url('./static/active314/active_rule_bg.png');width:7.5rem;height:59.91rem;" >
    <h1 class="title">活动详细规则</h1>
    <h5 class="title-item">活动时间:</h5>
    <p class="content">2020年5月20日9:00起，直至主会场连接汽车大奖的牵引索上的五根钢锭全部被切断为止。线上活动全天候参与，线下装置仅9:00-20:00开启。<br>主会场活动地点：上海大润发杨浦店（上海市杨浦区黄兴路1618号）一楼外广场<br>客服电话及接待时间：021-60136136（活动期间9:00-20:00）</p>
    <h5 class="title-item">奖品说明:</h5>
    <p class="content">本次活动的奖项包括钢索幸运奖、专属钢索奖和举手幸运奖。钢索幸运奖是切断主会场钢索上的钢锭获得的大奖，包括港丽茶餐厅2000元现金券、取走双人黑金年卡、无锡喜来登酒店大使套房套餐、Craft无线蓝牙键盘+MX Master 2s大师鼠标套装以及新能源汽车（一年使用权，价值49999元）；专属钢索奖是切断大润发&欧尚各活动门店设立的虚拟钢索所获得的大奖，奖品为价值约1999元的丰厚好礼，具体奖品以门店公示为准；举手幸运奖包括但不限于现金抵用券、折扣券、超值券等电子奖品以及实物奖品，详细奖品清单可点击下方按钮“奖品清单”查看。</p>
    <div style="width:2.96rem;height:0.66rem;background:rgba(36,103,104,1);border-radius:0.1rem;margin: 0.56rem auto;font-size:0.32rem;color:rgba(255,255,255,1);line-height:0.66rem;" @click="skip('/prizelist')">奖品清单</div>
    <h5 class="title-item">活动规则:</h5>
    <h6 class="title-item_h6" style="margin-top:0;">【如何参与线上切割钢筋？】</h6>
    <p class="content">{{cut_device_tag?'1.关注“大润发”&“欧尚中国”微信公众号，选择关注门店，进入活动页面':'1.关注“举手来了“微信公众号，点击菜单“来玩”-“举手来了”，进入活动页面。'}}<br>2.点击“立即参与”，可选择A到D四根牵引索，每次只可选择一根。确认后会获得唯一的编码，点击“参与抽奖”即可参加举手幸运奖抽奖活动，百分百中奖。同一用户可多次参与，多次中奖。<br>3.每个编码与最终线下装置切割编码一一对应，每切断一根牵引索上的钢锭（每根钢锭粗细各有不同），即触发开关，编码停止跳动，大屏幕显示的号码即视为中奖号码，即可获得钢索幸运奖。<br>4.由于机械切割速度限制，现场切割较手机点击会有所延迟，手机触发仅代表进入排队序列，可能需要等待现场切割到手机对应的编码。一旦该牵引索上的钢锭被切断，线下装置即时显示的编码即为中奖编码，该编码之后的数字不能再获得钢索幸运奖，已获得的举手幸运奖不受影响。请用户尽早参与、理性参与，一旦消耗参与次数，恕不退还，敬请谅解。</p>
    <h6 class="title-item_h6">【如何参与线下大润发&欧尚专属钢筋奖活动？】</h6>
    <p class="content">1.用户在大润发&欧尚门店单次消费满58元，可获得1次参与次数，单张购物小票可最多可换取3次参与次数，凭购物小票向现场工作人员获取参与次数。<br>2.获取的门店次数可自行选择参与线下专属钢筋奖活动及线上切割钢筋活动。<br>3. 线下分会场专属钢筋奖活动仅限9:00-20:00现场参与，请听从现场工作人员的安排有序排队，依次点击现场电视屏幕切割一次钢筋。<br><span style="color:#0017ef;" @click="skip('/adrlist')">点击查询大润发&欧尚线下分会场地点</span></p>
    <h6 class="title-item_h6">【如何获取更多参与次数？】</h6>
    <p class="content">用户可通过线上线下多种方式获取参与次数：<br> {{cut_device_tag!='' ?'1.进入活动页面，点击“赚次数”，关注指定微信公众号，即可获得1次免费参与次数，每个ID限每天获得1次，取关后再关注不可重复获得。' : `1. 线上获取参与次数的方式：关注指定微信公众号。关注“举手来了”微信公众号，每天点击菜单“来玩”-“举手来了”，进入活动页面，即可获得1次免费参与次数，每个ID限每天获得1次。进入活动页面，点击“赚次数”，关注其他指定微信公众号，即可获得更多免费参与机会，取关后再关注不可重复获得。`}} <br>2.线下获取参与次数<br>在大润发&欧尚门店单笔消费满58元即可获得1次参与次数，单张购物小票可最多可换取3次参与次数，凭购物小票向现场工作人员获取参与机会。<br><br>说明：线上每个ID每日限免费参与5次，免费参与次数如当天不使用，将累加在账户中，活动期内不清零。若通过及满足各品牌规定的线下门店消费金额获得的特殊机会，不包括在每日5次限额之内，可每日不限量使用。</p>
    <h6 class="title-item_h6">【如何领取奖品？】</h6>
    <p class="content">1.实物奖品需填写姓名、手机号、身份证号、领奖门店等信息。中奖用户可从中奖后一日起至活动大奖开出后一日，由本人携带与中奖信息一致的身份证原件于9:00-20:00前往中奖时所选择的大润发&欧尚门店活动现场咨询处领取奖品。<span style="color:#0017ef;" @click="skip('/adrlist')">（点击查看大润发&欧尚活动门店地址）</span> 现场核实登记信息后发放奖品，不可代领，不提供快递服务，不可折现，详情另询客服电话，逾期视为自动放弃。领奖用户需配合主办方进行相关活动报道（包括但不限于正面无遮挡视频、照片采访等），并将其报道中涉及的肖像权授予主办方用于活动的网络传播使用。如用户拒绝配合，主办方有权取消用户获奖资格。<br>2.虚拟奖品，如电子券、超值券、现金券等，中奖后直接在活动首页“我的奖品“中查看并使用，不可折现。<br>3.终极钢索幸运奖为新能源汽车一年使用权，具体领奖的相关手续及后续问题将由主办方负责与中奖用户联系。<br>4.奖品个人所得税可由提供奖品的企业代收缴。</p>
    <h6 class="title-item_h6">【其他说明】</h6>
    <p class="content">1.机械设备发生故障需维修时，切割将暂停，维修结束后将按暂停时的数字继续切割。<br>2.受网络直播平台要求限制，直播约有十五秒的延迟，请耐心等待。<br>3.如遇不可抗力等非人为因素造成的故障，举办方对此结果不负责。<br>4.主办方无需征得参加者同意，可修改本细则。修改后将在活动规则中公布新规则生效时间，自此生效时间起，参加者应当遵循新的规则，如不同意，参加者应主动退出本活动，如未退出，视为接受新的规则。<br>5.在法律允许的范围内，举办方对此次活动拥有最终解释权。</p>
    <div class="botton_box">
      <div class="botton"
           @click="skip('/kvindex')">返回首页</div>
    </div>

  </div>
</template>

<script>
export default {
  name: "active_rule",
  data(){
    return{
      cut_device_tag:''
    }
  },
  methods: {
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
  },
  created(){
    this.cut_device_tag = localStorage.getItem("cut_device_tag")
      ? localStorage.getItem("cut_device_tag")
      : "";
  },
  mounted () {
    document.title = "活动规则";
    window.dataForWeixin = {
        appId: "",
        imgUrl: "https://" + window.location.host + "/wxmp/static/active314/400.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=kvindex"),
        title: '砍它！百分百中奖！汽车大奖会不会是你？',
        desc: "“举手来了”第二届火爆进行中！！！",
        fakeid: ""
    };
    window.setShare();
  },
}
</script>

<style scoped  lang="scss">
.active_rule {
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  .title{
    color: #00B8B9;
    font-size:0.48rem;
    font-family:Source Han Sans CN;
    font-weight:bold;
    padding-top: 0.7rem;
  }
  .title-item{
    font-size: 0.36rem;
    color: #00B8B9;
    text-align: left;
    width: 6.66rem;
    margin:  0.56rem auto 0;
    line-height: 0.6rem;
  }
  .title-item_h6{
    font-size: 0.3rem;
    color: #00B8B9;
    text-align: left;
    width: 6.66rem;
    margin: 0.56rem auto 0;
    line-height: 0.5rem;

  }
  .content{
    color: #333333;
    font-size: 0.3rem;
    width: 6.66rem;
    margin: 0 auto;
    text-align: left;
    line-height: 0.48rem;
  }
  img {
    width: 100%;
    display: block;
  }
  .botton_box {
    width: 100%;
    height: 1.22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.68rem;
  }
  .botton {
    width: 6.34rem;
    height: 0.96rem;
    background: #246768;
    border-radius: 0.08rem;
    color: rgba(255, 255, 255, 1);
    font-size: 0.36rem;
    line-height: 0.96rem;
  }
}
</style>