<template>
  <div class="index_box"
       >
    <div class="participate"
         @click="goActive">立即参与</div>
    <div class="my_prize"
         @click="skip('/active_rule')">活动规则</div>
    <div class="prize_list"
         @click="skip('/act_prize')">我的奖品</div>
    <div class="service_box"
         v-if="is_show==0">
      <div class="service">
        <div class="title_name">用户信息授权协议</div>
        <div class="content">
          <img src="@/../public/static/active314/agree.png"
               alt="">
        </div>
        <div class="top">
          <img src="@/../public/static/active314/choose_nor.png"
               alt=""
               v-on:click="is_agree=true"
               v-if="is_agree==false">
          <img src="@/../public/static/active314/choose_pre.png"
               alt=""
               v-on:click="is_agree=false"
               v-if="is_agree==true">
          <div class="agree">我已阅读并同意<span>《用户信息授权协议》</span></div>
        </div>
        <div class="sumber"
             style=" color:rgba(250,85,163,1)"
             v-if="is_agree==true"
             v-on:click="agree">同意</div>
        <div class="sumber"
             style=" color:rgba(209,212,218,1)"
             v-if="is_agree==false">同意</div>
      </div>
    </div>

  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
Vue.use(Toast);
export default {
  name: "index",
  data () {
    return {
      is_agree: false,
      cut_device_tag: '',
      is_show: 0
    }
  },
  methods: {
    /* 获取用户来源 通过参数 获取是否显示 竞猜按钮和部分指定不显示的文字 */
    getUserSource (){
      const STAMP = Date.now();
      const channel_key = sessionStorage.getItem('channel_key')?sessionStorage.getItem('channel_key'):'';
      const Params = {
        game_code: 'drf520',
        user_id: localStorage.getItem('userId'),
        openid: localStorage.getItem('open_id'),
        cut_device_tag: this.cut_device_tag,
        channel_key: channel_key,
        mobile: JSON.parse(sessionStorage.getItem('usermessage')).mobile_account,
        referer: document.referer?document.referer:'',
        pageurl: location.href,
        stamp: STAMP,
        sign: MD5('drf520'+localStorage.getItem('userId')+channel_key+ this.cut_device_tag + STAMP+ localStorage.getItem('oKey'))
      };
      axios.post('https://interface.51takeit.com/api/car/getUserCutDeviceTag',qs.stringify(Params)).then(res=>{
        if(res.data.result == 1){
          // 指定大润发用户
          if(res.data.cut_device_tag){
            localStorage.setItem("cut_device_tag",res.data.cut_device_tag)
          }else{
            // 默认用户
            localStorage.setItem("cut_device_tag",'')
          }
        }else{
          
        }
      }).catch(err=>{})
    },
    agree () {
      this.is_show = 1;
      localStorage.setItem('is_agree', '1')
    },
    goActive () {
      this.$router.push({ path: '/play_index' });
    },
    skip (link) {
      if (link == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: link })
      }
    },
  },
  created () {
    if (localStorage.getItem('is_agree')) {
      this.is_show = 1;
    }
    if(!localStorage.getItem("cut_device_tag")){
      this.cut_device_tag = sessionStorage.getItem("cut_device_tag")
      ? sessionStorage.getItem("cut_device_tag")
      : "";
      localStorage.setItem("cut_device_tag",this.cut_device_tag);
      this.getUserSource();
    }else{
      this.cut_device_tag = localStorage.getItem("cut_device_tag");
      this.getUserSource();
    }
    
  },
  mounted () {
    document.title = "举手来了";
    window.dataForWeixin = {
      appId: "",
      imgUrl: "https://" + window.location.host + "/wxmp/static/active314/400.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
      link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode("https://" + window.location.host + "/wxmp/index.html#/redirect?state=kvindex"),
      title: '砍它！百分百中奖！汽车大奖会不会是你？',
      desc: "“举手来了”第二届火爆进行中！！！",
      fakeid: ""
    };
    window.setShare();
    console.log(window.dataForWeixin)
  },
}
</script>

<style scoped lang="scss">
.index_box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  background-image: url('../../../../public/static/active314/use_code.png');
  background-size: 7.5rem 15rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  .rule {
    font-size: 0.34rem;
    position: absolute;
    top: 0.3rem;
    right: 0.1rem;
    color: #ffffff;
  }
  .participate {
    width: 4.54rem;
    height: 0.82rem;
    border-radius: 0.1rem;
    background: #246768;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 11.22rem;
  }
  .my_prize {
    color: #246768;
    font-size: 0.34rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    position: absolute;
    left: 0.32rem;
    top: 12.2rem;
    // padding-bottom: 0.12rem;
    border-bottom: 0.02rem solid #246768;
  }
  .prize_list {
    color: #246768;
    font-size: 0.34rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    position: absolute;
    right: 0.32rem;
    top: 12.2rem;
    // padding-bottom: 0.12rem;
    border-bottom: 0.02rem solid #246768;
  }
  .service_box {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    .service {
      width: 6.1rem;
      height: 8.9rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0.16rem;
      overflow: hidden;
      .title_name {
        width: 100%;
        height: 0.95rem;
        font-size: 0.36rem;
        color: rgba(34, 34, 34, 1);
        font-weight: bold;
        line-height: 0.95rem;
        text-align: center;
      }
      .content {
        width: 100%;
        height: 6rem;
        /*padding: 0  0.52rem;*/
        box-sizing: border-box;
        overflow-y: scroll;
        color: rgba(51, 51, 51, 1);
        font-size: 0.28rem;
        img {
          width: 88%;
          margin: auto;
          display: block;
        }
      }
      .content::-webkit-scrollbar-track {
        width: 0;
        height: 0;
      }

      /*定义滚动条高宽及背景*/
      .content::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      /*定义滚动条*/
      .content::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
      }
      .top {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.21rem;
        box-sizing: border-box;
        img {
          width: 0.44rem;
          height: 0.44rem;
          display: block;
        }
        .agree {
          color: rgba(34, 34, 34, 1);
          font-size: 0.3rem;
          span {
            color: rgba(1, 122, 255, 1);
          }
        }
      }
      .sumber {
        width: 100%;
        height: 0.95rem;
        background: rgba(255, 255, 255, 1);
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        line-height: 0.95rem;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        /*font-weight: bold;*/
      }
    }
  }
}

@media only screen and (max-device-height: 736px) {
.index_box {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  background-image: url('../../../../public/static/active314/use_code1.png');
  background-size: 7.5rem 15rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #246768;
  .rule {
    font-size: 0.34rem;
    position: absolute;
    top: 0.3rem;
    right: 0.1rem;
    color: #ffffff;
  }
  .participate {
    width: 4.54rem;
    height: 0.82rem;
    border-radius: 0.1rem;
    background: #246768;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    // top: 9.6rem;
    top: auto;
    bottom: 1rem;
  }
  .my_prize {
    color: #246768;
    font-size: 0.34rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    position: fixed;
    left: 0.32rem;
    // top: 10.7rem;
    top: auto;
    bottom: 0.1rem;
    // padding-bottom: 0.12rem;
    border-bottom: 0.02rem solid #246768;
  }
  .prize_list {
    color: #246768;
    font-size: 0.34rem;
    font-family: Source Han Sans CN;
    font-weight: 500;
    position: fixed;
    right: 0.32rem;
    // top: 10.7rem;
    top: auto;
    bottom: 0.1rem;
    // padding-bottom: 0.12rem;
    border-bottom: 0.02rem solid #246768;
  }
  .service_box {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    .service {
      width: 6.1rem;
      height: 8.9rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0.16rem;
      overflow: hidden;
      .title_name {
        width: 100%;
        height: 0.95rem;
        font-size: 0.36rem;
        color: rgba(34, 34, 34, 1);
        font-weight: bold;
        line-height: 0.95rem;
        text-align: center;
      }
      .content {
        width: 100%;
        height: 6rem;
        /*padding: 0  0.52rem;*/
        box-sizing: border-box;
        overflow-y: scroll;
        color: rgba(51, 51, 51, 1);
        font-size: 0.28rem;
        img {
          width: 88%;
          margin: auto;
          display: block;
        }
      }
      .content::-webkit-scrollbar-track {
        width: 0;
        height: 0;
      }

      /*定义滚动条高宽及背景*/
      .content::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      /*定义滚动条*/
      .content::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
      }
      .top {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.21rem;
        box-sizing: border-box;
        img {
          width: 0.44rem;
          height: 0.44rem;
          display: block;
        }
        .agree {
          color: rgba(34, 34, 34, 1);
          font-size: 0.3rem;
          span {
            color: rgba(1, 122, 255, 1);
          }
        }
      }
      .sumber {
        width: 100%;
        height: 0.95rem;
        background: rgba(255, 255, 255, 1);
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        line-height: 0.95rem;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        /*font-weight: bold;*/
      }
    }
  }
}
}
</style>