<template>
    <div class="index_box">
        <div class="index">
            <img src="@/../public/static/active314/jushou_index.png" alt="">
            <div class="code-box">
                <div  class="code">序列号：{{invite_code}}</div>
                <div  class="copy  tag-read"  :data-clipboard-text="invite_code"  v-on:click="copyText()">复制</div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";
    import { Toast } from "vant";
    Vue.use(Toast)
    import Clipboard from 'clipboard';
    export default {
        name: "jushou_index",
        data(){
          return{
              invite_code:'1883 8383 3939',
            }
        },
        methods:{
            copyText: function () {
                var clipboard = new Clipboard('.tag-read')
                clipboard.on('success', e => {
                    Toast('复制成功')
                    // 释放内存
                    clipboard.destroy()
                })
                clipboard.on('error', e => {
                    // 不支持复制
                    Toast('复制失败')
                    // 释放内存
                    clipboard.destroy()
                })
            },
        },
         mounted(){
          document.title = "举手来了";
        },
    }
</script>

<style scoped  lang="scss">
    .index_box{
        width: 100%;
        height: 100vh;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .index{
            width: 100%;
            height: 11.49rem;
            position: relative;
            top: 0;
            left: 0;
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
            .code-box{
                width: 100%;
                height: 1.16rem;
                position: absolute;
                top: 5.74rem;
                padding: 0  0.48rem;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .code{
                    font-size:0.36rem;
                    color:rgba(34,34,34,1);
                }
                .copy{
                    font-size:0.28rem;
                    color:rgba(250,85,163,1);
                }
            }
        }
    }
</style>