<template>
  <div class="use_code">
    <img src="@/../public/static/active314/game_chance_bg.png" class="bg" />
    <div class="text_box">
      <div class="num">{{get_num?'+'+get_num:''}}</div>
      <div class="text">获得{{get_num}}次游戏机会</div>
    </div>
    <img class="btn"
         @click="go_to_play"
         v-if="offline!=1"
         src="@/../public/static/active314/num_btn.png" />
         <div v-if="offline == 1 " class="btn" style="color:#fff;background:#246768;font-size:0.28rem;" @click="go_to_play">扫描大屏开始游戏</div>
         <div v-if="offline == 1 " class="btn" style="color:#fff;background:#246768;font-size:0.28rem;top: 8.25rem;" @click="get_play_index">点击进入线上游戏</div>

    <!--已经获取过-->
    <div class="reward_bgf"
         v-if="img_one==4">
      <div class="have_chance">
        <img src="@/../public/static/active314/have_chance.png"
             alt=""
             class="img_have">
        <div class="toast">{{msg}}</div>
        <div class="chose">
          <div class="left"
               @click="get_play_num">赚取机会</div>
          <div class="right"
               @click="go_to_play">{{offline!=1?'进入活动':'扫码开始游戏'}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import { Toast } from 'vant';
export default {
  name: "use_code",
  data () {
    return {
      img_one: 0,
      get_num: '',
      offline: 0,
      msg: '',
      cut_device_tag: '',
      channel_key: ''
    }
  },
  methods: {
    /* 获取用户来源 通过参数 获取是否显示 竞猜按钮和部分指定不显示的文字 */
    getUserSource (){
      const STAMP = Date.now();
      const channel_key = sessionStorage.getItem('channel_key')?sessionStorage.getItem('channel_key'):'';
      const Params = {
        game_code: 'drf520',
        user_id: localStorage.getItem('userId'),
        openid: localStorage.getItem('open_id'),
        cut_device_tag: this.cut_device_tag,
        channel_key: channel_key,
        mobile: JSON.parse(sessionStorage.getItem('usermessage')).mobile_account,
        referer: document.referer?document.referer:'',
        pageurl: location.href,
        stamp: STAMP,
        sign: MD5('drf520'+localStorage.getItem('userId')+channel_key+ this.cut_device_tag + STAMP+ localStorage.getItem('oKey'))
      };
      axios.post('https://interface.51takeit.com/api/car/getUserCutDeviceTag',qs.stringify(Params)).then(res=>{
        if(res.data.result == 1){
          // 指定大润发用户
          if(res.data.cut_device_tag){
            localStorage.setItem("cut_device_tag",res.data.cut_device_tag)
          }else{
            // 默认用户
            localStorage.setItem("cut_device_tag",'')
          }
        }else{
          
        }
      }).catch(err=>{})
    },
    get_play_num () {
      this.$router.push({ path: '/get_play_num' })
    },
    get_play_index () {
      this.$router.push({ path: '/kvindex' })
    },
    go_to_play () {
      if(this.offline!=1){
        //线上
        this.$router.push({ path: '/kvindex' })
      }else{
        // 线下
        wx.ready(function () {
          wx.scanQRCode({
            needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
              var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
              window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
            },
            error: function (err) {
              if (err.errMsg.indexOf('function_not_exist') > 0) {
                alert('版本过低请升级')
              }
            }
          });
        })
        
      }
      
    },
    get_play_game () {
      let time = new Date().getTime();
      let obj = {
        game_code: 'drf520',
        channel_key: this.channel_key,
        sn: this.sn,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId") + '' + 'drf520' + '' + this.channel_key +this.sn+ time + localStorage.getItem('Key'))
      };
      // eslint-disable-next-line no-undef
      axios.post(orderApi + '/wxmp/user/game/cut/exchangebyqrcode', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            this.get_num = res.data.get_num;
            this.offline = res.data.offline;
            this.getUserSource();
            // if (res.data.get_num == 1) {
            //   this.img_one = 1
            // } else if (res.data.get_num == 2) {
            //   this.img_one = 2
            // } else if (res.data.get_num == 3) {
            //   this.img_one = 3
            // }
          } else if (res.data.result == 5910) {
            this.img_one = 4;
            this.msg = res.data.msg;
            this.offline = res.data.offline;
          }else {
            this.img_one = 4;
            this.msg = res.data.msg;
            this.offline = res.data.offline;
          }
        })
        .catch(function (err) {
          console.log(err);

        })
    }
  },
  created () {
    if (sessionStorage.getItem('channel_key')) {
      this.channel_key = sessionStorage.getItem('channel_key');
      this.sn = sessionStorage.getItem('sn');
      this.get_play_game();
    } else {
      this.img_one = 4;
      this.msg = '请扫真实二维码';
      // Toast('二维码有误')
    }

  },
  mounted () {
    document.title = "举手来了";
  },
}
</script>

<style scoped lang="scss">
.use_code {
  width: 100%;
  height: 15rem;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  .bg {
    position: absolute;
    width: 100%;
    display: block;
  }
  .btn {
    position: absolute;
    width: 5.6rem;
    height: 0.78rem;
    line-height: 0.78rem;
    top: 7.15rem;
    left: 0;
    right: 0;
    margin: auto;
  }
  .text_box {
    display: flex;
    position: absolute;
    width: 4.7rem;
    height: 1.5rem;
    top: 3.95rem;
    left: 0;
    right: 0;
    margin: auto;
  }
  .text_box > .num {
    width: 1.58rem;
    height: 100%;
    font-size: 0.6rem;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
  }
  .text_box > .text {
    flex: 1;
    font-size: 0.32rem;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
  }
  .reward_bgf{
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .have_chance{
      position: relative;
      top: 0;
      left: 0;
      width:5.28rem;
      height:6.53rem;
      background:rgba(255,255,255,1);
      img{
        width: 100%;
        margin-bottom: 1.11rem;
      }
      .toast{
        font-size:0.36rem;
        font-family:Source Han Sans CN;
        font-weight:400;
        color:rgba(51,51,51,1);
      }
      .chose{
        width: 100%;
        position: absolute;
        bottom:0;
        display:flex;
        justify-content:space-between;
        align-items:center;
        .left,.right{
          width: 50%;
          height: 0.92rem;
          line-height: 0.92rem;
          font-size:0.34rem;
          font-family:Source Han Sans CN;
          font-weight:400;
        }
        .left{
          color:rgba(51,51,51,1);
        }
        .right{
          color:rgba(235,23,63,1);
        }
      }
    }
  }
}
@media only screen and (max-device-height: 736px) {
  .use_code {
    height: 12.2rem;
  }
}
</style>