<template>
  <div class="use_code"
       style="background-image: url('./static/active314/use_code.png');">
    <input type="text"
           v-on:blur="sure"
           placeholder="请输入序列码"
           v-model="sn">
    <div v-on:click="click_sure"
         class="submit">提交</div>
    <!--获得一次机会-->
    <div class="reward_bgf"
         v-if="img_one==1">
      <div class="img_box">
        <img src="@/../public/static/active314/get_dao_three.png"
             alt=""
             class="img_one">
        <div class="go_to_play"
             @click="go_to_play">进入活动</div>
      </div>
    </div>
    <!--两次机会-->
    <div class="reward_bgf"
         v-if="img_one==2">
      <div class="img_box">
        <img src="@/../public/static/active314/get_dao_two.png"
             alt=""
             class="img_one">
        <div class="go_to_play"
             @click="go_to_play">进入活动</div>
      </div>
    </div>
    <!--已经获取过-->
    <div class="reward_bgf"
         v-if="img_one==3">
      <div class="have_chance">
        <img src="@/../public/static/active314/have_chance.png"
             alt=""
             class="img_have">
        <div class="toast">您已在该渠道获取过机会了</div>
        <div class="chose">
          <div class="left"
               @click="get_play_num">赚取机会</div>
          <div class="right"
               @click="go_to_play">进入活动</div>
        </div>
      </div>
    </div>
    <!--序列码有误-->
    <div class="reward_bgf"
         v-if="img_one==4">
      <div class="error">
        <div class="toast">您输入的序列码有误，请重新输入</div>
        <div class="chose">
          <div class="left"
               @click="img_one=0">关闭</div>
          <div class="right"
               @click="img_one=0">重新输入</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import { Toast } from 'vant';
export default {
  name: "use_code",
  data () {
    return {
      img_one: 0,
      channel_key: '',
      sn: ''
    }
  },
  methods: {
    get_play_num () {
      this.$router.push({ path: '/get_play_num' })
    },
    sure () {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
    },
    click_sure () {
      this.get_play_game();
    },
    get_play_game () {
      let time = new Date().getTime();
      let obj = {
        game_code: 'drf520',
        channel_key: this.channel_key,
        sn: this.sn,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId") + '' + 'drf520' + '' + this.channel_key + time + localStorage.getItem('Key'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/user/game/cut/exchangebysn', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            // if(res.data.get_num==1){
            //     this.img_one=1
            // }else  if(res.data.get_num==2){
            //     this.img_one=2
            // }
            this.img_one = 1
          } else if (res.data.result == 5905) {
            this.img_one = 3
          } else if (res.data.result == 5904) {
            this.img_one = 4
          } else if (res.data.result == 5901) {
            Toast('二维码有误')
          }
        })
        .catch(function (err) {
          console.log(err);

        })
    },
    go_to_play () {
      this.$router.push({ path: '/kvindex' })
    }
  },
  created () {
    if (sessionStorage.getItem('channel_key')) {
      this.channel_key = sessionStorage.getItem('channel_key');
    } else {
      Toast('二维码有误')
    }
  },
  mounted () {
    document.title = "举手来了";
  },
}
</script>

<style scoped lang="scss">
.use_code {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  // background-color: rgba(0, 0, 0, 0.6);
  background-size: 7.5rem 15rem;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  input {
    width: 6.56rem;
    height: 0.96rem;
    border-radius: 0.08rem;
    border: 0.02rem solid rgba(244, 255, 255, 1);
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 9.51rem;
    // bottom: 2.2rem;
    padding: 0 0.32rem;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-size: 0.36rem;
    /*line-height: 0.96rem;*/
    background: transparent;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 1);
  }
  .submit {
    width: 3.9rem;
    height: 0.8rem;
    background: #246768;
    border-radius: 0.08rem;
    color: rgba(255, 255, 255, 1);
    font-size: 0.3rem;
    line-height: 0.8rem;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10.8rem;
    // bottom: 1.1rem;
  }
  .reward_bgf {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    .img_box {
      width: 5.27rem;
      height: 7.36rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      z-index: 100;
      .img_one {
        display: block;
        width: 5.27rem;
        height: 7.36rem;
      }
      .go_to_play {
        width: 3.9rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.47rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.3rem;
        line-height: 0.8rem;
        text-align: center;
      }
    }
    .have_chance {
      width: 5.6rem;
      height: 6.29rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: #ffffff;
      overflow: hidden;
      border-radius: 0.07rem;
      .img_have {
        width: 4.95rem;
        height: 2.66rem;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0.45rem;
      }
      .toast {
        width: 100%;
        color: rgba(51, 51, 51, 1);
        font-size: 0.36rem;
        text-align: center;
        position: absolute;
        top: 4.1rem;
      }
      .chose {
        width: 100%;
        height: 0.95rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 0.95rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 0.95rem;
        }
      }
    }
    .error {
      width: 5.6rem;
      height: 2.46rem;
      background: rgba(255, 255, 255, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: #ffffff;
      overflow: hidden;
      border-radius: 0.07rem;
      .toast {
        width: 100%;
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        text-align: center;
        position: absolute;
        top: 0.52rem;
      }
      .chose {
        width: 100%;
        height: 0.95rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.01rem solid rgba(224, 224, 224, 1);
        font-size: 0.34rem;
        .left {
          color: rgba(51, 51, 51, 1);
          width: 50%;
          height: 100%;
          text-align: center;
          line-height: 0.95rem;
          border-right: 0.01rem solid rgba(224, 224, 224, 1);
        }
        .right {
          color: rgba(250, 85, 163, 1);
          flex: 1;
          height: 100%;
          text-align: center;
          line-height: 0.95rem;
        }
      }
    }
  }
}
@media only screen and (max-device-height: 736px) {
  .use_code {
    height: 12.2rem;
  }
}
</style>