<template>
  <div class="find_box">
    <div class="top_tap">
      <div class="slide_tap"
           v-if="active==1">
        <div class="class_list">
          <img :src=value.classpic
               alt=""
               v-for="(value,index) in class_list"
               :key="index"
               @click="class_click(value.id)">
        </div>
      </div>
      <div class="swiper">
        <van-swipe :loop="false">
          <van-swipe-item v-for="(image, index) in images"
                          :key="index">
            <img :src=image.adv_pic
                 alt=""
                 @click="skip_swiper(image.adv_url,image.url_type)">
          </van-swipe-item>
        </van-swipe>
      </div>
      <van-tabs v-model="active"
                swipeable
                @click="tap_switch(active)"
                :swipe-threshold='5'>
        <van-tab v-for="(value, value_index) in tap_list"
                 :title="value"
                 :key="value_index">
          <div class="topic_box"
               v-if="active==0">
            <van-list v-model="loading"
                      :finished="finished"
                      @load="onLoad">
              <div class="topic"
                   v-for="(tp_value,tp_index) in  topic_list"
                   :key="tp_index">
                <router-link :to="{name:'isvote',query:{topic_id:tp_value.id}}">
                  <div class="topic_name">{{tp_value.title}}</div>
                  <div class="topic_label">
                    <div class="label_list">#{{class_arr[tp_value.class_id]}}</div>
                    <div class="label_list">话题投票</div>
                  </div>
                  <img :src=tp_value.topic_thum_pic
                       alt=""
                       class="con_img"
                       v-if="tp_value.topic_thum_pic!=''">
                </router-link>
                <div class="god_tell"
                     v-if="tp_value.discuss_num>0">
                  <img src="@/../public/static/find/tell.png"
                       alt=""
                       class="horn">
                  <img src="@/../public/static/find/shenping@2x.png"
                       alt=""
                       class="tell_img">
                  <div class="tell_con">
                    <div class="left">
                      {{tp_value.information[0]?tp_value.information[0].nick:""}}：
                    </div>
                    <div class="right">
                      {{tp_value.information[0]?tp_value.information[0].content:""}}
                    </div>
                  </div>
                </div>
                <div class="support">
                  <div class="left">
                    <div class="left_list">
                      <img src="@/../public/static/find/red.png"
                           alt=""
                           style="width: 0.31rem;height: 0.29rem">

                      <div class="num">{{tp_value.showpagenum}}</div>
                    </div>
                    <div class="left_list">
                      <img src="@/../public/static/find/pinlun.png"
                           alt="">
                      <div class="num">{{tp_value.discuss_num}}</div>
                    </div>
                  </div>
                  <div class="right"
                       v-on:click="topic_like(tp_value.id,tp_index)">
                    <img src="@/../public/static/find/dianzan.png"
                         alt=""
                         v-if="is_like[tp_index]==0">
                    <img src="@/../public/static/find/dianzan_pre@2x.png"
                         alt=""
                         v-else>
                    <div class="num">{{is_like_num[tp_index]}}</div>
                  </div>
                </div>
              </div>
            </van-list>
          </div>
          <div class="article_box"
               v-if="active==1">
            <div class="classification"></div>
            <van-list v-model="loading1"
                      :finished="finished1"
                      @load="onLoad1">
              <div class="article"
                   v-for="(value,index)  in  article_list"
                   :key="index">
                <div class="topic_label">
                  <div class="label_list"
                       @click="class_jump(value.data.class_id)">
                    #{{value.classname}}
                  </div>
                </div>
                <router-link :to="{path:'/article_detail',query:{id:value.data.id}}">
                  <img :src=value.data.article_title_pic
                       alt=""
                       class="con_img"
                       v-if="value.data.article_title_pic!=''">
                  <div class="article_name">{{value.data.article_title}}</div>
                  <div class="article_con">
                    {{value.data.descr}}
                  </div>
                </router-link>
                <div class="support">
                  <div class="left">
                    <div class="left_list">
                      <img src="@/../public/static/find/red.png"
                           alt=""
                           style="width: 0.31rem;height: 0.29rem">

                      <div class="num">{{value.data.view_num_add*1+value.data.view_num*1}}</div>
                    </div>
                    <div class="left_list">
                      <img src="@/../public/static/find/pinlun.png"
                           alt="">
                      <div class="num">{{value.data.discuss_num}}</div>
                    </div>
                  </div>
                  <div class="right">
                    <div class="collection"
                         v-on:click="collect(value.data.id,index)">
                      <img src="@/../public/static/find/collect_yellow.png"
                           alt=""
                           v-if="is_collected[index]=='1'">
                      <img src="@/../public/static/find/coll.png"
                           alt=""
                           v-else>
                    </div>
                    <div class="agree"
                         @click="article_like(value.data.id,index)">
                      <img src="@/../public/static/find/dianzan.png"
                           alt=""
                           v-if="is_like[index]=='0'">
                      <img src="@/../public/static/find/dianzan_pre@2x.png"
                           alt=""
                           v-else>
                      <div class="num">{{is_like_num[index]}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </van-list>
          </div>
          <div class="test_box"
               v-if="active==2">
            <div class="test"
                 v-for="(test) in testList"
                 :key="test.period"
                 @click="skiptest(test.template_url,test.period,test.act_name)">
              <router-link to="">
                <div class="topic_label">
                  <div class="label_list">#心理测试</div>
                </div>
                <img :src=test.back_url
                     alt=""
                     class="con_img">
                <div class="article_name">{{test.act_name}}</div>
                <div class="article_con">{{test.act_desc}}</div>
              </router-link>
            </div>
            <div class="test"
                 v-for="(nav, nav_list_index) in nav_list"
                 :key="nav_list_index"
                 @click="skip(nav.url)">
              <router-link to="">
                <div class="topic_label">
                  <div class="label_list">#心理测试</div>
                </div>
                <img :src=nav.img
                     alt=""
                     class="con_img">
                <div class="article_name">{{nav.name}}</div>
                <div class="article_con">{{nav.descr}}</div>
              </router-link>
            </div>
          </div>
          <div class="video_box"
               v-if="active==3">
            <div class="videos"
                 v-on:click="video_jump('vid=u07514apsmp')">

              <div class="topic_label">
                <div class="label_list">#互动视频</div>
              </div>
              <div class="img_box">
                <img src="@/../public/static/find/1.png"
                     alt=""
                     class="con_img">
                <!-- <video src="/iframe/player.html?vid=u07514apsmp&tiny=0&auto=0"></video> -->
                <div class="start">
                  <div class="start_sanjiao"></div>
                </div>
              </div>
              <div class="article_name">举手之劳-关心一夏</div>

            </div>
            <div class="videos"
                 v-on:click="video_jump('vid=p0751hkdwfb')">
              <div class="topic_label">
                <div class="label_list">#互动视频</div>
              </div>
              <div class="img_box">
                <img src="@/../public/static/find/2.png"
                     alt=""
                     class="con_img">
                <div class="start">
                  <div class="start_sanjiao"></div>
                </div>
              </div>
              <div class="article_name">举手之劳-为生命喝彩</div>

            </div>
            <div class="videos"
                 v-on:click="video_jump('vid=a075198eyn7')">

              <div class="topic_label">
                <div class="label_list">#互动视频</div>
              </div>
              <div class="img_box">
                <img src="@/../public/static/find/3.png"
                     alt=""
                     class="con_img">
                <div class="start">
                  <div class="start_sanjiao"></div>
                </div>
              </div>
              <div class="article_name">举手之劳-同行你我</div>

            </div>
            <div class="videos"
                 v-on:click="video_jump('vid=n0751if8m1l')">

              <div class="topic_label">
                <div class="label_list">#互动视频</div>
              </div>
              <div class="img_box">
                <img src="@/../public/static/find/4.png"
                     alt=""
                     class="con_img">
                <div class="start">
                  <div class="start_sanjiao"></div>
                </div>
              </div>
              <div class="article_name">举手之劳-共享清洁</div>

            </div>
            <div class="videos"
                 v-on:click="video_jump('vid=w0751tfzakb')">

              <div class="topic_label">
                <div class="label_list">#互动视频</div>
              </div>
              <div class="img_box">
                <img src="@/../public/static/find/5.png"
                     alt=""
                     class="con_img">
                <div class="start">
                  <div class="start_sanjiao"></div>
                </div>
              </div>
              <div class="article_name">举手之劳-方便你我</div>

            </div>
            <div class="videos"
                 v-on:click="video_jump('vid=n0751fycktk')">

              <div class="topic_label">
                <div class="label_list">#互动视频</div>
              </div>
              <div class="img_box">
                <img src="@/../public/static/find/6.png"
                     alt=""
                     class="con_img">
                <div class="start">
                  <div class="start_sanjiao"></div>
                </div>
              </div>
              <div class="article_name">举手之劳-工作也快乐</div>

            </div>
          </div>
          <div class="game_box"
               v-if="active==4">
            <div class="videos"
                 v-on:click="skip_swiper(item.adv_url,item.url_type)"
                 v-for="(item, index) in gamesList"
                 :key="index">
              <div class="game_name">{{item.adv_title}}</div>
              <div class="img_box"
                   style="margin:.1rem 0 .2rem">
                <img :src=item.adv_pic
                     alt=""
                     class="con_img">
              </div>
            </div>
          </div>
        </van-tab>
      </van-tabs>

    </div>
    <tabbar></tabbar>
  </div>
</template>

<script>
import { Tab, Tabs } from 'vant';

Vue.use(Tab).use(Tabs)
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Tabbar from '../TabBar.vue'
import { Swipe, SwipeItem } from 'vant';
import Vue from "vue";


import { SwipeCell } from "vant";
import { Cell, CellGroup } from "vant";
import { Toast } from "vant";
import { List } from 'vant';

Vue.use(SwipeCell)
  .use(Cell)
  .use(CellGroup)
  .use(Toast)
  .use(List);

Vue.use(Swipe).use(SwipeItem);
export default {
  name: "index",
  components: {
    Tabbar
  },
  data () {
    return {
      active: 1,  //判断tap点击
      tap_list: ["话题", "文章", "测试", "视频", "游戏"],
      //轮播图片
      images: [],
      topic_list: [],
      nav_list: [
        {
          img: './static/psychtest/guizu.png',
          url: "/testindex3",
          name: "回到古代你是什么贵族",
          descr: '梦回古代，在那些年代中，没有了科技的干扰，一切都是自然的样子。假如你回到了古代你是什么贵族呢？趣味测试一下自己在古代的贵族身份吧，指不定在古代就是这么一回事呢。'
        },
        {
          img: './static/psychtest/gongdou.png',
          url: "/testindex2",
          name: "测测你是宫斗剧中的哪个人",
          descr: ''
        },
        {
          img: './static/psychtest/danao.png',
          url: "/testindex1",
          name: "你的大脑性能是男是女",
          descr: ''
        },
        {
          img: './static/psychtest/rensheng.png',
          url: "/cshOneBegin",
          name: "你的人生最适合扮演什么角色",
          descr: '每个人都有自己合适的角色，没有谁真的“演得好”，那估计是叫戏精吧！当然面面俱到的人也是极少数，你会是哪一面还是看看下面的题目吧。'
        },
        {
          img: './static/psychtest/aiqing.png',
          url: "/testindex",
          name: "你爱上一个人需要多久",
          descr: '一见钟情需要多久时间？答案是30秒。根据英国专家所进行的大规模快速约会实验，女性在选择未来的人生伴侣是，决定过程所花费的时间比男性来的短，如果在30秒内无法让异性印象深刻，那么就注定成为“无缘的人”。想知道你爱上一个人需要多久吗？赶紧来测试一下吧~'
        },
      ],
      testList: [
        {
          "template_url": "TestTemlpleteScore",
          "period": "20180720164058171",
          "act_name": "求生欲测试",
          "back_url": "./static/testTemplete/list.jpg",
          "act_desc": "俗话说得好，人在江湖漂哪能不挨刀。面对女朋友发火生气，你无所适从。都是因为你求生欲太低啦！快来测试一下你的求生欲吧。"
        }
      ],
      is_like: [],
      pageNum: 0,
      pageSize: 5,
      class_list: [],
      article_list: [],
      is_like_num: [],
      is_collected: [],
      class_arr: [],
      loading: false,
      finished: false,
      finishLoad: true,
      loading1: false,
      finished1: false,
      finishLoad1: true,
      gamesList: []
    };
  },
  created () {
    this.getResult();
    this.SpringSale(10);
    this.gettestList();
    this.getGame();
    if (sessionStorage.getItem('active')) {
      this.active = sessionStorage.getItem('active')
    }

  },
  mounted () {
    document.title = "发现";
    window.dataForWeixin = {
      appId: "",
      imgUrl: '', // get_post_weixin_thumb 为微信机器人高级版中的函数
      link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode('https://js.51takeit.com/wxmp/index.html'),
      // link: 'https://js.51takeit.com/wxmp/index.html',
      title: "举手优选",
      desc: "",
      fakeid: ""
    };
    window.setShare();
  },
  methods: {
    /* 获取游戏列表 */
    getGame () {
      var time = new Date().getTime();
      var obj = {
        adv_type: 15,
        adv_state: 1,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(15 + "" + "1" + "1" + "10" + time + "" + localStorage.getItem("oKey"))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/advertise/advertiseGeneral/doAdvertiseGeneralList", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataCount > 0) {
              this.gamesList = res.data.dataList;
            }
          } else {
            // eslint-disable-next-line no-undef
            console.log(res.data.msg);
          }
        })
        .catch(error => {
          // eslint-disable-next-line no-undef
          console.log(error);
        });
    },
    /* 获取测试题 */
    gettestList () {
      var time = new Date().getTime();
      var obj = {
        pageNum: 1,
        pageSize: 50,
        stamp: time,
        sign: MD5("1" + "50" + time + "" + localStorage.getItem("oKey"))
      };
      // eslint-disable-next-line no-undef
      axios.post(
        // eslint-disable-next-line no-undef
        api + "/wxmp/info/query/getqueryActCurrentListDao",
        qs.stringify(obj)
      )
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataCount > 0) {
              this.testList = res.data.data;
            }
          } else {
            // eslint-disable-next-line no-undef
            console.log(res.data.msg);
          }
        })
        .catch(error => {
          // eslint-disable-next-line no-undef
          console.log(error);
        });
    },
    /* 老版测试题跳转 */
    skiptest (url, period, title) {
      sessionStorage.setItem('testTitle', title);
      this.$router.push({ path: "/" + url.trim(), query: { period: period } });
    },
    /* banner 广告 */
    SpringSale (index) {
      var time = new Date().getTime();
      var obj = {
        adv_type: index,
        adv_state: 1,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(index + "" + "1" + "1" + "10" + time + "" + localStorage.getItem("oKey"))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/advertise/advertiseGeneral/doAdvertiseGeneralList", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataCount > 0) {
              this.images = res.data.dataList;
            }
          } else {
            // eslint-disable-next-line no-undef
            console.log(res.data.msg);
          }
        })
        .catch(error => {
          // eslint-disable-next-line no-undef
          console.log(error);
        });
    },
    /* banner 广告跳转 */
    skip_swiper (adv_url, url_type) {
      if (url_type == 0) {
        console.log('1');
        console.log("https://js.51takeit.com" + adv_url);
        // return

        // window.location.href = adv_url;
        window.location.href = adv_url.match(/https:/) ? adv_url : "https://js.51takeit.com" + adv_url;
      } else if (url_type == 1) {
        console.log('2');
        console.log(adv_url);
        this.$router.push({ path: "/" + adv_url });
      }
    },
    /* 视频跳转 */
    video_jump (vid) {
      window.location.href = window.location.origin + '/wxmp/mv/index.html?' + vid;
      // window.location.href = "https://vote.51takeit.com/wxmp/mv/video.html";
    },
    /* 话题列表 滚动加载 */
    onLoad () {
      // this.pageNum = 0;
      // 异步更新数据
      this.pageNum++;
      // 加载状态结束
      this.loading = false;
      if (this.finishLoad) {
        this.get_topic();
      } else {
        this.finished = true;
      }
    },
    /* 文章列表 滚动加载 */
    onLoad1 () {
      // 异步更新数据
      // this.pageNum = 0;
      this.pageNum++;
      // 加载状态结束
      this.loading1 = false;
      if (this.finishLoad1) {
        this.get_article();
      } else {
        this.finished1 = true;
      }
    },
    //tap栏切换
    tap_switch (index) {
      sessionStorage.setItem('active', index);
      if (index === 0) {
        this.pageNum = 0
        // this.get_topic();
      } else if (index === 1) {
        this.pageNum = 0
        // this.get_article();
      }
    },
    //测试题跳转
    skip (url) {
      this.$router.push({ path: url });
    },
    //话题点赞
    topic_like (id, index) {
      var time = new Date().getTime();
      var obj = {
        topic_id: id,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(id + '' + time + '' + localStorage.getItem('Key'))
      };
      if (this.is_like[index] == '0') {
        // eslint-disable-next-line no-undef
        axios.post(api + '/wxmp/log/topic/doTopThumbupAdd', qs.stringify(obj))
          .then((res) => {

            if (res.data.result == 1) {
              let num = this.is_like_num[index] * 1 + 1;
              this.is_like.splice(index, 1, '1');
              this.is_like_num.splice(index, 1, num)
            } else {
              //console.log(res.data.msg)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      } else {
        // eslint-disable-next-line no-undef
        axios.post(api + '/wxmp/log/topic/doTopThumbupAdd', qs.stringify(obj))
          .then((res) => {
            if (res.data.result == 1) {
              let num = this.is_like_num[index] * 1 - 1;
              this.is_like.splice(index, 1, '0');
              this.is_like_num.splice(index, 1, num)
            } else {
              //console.log(res.data.msg)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }


    },
    //文章点赞
    article_like (id, index) {
      var time = new Date().getTime();
      var obj = {
        article_id: id,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(id + localStorage.getItem("userId") + time + '' + localStorage.getItem('oKey'))
      };
      if (this.is_like[index] == '1') {
        // eslint-disable-next-line no-undef
        axios.post(api + '/wxmp/info/article/getarticleThumbupCancelAdd', qs.stringify(obj))
          .then((res) => {
            if (res.data.result == 1) {
              let num = this.is_like_num[index] * 1 - 1;
              this.is_like.splice(index, 1, '0');
              this.is_like_num.splice(index, 1, num)
            } else {
              //console.log(res.data.msg)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      } else {
        // eslint-disable-next-line no-undef
        axios.post(api + '/wxmp/info/article/getarticleThumbupAdd', qs.stringify(obj))
          .then((res) => {
            if (res.data.result == 1) {
              let num = this.is_like_num[index] * 1 + 1;
              this.is_like.splice(index, 1, '1');
              this.is_like_num.splice(index, 1, num)
            } else {
              //console.log(res.data.msg)
            }
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    //获取话题分类列表
    get_topic_class_list () {
      var time = new Date().getTime();
      var obj = {
        fid: '-1',
        stamp: time,
        sign: MD5('-1' + time + '' + localStorage.getItem('oKey'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/info/topic/topicClassList', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            for (let i = 0; i < res.data.dataList.length; i++) {
              this.class_arr[res.data.dataList[i].id] = res.data.dataList[i].class_name;
            }
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
    //获取分类和相匹配的话题
    async getResult () {
      await this.get_topic_class_list();
      // this.get_topic();
    },
    //话题列表获取
    get_topic () {
      var time = new Date().getTime();
      var obj = {
        class_id: '-1',
        topic_top: '0',
        sorttype: '0',
        user_id: localStorage.getItem("userId"),
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5('-1' + time + '' + localStorage.getItem('oKey'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/info/topic/topiclist', qs.stringify(obj))
        .then((res) => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.data.length < this.pageSize) {
              this.finishLoad = false;
            } else {
              this.finishLoad = true;
            }
            for (let i = 0; i < res.data.data.length; i++) {
              this.topic_list.push(res.data.data[i]);
            }

            this.is_like = [];
            this.is_like_num = [];
            for (let i = 0; i < this.topic_list.length; i++) {
              this.is_like.push(this.topic_list[i].is_like)
            }
            for (let i = 0; i < this.topic_list.length; i++) {
              this.is_like_num.push(this.topic_list[i].like_num)
            }
            // console.log(this.is_like);
          } else {
            this.finished = true;
            console.log(res.data.msg);
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
    //获取文章列表
    get_article () {
      this.get_class_list();//获取文章分类列表
      var time = new Date().getTime();
      var obj = {
        class_id: '-1',
        user_id: localStorage.getItem("userId"),
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5(this.pageNum + '' + this.pageSize + '' + time + '' + localStorage.getItem('oKey'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/info/article/getarticlebyClassList', qs.stringify(obj))
        .then((res) => {

          if (res.data.result == 1) {
            // this.article_list = res.data.dataList;

            if (res.data.dataList.length < this.pageSize) {
              this.finishLoad1 = false;
            } else {
              this.finishLoad1 = true;
            }
            for (let i = 0; i < res.data.dataList.length; i++) {
              this.article_list.push(res.data.dataList[i]);
            }

            this.is_like = [];
            this.is_like_num = [];
            this.is_collected = [];
            for (let i = 0; i < this.article_list.length; i++) {
              this.is_like.push(this.article_list[i].is_like)
            }
            for (let i = 0; i < this.article_list.length; i++) {
              this.is_like_num.push(this.article_list[i].data.like_num)
            }
            for (let i = 0; i < this.article_list.length; i++) {
              this.is_collected.push(this.article_list[i].is_collected)
            }
          } else {
            this.finished1 = true;
            console.log(res.data.msg);
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
    //获取分类列表
    get_class_list () {
      var time = new Date().getTime();
      var obj = {
        father_id: '-1',
        stamp: time,
        sign: MD5('-1' + time + '' + localStorage.getItem('oKey'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/info/article/getarticleClassList', qs.stringify(obj))
        .then((res) => {
          if (res.data.result == 1) {
            this.class_list = res.data.dataList;
            localStorage.getItem('find_class_list', JSON.stringify(this.class_list))
          }
        })
        .catch((error) => {
          console.log(error)
          this.class_list = localStorage.getItem('find_class_list') ? JSON.parse(localStorage.getItem('find_class_list')) : [];
        })
    },
    //分类文章跳转
    class_click (index) {
      this.$router.push({ path: '/class_details', query: { class_id: index } });
    },
    //收藏
    collect (id, index) {
      var time = new Date().getTime();
      var obj = {
        article_id: id,
        user_id: localStorage.getItem("userId"),
        is_collected: 1,
        stamp: time,
        sign: MD5(id + localStorage.getItem("userId") + '1' + time + '' + localStorage.getItem('oKey'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/info/article/getarticleCollectAdd', qs.stringify(obj))
        .then((res) => {

          if (res.data.result == 1) {
            this.is_collected.splice(index, 1, '1');
          } else {
            //console.log(res.data.msg)
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
    //文章列表点击分类跳转
    class_jump (class_id) {
      this.$router.push({ path: '/class_details', query: { class_id: class_id } });
    }

  },
}
</script>

<style lang="scss" scoped>
.class_list::-webkit-scrollbar-track {
  width: 0;
  height: 0;
}

/*定义滚动条高宽及背景*/
.class_list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*定义滚动条*/
.class_list::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

.find_box {
  /*padding-top: 0.88rem;*/
  padding-bottom: 1.16rem;
  min-height: calc(100% + 1px);
}

.top_tap {
  width: 100%;
  background: #ffffff;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  /deep/ .van-tabs {
    padding-top: 0;
    .van-tabs__wrap {
      height: 0.88rem;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999;
      .van-tabs__nav--line {
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        /*padding: 0  0.62rem;*/
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        .van-tabs__line {
          height: 0.08rem;
          background-color: #ffda00;
          /*width: 0.8rem!important;*/
          z-index: 10;
          bottom: 0.25rem;
        }
        .van-tab--active {
          font-size: 0.36rem;
          color: #222222;
          font-weight: bold;
        }
        .van-tab {
          font-size: 0.34rem;
          color: #222222;
          z-index: 20;
          background-color: transparent;
          padding: 0;
        }
      }
    }
  }
  .slide_tap {
    //因横向滚动在vant taps内，和taps有冲突，采用外部定位
    border-bottom: 0.16rem solid #f4f4f4;
    width: 6.84rem;
    height: 1.95rem;
    border-top: 0.01rem solid #e0e0e0;
    padding: 0 0.33rem;
    position: absolute;
    top: 4.18rem;
    left: 0;
    z-index: 50;
    .class_list {
      width: 100%;
      height: 1.95rem;
      display: -webkit-box;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      img {
        display: block;
        width: 1.47rem;
        height: 1.47rem;
        border-radius: 0.08rem;
        margin-top: 0.23rem;
        margin-right: 0.21rem;
      }
    }
  }
}

.swiper {
  width: 6.86rem;
  height: 3.18rem;
  margin: 0 auto;
  margin-bottom: 0.12rem;
  margin-top: 0.88rem;
  overflow: hidden;
  /deep/ .van-swipe {
    width: 100%;
    height: 100%;
    .van-swipe__indicator {
      width: 0.1rem;
      height: 0.1rem;
      background: rgba(216, 216, 216, 1);
    }
    .van-swipe__indicator--active {
      width: 0.34rem;
      height: 0.1rem;
      background: rgba(255, 218, 0, 1);
      border-radius: 0.05rem;
    }
    img {
      width: 100%;
    }
  }
}

//话题
.topic {
  width: 100%;
  height: auto;
  padding: 0 0.32rem;
  box-sizing: border-box;
  border-bottom: 0.16rem solid #f4f4f4;
  a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    .topic_name {
      font-size: 0.3rem;
      color: #222222;
      font-weight: bold;
      margin-top: 0.24rem;
      text-align: left;
    }
    .topic_label {
      width: 100%;
      height: 0.4rem;
      display: flex;
      margin-top: 0.16rem;
      .label_list {
        width: fit-content;
        padding: 0 0.15rem;
        border: 0.01rem solid #4caeeb;
        border-radius: 0.04rem;
        color: #4caeeb;
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.24rem;
        margin-right: 0.16rem;
      }
    }
    .con_img {
      width: 100%;
      margin-top: 0.16rem;
      display: block;
    }
  }
  .god_tell {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0.16rem;
    .horn {
      display: block;
      width: 1.33rem;
      height: 0.31rem;
    }
    .tell_img {
      display: block;
      width: 0.8rem;
      height: 0.36rem;
      position: absolute;
      top: 0.12rem;
      left: 0.14rem;
    }
    .tell_con {
      background: #f8f8f8;
      border-radius: 0.04rem 0.09rem 0.08rem 0.04rem;
      display: flex;
      justify-content: space-between;
      padding: 0.2rem 0.1rem;
      .left {
        width: fit-content;
        color: #666666;
        font-size: 0.28rem;
        text-align: left;
      }
      .right {
        flex: 1;
        font-size: 0.28rem;
        color: #333333;
        text-align: left;
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
      }
    }
  }
  .support {
    width: 100%;
    height: 0.8rem;
    border-top: 0.01rem solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.15rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    .left {
      width: 60%;
      height: 100%;

      display: flex;
      .left_list {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 100%;
        margin-right: 0.33rem;
        img {
          width: 0.33rem;
          height: 0.33rem;
          margin-right: 0.11rem;
        }
        .num {
          color: #666666;
          font-size: 0.22rem;
          transform: translateY(0.03rem);
        }
      }
    }
    .right {
      width: 20%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        width: 0.35rem;
        height: 0.33rem;
        margin-right: 0.11rem;
      }
      .num {
        color: #666666;
        font-size: 0.22rem;
        transform: translateY(0.03rem);
      }
    }
  }
}

.topic_box {
  .topic:first-child {
    border-top: 0.01rem solid #e0e0e0;
  }
}

//文章
.article {
  width: 100%;
  height: auto;
  padding: 0 0.32rem;
  box-sizing: border-box;
  border-bottom: 0.16rem solid #f4f4f4;
  .topic_label {
    width: 100%;
    height: 0.4rem;
    display: flex;
    margin-top: 0.24rem;
    .label_list {
      width: fit-content;
      padding: 0 0.15rem;
      border: 0.01rem solid #fe8482;
      border-radius: 0.04rem;
      color: #fe8482;
      text-align: center;
      line-height: 0.4rem;
      font-size: 0.24rem;
      margin-right: 0.16rem;
    }
  }
  a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    .con_img {
      width: 100%;
      margin-top: 0.24rem;
      display: block;
    }
    .article_name {
      font-size: 0.3rem;
      color: #222222;
      font-weight: bold;
      margin-top: 0.24rem;
      text-align: left;
    }
    .article_con {
      font-size: 0.28rem;
      color: #333333;
      margin-top: 0.08rem;
      text-align: left;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
  }
  .support {
    width: 100%;
    height: 0.8rem;
    border-top: 0.01rem solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.15rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    .left {
      width: 60%;
      height: 100%;

      display: flex;
      .left_list {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 100%;
        margin-right: 0.33rem;
        img {
          width: 0.33rem;
          height: 0.33rem;
          margin-right: 0.11rem;
        }
        .num {
          color: #666666;
          font-size: 0.22rem;
          transform: translateY(0.03rem);
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 25%;
      .collection {
        img {
          display: block;
          width: 0.35rem;
          height: 0.33rem;
        }
      }
      .agree {
        width: 20%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
          width: 0.35rem;
          height: 0.33rem;
          margin-right: 0.11rem;
        }
        .num {
          color: #666666;
          font-size: 0.22rem;
          transform: translateY(0.03rem);
        }
      }
    }
  }
}

.article_box {
  .article:first-child {
    border-top: 0.01rem solid #e0e0e0;
  }
  .classification {
    //占位置
    width: 100%;
    height: 2.12rem;
  }
}

//测试
.test {
  width: 100%;
  height: auto;
  padding: 0 0.32rem;
  box-sizing: border-box;
  border-bottom: 0.16rem solid #f4f4f4;
  a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    .topic_label {
      width: 100%;
      height: 0.4rem;
      display: flex;
      margin-top: 0.24rem;
      .label_list {
        width: fit-content;
        padding: 0 0.15rem;
        border: 0.01rem solid #4caeeb;
        border-radius: 0.04rem;
        color: #4caeeb;
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.24rem;
        margin-right: 0.16rem;
      }
    }
    .con_img {
      width: 100%;
      margin-top: 0.24rem;
      display: block;
    }
    .article_name {
      font-size: 0.3rem;
      color: #222222;
      font-weight: bold;
      margin-top: 0.24rem;
      text-align: left;
      margin-bottom: 0.12rem;
    }
    .article_con {
      font-size: 0.28rem;
      color: #333333;
      margin-top: 0.08rem;
      text-align: left;
      margin-bottom: 0.12rem;
    }
  }
}

.test_box {
  .test:first-child {
    border-top: 0.01rem solid #e0e0e0;
  }
}

//视频
.videos {
  width: 100%;
  height: auto;
  padding: 0 0.32rem;
  box-sizing: border-box;
  border-bottom: 0.16rem solid #f4f4f4;

  .topic_label {
    width: 100%;
    height: 0.4rem;
    display: flex;
    margin-top: 0.24rem;
    .label_list {
      width: fit-content;
      padding: 0 0.15rem;
      border: 0.01rem solid #4caeeb;
      border-radius: 0.04rem;
      color: #4caeeb;
      text-align: center;
      line-height: 0.4rem;
      font-size: 0.24rem;
      margin-right: 0.16rem;
    }
  }
  .img_box {
    position: relative;
    top: 0;
    left: 0;
    .con_img {
      width: 100%;
      margin-top: 0.24rem;
      display: block;
    }
    .start {
      width: 0.73rem;
      height: 0.73rem;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      .start_sanjiao {
        width: 0;
        height: 0;
        border-bottom: 0.14rem solid transparent;
        border-top: 0.14rem solid transparent;
        border-left: 0.28rem solid #ffffff;
      }
    }
  }
  .article_name {
    font-size: 0.3rem;
    color: #222222;
    font-weight: bold;
    margin: 0.24rem 0;
    text-align: left;
  }
}

.video_box {
  .videos:first-child {
    border-top: 0.01rem solid #e0e0e0;
  }
}
.game_box {
  .game_name {
    font-size: 0.3rem;
    color: #222222;
    font-weight: bold;
    margin: 0.24rem 0 0;
    text-align: left;
  }
  border-top: 0.16rem solid #f4f4f4;
}
</style>
