<template>
  <div class="wrap">
    <div class="img">
      <img src="@/../public/static/active314/cancel_fail.png"
           alt=""
           v-if="fail"
           style="width:2.73rem">
      <img src="@/../public/static/active314/cancel_suc.png"
           alt=""
           v-if="success"
           style="width:2.73rem">
      <img src="@/../public/static/active314/canceled.png"
           alt=""
           v-if="canceled"
           style="width:3.91rem">
      <p v-if="fail">核销失败</p>
      <p v-if="success">核销成功</p>
      <p v-if="canceled">已核销</p>
    </div>
    <div class="btn">
      <div class="scan"
           @click="WxScanQRCode">继续核销</div>
      <div class="close"
           @click="close">关闭</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "cancelprize",
  data () {
    return {
      fail: false,//0
      success: false,//1
      canceled: false,//2
    };
  },
  created () {
    let vm = this;
    if (vm.$route.query.status) {
      let status = this.$route.query.status;
      console.log(status);
      if (status == 0) {
        vm.fail = true;
      } else if (status == 1) {
        vm.success = true;
      } else if (status == 2) {
        vm.canceled = true;
      }
    }
  },
  methods: {
    close () {
      WeixinJSBridge.call('closeWindow');
    },
    //微信扫一扫
    WxScanQRCode () {
      wx.scanQRCode({
        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
        success: function (res) {
          alert(JSON.stringify(res));
          var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
          window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
        },
        error: function (err) {
          if (err.errMsg.indexOf('function_not_exist') > 0) {
            alert('版本过低请升级')
          }
        }
      });
    },
  }
}
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  height: 100%;
  .img {
    width: 100%;
    height: 5.9rem;
    img {
      width: 2.73rem;
      display: block;
      margin: 1.1rem auto 0.78rem;
    }
    p {
      font-size: 0.4rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 0.56rem;
    }
  }
  .btn {
    width: 100%;
    .scan {
      width: 6.2rem;
      height: 0.94rem;
      background: #246768;
      border-radius: 0.1rem;
      font-size: 0.36rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 0.3rem;
    }
    .close {
      width: 6.2rem;
      height: 0.94rem;
      background: rgba(248, 248, 248, 1);
      border-radius: 0.1rem;
      border: 0.02rem solid rgba(5, 5, 5, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.3rem auto 0;
      font-size: 0.36rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }
  }
}
</style>