<template>
    <div class="push_suc">
        <img src="@/../public/static/active314/push_suc.png" alt="">
        <div class="suc">奖品领取成功</div>
        <div class="botton">
            <div class="left" @click="skip('/play_index')">再玩一次</div>
            <div class="right" @click="skip('/act_prize')">我的奖品</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "prize_suc",
        methods:{
            skip(link) {
                if (link == '/guess') {
                    window.location.href = `/wxmp/?index.html#/guess`;
                } else {
                    this.$router.push({path: link})
                }
            },
        },
    }
</script>

<style scoped  lang="scss">
    .push_suc{
        width: 100%;
        height: 100vh;
        background: #ffffff;
        overflow: hidden;
        text-align: left;
        img{
            width: 1.86rem;
            height: 1.44rem;
            display: block;
            margin: 0  auto;
            margin-top: 0.97rem;
        }
        .suc{
            color:rgba(34,34,34,1);
            font-size: 0.4rem;
            width: 100%;
            margin-top: 0.6rem;
            text-align: center;
            font-weight: bold;
        }
        .botton{
            width: 100%;
            height: 0.88rem;
            padding: 0  0.32rem;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            left: 0;
            bottom: 0.42rem;
            .left,.right{
                width:3.28rem;
                height:0.88rem;
                background:linear-gradient(133deg,rgba(241,129,194,1) 0%,rgba(167,92,225,1) 100%);
                border-radius:0.08rem;
                color:rgba(255,255,255,1);
                font-size: 0.34rem;
                line-height: 0.88rem;
                text-align: center;
            }
        }
    }
</style>