<template>
  <div class="wrap">
    <van-empty image="network" description="404 请检查页面地址是否正确" />
  </div>
</template>

<script>
import Vue from "vue";
import { Empty } from "vant";
Vue.use(Empty);
export default {};
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  box-sizing: border-box;
}
</style>