<template>
  <div :class="apptype == '' ? 'tabbar-wrap' : 'tabbar-wrap shydhn'" v-once>
    <van-tabbar v-model="active">
      <van-tabbar-item
        v-for="(item, index) in list"
        :key="index"
        @click="getUrl(item.getUrl, index)"
      >
        <span v-text="item.text"></span>
        <img
          slot="icon"
          slot-scope="props"
          :src="props.active ? item.icon.active : item.icon.normal"
        />
      </van-tabbar-item>
    </van-tabbar>
  </div>
</template>
<script>
import Vue from "vue";
import { Tabbar, TabbarItem } from "vant";
Vue.use(Tabbar).use(TabbarItem);
export default {
  name: "TabBar",
  data() {
    return {
      active: 0,
      apptype: "",
      list: [
        {
          text: "首页",
          icon: {
            normal: require("@/../public/static/tabbar/home_nor.png"),
            active: require("@/../public/static/tabbar/home_pre.png")
          },
          getUrl: ["/index"]
        },

        {
          text: "分类",
          icon: {
            normal: require("@/../public/static/tabbar/tab_classify.png"),
            active: require("@/../public/static/tabbar/tab_classify_pre.png")
          },
          getUrl: ["/goodslist"]
        },
        {
          text: "购物车",
          icon: {
            normal: require("@/../public/static/tabbar/shopping_nor.png"),
            active: require("@/../public/static/tabbar/shopping_pre.png")
          },
          getUrl: ["/cart"]
        },
        {
          text: "我的",
          icon: {
            normal: require("@/../public/static/tabbar/my_nor.png"),
            active: require("@/../public/static/tabbar/my_pre.png")
          },
          getUrl: ["/user", "/coupon", "/all_order", "/cardbag"]
        }
      ]
    };
  },
  created() {
    /shydhn/g.test(window.navigator.userAgent)
      ? (this.apptype = "shydhn")
      : (this.apptype = "");
    this.active = this.list.findIndex(ele => {
      return ele.getUrl.includes(this.$route.path);
    });
    sessionStorage.setItem("tabBar_active", this.active);
  },
  methods: {
    getUrl(url, index) {
      if (sessionStorage.getItem("from_v") == 2 && index == 0) {
        location.href =
          "https://js.51takeit.com/wxmp/act/2020/09/CDMA/zhekouka1.html";
      }
      if (sessionStorage.getItem("from_v") == 2 && index == 1) {
        location.href =
          "https://js.51takeit.com/wxmp/act/2020/09/CDMA/zhekouka1.html";
      }
      if (sessionStorage.getItem("from_v") == 3 && index <= 1) {
        location.href = "/wxmp/cmccindex.jsp";
      }
      this.$router.push({ path: url[0] });
    }
  }
};
</script>
<style lang="scss" scoped>
.tabbar-wrap {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  /deep/ .van-tabbar {
    border-top: 0.01rem solid #c4c4c4;
    height: 1.16rem;
    font-size: 0.2rem;
    .van-tabbar-item--active {
      color: #333333;
    }
    .van-tabbar-item__icon {
      margin-bottom: 0.1rem;
      img {
        height: 0.44rem;
        width: 0.44rem;
      }
    }
  }
}
.shydhn {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  /deep/ .van-tabbar--fixed {
    border-top: 0.01rem solid #c4c4c4;
    height: 1.16rem;
    font-size: 0.2rem;
    bottom: 0.2rem;
    .van-tabbar-item--active {
      color: #333333;
    }
    .van-tabbar-item__icon {
      margin-bottom: 0.1rem;
      img {
        height: 0.44rem;
        width: 0.44rem;
      }
    }
  }
}
</style>
