<template>
  <div class="inviteBox" v-if="projectList">
    <!-- 邀请好友 -->
    <div
      class="topBox"
      :class="[projectList.need_friend_num > 4 ? 'marBot' : '']"
    >
      <div class="bg"></div>
      <div class="inviteFriend">
        <div class="cc">
          <span>
            邀请
            <span style="color:rgba(255, 0, 0, 1)">{{
              projectList.need_friend_num
            }}</span
            >位好友领券即可获得
          </span>
          <span class="rules" @click="popRules">规则</span>
        </div>
        <div class="coupon">
          <div class="num">
            <p>
              ￥
              <span style="font-size:0.57rem;">{{
                projectList.org_coupon.prize / 100
              }}</span>
            </p>
            <!-- <p>{{ projectList.org_coupon.coupon_name }}</p> -->
          </div>
          <div class="couponDeatil">
            <p>{{ projectList.org_coupon.coupon_name }}</p>
            <p class="van-ellipsis">{{ projectList.org_coupon.coupon_desc }}</p>
            <p>
              <span>{{ projectList.org_begin_use_time }}</span> ~
              <span>{{ projectList.org_end_use_time }}</span>
            </p>
          </div>
          <img v-show="isGet" src="@/../public/static/share/get.png" alt />
        </div>
        <div class="friend">
          <p v-show="!isend">
            好友可以获得{{ projectList.fri_coupon.prize / 100 }}元优惠券
          </p>
          <p v-show="isend">
            已有
            <span style="color:rgba(255, 0, 0, 1)">{{ helpList.length }}</span
            >位好友获得优惠券
          </p>
          <p class="add" :class="projectList.need_friend_num > 4 ? '' : 'add1'">
            <span
              ref="wrap"
              class="helpPeople"
              v-for="(val, key) in projectList.need_friend_num"
              :key="key"
            >
              <template v-if="helpList[key]">
                <img :src="helpList[key].user_head_url" alt />
                <span class="name">{{
                  helpList[key].nick ? helpList[key].nick : "匿名用户"
                }}</span>
              </template>
              <template v-else>
                <span class="every" @click="tipShow = true"></span>
              </template>
            </span>
          </p>
        </div>
        <button
          v-show="isGofri && !isGet && !END"
          class="goInvite"
          :class="[helpList.length > 8 ? 'marTop' : '']"
          @click="tipShow = true"
        >
          去邀请好友
        </button>
        <button
          v-show="getBtn && !isGet"
          class="goInvite"
          :class="[helpList.length > 8 ? 'marTop' : '']"
          @click="getCoupon"
        >
          立即领取
        </button>
        <button
          v-show="isGet"
          class="goInvite"
          :class="[helpList.length > 8 ? 'marTop' : '']"
          @click="useCoupon"
        >
          立即使用
        </button>
      </div>
    </div>
    <!-- 商品 -->
    <div class="content" :class="[helpList.length > 8 ? 'marTop2' : '']">
      <img
        style="margin-bottom:0.32rem"
        src="@/../public/static/share/recommend.png"
        alt
      />
      <goods-List :data="GOOD_LIST" v-if="GOOD_LIST.length" />
    </div>
    <!-- 规则 -->
    <van-popup
      id="ruleP"
      v-model="show"
      closeable
      close-icon="close"
      position="bottom"
      :style="{ height: '9rem' }"
    >
      <!-- <img @click="closeRules" src="@/../public/static/share/close.png" alt /> -->
      <p id="title">活动规则</p>
      <p id="texts">
        一、活动时间：
        <br />
        &nbsp; 2020年10月23日~2020年11月11日<br />
        二、活动细则：<br />
        1、在活动有效期内成功邀请指定数量的好友助力，即可领取额外专属优惠券；<br />
        2、好友通过邀请链接进入活动后，即可领取助力专属优惠券；<br />
        3、举手优选拥有活动解释权，可能调整活动起止时间。
      </p>
      <!-- <button class="closeBtn" @click="closeRules">关闭</button> -->
    </van-popup>
    <!-- 提示 -->
    <van-popup id="tipPic" v-model="tipShow">
      <img src="@/../public/static/share/tipuser.png" alt />
    </van-popup>
  </div>
</template>
<script>
import Vue from "vue";
import { Dialog, Popup } from "vant";
import { Toast } from "vant";
import GoodsList from "@/components/list.vue";
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import moment from "moment";
Vue.use(Popup);
Vue.use(Dialog);
export default {
  name: "invite",
  components: {
    GoodsList
  },
  data() {
    return {
      END: false, //单个好友助力
      isend: false, //单个好友助力
      isGet: "", //领取优惠券
      show: false, //规则
      getBtn: false, // 立即领取按钮
      GOOD_LIST: [],
      projectList: "", // 活动信息
      helpList: [], // 助力列表
      isGofri: true,
      tipShow: false // 提示
    };
  },
  created() {
    // 领取优惠券
    if (localStorage.getItem("isget")) {
      this.isGet = true;
    } else {
      this.isGet = false;
    }
    this.act_id = this.$route.query.act_id;
    this.getdata(this.act_id);
    // this.projectList = this.$store.state.changeDa;
  },
  mounted() {
    document.title = "邀请好友得优惠券";
  },
  methods: {
    getdata(act_id) {
      var time = new Date().getTime();
      var obj = {
        sign: MD5(act_id + "" + time + "" + localStorage.getItem("oKey")),
        stamp: time,
        id: act_id
      };
      axios
        .post("/api/wxmp/shareCoupon/findShareCouponItem", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            res.data.data.org_begin_use_time = moment(
              res.data.data.org_coupon.begin_use_time
            ).format("YYYY-MM-DD");
            res.data.data.org_end_use_time = moment(
              res.data.data.org_coupon.end_use_time
            ).format("YYYY-MM-DD");
            this.projectList = { ...res.data.data };
            if (this.projectList.max_num <= this.projectList.finish_num) {
              this.END = true;
              Dialog.alert({
                message: "活动已满员结束"
              });
            }
            this.friendHelp();
            this.invitePeople();
            this.GET_GOOD_LIST(1);
          } else {
            Dialog.alert({
              message: res.data.msg
            });
          }
        });
    },
    // 助力列表
    friendHelp() {
      var time = new Date().getTime();
      var obj = {
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            "" +
            localStorage.getItem("oKey")
        ),
        stamp: time,
        user_id: localStorage.getItem("userId"),
        act_id: this.projectList.id
      };
      axios
        .post(
          "/api/wxmp/shareCoupon/findShareCouponHelpList",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            this.isend = true;
            this.helpList = res.data.datalist;
            if (this.helpList.length == this.projectList.need_friend_num) {
              this.isGofri = false;
              this.getBtn = true;
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    // 去邀请好友
    invitePeople() {
      var time = new Date().getTime();
      var obj = {
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            "" +
            localStorage.getItem("oKey")
        ),
        stamp: time,
        user_id: localStorage.getItem("userId"),
        act_id: this.projectList.id,
        is_org: 1
      };
      axios
        .post("/api/wxmp/shareCoupon/joinShareCoupon", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1 || res.data.result == 1006) {
            window.dataForWeixin = {
              appId: localStorage.getItem("appid"),
              imgUrl:
                "https://" +
                window.location.host +
                "/wxmp/static/share/sharecoupon.jpg", // get_post_weixin_thumb 为微信机器人高级版中的函数
              link:
                "https://" +
                window.location.host +
                "/wxmp/api/share.jsp?gourl=" +
                Base64.encode(
                  "https://" +
                    window.location.host +
                    "/wxmp/index.html#/redirect?state=friendGet&help_id=" +
                    res.data.id +
                    "&help_userId=" +
                    localStorage.getItem("userId") +
                    "&act_id=" +
                    this.projectList.id +
                    "&help_copid=" +
                    this.projectList.friend_coupon_id
                ),
              title: "送大闸蟹优惠券",
              desc: "承蒙助力，送你40元优惠券，购买阳澄湖大闸蟹蟹卡礼券使用！",
              fakeid: ""
            };
            window.setShare();
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    // 规则
    popRules() {
      this.show = true;
    },
    // 关闭规则
    closeRules() {
      this.show = false;
    },
    // 领取
    getCoupon() {
      this.isGet = true;
      this.getBtn = false;
      localStorage.setItem("isget", true);
    },
    // 使用
    useCoupon() {
      this.$router.push({ path: "/index" });
    },
    /* 获取商品LIST */
    GET_GOOD_LIST(CLASS_ID) {
      const time = new Date().getTime();
      // CLASS_ID = 1 热销 2 推荐
      const axiosurl =
        CLASS_ID == 0
          ? "/wxmp/info/goods/doGoodsClassHotAPIInfolist"
          : "/wxmp/info/goods/doGoodsClassRecommendAPIInfolist";
      const obj = {
        class_id: "-1",
        from_v: sessionStorage.getItem("from_v") || 0,
        sortord: 0,
        pageNum: 1,
        pageSize: 8,
        stamp: time,
        sign: MD5("-1" + "" + 1 + 8 + time + "" + localStorage.getItem("oKey"))
      };
      axios.post(api + axiosurl, qs.stringify(obj)).then(res => {
        // 加载状态结束
        if (res.data.result == 1) {
          if (res.data.dataNum) {
            this.GOOD_LIST.push(...res.data.dataList);
          }
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.van-popup--center {
  top: 15% !important;
}
.inviteBox {
  width: 100%;
  height: 100%;
  background: RGBA(245, 245, 245, 1);
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  .marBot {
    margin-bottom: 1rem;
  }
  #tipPic {
    background: none;
    img {
      margin-top: 1rem;
      margin-left: 1rem;
      width: 5.96rem;
      height: 3.78rem;
    }
  }
  .topBox {
    width: 100%;
    height: 10.4rem;
    position: relative;
    .bg {
      width: 100%;
      height: 6.38rem;
      background: url("../../../../public/static/share/couponBg.png") no-repeat
        center;
      background-size: 100% 100%;
    }
    .inviteFriend {
      position: absolute;
      top: 2.9rem;
      left: 0.32rem;
      width: 6.86rem;
      height: auto;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.2rem;
      .cc {
        width: 100%;
        height: 1.13rem;
        line-height: 1.13rem;
        text-align: left;
        padding-left: 0.36rem;
        span:nth-child(1) {
          font-size: 0.3rem;
        }
        .rules {
          margin-left: 1.7rem;
          padding: 0.08rem 0.26rem;
          font-size: 0.26rem;
          background: rgba(220, 220, 220, 1);
          border-radius: 0.2rem;
        }
      }
      .coupon {
        position: relative;
        display: flex;
        text-align: left;
        margin-left: 0.43rem;
        width: 6.09rem;
        height: 2.1rem;
        background: url("../../../../public/static/share/textBg.png") no-repeat
          center;
        background-size: 100% 100%;
        img {
          position: absolute;
          width: 1.28rem;
          height: 1.28rem;
          right: 0.1rem;
          bottom: 0.15rem;
        }
        .num {
          width: 1.9rem;
          text-align: center;
          color: rgba(196, 78, 72, 1);
          font-size: 0.22rem;
          display: flex;
          justify-content: center;
          align-items: center;
          p:nth-child(1) {
            font-size: 0.3rem;

            height: 0.85rem;
          }
          p:nth-child(2) {
            line-height: 0.24rem;
          }
        }
        .couponDeatil {
          padding-left: 0.25rem;
          padding-top: 0.4rem;
          box-sizing: border-box;
          width: 65%;
          p:nth-child(1) {
            font-size: 0.26rem;
            // padding-top: 0.35rem;
          }
          p:nth-child(2),
          p:nth-child(3) {
            height: 0.4rem;
            line-height: 0.4rem;
            font-size: 0.2rem;
            color: rgba(128, 128, 128, 1);
          }
        }
      }
      .friend {
        text-align: left;
        padding-left: 0.37rem;
        padding-right: 0.37rem;
        p {
          font-size: 0.3rem;
          color: rgba(102, 102, 102, 1);
          line-height: 0.6rem;
        }
        .add {
          width: 5.35rem;
          position: relative;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 0.2rem auto 0;
          .every {
            display: inline-block;
            width: 0.97rem;
            height: 0.97rem;
            border-radius: 50%;
            background: url("../../../../public/static/share/addBtn.png")
              no-repeat center;
            background-size: 100% 100%;
          }
          .helpPeople {
            // position: absolute;
            // left: 0rem;
            // top: 0rem;
            // clear: both;
            margin-right: 0.49rem;
            margin-bottom: 0.2rem;

            img {
              width: 0.97rem;
              height: 0.97rem;
              border-radius: 50%;
              background: #efefee;
            }
            .name {
              position: relative;
              top: -0.32rem;
              left: 0rem;
              display: inline-block;
              width: 0.97rem;
              height: 0.26rem;
              background: rgba(252, 238, 224, 1);
              border-radius: 0.13rem;
              font-size: 0.2rem;
              font-weight: 300;
              color: rgba(196, 78, 72, 1);
              line-height: 0.26rem;
              text-align: center;
              overflow: hidden;
              // white-space:nowrap;
            }
          }
          .helpPeople:last-child {
            margin-right: 0;
          }
          .helpPeople:nth-child(4n) {
            margin-right: 0;
          }
        }
        .add1 {
          width: 5.35rem;
          justify-content: center;
        }
      }
      .goInvite {
        width: 6.2rem;
        height: 0.9rem;
        background: linear-gradient(
          153deg,
          rgba(255, 210, 0, 1) 0%,
          rgba(252, 202, 55, 1) 100%
        );
        border-radius: 0.1rem;
        font-size: 0.36rem;
        margin-bottom: 0.68rem;
      }
      .marTop {
        margin-top: 1.2rem;
      }
    }
  }
  .content {
    width: 100%;
    padding-top: 0.2rem;
    img {
      width: 5.24rem;
      height: 0.29rem;
      margin-left: 1.13rem;
    }
  }
  .marTop2 {
    margin-top: 2rem;
  }
}
.van-popup {
  border-radius: 0.3rem 0.3rem 0px 0px;
}
#ruleP {
  text-align: left;
  img {
    float: right;
    margin: 0.35rem 0.32rem 0rem 0rem;
    width: 0.42rem;
    height: 0.42rem;
  }
  #title {
    font-size: 0.3rem;
    padding: 0.52rem 0rem 0rem 0.46rem;
  }
  #texts {
    width: 6.62rem;
    font-size: 0.28rem;
    color: rgba(94, 94, 94, 1);
    padding: 0.38rem 0.46rem;
  }
  .closeBtn {
    width: 6.2rem;
    height: 0.9rem;
    font-size: 0.36rem;
    background: linear-gradient(
      153deg,
      rgba(255, 210, 0, 1) 0%,
      rgba(252, 202, 55, 1) 100%
    );
    border-radius: 0.1rem;
    margin: 1.1rem auto 0;
    display: block;
  }
}
</style>