<template>
  <div class="listwrapper">
    <template v-if="couponList.length">
      <ul v-for="(item, key) in couponList" :key="key">
        <li @click="couponDetail(key, item)">
          <img class="bg" :src="item.pic_url" alt="" />
          <img
            v-if="!isEnd"
            class="smallIcon"
            src="@/../public/static/share/ing.png"
            alt=""
          />
          <img
            v-else
            class="smallIcon"
            src="@/../public/static/share/projectEnd.png"
            alt=""
          />
        </li>
      </ul>
    </template>
    <template v-if="couponList.length == 0">
      <span class="no">暂无活动</span>
    </template>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import moment from "moment";
import { Toast } from "vant";
export default {
  name: "shareList",
  data() {
    return {
      isEnd: false, // 活动是否结束
      couponList: []
    };
  },
  mounted() {
    document.title = "优惠券活动中心";
    this.getProject();
  },
  methods: {
    // 活动信息
    getProject() {
      var time = new Date().getTime();
      var obj = {
        sign: MD5(time + "" + localStorage.getItem("oKey")),
        stamp: time
      };
      axios
        .post("/api/wxmp/shareCoupon/findShareCouponConfig", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            res.data.datalist.forEach((item, key) => {
              item.org_begin_use_time = moment(
                item.org_coupon.begin_use_time
              ).format("YYYY-MM-DD");
              item.org_end_use_time = moment(
                item.org_coupon.end_use_time
              ).format("YYYY-MM-DD");
              item.fri_begin_use_time = moment(item.fri_begin_use_time).format(
                "YYYY-MM-DD"
              );
              item.fri_end_use_time = moment(item.fri_end_use_time).format(
                "YYYY-MM-DD"
              );
              if (time > new Date().getTime(item.end_time)) {
                this.isEnd = true;
              } else if (
                new Date().getTime(item.begin_time) <
                time <
                new Date().getTime(item.end_time)
              ) {
                this.isEnd = false;
              }
              if (item.max_num <= item.finish_num) {
                this.isEnd = true;
              }
            });
            this.couponList = res.data.datalist;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    couponDetail(ind, item) {
      if (!this.isEnd) {
        this.$store.commit("changeData", this.couponList[ind]);
        this.$router.push({ path: "invite", query: { act_id: item.id } });
      } else {
        Toast("活动已结束!");
        this.$store.commit("changeData", this.couponList[ind]);
        this.$router.push({ name: "invite", query: { act_id: item.id } });
        return false;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.listwrapper {
  width: 100%;
  height: 100%;
  ul {
    li {
      position: relative;
      width: 6.86rem;
      height: 2.6rem;
      margin: 0.3rem 0.32rem;
      .bg {
        width: 6.86rem;
        // height: 2.6rem;
      }
      .smallIcon {
        position: absolute;
        width: 1.04rem;
        height: 1.04rem;
        right: 0rem;
        top: 0rem;
      }
    }
  }
  .no {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    color: #666;
  }
}
</style>