<template>
  <div class="order_box">
    <van-tabs v-model="tabActive" swipeable @click="getRou" :name="tabActive">
      <van-tab v-for="(index, i) in tabList" :title="index" :key="i">
        <van-list
          v-model="loading"
          :finished="finished"
          @load="onLoad"
          style="padding-top:.88rem;height:calc(100% - .88rem);padding-bottom:1.16rem;"
        >
          <template v-if="order_list.length">
            <div
              class="order_list"
              v-for="(etim, index) in order_list"
              :key="index"
            >
              <div class="stuts">
                <div class="left">订单号：{{ etim.id }}</div>
                <div
                  class="right"
                  v-if="is_goto_time[index] == '0' && etim.is_pay == '0'"
                >
                  未支付
                </div>
                <div
                  class="right"
                  v-if="is_goto_time[index] == '1' && etim.is_pay == '0'"
                >
                  付款超时
                </div>
                <div class="right" v-if="etim.is_pay == '8'">已取消</div>
                <div class="right" v-if="etim.is_pay == '6'">已完成</div>
                <div class="right" v-if="etim.is_pay == '1'">待发货</div>
                <div class="right" v-if="etim.is_pay == '2'">已发货</div>
              </div>
              <div class="shop_list">
                <div
                  class="list_details"
                  v-for="(shop_etim, shop_index) in etim.goodsRecord"
                  :key="shop_index"
                  @click="goto_buy(shop_etim.goods_id)"
                >
                  <div class="left">
                    <img :src="shop_etim.title_url" alt />
                  </div>
                  <div class="right">
                    <div class="name">{{ shop_etim.act_name }}</div>
                    <div class="num">数量{{ shop_etim.sell_num }}</div>
                    <div
                      v-if="is_goto_time[index] == '0' && etim.is_pay == '0'"
                    ></div>
                    <div
                      class="again"
                      v-else
                      @click="goto_buy(shop_etim.goods_id)"
                    >
                      再次购买
                    </div>
                  </div>
                </div>
              </div>
              <div class="summary">
                合计：
                <span>{{ order_prize[index] }}</span>
                共{{ etim.sell_num }}件商品
              </div>
              <div class="button_list" v-if="etim.is_pay != '8'">
                <div
                  class="white_pay"
                  v-if="etim.is_pay == '2'"
                  @click="showExpress(etim.id)"
                >
                  查看物流
                </div>
                <div
                  class="white_pay"
                  v-if="is_goto_time[index] == '0' && etim.is_pay == '0'"
                  @click="cancel(etim.id)"
                >
                  取消订单
                </div>
                <div
                  class="white_pay"
                  @click="
                    goto_details(
                      etim.id,
                      is_goto_time[index],
                      etim.is_pay,
                      etim
                    )
                  "
                >
                  查看详情
                </div>
                <div
                  class="white_pay"
                  v-if="
                    etim.goodsRecord.filter(v => v.e_ticket == '1').length &&
                      etim.goodsRecord.filter(v => v.goods_class == '6')
                        .length &&
                      (tabActive == '1' || tabActive == '2' || tabActive == '4')
                  "
                  @click="gocard"
                >
                  查看券码
                </div>
                <div
                  class="white_pay"
                  v-if="
                    etim.goodsRecord.filter(v => v.e_ticket == '1').length &&
                      etim.goodsRecord.filter(v => v.goods_class == '9')
                        .length &&
                      (tabActive == '1' || tabActive == '2')
                  "
                  @click="toRoute('/2020gifts')"
                >
                  查看礼券
                </div>
                <div
                  class="yellow_pay"
                  v-if="is_goto_time[index] == '0' && etim.is_pay == '0'"
                  @click="
                    goto_details(etim.id, is_goto_time[index], etim.is_pay)
                  "
                >
                  立即支付
                </div>
                <div
                  class="yellow_pay"
                  v-if="is_goto_time[index] == '0' && etim.is_pay == '6'"
                  @click="
                    goto_details(etim.id, is_goto_time[index], etim.is_pay)
                  "
                >
                  确认收货
                </div>
              </div>
            </div>
          </template>
          <div
            v-if="order_list.length == 0 && finished"
            style="line-height:3rem;font-size:.34rem;font-family:Source Han Sans CN;color:#a0a0a0;"
          >
            没有更多订单了
          </div>
        </van-list>
      </van-tab>
    </van-tabs>

    <div class="e_ticket_sn" v-if="e_ticket_sn">
      <div class="listBox">
        <div
          class="e_close"
          style="background:#fff;position: absolute;top: 0;left: 0;width: 100%;line-height: 1rem;border: none;font-weight: 600;font-size: .36rem;letter-spacing: .1rem;box-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,.1);z-index: 99999999;"
        >
          订单券码
          <span
            style="background:#fff;position: absolute;top: 0;right: 0;font-size: .5rem;font-weight: 400;padding: 0 .2rem;"
            @click="e_ticket_sn = false"
            >×</span
          >
        </div>
        <ul style="width: 100%;height: 100%;overflow-y: scroll">
          <li v-for="item in e_ticket_sn_detail" :key="item">
            <template v-if="item.e_ticket == '1' && item.goods_class == '6'">
              <h3
                style="line-height: .5rem;text-align: left;padding-left: .32rem;box-sizing: border-box;background: #ececec;display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 2;overflow: hidden;"
              >
                {{ item.act_name }}
              </h3>
              <span
                v-for="(val, index) in item.DES_e_ticket_sn.split(',')"
                :key="index"
                style="padding:.1rem .1rem .1rem .3rem;box-sizing:border-box;display: block;text-align: left;line-height: 1rem;"
              >
                <span style="display: block;line-height: .56rem"
                  >兑换码: {{ val }}</span
                >
                <span
                  style="font-size: .24rem;color: #bbb;display: block;line-height: .4rem;"
                  >有效期:{{ item.expire_time.split(",") }}</span
                >
              </span>
            </template>
          </li>
        </ul>
      </div>
    </div>
    <tabbar></tabbar>
  </div>
</template>

<script>
import { DatetimePicker } from "vant";
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
import { List } from "vant";
import Des from "@/style/des.js";
import { Tab, Tabs } from "vant";
import Tabbar from "../TabBar.vue";
Vue.use(Toast).use(List);
Vue.use(Tab).use(Tabs);
export default {
  name: "all_order",
  components: {
    Tabbar
  },
  data() {
    return {
      flag: true,
      e_ticket_sn: false,
      e_ticket_sn_detail: [],
      pageNum: 0,
      pageSize: 20,
      order_list: [],
      is_goto_time: [],
      order_prize: [],
      loading: false,
      finished: false,
      finishLoad: true,
      tabList: ["待支付", "已付款", "已发货", "已取消", "已完成"],
      is_pay: 0,
      tabActive: 0
    };
  },
  methods: {
    toRoute(route) {
      this.$router.push({ path: route });
    },
    gocard() {
      this.$router.push({ path: "/cardbag" });
    },
    getRou(index) {
      console.log(this.flag);
      if (!this.flag) {
        return false;
      }
      this.flag = false;
      this.order_list = [];
      this.pageNum = 1;
      this.pageSize = 20;
      this.finishLoad = true;
      this.loading = false;
      this.finished = false;
      switch (index) {
        case 0: {
          this.is_pay = 0;
          break;
        }
        case 1: {
          this.is_pay = 1;
          break;
        }
        case 2: {
          this.is_pay = 2;
          break;
        }
        case 3: {
          this.is_pay = 8;
          break;
        }
        case 4: {
          this.is_pay = 6;
          break;
        }
      }

      this.get_order_list();
    },
    cancel(id) {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            id +
            "" +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/doGoodsOrderCancel", qs.stringify(obj))
        .then(res => {
          if (res.data.result == "1") {
            this.tabActive = 3;
            this.getRou(3);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    onLoad() {
      // this.pageNum = 0;
      // 异步更新数据
      setTimeout(() => {
        if (this.pageNum == 0) {
          if (this.$route.query.active == 0) {
            this.is_pay = 0;
          } else if (this.$route.query.active == 1) {
            this.is_pay = 1;
          } else if (this.$route.query.active == 2) {
            this.is_pay = 2;
          }
        }
        this.pageNum++;
        // 加载状态结束
        this.loading = false;
        if (this.finishLoad) {
          this.get_order_list();
        } else {
          this.finished = true;
        }
      }, 500);
    },
    contrastTime(evalue) {
      var arr = evalue.substr(0, 19).split(/[- : \/]/);
      var dB = new Date(arr[0], arr[1] - 1, arr[2], arr[3], arr[4], arr[5]);
      var d = new Date();
      if (Date.parse(d) > Date.parse(dB)) {
        //时间戳对比
        return 1;
      }
      return 0;
    },
    get_order_list() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        is_pay: this.is_pay,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.is_pay +
            "" +
            this.pageNum +
            this.pageSize +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/doGoodsOrderList", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.request.pageNum === 1) {
              this.order_list = [];
            }
            this.is_goto_time = [];
            this.order_prize = [];
            if (res.data.dataNum > 0) {
              if (res.data.dataList.length < this.pageSize) {
                this.finishLoad = false;
              } else {
                this.finishLoad = true;
              }
              for (let i = 0; i < res.data.dataList.length; i++) {
                this.order_list.push(res.data.dataList[i]);
              }
              for (let i = 0; i < this.order_list.length; i++) {
                let stush = this.contrastTime(this.order_list[i].last_pay_time);
                this.is_goto_time.push(stush);
              }
              for (let i = 0; i < this.order_list.length; i++) {
                let price = "";
                if (this.order_list[i].total_point == "0") {
                  //积分为零
                  price = `￥${(
                    (this.order_list[i].total_fee * 1 +
                      this.order_list[i].total_postage * 1) *
                    0.01
                  ).toFixed(2)}`;
                } else {
                  if (
                    (this.order_list[i].total_fee * 1 +
                      this.order_list[i].total_postage * 1) *
                      0.01 ==
                    "0"
                  ) {
                    price = `${this.order_list[i].total_point}积分`;
                  } else {
                    price = `￥${(
                      (this.order_list[i].total_fee * 1 +
                        this.order_list[i].total_postage * 1) *
                      0.01
                    ).toFixed(2)}+${this.order_list[i].total_point}积分`;
                  }
                }
                this.order_prize.push(price);
              }
            } else {
              this.finishLoad = false;
              this.finished = true;
            }
          } else {
            this.finished = true;
          }
          this.flag = true;
        })
        .catch(error => {
          console.log(error);
        });
    },
    //查看详情
    goto_details(oid, is_time, is_pay, etim) {
      sessionStorage.setItem("order_id", oid);
      if (etim.forward_url && etim.goodsRecord[0].goods_class == "6") {
        location.href = etim.forward_url;
        return false;
      }
      if (is_time == "0" && is_pay == "0") {
        window.location.href = `/wxmp/?index.html#/pay_order?id=${oid}`;
      } else {
        window.location.href = `/wxmp/?index.html#/order_details?id=${oid}`;
      }
    },
    //查看券码
    get_details(detail) {
      console.log(detail);
      this.e_ticket_sn = true;
      this.e_ticket_sn_detail = [...detail.goodsRecord];
      this.e_ticket_sn_detail.forEach(val => {
        let num = Des.decryptByDES(
          val.e_ticket_sn,
          localStorage.getItem("des")
        );
        this.$set(val, "DES_e_ticket_sn", num);
        this.$set(val, "DES_e_ticket_sn", num);
        console.log(num);
      });
      console.log(this.e_ticket_sn_detail);
    },
    //再次购买
    goto_buy(id) {
      this.$router.push({ path: `/shop_details`, query: { id: id } });
    },
    //查看物流
    showExpress(oid) {
      this.$router.push({ path: `/logistics`, query: { oid: oid } });
      // location.href = '/wxmp/shop/express.jsp?oid=' + oid;
    }
  },
  created() {
    this.tabActive = this.$route.query.active
      ? this.$route.query.active * 1
      : 0;
    // this.get_order_list();
  },
  mounted() {
    document.title = "全部订单";
  }
};
</script>

<style scoped lang="scss">
.order_box {
  width: 100%;
  height: 100%;
  .e_ticket_sn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    .listBox {
      width: 80%;
      height: 50%;
      background: #f4f4f4;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      padding: 1rem 0 0.2rem 0;
      box-sizing: border-box;
      font-size: 0.3rem;
      letter-spacing: 0.01rem;
      border-radius: 0.1rem;
      overflow: hidden;
      li {
        padding: 0 0 0.2rem 0;
        font-size: 0.3rem;
        width: 100%;
        margin-bottom: 0.2rem;
        position: relative;
        background: #fff;
      }
    }
  }
  .no {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /deep/ .van-tabs__nav--card {
    margin: 0;
  }
  /deep/ .van-tabs {
    padding-top: 0;
    width: 100%;
    .van-tabs__wrap {
      width: 100%;
      height: 0.88rem;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999;
      .van-tabs__nav--line {
        width: 100%;
        height: 100%;
        padding-bottom: 0;
        /*padding: 0  0.62rem;*/
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        .van-tabs__line {
          height: 0.08rem;
          background-color: #ffda00;
          /*width: 0.8rem!important;*/
          z-index: 10;
          bottom: 0.1rem;
        }
        .van-tab {
          font-size: 0.3rem;
          color: #222222;
          z-index: 20;
          background-color: transparent;
          padding: 0;
        }
        .van-tab--active {
          font-size: 0.3rem;
          color: #222222;
          font-weight: bold;
        }
      }
    }
  }
  .order_list {
    padding: 0 0.32rem;
    box-sizing: border-box;
    border-bottom: 0.16rem solid rgba(244, 244, 244, 1);
    .stuts {
      width: 100%;
      height: 0.81rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        color: rgba(153, 153, 153, 1);
        font-size: 0.24rem;
      }
      .right {
        color: rgba(34, 34, 34, 1);
        font-size: 0.26rem;
      }
    }
    .shop_list {
      .list_details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.24rem;
        .left {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.04rem;
          margin-right: 0.2rem;
          img {
            display: block;
            width: 100%;
            height: 100%;
            background: #efefef;
          }
        }
        .right {
          flex: 1;
          height: 1.5rem;
          display: flex;
          align-items: left;
          justify-content: space-between;
          flex-direction: column;
          text-align: left;
          position: relative;
          top: 0;
          left: 0;
          .name {
            color: rgba(51, 51, 51, 1);
            font-size: 0.3rem;
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /*! autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
          }
          .num {
            color: rgba(102, 102, 102, 1);
            font-size: 0.24rem;
          }
          .again {
            width: 1.44rem;
            height: 0.56rem;
            border-radius: 0.04rem;
            border: 0.01rem solid rgba(224, 224, 224, 1);
            text-align: center;
            line-height: 0.58rem;
            position: absolute;
            bottom: 0;
            right: 0;
            color: rgba(51, 51, 51, 1);
            font-size: 0.28rem;
          }
        }
      }
    }
    .summary {
      width: 100%;
      height: 0.82rem;
      display: flex;
      align-items: center;
      color: rgba(102, 102, 102, 1);
      font-size: 0.26rem;
      span {
        color: rgba(34, 34, 34, 1);
        font-size: 0.32rem;
        font-weight: bold;
        margin-right: 0.08rem;
      }
    }
    .button_list {
      width: 100%;
      height: 1.06rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 0.01rem solid rgba(224, 224, 224, 1);
      div {
        margin-left: 0.16rem;
      }
      .yellow_pay {
        width: 1.44rem;
        height: 0.56rem;
        background: rgba(255, 218, 0, 1);
        border-radius: 0.04rem;
        color: rgba(51, 51, 51, 1);
        font-size: 0.28rem;
        text-align: center;
        line-height: 0.56rem;
      }
      .white_pay {
        width: 1.44rem;
        height: 0.56rem;
        border-radius: 0.04rem;
        border: 0.01rem solid rgba(224, 224, 224, 1);
        text-align: center;
        line-height: 0.56rem;
        color: rgba(51, 51, 51, 1);
        font-size: 0.28rem;
        box-sizing: border-box;
      }
    }
  }
}
</style>