<template>
  <div class="close_head_img">
    <img :src="image"
         alt="">
    <div class="photo_list">从相册选择
      <input @change='sub(0)'
             type="file"
             class='file'
             id='file'
             accept="image/*">
    </div>
    <div class="photo">
      拍照
      <input @change='sub(1)'
             type="file"
             class='file'
             id='file'
             capture="camera">
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
export default {
  name: "close_head_img",
  data () {
    return {
      image: '',
    }
  },
  methods: {
    sub (index) {
      var time = new Date().getTime();
      var formData = new FormData();
      formData.append("id", localStorage.getItem("userId"));
      formData.append("header", $(".file")[index].files[0]);
      formData.append("stamp", time);
      formData.append(
        "sign",
        MD5(
          localStorage.getItem("userId") +
          "" +
          time +
          "" +
          localStorage.getItem("Key")
        )
      );
      axios
        .post(api + "/wxmp/log/user/setHeader", formData)
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            this.$router.push({ path: 'user' });
          } else {
            console.log(res.data.msg);
          }
        })
        .then(error => {
          console.log(error);
        });
    },
  },
  created () {
    var usermessage = JSON.parse(sessionStorage.getItem('usermessage'));
    // this.usermessage = usermessage;
    this.image = usermessage.head_url;
    document.setTitle('修改头像');
  },
  mounted () {
    document.title = '修改头像';
  }
}
</script>

<style scoped lang="scss">
img {
  width: 4rem;
  margin: 2rem auto;
  display: block;
}
.photo_list,
.photo {
  width: 5rem;
  height: 0.88rem;
  background: linear-gradient(
    161deg,
    rgba(250, 217, 97, 1) 0%,
    rgba(255, 210, 0, 1) 100%
  );
  box-shadow: 0px 0.02rem 0.07rem 0.06rem rgba(194, 126, 3, 0.11);
  border-radius: 0.08rem;
  color: rgba(51, 51, 51, 1);
  font-size: 0.32rem;
  margin: 0 auto;
  margin-top: 0.8rem;
  line-height: 0.88rem;
  position: relative;
  top: 0;
  left: 0;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 0.88rem;
    opacity: 0;
  }
}
.photo {
  margin-top: 0.5rem;
}
</style>