<template>
  <div class="user_index">
    <div class="top">
      <div class="left">
        <img :src="image" @click="jump('user_info')" alt />
      </div>
      <div class="right">
        <div class="right_info">
          <div class="name">
            <div>{{ nick }}</div>
          </div>
          <div class="kefu" @click="kefu = true">
            <img
              src="@/../public/static/shop/icon-server.png"
              alt
              style="width: 0.4rem;"
            />
            <p>客服</p>
          </div>
        </div>
      </div>
    </div>

    <div class="Ribbon">
      <div class="Ribbon-item">
        <div class="num" @click="jump('goodsCollect')">
          {{ USER_RIBBON.countFavorites }}
        </div>
        <div>收藏夹</div>
      </div>
      <div class="Ribbon-item">
        <div class="num" @click="jump('coupon')">
          {{ USER_RIBBON.countCoupon }}
        </div>
        <div>优惠券</div>
      </div>
      <div class="Ribbon-item">
        <div class="num" @click="jump('integral')">
          {{ USER_RIBBON.userPoint }}
        </div>
        <div>积分</div>
      </div>
    </div>

    <img
      v-if="!is_vip"
      src="@/../public/static/goods/vip_active.png"
      alt="vip"
      style="width:6.98rem;height:0.8rem;margin:0.2rem auto 0;"
      @click="jump('vip_buy')"
    />
    <div
      v-if="is_vip"
      src="@/../public/static/goods/vip_active1.png"
      alt="vip"
      style="width:6.98rem;height:0.8rem;margin:0.2rem auto 0;background-image:url('./static/goods/vip_active1.png');background-size:cover;background-position:0 0;"
      @click="jump('vip_buy')"
    >
      <p
        style="text-align: left;padding-left: 0.96rem;padding-top: 0.44rem;font-size:0.16rem;font-family:Source Han Sans CN;font-weight:400;color:rgba(123,85,51,1);"
      >
        {{
          "有效期截止至 " + usermessage.validity_time.split(" ")[0] + " 到期"
        }}
      </p>
    </div>
    <div class="order">
      <div class="order_top">
        <div class="my_order">我的订单</div>
        <div class="more">
          <div class="more_order" @click="jump('all_order')">查看全部订单</div>
          <img src="../../../public/static/user/more.png" alt />
        </div>
      </div>
      <van-grid clickable :column-num="4" :border="false">
        <van-grid-item
          icon="./static/user/ribbon-1-1.png"
          text="待支付"
          :badge="
            USER_RIBBON.countOrderNeedPay ? USER_RIBBON.countOrderNeedPay : ''
          "
          :to="{ path: `/all_order`, query: { active: 0 } }"
        />
        <van-grid-item
          icon="./static/user/ribbon-1-2.png"
          text="已付款"
          :badge="
            USER_RIBBON.countOrderHasPay ? USER_RIBBON.countOrderHasPay : ''
          "
          :to="{ path: `/all_order`, query: { active: 1 } }"
        />
        <van-grid-item
          icon="./static/user/ribbon-1-3.png"
          text="已发货"
          :badge="USER_RIBBON.countOrderSend ? USER_RIBBON.countOrderSend : ''"
          :to="{ path: `/all_order`, query: { active: 2 } }"
        />
        <van-grid-item
          icon="./static/user/ribbon-1-4.png"
          text="电子卡包"
          :badge="USER_RIBBON.countTicket ? USER_RIBBON.countTicket : ''"
          @click="show = true"
        />
      </van-grid>
    </div>
    <div class="vip">
      <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item v-for="item in swiperAdvertismentList" :key="item.id">
          <img
            :src="item.adv_pic"
            alt
            @click="skip_xinxi(item.adv_url, item.url_type, item.end_time)"
          />
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="server">
      <div class="server_top">
        <div class="my_order">我的服务</div>
      </div>
      <van-grid clickable :column-num="4" :border="false">
        <van-grid-item
          icon="./static/user/ribbon-2-1.png"
          text="我的钱包"
          :to="{ path: `/WeChat` }"
        />
        <van-grid-item
          icon="./static/user/ribbon-2-2.png"
          text="我的地址"
          :to="{ path: `/receiving_address` }"
        />
        <!-- my_prize -->
        <van-grid-item
          icon="./static/user/ribbon-2-3.png"
          text="我的礼品"
          :to="{ path: `/2020gifts` }"
        />
        <van-grid-item
          icon="./static/user/ribbon-2-4.png"
          text="合伙人"
          :to="{ path: `/goodsListShare` }"
        />
      </van-grid>
    </div>
    <template v-if="GOOD_LIST.length">
      <div class="plate-item">
        <div class="plate-item_title-background_image">热门推荐</div>
        <goods-List :data="GOOD_LIST" v-if="GOOD_LIST.length" />
      </div>
    </template>
    <van-overlay :show="show" @click="show = false" class-name="tishi">
      <div class="content" @click.stop>
        <h5>查看电子卡包攻略</h5>
        <img
          src="@/../public/static/user/jushou_logo.png"
          alt
          style="width:2.56rem;height:2.56rem;margin:0 auto 0.52rem;border: 0.01rem dashed #999;"
        />
        <p>① 请长按或截屏，微信识别二维码，关注举手来了公众号</p>
        <p>② 聊天区中发送“电子卡包”，即可查看电子卡包中的产品</p>
      </div>
      <img
        src="@/../public/static/user/close_btn.png"
        alt
        style="margin-top:0.41rem;width:0.56rem;height:0.56rem"
      />
    </van-overlay>
    <van-dialog
      v-model="kefu"
      :show-cancel-button="true"
      :show-confirm-button="false"
      cancel-button-text="关闭"
      cancel-button-color="#1989fa"
    >
      <img
        src="@/../public/static/shop/kefu_qrcode.png"
        style="width: 2.6rem;height: 2.6rem;margin: auto;padding: .6rem 0 .2rem"
      />
      <p
        style="text-align:center;font-size: .24rem;color: #666;line-height: .4rem;margin-bottom: .3rem"
      >
        长按识别二维码，
        <br />可向客服人员咨询相关产品问题
      </p>
    </van-dialog>
    <tabbar></tabbar>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import Vue from "vue";
import MD5 from "js-md5";
import qs from "qs";
import Des from "@/style/des.js";
import GoodsList from "@/components/list.vue";
import Tabbar from "../TabBar.vue";
import { Toast } from "vant";
import { Overlay } from "vant";
import { Grid, GridItem } from "vant";
import { Swipe, SwipeItem } from "vant";
Vue.use(Overlay);
Vue.use(Swipe);
Vue.use(SwipeItem);
Vue.use(Grid);
Vue.use(Toast);
Vue.use(GridItem);
export default {
  name: "index",
  components: {
    Tabbar,
    GoodsList
  },
  data() {
    return {
      nick: "",
      image: "./static/user/moren.png",
      sex: "",
      user_code: "",
      tot_score: "0",
      usermessage: "",
      GOOD_LIST: [],
      USER_RIBBON: {},
      swiperAdvertismentList: [],
      is_vip: 0,
      show: false,
      kefu: false
    };
  },
  created() {
    document.setTitle("个人中心");
    this.GET_GOOD_LIST(1);
    this.get_msg();
    this.GET_USER_RIBBON();
    this.getAdvertismentModule(13);
  },
  mounted() {
    document.title = "个人中心";
    window.dataForWeixin = {
      appId: "",
      imgUrl: "", // get_post_weixin_thumb 为微信机器人高级版中的函数
      link:
        "https://" +
        window.location.host +
        "/wxmp/api/share.jsp?gourl=" +
        Base64.encode("https://js.51takeit.com/wxmp/index.html"),
      // link: 'https://js.51takeit.com/wxmp/index.html',
      title: "举手优选",
      desc: "",
      fakeid: ""
    };
    window.setShare();
  },
  methods: {
    //页面跳转
    skip_xinxi(url, url_type, end_time) {
      if (!end_time) {
        return false;
      }
      let times = new Date(end_time.substr(0, 19).replace(/-/g, "/")).getTime();
      if (Date.now() > times) {
        Toast("活动已截止，敬请期待新的特惠活动");
      } else {
        if (url_type == 0) {
          location.href = url;
        } else if (url_type == 1) {
          this.$router.push({ path: url });
        }
      }
    },
    jump(index) {
      if (index == "cash") {
        Toast("暂未开放，敬请期待~");
      } else {
        this.$router.push({ path: `/${index}` });
      }
    },
    get_msg() {
      var time = new Date().getTime();
      var obj = {
        id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      // eslint-disable-next-line no-undef
      axios
        .post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            console.log("查询用户信息成功");
            var str = JSON.stringify(res.data.data);
            let is_vip =
              res.data.data.vip_lv > 0 &&
              new Date(
                res.data.data.validity_time.substr(0, 19).replace(/-/g, "/")
              ).getTime() > Date.now()
                ? 1
                : 0;
            this.is_vip = is_vip;
            this.usermessage = res.data.data;
            this.nick = res.data.data.nick ? res.data.data.nick : "尊敬的用户";
            this.image = window.location.origin.includes("192")
              ? "https://js.51takeit.com" + res.data.data.head_url
              : window.location.origin + res.data.data.head_url;
            this.sex = res.data.data.sex;
            encodeURIComponent;
            this.user_code = res.data.data.qrcode_url;
            sessionStorage.setItem("is_vip", is_vip);
            sessionStorage.setItem("usermessage", str);
            localStorage.setItem("userId", res.data.data.id);
            console.log(is_vip);
            if (res.data.data.integration != "") {
              var num = Des.decryptByDES(
                res.data.data.integration,
                localStorage.getItem("des")
              );
              if (num == "") {
                this.tot_score = 0;
              } else {
                this.tot_score = num;
              }
            } else {
              this.tot_score = 0;
            }
          } else {
            console.log(res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /* 获取商品LIST */
    GET_GOOD_LIST(CLASS_ID) {
      const time = new Date().getTime();
      // CLASS_ID = 1 热销 2 推荐
      const axiosurl =
        CLASS_ID == 0
          ? "/wxmp/info/goods/doGoodsClassHotAPIInfolist"
          : "/wxmp/info/goods/doGoodsClassRecommendAPIInfolist";
      const obj = {
        class_id: "-1",
        from_v: sessionStorage.getItem("from_v") || 0,
        sortord: 0,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5("-1" + "" + 1 + 10 + time + "" + localStorage.getItem("oKey"))
      };
      axios.post(api + axiosurl, qs.stringify(obj)).then(res => {
        // 加载状态结束
        if (res.data.result == 1) {
          if (res.data.dataNum) {
            this.GOOD_LIST.push(...res.data.dataList);
          }
        }
      });
    },
    /* 获取用户收藏 优惠券 积分 订单数量 */
    GET_USER_RIBBON() {
      const time = new Date().getTime();
      const axiosurl = api + "/wxmp/log/user/getUserCountInfo";
      const obj = {
        id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          this.USER_RIBBON = res.data;
        }
      });
    },
    /* 获取广告 */
    getAdvertismentModule(type) {
      var time = new Date().getTime();
      let adv_sign = sessionStorage.getItem("advSign")
        ? sessionStorage.getItem("advSign") * 1
        : 0;
      var obj = {
        adv_type: type,
        adv_sign,
        adv_state: 1,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(
          type +
            "" +
            "1" +
            "1" +
            "10" +
            time +
            "" +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(
          api + "/wxmp/advertise/advertiseGeneral/doAdvertiseGeneralList",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataNum > 0) {
              this.swiperAdvertismentList = res.data.dataList;
              localStorage.setItem(
                "swiperAdvertismentList",
                JSON.stringify(this.swiperAdvertismentList)
              );
            }
          } else {
            console.log(res.msg);
          }
        })
        .catch(error => {
          this.swiperAdvertismentList = localStorage.getItem(
            "swiperAdvertismentList"
          )
            ? localStorage.getItem("swiperAdvertismentList")
            : [];
        });
    }
  }
};
</script>

<style scoped lang="scss">
.user_index {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  padding-bottom: 1.16rem;
  box-sizing: border-box;
  overflow-y: scroll;
  .top {
    width: 100%;
    padding: 0.24rem 0.48rem 0.39rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.16rem;
    overflow: hidden;
    .left {
      width: 1.06rem;
      height: 1.06rem;
      margin-right: 0.21rem;
      border-radius: 100%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .right {
      flex: 1;
      height: 0.8rem;
      display: flex;
      justify-content: space-between;
      .right_info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          display: flex;
          align-items: center;
          font-size: 0.3rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(46, 46, 46, 1);
        }
        .kefu {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .Ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.86rem;
    padding: 0.05rem 0;
    .Ribbon-item {
      width: calc(100% / 3);
      height: 100%;
      border-right: 0.02rem solid #dadce1;
      font-size: 0.26rem;
      font-family: SourceHanSansCN-Regular;
      font-weight: 400;
      color: rgba(46, 46, 46, 1);
      &:last-child {
        border: none;
      }
      .num {
        font-size: 0.32rem;
        margin-bottom: 0.1rem;
      }
    }
  }
  .nobgcolor {
    font-size: 0.26rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(46, 46, 46, 1);
    display: flex;
    justify-content: space-around;
  }
  .vip {
    width: 6.98rem;
    height: 1.72rem;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem auto 0;
    background: #fff;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .order {
    width: 6.98rem;
    height: 2.68rem;
    border-radius: 0.2rem;
    overflow: hidden;
    margin: 0.2rem auto 0;
    background: #fff;
    font-size: 0.26rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);
    .order_top {
      width: 6.56rem;
      margin: 0 auto;
      padding: 0.3rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.28rem;
      color: RGBA(34, 34, 34, 1);
      font-weight: bold;
      box-sizing: border-box;
      border-bottom: 0.01rem solid #ebebeb;
      .more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.25rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        width: 1.8rem;
        .more_order {
          font-size: 0.25rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
        img {
          width: 0.14rem;
          height: 0.25rem;
          display: block;
        }
      }
    }
  }
  .server {
    width: 6.98rem;
    // height: 2.38rem;
    border-radius: 0.2rem;
    overflow: hidden;
    margin: 0.19rem auto;
    background: #fff;
    font-size: 0.26rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);
    .server_top {
      width: 6.56rem;
      margin: 0 auto;
      padding: 0.3rem 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.28rem;
      color: RGBA(34, 34, 34, 1);
      font-weight: bold;
      box-sizing: border-box;
      .more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.25rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        width: 1.8rem;
        .more_order {
          font-size: 0.25rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
        img {
          width: 0.14rem;
          height: 0.25rem;
          display: block;
        }
      }
    }
  }
  /* 板块格子 */
  .plate-item {
    position: relative;
    width: 100%;
    // padding: 0.5rem 0.32rem 0.42rem 0.32rem;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    .plate-item_title-background_image {
      width: 3.64rem;
      height: 0.34rem;
      margin: 0 auto 0.43rem;
      background-image: url("@/../../../../public/static/index/title-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      font-size: 0.3rem;
      line-height: 1;
      font-family: SourceHanSansCN-Medium;
      font-weight: 500;
      color: #2e2e2e;
    }
    /* 商品格子 */
    .goods-grid-item {
      .goods-grid-item-act_name {
        width: 2.16rem;
        padding: 0 0.1rem;
        margin: 0.2rem auto 0.1rem;
        box-sizing: border-box;
        font-size: 0.26rem;
        font-family: SourceHanSansCN-Regular;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        text-align: left;
      }
      .goods-grid-item-price {
        width: 2.16rem;
        padding: 0 0.05rem;
        box-sizing: border-box;
        text-align: left;
        .price {
          font-size: 0.29rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(233, 0, 0, 1);
          span {
            font-size: 0.23rem;
          }
        }
        .vip-price {
          font-size: 0.23rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(45, 45, 45, 1);
        }
        .vip-icon {
          display: inline-block;
          width: 0.33rem;
          height: 0.16rem;
        }
      }
      &:nth-child(3n) {
        padding: 0 !important;
        padding-left: 0.01rem !important;
      }

      /deep/ .van-grid-item__content {
        padding: 0;
      }
      img[lazy="loaded"] {
        width: 2.16rem;
        height: 2.16rem;
        border-radius: 0.1rem 0.1rem 0 0;
      }
    }
  }
  /* 弹窗 */
  .tishi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content {
    width: 5.4rem;
    height: 6.75rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    h5 {
      font-size: 0.36rem;
      font-family: Source Han Sans CN;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
      line-height: 0.42rem;
      padding: 0.4rem 0;
    }
    img {
      margin-bottom: 0.52rem;
    }
    p {
      margin-bottom: 0.29rem;
      text-align: left;
      padding: 0 0.44rem;
      box-sizing: border-box;
      font-size: 0.29rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(77, 77, 77, 1);
      line-height: 0.42rem;
    }
  }
}
</style>