<template>
  <div class="integral">
    <div class="top" style="background-image: url('./static/user/integral.png')">
      <div class="title">
        <div class="shu"></div>
        <div>我的积分</div>
      </div>
      <div class="integral_num">{{tot_score}}</div>
      <div class="descr">积分可在举手优选兑换商品</div>
    </div>
    <div class="detailed">积分明细</div>
    <div class="deta_list">
      <van-list v-model="loading" :finished="finished" @load="onLoad">
        <div class="list" v-for="(item,index)  in  score_list" :key="index">
          <div class="qiandao van-multi-ellipsis--l3">{{item.config_name}}</div>
          <div class="time">{{item.create_time?item.create_time.split(" ")[0]:" "}}</div>
          <div class="add">{{item.integration > 0 ? '+'+item.integration:item.integration}}积分</div>
        </div>
      </van-list>
    </div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import Des from "@/style/des.js";
import { List } from "vant";
import { Toast } from "vant";
Vue.use(List);
Vue.use(Toast);
export default {
  name: "integral",
  data() {
    return {
      pageNum: 0,
      pageSize: 10,
      score_list: [],
      tot_score: "0",
      loading: false,
      finished: false,
      finishLoad: true
    };
  },
  methods: {
    onLoad() {
      // this.pageNum = 0;
      // 异步更新数据
      this.pageNum++;
      // 加载状态结束
      this.loading = false;
      if (this.finishLoad) {
        this.get_score_list();
      } else {
        this.finished = true;
      }
    },
    //获取积分记录
    get_score_list() {
      var time = new Date().getTime();
      var obj = {
        id: localStorage.getItem("userId"),
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5(
          this.pageNum +
            "" +
            this.pageSize +
            "" +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/log/user/lookIntegRecord", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.dataList.length < this.pageSize) {
              this.finishLoad = false;
            } else {
              this.finishLoad = true;
            }
            for (let i = 0; i < res.data.dataList.length; i++) {
              this.score_list.push(res.data.dataList[i]);
            }

            // this.score_list = res.data.dataList;
          } else {
            this.finished = true;
          }
        });
    },
    //获取总积分,从用户信息表中获取
    get_msg() {
      var time = new Date().getTime();
      var obj = {
        id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.data.integration != "") {
              var num = Des.decryptByDES(
                res.data.data.integration,
                localStorage.getItem("des")
              );
              if (num == "") {
                this.tot_score = 0;
              } else {
                this.tot_score = num;
              }
            } else {
              this.tot_score = 0;
            }
          } else if (res.data.result == 1021) {
            this.uppload_openid();
          } else {
            Toast(res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    //上传open_id
    uppload_openid() {
      var time = new Date().getTime();
      var obj = {
        user_id: sessionStorage.getItem("open_id"),
        src: "jushou",
        stamp: time,
        sign: MD5(
          "jushou" +
            localStorage.getItem("userId") +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/uploadWxID", qs.stringify(obj))
        .then(res => {
          console.log("上传openid");
          if (res.data.result == 1) {
            console.log("上传openid成功");
            this.get_msg();
          }
        })
        .catch(error => {
          alert(error);
        });
    }
  },
  created() {
    // this.get_score_list();
    this.get_msg();
    document.setTitle("我的积分");
  },
  mounted() {
    document.title = "我的积分";
  }
};
</script>

<style scoped lang="scss">
.integral {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
  overflow: hidden;
  text-align: left;
  .top {
    width: 6.46rem;
    height: 2.72rem;
    margin: 0 auto;
    margin-top: 0.24rem;
    border-radius: 0.08rem;
    overflow: hidden;
    text-align: left;
    background-size: cover;
    background-position: center;
    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 0.3rem;
      color: rgba(255, 255, 255, 1);
      margin-top: 0.31rem;
      .shu {
        width: 0.06rem;
        height: 0.26rem;
        background: rgba(255, 255, 255, 1);
        margin-left: 0.3rem;
        margin-right: 0.1rem;
      }
    }
    .integral_num {
      color: rgba(255, 255, 255, 1);
      font-size: 0.6rem;
      margin-left: 0.44rem;
      margin-top: 0.2rem;
    }
    .descr {
      color: rgba(241, 241, 241, 1);
      font-size: 0.26rem;
      margin-left: 0.44rem;
      margin-top: 0.43rem;
    }
  }
  .detailed {
    font-size: 0.36rem;
    color: rgba(34, 34, 34, 1);
    margin-left: 0.32rem;
    font-weight: bold;
    margin-top: 0.43rem;
    margin-bottom: 0.26rem;
  }
  .deta_list {
    .list {
      width: 100%;
      // height: 0.87rem;
      border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
      padding: 0.1rem 0.27rem 0.1rem 0.32rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      top: 0;
      left: 0;
      .qiandao {
        font-size: 0.28rem;
        color: rgba(51, 51, 51, 1);
        width: 50%;
      }
      .time {
        font-size: 0.22rem;
        color: rgba(153, 153, 153, 1);
        // position: absolute;
        // left: 2.8rem;
        transform: translateY(0.02rem);
      }
      .add {
        color: rgba(34, 34, 34, 1);
        font-size: 0.3rem;
        width: 26%;
        text-align: right;
      }
    }
  }
}
</style>