<template>
  <div class="my_code">
    <canvas id="canvas"
            style="width:6.44rem;height:7.36rem;"
            hidden></canvas>
    <div class="top">
      <img :src="img_herder"
           alt=""
           class="head_img">
      <div class="name">{{nick}}</div>
      <img :src="img_erweima"
           alt=""
           class="code_img">
      <div class="msg">扫一扫上面二维码，加我好友</div>

    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import qs from 'qs'
import MD5 from 'js-md5'
export default {
  data () {
    return {
      img_erweima: '',
      img_herder: '',
      nick: '',
      new_query: '',
      saveImage: '',
      dataName: Date.now()
    }
  },
  methods: {
    get_xinxi () {
      var time = new Date().getTime();
      var obj = {
        id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId") + '' + time + '' + localStorage.getItem('oKey'))
      };
      // eslint-disable-next-line no-undef
      axios.post(api + "/wxmp/info/friends/getQrcodeinfo", qs.stringify(obj))
        .then((res) => {

          if (res.data.result == 1) {
            this.nick = res.data.data.nick;
            this.img_herder = res.data.data.head_url;
            if (res.data.data.qrcode_url != '') {
              this.img_erweima = '/wxmp/' + res.data.data.qrcode_url;
            }
            this.drawImg();
          }
        })
        .catch((error) => {
          console.log(error)
        })
    },
    drawImg () {
      /* 绘制canvas保存成图片显示在页面上 */
      let vm = this;
      // eslint-disable-next-line no-undef
      let canvas = $('#canvas')[0];
      let ctx = canvas.getContext('2d');
      let ratio = this.getPixelRatio(ctx);
      let pix = ratio / 2;
      let width = 322 * ratio;
      let height = 368 * ratio;
      canvas.width = width;
      canvas.height = height;
      ctx.fillStyle = "#fff"
      ctx.rect(0, 0, width, height);
      ctx.fill();
      ctx.font = 14 * ratio + "px PingFangSC-Regular";
      ctx.fillStyle = "#222";
      ctx.fillText(vm.nick, 270 * pix, 198 * pix);
      ctx.font = 14 * ratio + "px PingFangSC-Regular";
      ctx.fillStyle = "#666666";
      ctx.fillText("扫一扫上面二维码，加我好友", 134 * pix, 648 * pix);
      var img_herder = new Image();
      img_herder.src = vm.img_herder;
      img_herder.onload = function () {
        // ctx.drawImage(img_herder,272*pix,54*pix,100*pix,100*pix);
        // ctx.save();
        vm.circleImg(ctx, img_herder, 272 * pix, 54 * pix, 50 * pix);
        var qcore = new Image();
        qcore.src = vm.img_erweima;
        qcore.onload = function () {
          ctx.drawImage(qcore, 142 * pix, 246 * pix, 360 * pix, 360 * pix);
          ctx.save();
          let base64 = canvas.toDataURL("image/jpeg");
          vm.saveImage = base64;
        }
      }



    },
    getPixelRatio (context) {
      /* 计算屏幕像素比例 */
      var backingStore = context.backingStorePixelRatio ||
        context.webkitBackingStorePixelRatio ||
        context.mozBackingStorePixelRatio ||
        context.msBackingStorePixelRatio ||
        context.oBackingStorePixelRatio ||
        context.backingStorePixelRatio || 1;
      return (window.devicePixelRatio || 1) / backingStore;
    },
    circleImg (ctx, img, x, y, r) {
      ctx.save();
      var d = 2 * r;
      var cx = x + r;
      var cy = y + r;
      ctx.arc(cx, cy, r, 0, 2 * Math.PI);
      ctx.clip();
      ctx.drawImage(img, x, y, d, d);
      ctx.restore();
    }
  },
  created () {
    //生成二维码
    var time = new Date().getTime();
    var obj = {};
    if (this.$route.query.user_id) {
      obj = {
        user_id: this.$route.query.user_id,
        stamp: time,
        sign: MD5(this.$route.query.user_id + '' + time + '' + localStorage.getItem('Key'))
      };
      console.log("地址栏")
    } else {
      obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(localStorage.getItem("userId") + '' + time + '' + localStorage.getItem('Key'))
      };
    }
    // eslint-disable-next-line no-undef
    axios.post(api + '/wxmp/info/friends/getQrcode', qs.stringify(obj))
      .then((res) => {
        console.log(res)
        if (res.data.result == 1) {
          this.nick = res.data.data.nick;
          this.img_herder = res.data.data.head_url;
          if (res.data.data.qrcode_url != '') {
            this.img_erweima = '/wxmp/' + res.data.data.qrcode_url;
          }
        }
      })
      .catch((error) => {
        console.log(error)
      })
    document.setTitle('我的二维码');
  },
  mounted () {
    document.title = '我的二维码';
    window.dataForWeixin = {
      appId: "",
      imgUrl: "https://js.51takeit.com/wxmp/" + this.img_erweima, // get_post_weixin_thumb 为微信机器人高级版中的函数
      link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl=" + Base64.encode('https://js.51takeit.com/wxmp/index.html#/my_code?user_id=' + localStorage.getItem("userId")),
      title: '举手优选',
      desc: "扫二维码互加好友，获取更多优惠",
      fakeid: ""
    };
    console.log(window.dataForWeixin);
    window.setShare();
  }
}
</script>

<style scoped  lang="scss">
.my_code {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(244, 244, 244, 1);
  .top {
    width: 6.44rem;
    height: 7.36rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0.02rem 0.08rem 0.08rem rgba(185, 185, 185, 0.08);
    border-radius: 0.04rem;
    margin: 0 auto;
    margin-top: 1.21rem;
    overflow: hidden;
    .head_img {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 0.54rem;
      display: block;
    }
    .name {
      color: rgba(51, 51, 51, 1);
      font-size: 0.3rem;
      margin-top: 0.08rem;
    }
    .code_img {
      width: 3.61rem;
      height: 3.61rem;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 0.42rem;
      display: block;
    }
    .msg {
      color: rgba(102, 102, 102, 1);
      font-size: 0.3rem;
      margin-top: 0.34rem;
    }
  }
  .save_button {
    margin-top: 1.09rem;
    width: 100%;
    padding: 0 0.75rem;
    box-sizing: border-box;
    height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .save_ipone {
      width: 2.78rem;
      height: 0.8rem;
      border-radius: 0.08rem;
      border: 0.01rem solid RGBA(209, 212, 218, 1);
      color: rgba(34, 34, 34, 1);
      font-size: 0.3rem;
      line-height: 0.8rem;
      box-sizing: border-box;
    }
    .share {
      width: 2.78rem;
      height: 0.8rem;
      border-radius: 0.08rem;
      background: #ffd200;
      color: rgba(34, 34, 34, 1);
      font-size: 0.3rem;
      line-height: 0.8rem;
      box-sizing: border-box;
    }
  }
}
</style>