<template>
  <div class="my_vote">
    <div class="list_box">
      <van-list
        v-model="loading"
        :finished="finished"
        @load="onLoad"
      >
        <div
          class="list"
          v-for="(item,index)  in  vote_list"
          :key="index"
        >
          <img
            src="../../../public/static/user/money.png"
            alt=""
          >
          <div class="content">
            <div class="content_descr">{{item.prize_name}}</div>
            <div class="creat_time">{{item.create_time?item.create_time.split(" ")[0]:" "}}</div>
          </div>
        </div>
      </van-list>
    </div>

  </div>
</template>

<script>
    import MD5 from "js-md5";
    import qs from "qs";
    import Vue from "vue";
    import {List} from 'vant';
    Vue.use(List);

    export default {
        name: "my_vote",
        data() {
            return {
                pageNum: 0,
                pageSize: 10,
                vote_list: [],
                loading: false,
                finished: false,
                finishLoad: true,
            }
        },
        methods: {
            onLoad() {
                // this.pageNum = 0;
                // 异步更新数据
                this.pageNum++;
                // 加载状态结束
                this.loading = false;
                if (this.finishLoad) {
                    this.get_vote_list();
                } else {
                    this.finished = true;
                }
            },
            get_vote_list() {
                var time = new Date().getTime();
                var obj = {
                    user_id: localStorage.getItem("userId"),
                    pageNum: this.pageNum,
                    pageSize: '10',
                    stamp: time,
                    sign: MD5(localStorage.getItem("userId") + '' + this.pageNum + '' + 10 + '' + time + '' + localStorage.getItem('oKey'))
                };
                axios.post(api + '/wxmp/log/award/doAwardRecordList', qs.stringify(obj))
                    .then((res) => {
                        console.log(res)
                        if (res.data.result == 1) {
                            if (res.data.dataList.length < this.pageSize) {
                                this.finishLoad = false;
                            } else {
                                this.finishLoad = true;
                            }
                            for (let i = 0; i < res.data.dataList.length; i++) {
                                this.vote_list.push(res.data.dataList[i]);
                            }

                            // this.vote_list = res.data.dataList;
                        }else{
                            this.finished = true;
                        }
                    })
            },
        },
        created() {
            // this.get_vote_list();
            document.setTitle('我的奖品');
        },
        mounted(){
            document.title = '我的奖品';
        }
    }
</script>

<style scoped lang="scss">
    .my_vote {
        width: 100%;
        background: rgba(248, 248, 250, 1);
        .list_box {
            width: 100%;
            padding-left: 0.32rem;
            box-sizing: border-box;
            background: #ffffff;
            .list {
                border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
                padding: 0.14rem 0.8rem 0.14rem 0;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                background: #ffffff;
                img {
                    width: 1.08rem;
                    height: 1.08rem;
                    margin-right: 0.24rem;
                }
                .content {
                    flex: 1;
                    height: 1.08rem;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .content_descr {
                        color: rgba(51, 51, 51, 1);
                        font-size: 0.3rem;
                        text-align: left;
                        text-overflow: -o-ellipsis-lastline;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        /*! autoprefixer: off */
                        -webkit-box-orient: vertical;
                        /* autoprefixer: on */
                    }
                    .creat_time {
                        color: rgba(153, 153, 153, 1);
                        font-size: 0.24rem;
                        text-align: left;
                    }
                }
            }
        }

    }
</style>