<template>
  <div class="user_info" @click="close($event)">
    <div class="list" @click="jump('head_img')">
      <div class="list_name">头像</div>
      <img alt :src="image" class="head_img">
      <img src="../../../public/static/user/more.png" alt class="update">
    </div>
    <div class="list">
      <div class="list_name">昵称</div>
      <input type="text" v-model="nick">
    </div>
    <div class="list" v-on:click="sex_click(true)">
      <div class="list_name">性别</div>
      <div class="list_title">{{sex_name}}</div>
      <img src="../../../public/static/user/more.png" alt class="update">
    </div>
    <div class="list" v-on:click="time_click">
      <div class="list_name">生日</div>
      <div class="list_title">{{both_data}}</div>
      <img src="../../../public/static/user/more.png" alt class="update">
    </div>
   <!-- <div class="list" v-on:click="mobileHandel(true)">
      <div class="list_name">绑定手机号</div>
      <div class="list_title">{{mobile}}</div>
      <img src="../../../public/static/user/more.png" alt class="update">
    </div> -->
    <div class="save" @click="sub">保存</div>

    <van-popup v-model="show" position="bottom" :overlay="true" :safe-area-inset-bottom="true" >
      <div class="change_women" v-on:click="sex_chose('女')">女</div>
      <div class="change_man" v-on:click="sex_chose('男')">男</div>
      <div class="change_close" v-on:click="sex_click(false)">取消</div>
    </van-popup>

    <van-popup v-model="bindPhone" position="bottom" :overlay="false">
      <van-form validate-first>
        <van-field v-model="mobile" name="mobile" type="tel" label="手机号" maxlength="11" :rules="[{  pattern: /^1[34578]\d{9}$/, message: '请输入正确的手机号' }]"  />
        <van-field
          name="sms"
          v-model="sms"
          center
          clearable
          label="短信验证码"
          placeholder="请输入短信验证码"
        >
          <template #button>
            <van-button size="small" type="primary" :loading="smsloading" :disabled="smsloading" loading-text="发送中..." v-if="success" @click="sendVFCode">发送验证码</van-button>
            <van-button size="small" type="primary" disabled v-else>
              <van-count-down :time="60000" @finish="finish" ref="countDown">
                <template v-slot="timeData">
                  <span class="item">{{ timeData.seconds }}秒后重新发送</span>
                </template>
              </van-count-down>
            </van-button>
          <!-- <ButtonCount :loading="smsloading" loading-text="发送中..." buttonText="发送验证码" />   -->
          </template>
        </van-field>
      </van-form>
    </van-popup>

    <van-popup v-model="show_time" position="bottom" :overlay="false">
      <van-datetime-picker
        v-model="currentDate"
        type="date"
        :min-date="minDate"
        :max-date="maxDate"
        :formatter="formatter"
        confirm-button-text="完成"
        @cancel="cancel"
        @confirm="confirm"
      />
    </van-popup>
  </div>
</template>

<script>



import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";

import { Form } from 'vant';
import { Popup } from "vant";
import { CountDown } from 'vant';
import { DatetimePicker } from "vant";
Vue.use(Form).use(Popup).use(CountDown).use(DatetimePicker);

export default {
  name: "user_info",
  data() {
    return {
      show: false,
      bindPhone: false,
      smsloading: false,
      success: true,
      sex: "男",
      currentDate: new Date(),
      minDate: new Date(1970, 1, 1),
      maxDate: new Date(),
      show_time: false,
      both_data:
        new Date().getFullYear() +
        "-" +
        (new Date().getMonth() * 1 + 1) +
        "-" +
        new Date().getDate(),
      image: "",
      nick: "",
      id: "",
      sex_name: "",
      username: "",
      mobile: "",
      sms: "",
      email: "",
      address: "",
      idnum: "",
      age: ""
    };
  },
  methods: {
    finish(){
      this.$refs.countDown.reset();
      this.success = true;
      this.smsloading = false;
    },
    sendVFCode(){
      this.smsloading = true;
      setTimeout(()=>{
        this.success = false;
        this.smsloading = false;
      },2000)
    },
    mobileHandel(flag){
      if (flag) {
        this.bindPhone = true;
      } else {
        this.bindPhone = false;
      }
    },
    close(index) {
      console.log(index);
      if ($(index.target).attr("class") == "van-popup van-popup--bottom") {
        this.show = false;
        this.show_time = false;
        this.bindPhone = false;
      }
    },
    sex_click(flag) {
      if (flag) {
        this.show = true;
      } else {
        this.show = false;
      }
    },
    sex_chose(index) {
      this.sex_name = index;
      if (index == "男") {
        this.sex = 1;
      } else if (index == "女") {
        this.sex = 2;
      }
      this.show = false;
    },
    formatter(type, value) {
      if (type === "year") {
        return `${value}年`;
      } else if (type === "month") {
        return `${value}月`;
      } else if (type === "day") {
        return `${value}日`;
      }
      return value;
    },
    time_click() {
      this.show_time = true;
    },
    cancel() {
      this.show_time = false;
    },
    confirm() {
      let data_str =
        this.currentDate.getFullYear() +
        "-" +
        (this.currentDate.getMonth() * 1 + 1) +
        "-" +
        this.currentDate.getDate();
      this.both_data = data_str;
      this.show_time = false;
    },
    jump(index) {
      this.$router.push({ path: `/${index}` });
    },
    sub() {
      var time = new Date().getTime();
      var obj = {
        username: encodeURI(this.username),
        mobile: this.mobile,
        email: this.email,
        address: encodeURI(this.address),
        idnum: this.idnum,
        birth_day: this.both_data,
        image: this.image,
        id: this.id,
        nick: this.nick,
        sex: this.sex,
        age: this.age,
        stamp: time,
        // sign: MD5(`${this.id}${this.username}${this.username}${this.mobile}${this.email}${time}${localStorage.getItem("Key")}`)
        sign: MD5(this.id+''+this.username+''+this.mobile+''+this.email+''+time+''+localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/log/user/modUserInfo", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            console.log("修改成功");
            this.$router.push({ path: "/user" });
          } else {
            this.tishi = "修改失败";
            this.tanchuang = true;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    var usermessage = JSON.parse(sessionStorage.getItem("usermessage"));
    // this.usermessage = usermessage;
    this.image = usermessage.head_url;
      this.image = window.location.origin.includes("192")
          ? "https://js.51takeit.com" + usermessage.head_url
          : window.location.origin + usermessage.head_url;
    this.nick = usermessage.nick;
    this.id = usermessage.id;
    if (usermessage.sex == "0") {
      this.sex_name = "未知";
      this.sex = 0;
    } else if (usermessage.sex == "1") {
      this.sex_name = "男";
      this.sex = 1;
    } else if (usermessage.sex == "2") {
      this.sex_name = "女";
      this.sex = 2;
    }
    this.both_data = usermessage.birth_day.split(" ")[0];
    this.username = usermessage.username;
    this.mobile = usermessage.mobile;
    this.email = usermessage.email;
    this.address = usermessage.address;
    this.idnum = usermessage.idnum;
    this.age = usermessage.age;
    document.setTitle("个人信息");
  },
  mounted() {
    document.title = "个人信息";
  }
};
</script>

<style scoped lang="scss">
.user_info {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 1);
  .list {
    width: 100%;
    height: auto;
    padding: 0.24rem 0.32rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 0.01rem solid RGBA(224, 224, 224, 1);
    background: #ffffff;
    position: relative;
    top: 0;
    left: 0;
    .list_name {
      color: rgba(102, 102, 102, 1);
      font-size: 0.3rem;
    }
    .head_img {
      width: 1.04rem;
      height: 1.04rem;
      border-radius: 100%;
      overflow: hidden;
      display: block;
      margin-left: 4.8rem;
    }
    .list_title {
      color: rgba(51, 51, 51, 1);
      font-size: 0.3rem;
      // font-weight: bold;
      margin-left: 0.42rem;
    }
    .update {
      width: 0.14rem;
      height: 0.25rem;
      display: block;
      position: absolute;
      right: 0.33rem;
    }
    input {
      height: 99%;
      width: 65%;
      border: 0;
      padding: 0;
      margin: 0;
      margin-left: 0.42rem;
      font-size: 0.3rem;
      // font-weight: bold;
      color: rgba(51, 51, 51, 1);
    }
  }
  .save {
    width: 5rem;
    height: 0.88rem;
    background: linear-gradient(
      161deg,
      rgba(250, 217, 97, 1) 0%,
      rgba(255, 210, 0, 1) 100%
    );
    border-radius: 0.08rem;
    margin: 0 auto;
    margin-top: 0.91rem;
    color: rgba(51, 51, 51, 1);
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.88rem;
  }
  /deep/ .van-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: flex-end;
    .change_close {
      width: 7.1rem;
      height: 1.17rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.26rem;
      color: rgba(0, 122, 255, 1);
      font-size: 0.4rem;
      margin-bottom: 0.3rem;
      line-height: 1.17rem;
    }
    .change_man {
      width: 7.1rem;
      height: 1.17rem;
      background: rgba(252, 252, 252, 0.8);
      border-radius: 0px 0px 0.26rem 0.26rem;
      color: rgba(0, 122, 255, 1);
      font-size: 0.4rem;
      border-top: 0.01rem solid rgba(77, 77, 77, 0.78);
      margin-bottom: 0.2rem;
      line-height: 1.17rem;
    }
    .change_women {
      width: 7.1rem;
      height: 1.17rem;
      background: rgba(252, 252, 252, 0.8);
      border-radius: 0.26rem 0.26rem 0px 0px;
      color: rgba(0, 122, 255, 1);
      font-size: 0.4rem;
      line-height: 1.17rem;
    }
    .van-picker {
      width: 100%;
    }
  }
}
</style>