<template>
  <div id="wrap">
    <router-view :key="$route.fullPath" />
    <van-tabbar
      route
      :safe-area-inset-bottom="true"
      @change="onChange"
      v-model="active"
      active-color="#6374ff"
    >
      <van-tabbar-item replace to="/index/goods" icon="bag" name="goods"
        >商品</van-tabbar-item
      >
      <van-tabbar-item
        replace
        to="/index/goodsClass"
        icon="wap-nav"
        name="goodsClass"
        >分类</van-tabbar-item
      >
    </van-tabbar>
  </div>
</template>

<script>
import Vue from "vue";
import { Tabbar, TabbarItem } from "vant";
Vue.use(Tabbar).use(TabbarItem);
export default {
  data() {
    return {
      active: "goods"
    };
  },
  methods: {
    onChange(index) {
      console.log(index);
    }
  }
};
</script>

<style lang="scss" scoped>
#wrap {
  width: 100%;
}
</style>
