<!--
 * @Author: your name
 * @Date: 2019-11-09 16:04:31
 * @LastEditTime: 2020-10-27 11:33:27
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \hand-up-3.0\src\views\About.vue
 -->
<template>
  <div class="about" id="shopdetail">
    <!-- 顶部 -->
    <div class="top">
      <van-swipe :show-indicators="true" indicator-color="#ffd200">
        <van-swipe-item>
          <img :src="goodsInfo.back_pic_url" width="100%" />
        </van-swipe-item>
        <van-swipe-item v-for="(image, index) in goodsImages" :key="index">
          <img
            :src="image.medium_url1"
            width="100%"
            v-if="image.medium_type == 1"
          />
          <video
            :src="image.medium_url2"
            width="100%"
            v-if="image.medium_type == 2"
          ></video>
        </van-swipe-item>
      </van-swipe>
      <div
        class="goodsInfo"
        :style="{
          backgroundImage:
            goodsInfo.if_type1 * 1 == 1
              ? 'url(@/../static/goods/xianshi_bg.png)'
              : 'url(@/../static/goods/buxianshi_bg.png)'
        }"
      >
        <div class="goodsInfo_left">
          <p>
            <!-- 显示价格 -->
            <!-- 现金 -->
            <span style="font-size:.36rem;" v-if="goodsInfo.prize * 1">¥</span>
            <span style="font-size:.46rem;">{{
              goodsInfo.prize * 0.01 ? (goodsInfo.prize * 0.01).toFixed(2) : ""
            }}</span>
            <!-- 连接符 -->
            <span
              style="font-size:.22rem;"
              v-if="goodsInfo.point * 1 && goodsInfo.prize * 1"
              >+</span
            >
            <!-- 积分 -->
            <span style="font-size:.22rem;" v-if="goodsInfo.point * 1"
              >积分</span
            >
            <span style="font-size:.36rem;">{{
              goodsInfo.point * 1 ? goodsInfo.point * 1 : ""
            }}</span>
            <!-- 会员价格 -->
            <span
              v-if="
                goodsInfo.vip_prize * 1 &&
                  goodsInfo.vip_prize * 1 < goodsInfo.prize * 1
              "
              style="font-size:.36rem;margin-left:.22rem;"
              >¥</span
            >
            <span
              style="font-size:.36rem;"
              v-if="
                goodsInfo.vip_prize * 1 &&
                  goodsInfo.vip_prize * 1 < goodsInfo.prize * 1
              "
              >{{ (goodsInfo.vip_prize * 0.01).toFixed(2) }}</span
            >
            <span
              v-if="
                goodsInfo.vip_prize * 1 &&
                  goodsInfo.vip_prize * 1 < goodsInfo.prize * 1
              "
            >
              <img
                src="@/../public/static/goods/vip.png"
                alt="vip-icon"
                style="width:.5rem;height:.24rem;display:inline-block;margin-left:.1rem;"
              />
            </span>
          </p>
        </div>
        <div class="goodsInfo_right" v-if="goodsInfo.if_type1 * 1 == 1">
          <p>距结束还剩：</p>
          <van-count-down
            ref="countDown"
            format="DD 天 HH 时 mm 分 ss 秒"
            @finish="VANCOUNTDOWN_FINISH"
            :auto-start="
              new Date(
                goodsInfo.end_time.replace(/-/g, '/').substr(0, 19)
              ).getTime() -
                Date.now() >
                0
            "
            :time="
              new Date(
                goodsInfo.end_time.replace(/-/g, '/').substr(0, 19)
              ).getTime() -
                Date.now() >
              0
                ? new Date(
                    goodsInfo.end_time.replace(/-/g, '/').substr(0, 19)
                  ).getTime() - Date.now()
                : 0
            "
          >
            <template v-slot="timeData">
              <!-- <span class="item"
              v-if="timeData.days >= 1">{{ timeData.days }}</span>-->
              <span class="item">{{
                timeData.hours + timeData.days * 24
              }}</span>
              <span class="item">{{ timeData.minutes }}</span>
              <span class="item">{{ timeData.seconds }}</span>
            </template>
          </van-count-down>
        </div>
      </div>
      <div class="Showcase">
        <div class="Showcase_left">
          <h1
            class="van-multi-ellipsis--l2"
            style="width:5.15rem;font-size:.3rem;padding: 0 .3rem;text-align:left;margin-top:.27rem;font-weight:bold;font-family:Source Han Sans CN;color:#000;"
          >
            {{ goodsInfo.act_name ? goodsInfo.act_name : "商品名称" }}
          </h1>
          <p
            class="van-multi-ellipsis--l2"
            style="width:5.15rem;color:#999999;font-size:.24rem;padding-left:.3rem;margin-top:.22rem;margin-bottom:.2rem;"
          >
            {{ goodsInfo.descr != 0 ? goodsInfo.descr : "" }}
          </p>
        </div>
        <div class="Showcase_right">
          <div class="right-item">
            <van-icon
              :name="
                isCollect
                  ? './static/goods/star-icon.png'
                  : './static/goods/star-icon-o.png'
              "
              size="0.34rem"
              @click="onClickIcon(3)"
            />
            <span>{{ isCollect ? "已收藏" : "收藏" }}</span>
          </div>
          <div class="right-item">
            <van-icon
              name="./static/goods/share_btn.png"
              size="0.34rem"
              @click="createShareImage"
            />
            <span>分享</span>
          </div>
        </div>
      </div>
      <img
        v-if="userinfo.vip_lv <= 0 && from_v == 0"
        src="@/../public/static/goods/vip_active.png"
        alt="vip"
        style="width:6.98rem;height:0.8rem;margin:auto;"
        @click="GOVIP"
      />
      <p
        style="color:#999999;font-size:.24rem;padding-left:.3rem;margin-top:.27rem;padding-bottom:.25rem;"
      >
        运费 :
        {{
          goodsInfo.postage * 1 != 0 ? goodsInfo.postage / 100 + "元" : "免运费"
        }}
      </p>
    </div>
    <!-- 选择优惠券按钮  -->
    <div class="sect" v-if="COUPON_INFO.length" @click="show1 = !show1">
      <p style="width:6rem;">
        <span class="sect-header">优惠</span>
        <span class="sect-content">{{
          SELECT_COUPON_INFO.length
            ? "已选择"
            : COUPON_INFO.length + "张优惠券可领取"
        }}</span>
        <span class="sect-content" style="color:#E90000;" v-if="coupon_id">{{
          SELECT_COUPON_INFO.coupon_name
        }}</span>
      </p>
      <span
        style="font-size: 0.24rem;font-family: Source Han Sans CN;color: #999999;"
        >领券</span
      >
      <van-icon name="arrow" />
    </div>
    <!-- 选择规格按钮 -->
    <div class="sect" @click="onClickButton">
      <p>
        <span class="sect-header">规格</span>
        <span class="sect-content">{{ goodsNum ? "已选择" : "未选择" }}</span>
        <span class="sect-content" v-if="goodsNum">
          {{ SELECT_GOODS_INFO.tag_title }}
          {{ goodsNum ? goodsNum + " 件" : "" }}
        </span>
      </p>
      <van-icon name="arrow" />
    </div>

    <!-- 商品详情 -->

    <div class="goodsDetail">
      <van-divider
        :style="{ color: '#000', borderColor: '#ddd', margin: 'auto' }"
        >商品详情</van-divider
      >
      <!-- <h5>商品详情</h5> -->
      <div v-html="goodsDetail"></div>
    </div>
    <div
      class="recommend"
      v-if="RecommendedProducts.length"
      style="margin-top:0.5rem;"
    >
      <div
        style="background-image:url('./static/goods/recommend.png');width:3.36rem;height:0.29rem;background-size:3.36rem 0.29rem;margin:0 auto 0.4rem;"
      ></div>
      <goods-List
        :data="RecommendedProducts"
        v-if="RecommendedProducts.length"
      />
    </div>
    <!-- 兼容移动app 内嵌fixed的问题 -->
    <div v-if="apptype == 'shydhn'" style="width:100%;height:0.88rem;"></div>
    <!-- 底部按钮区域 -->
    <van-notice-bar
      v-if="buttonType == 10"
      color="#1989fa"
      background="#ecf9ff"
      left-icon="info-o"
      >{{ negative }}</van-notice-bar
    >
    <div
      :class="apptype == '' ? 'goodsAction' : 'goodsAction goodsAction--shydhn'"
    >
      <div class="kefu goodsActionItem" @click="onClickIcon(0)">
        <img src="@/../public/static/shop/icon-index.png" alt />
        <span>首页</span>
      </div>
      <div class="kefu goodsActionItem" @click="onClickIcon(1)">
        <img src="@/../public/static/shop/icon-server.png" alt />
        <span>{{ from_v != 0 ? "我的" : "客服" }}</span>
      </div>
      <div class="shopCar goodsActionItem" @click="onClickIcon(2)">
        <img src="@/../public/static/shop/icon-cart.png" alt />
        <p>
          购物车
          <span v-if="shopCar" class="shopCarInfo">{{ shopCar }}</span>
        </p>
      </div>
      <div class="button_box">
        <span
          class="AddShopCar"
          v-if="buttonType == 0 || buttonType == 1"
          @click="AddShopCar"
          >加入购物车</span
        >
        <span
          class="createdOrder"
          v-if="buttonType == 0 || buttonType == 1"
          @click="createdOrder"
          >{{ buttonType == 1 ? "立即兑换" : "立即购买" }}</span
        >
        <span class="createdOrder" v-if="buttonType == 5" @click="createdOrder"
          >立即团购</span
        >
        <span class="negative" v-if="buttonType == 4">{{ negative }}</span>
        <span class="buyVIP" v-if="buttonType == 10" @click="GOVIP">{{
          from_v == 2 ? "开通权益" : "开通会员"
        }}</span>
      </div>
    </div>
    <!-- 弹出层 -->
    <van-popup
      v-model="show"
      round
      style="z-index:2222"
      position="bottom"
      closeable
      close-icon="close"
    >
      <div class="select-goodsinfo">
        <img
          :src="
            SELECT_GOODS_INFO.title_url
              ? SELECT_GOODS_INFO.title_url
              : goodsInfo.title_url
          "
          class="goodsImg"
        />
        <div class="select-goodsinfo_right">
          <h3>{{ goodsInfo.act_name ? goodsInfo.act_name + " " : "" }}</h3>
          <p
            style="font-size:0.32rem;color:#222;"
            v-if="defaultTagPrize && SELECT_GOODS_INFO == ''"
          >
            <span style="font-size:0.25rem;">¥</span>
            {{ defaultTagPrize }}
          </p>
          <p v-else>
            <span
              style="font-size:.25rem;color:#E90000;"
              v-if="goodsInfo.prize * 0.01"
              >¥</span
            >
            <span style="font-size:.32rem;color:#E90000;">
              {{
                goodsInfo.prize * 0.01
                  ? (goodsInfo.prize * 0.01).toFixed(2)
                  : ""
              }}
            </span>
            <!-- 连接符 -->
            <span
              style="font-size:.22rem;"
              v-if="goodsInfo.point * 1 && goodsInfo.prize * 1"
              >+</span
            >
            <!-- 积分 -->
            <span style="font-size:.32rem;">
              {{ goodsInfo.point * 1 ? goodsInfo.point * 1 : "" }}
            </span>
            <span style="font-size:.22rem;" v-if="goodsInfo.point * 1"
              >积分</span
            >
            <!-- 会员价格 -->
            <span
              v-if="
                goodsInfo.vip_prize * 1 &&
                  goodsInfo.vip_prize * 1 < goodsInfo.prize * 1
              "
              style="font-size:.25rem;margin-left:.22rem;"
              >¥</span
            >
            <span
              style="font-size:.25rem;"
              v-if="
                goodsInfo.vip_prize * 1 &&
                  goodsInfo.vip_prize * 1 < goodsInfo.prize * 1
              "
              >{{ (goodsInfo.vip_prize * 0.01).toFixed(2) }}</span
            >
            <span
              v-if="
                goodsInfo.vip_prize * 1 &&
                  goodsInfo.vip_prize * 1 < goodsInfo.prize * 1
              "
            >
              <img
                src="@/../public/static/goods/vip.png"
                alt
                style="width:.35rem;height:.16rem;display:inline-block;margin-left:.06rem;"
              />
            </span>
          </p>
          <div class="select-content">
            <span>
              {{ SELECT_GOODS_INFO.tag_title ? "已选: " : "未选择" }}
            </span>
            <span v-if="SELECT_GOODS_INFO.tag_title"
              >"{{ SELECT_GOODS_INFO.tag_title }}"</span
            >
          </div>
        </div>
      </div>
      <div class="spec">
        <h4 v-if="goodstype.length">规格</h4>
        <ul class="list" v-if="goodstype.length">
          <li
            v-for="(item, index) in goodstype"
            :key="index"
            :class="active == index ? 'active' : ''"
            @click="setSpec(item, index)"
          >
            {{ item.tag_title }}
          </li>
        </ul>
        <div class="step">
          <h4>数量</h4>
          <van-stepper
            min="0"
            :value="goodsNum"
            @change="onChange"
            button-size="30px"
          />
        </div>
      </div>
      <div class="button_box1" :class="apptype == '' ? '' : 'shydhn'">
        <!--
        <span class="AddShopCar" @click="AddShopCar">加入购物车</span>
        <span class="createdOrder" @click="createdOrder">立即购买</span>
        -->
        <span class="define" @click="define">确定</span>
      </div>
    </van-popup>
    <!-- 优惠券选择 弹出层 -->
    <van-popup
      v-model="show1"
      round
      style="z-index:3333"
      position="bottom"
      closeable
      close-icon="close"
    >
      <h2
        style="font-size:0.3rem;font-family:Source Han Sans CN;font-weight:bold;color:rgba(38,38,38,1);text-align:center"
      >
        优惠券
      </h2>
      <ul class="couponlist">
        <li
          class="couponlist-item"
          v-for="(item, i) in COUPON_INFO"
          :key="item.id"
          :style="{
            backgroundImage: `url(${
              item.canGain
                ? './static/goods/coupon_pre.png'
                : './static/goods/coupon_nor.png'
            })`
          }"
        >
          <div class="couponlist-item_left">
            <div class="coupon_price">
              <span>¥</span>
              {{ item.prize / 100 }}
            </div>
            <div class="coupon_pricemin">
              满{{ item.order_fee / 100 }}元可用
            </div>
          </div>
          <div class="couponlist-item_right">
            <p class="coupon_name van-ellipsis">{{ item.coupon_name }}</p>
            <p class="coupon_desc van-multi-ellipsis--l2">
              {{ item.coupon_desc }}
            </p>
            <p class="coupon_date">
              {{ item.begin_use_time.substr(0, 11).replace(/-/g, ".") }}-{{
                item.end_use_time.substr(0, 11).replace(/-/g, ".")
              }}
            </p>
          </div>
          <div
            class="coupon_btn"
            @click="setCoupon(item.id, i)"
            v-if="item.canGain"
          >
            立即领取
          </div>
        </li>
      </ul>
      <div class="button_box1" :class="apptype == '' ? '' : 'shydhn'">
        <span class="define" @click="define">确定</span>
      </div>
    </van-popup>
    <!-- <img src="@/../public/static/shop/shuang11.png"  style="position:fixed;top: 0rem;right: 0;display: block;width: 1.3rem;" @click="BACKPRO" v-if="referrer">    -->
    <!-- 客服弹窗 -->
    <van-dialog
      v-model="kefu"
      :show-cancel-button="true"
      :show-confirm-button="false"
      cancel-button-text="关闭"
      cancel-button-color="#1989fa"
    >
      <img
        src="@/../public/static/shop/kefu_qrcode.png"
        style="width: 2.6rem;height: 2.6rem;margin: auto;padding: .6rem 0 .2rem"
      />
      <p
        style="text-align:center;font-size: .24rem;color: #666;line-height: .4rem;margin-bottom: .3rem"
      >
        长按识别二维码，
        <br />可向客服人员咨询相关产品问题
      </p>
    </van-dialog>
    <!-- 关注公众号弹窗 -->
    <van-dialog
      v-model="is_follow"
      :show-cancel-button="true"
      :show-confirm-button="false"
      cancel-button-text="关闭"
      cancel-button-color="#1989fa"
    >
      <img
        :src="goodsInfo.qrcode_url"
        style="width: 2.6rem;height: 2.6rem;margin: auto;padding: .6rem 0 .2rem"
      />
      <p
        style="text-align:center;font-size: .24rem;color: #666;line-height: .4rem;margin-bottom: .3rem"
      >
        长按识别二维码，
        <br />关注举手微信公众号
      </p>
    </van-dialog>
    <!-- 图片生成区域 -->
    <div class="postmask" v-show="shared"></div>
    <div
      id="posterHtml"
      v-show="shared"
      :style="{ top: shared ? '0' : '-20rem' }"
    >
      <img :src="share_pic" alt />
      <div class="posterHtml-goodsinfo">
        <div class="posterHtml-goodsinfo_left">
          {{ goodsInfo.act_name ? goodsInfo.act_name : "" }}
        </div>
        <div class="posterHtml-goodsinfo_right">
          <p class="posterHtml-goodsinfo_right-price">
            <!-- 现金 -->
            <span
              style="font-size:.32rem;color:#E90000"
              v-if="goodsInfo.prize * 1"
              >¥</span
            >
            <span style="font-size:.41rem;color:#E90000">{{
              goodsInfo.prize * 0.01 ? (goodsInfo.prize * 0.01).toFixed(2) : ""
            }}</span>
            <!-- 积分 -->
            <span style="font-size:.28rem;" v-if="goodsInfo.point * 1"
              >积分</span
            >
            <span style="font-size:.36rem;">{{
              goodsInfo.point * 1 ? goodsInfo.point * 1 : ""
            }}</span>
          </p>
          <div
            class="posterHtml-goodsinfo_right-vipprice"
            v-if="
              goodsInfo.vip_prize * 1 &&
                goodsInfo.vip_prize * 1 < goodsInfo.prize * 1
            "
          >
            <!-- 会员价格 -->
            <span style="font-size:.32rem;margin-left:.18rem;color:#2D2D2D;"
              >¥</span
            >
            <span style="font-size:.32rem;color:#2D2D2D;">{{
              (goodsInfo.vip_prize * 0.01).toFixed(2)
            }}</span>
            <img
              src="@/../public/static/goods/vip.png"
              alt="vip-icon"
              style="width:.45rem;height:.21rem;display:inline-block;margin-left:.1rem;"
            />
          </div>
        </div>
      </div>
      <div class="posterHtml-rule">
        <img :src="rqcode_url" class="qrcode" alt />
        <div class="posterHtml-rule_text">
          <p>① 长按保存图片到相册</p>
          <p>② 微信识别二维码立即看见</p>
        </div>
        <img src="@/../public/static/goods/jushoulogo.png" alt class="logo" />
      </div>
    </div>
    <van-overlay
      :show="share"
      @click="
        share = false;
        shared = false;
      "
    >
      <div v-if="imgUri" class="center" @click.stop>
        <img :src="imgUri" alt style="width:100%" />
      </div>
      <div
        v-else
        class="center"
        style="background:#f7f8fa;color:#969799;display:flex;align-items: center;justify-content: center;"
      >
        <van-loading size="24px" v-if="imgUri == ''">图片加载中...</van-loading>
      </div>
      <!-- <van-image :src="imgUri" @error="errorHandel" class="center" @click.stop>
        <template v-slot:loading>
          <van-loading type="spinner" size="20" />
          分享图片生成中,请耐心等待
        </template>
        <template v-slot:error>图片生成失败</template>
      </van-image>-->
    </van-overlay>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import html2canvas from "html2canvas";
import GoodsList from "../../components/list.vue";

import Vue from "vue";
import { Popup } from "vant";
import { Stepper } from "vant";
import { Swipe, SwipeItem } from "vant";
import { Icon } from "vant";
import { Toast } from "vant";
import { CountDown } from "vant";
import { Divider } from "vant";
import { NoticeBar } from "vant";
import { Dialog } from "vant";
import { Overlay } from "vant";
import { Loading } from "vant";
Vue.use(Popup)
  .use(Stepper)
  .use(Swipe)
  .use(SwipeItem)
  .use(Icon)
  .use(CountDown)
  .use(Divider)
  .use(NoticeBar)
  .use(Dialog)
  .use(Overlay)
  .use(Loading)
  .use(Toast);

export default {
  name: "goodsdetail",
  components: { GoodsList },
  data() {
    return {
      imgUri: "",
      defaultTagPrize: "", //默认价格区间  有值显示区间 没值默认
      Distribution: "", // 是否分销
      rqcode_url: "",
      share_pic: "",
      apptype: "", //解决app里fixed问题
      status: false,
      from_v: 0,
      show: false,
      show1: false,
      share: false,
      shared: false, //生成分享图dom元素
      is_follow: false,
      kefu: false,
      isCollect: false, //是否收藏过商品
      active: -1, //规格下标
      buttonType: 0,
      negative: "手慢了，抢光了！(补货中)",
      goodsNum: 0, //商品数量
      goodsDetail: "", //商品详情
      goodsInfo: {}, //商品数据
      goodstype: [], //商品规格
      goodsImages: [], //商品轮播图

      special: {}, //获取配置 【暂时搁置】
      defineTYPE: "", //规格选择窗口 【确定】 按钮类型
      userinfo: JSON.parse(sessionStorage.getItem("usermessage")) || "",
      SELECT_GOODS_INFO: "",
      SELECT_COUPON_INFO: "", //已选优惠券
      COUPON_INFO: "", //已选优惠券
      RecommendedProducts: [], //推荐商品列表
      shopCar: 0, //购物车数量
      coupon_id: 0, //优惠券代码
      coupon_id_prize: 1,
      timer: null // 图片生成定时器
    };
  },
  created() {
    if (
      sessionStorage.getItem("from_v") == 2 ||
      (this.$route.query.from_v && this.$route.query.from_v == 2)
    ) {
      this.from_v = 2;
      sessionStorage.setItem("from_v", 2);
      if (
        sessionStorage.getItem("usermessage") &&
        JSON.parse(sessionStorage.getItem("usermessage")).mobile_account
      ) {
        // this.searchUserIsCoordination();
      }
    }
    if (
      sessionStorage.getItem("from_v") == 3 ||
      (this.$route.query.from_v && this.$route.query.from_v == 3)
    ) {
      this.from_v = 3;
      sessionStorage.setItem("from_v", 3);
    }
    /* 是否移动和教授APP */
    /shydhn/g.test(window.navigator.userAgent)
      ? (this.apptype = "shydhn")
      : (this.apptype = "");
    this.referrer = document.referrer;
    const GOODSID = this.$route.query.id
      ? this.$route.query.id
      : sessionStorage.getItem("shareId");
    /* 是否分销商品参数 */
    this.getShareImg(GOODSID);
    if (this.$route.query.Distribution) {
      this.Distribution = this.$route.query.Distribution;
    }
    if (this.$route.query.aid) {
      sessionStorage.setItem("aid", this.$route.query.aid);
      localStorage.setItem("aid", this.$route.query.aid);
    }
    /* 优惠券ID */
    if (this.$route.query.coupon_id) {
      this.coupon_id = this.$route.query.coupon_id;
    } else if (sessionStorage.getItem("coupon_id")) {
      this.coupon_id = sessionStorage.getItem("coupon_id");
    }

    /* 用户信息 */
    if (sessionStorage.getItem("usermessage")) {
      this.userinfo = JSON.parse(sessionStorage.getItem("usermessage"));
    }
    if (localStorage.getItem("userId")) {
      this.SEARCH_GOOD_COLLECT(GOODSID);
      this.getShopList(1);
    }
    /* 请求数据 */
    this.get_details(GOODSID);

    this.GET_GOOD_LIST(GOODSID);

    // console.log("created -> this.userinfo", this.userinfo.vip_lv);
  },
  mounted() {
    document.setTitle("商品详情");
  },
  methods: {
    /* 判断是否登陆 */
    islogin() {
      if (!localStorage.getItem("userId")) {
        sessionStorage.setItem("stateQuery", JSON.stringify(this.$route.query));
        this.$router.push({
          path: "redirect",
          query: { state: this.$route.path }
        });
        return false;
      } else {
        return true;
      }
    },
    /*  */
    errorHandel() {
      // console.log("errorHandel -> 'errror!-----------'", "errror!-----------");
    },
    /* 加载图片 */
    preloadImg(src) {
      return new Promise((resolve, reject) => {
        const img = new Image();
        img.onload = () => {
          resolve();
        };
        img.src = src;
      });
    },
    /* 批量加载图片 */
    preloadAllImg(promiseAllArray) {
      return Promise.all(promiseAllArray.map(src => this.preloadImg(src)));
    },
    getShareImg(GOODSID) {
      let vm = this;
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/info/goods/getGoodsSharePic";
      const obj = {
        id: GOODSID,
        aid: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(GOODSID + "" + time + "" + localStorage.getItem("oKey"))
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        this.rqcode_url = location.origin + res.data.rqcode_url;
        this.share_pic = location.origin + res.data.share_pic;
      });
    },
    /* 生成分享图 */
    createShareImage() {
      if (!this.islogin()) {
        return false;
      }
      this.imgUri = "";
      let vm = this;
      this.shared = true;
      clearTimeout(this.timer);
      this.timer = setTimeout(() => {
        html2canvas(document.querySelector("#posterHtml"), {
          useCORS: true
        }).then(canvas => {
          console.log("第一次成功");
          vm.imgUri = canvas.toDataURL("image/png");
          vm.shared = false;
          vm.share = true;
        });
      }, 200);
      return false;
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/info/goods/getGoodsSharePic";
      const obj = {
        id: this.goodsInfo.id,
        aid: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          this.goodsInfo.id + "" + time + "" + localStorage.getItem("oKey")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          this.preloadAllImg([res.data.rqcode_url, res.data.share_pic]).then(
            () => {
              console.log("preloadAllImg success");
              this.timer = setTimeout(() => {
                html2canvas(document.querySelector("#posterHtml"), {
                  useCORS: true,
                  letterRendering: true,
                  scale: 2,
                  allowTaint: true,
                  taintTest: false,
                  onclone(doc) {
                    // let e = doc.querySelector("#posterHtml");
                    // e.style.display = "block";
                  }
                }).then(canvas => {
                  console.log("第一次成功");
                  clearTimeout(timeout_load);
                  vm.imgUri = canvas.toDataURL("image/png");
                  vm.shared = false;
                  vm.share = true;
                });
              }, 2000);
              this.$on("hook:beforeDestroy", () => {
                console.log("rqcode_url.onload -> hook");
                clearTimeout(this.timer);
              });
              let timeout_load = setTimeout(() => {
                this.preloadAllImg([
                  res.data.rqcode_url,
                  res.data.share_pic
                ]).then(async () => {
                  this.rqcode_url = res.data.rqcode_url;
                  this.share_pic = res.data.share_pic;
                  this.timer = setTimeout(() => {
                    html2canvas(document.querySelector("#posterHtml"), {
                      useCORS: true,
                      letterRendering: true,
                      scale: 2,
                      onclone(doc) {
                        let e = doc.querySelector("#posterHtml");
                        e.style.display = "block";
                      }
                    }).then(canvas => {
                      console.log("成功");
                      clearTimeout(timeout_load);
                      this.imgUri = canvas.toDataURL("image/png");
                      this.shared = false;
                      canvas.toBlob(blob => {
                        // console.log("createShareImage -> blob", blob);
                      });
                    });
                  }, 2000);
                  this.$on("hook:beforeDestroy", () => {
                    console.log("rqcode_url.onload -> hook");
                    clearTimeout(this.timer);
                  });
                });
              }, 12000);
            }
          );
        } else {
          Toast(res.data.result + res.data.msg);
        }
      });
    },
    /* 弹窗确定按钮 */
    define() {
      if (this.defineTYPE) {
        this[this.defineTYPE]();
      }
      this.show = false;
      this.show1 = false;
    },
    /* 选择优惠券 */
    setCoupon(id, i) {
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/info/coupon/goodsGainCoupon";
      const obj = {
        user_id: localStorage.getItem("userId"),
        goods_id: this.goodsInfo.id,
        coupon_id: id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.goodsInfo.id +
            id +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          this.COUPON_INFO[i].canGain = 0;
          sessionStorage.setItem("coupon_id", res.data.data.id);
          this.coupon_id = res.data.data.id;
          Toast("领取优惠券成功！");
        } else {
          Toast(res.data.result + res.data.msg);
        }
      });
    },
    /* 获取推荐商品 */
    GET_GOOD_LIST(GOODSID) {
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/info/goods/getRecommendGoodsbyClass";
      const obj = {
        id: GOODSID,
        stamp: time,
        sign: MD5(GOODSID + "" + time + "" + localStorage.getItem("oKey"))
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          if (res.data.dataList) {
            this.RecommendedProducts = [...res.data.dataList];
          } else {
            this.RecommendedProducts = [];
          }
        } else if (res.data.result == 0) {
        } else {
          Toast(res.data.result + res.data.msg);
        }
      });
    },
    /* 查询我的收藏列表 */
    GET_COLLECT_LIST() {
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/favorites/getGoodsFavoritesList";
      const obj = {
        user_id: localStorage.getItem("userId"),
        pageNum: 1,
        pageSize: 20,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
        }
      });
    },
    /* 查询商品优惠券列表 */
    GET_COUPON_LIST() {
      // console.log("youhuiqian");
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/info/coupon/goodsCouponList";
      const obj = {
        user_id: localStorage.getItem("userId"),
        goods_id: this.goodsInfo.id,
        class_id: this.goodsInfo.class_id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.goodsInfo.id +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          this.COUPON_INFO = res.data.dataList;
        }
      });
    },
    /* 查询商品受否收藏 */
    SEARCH_GOOD_COLLECT(id) {
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/favorites/getGoodsFavorites";
      const obj = {
        goods_id: id,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          id +
            "" +
            localStorage.getItem("userId") +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          this.isCollect = true;
        } else if (res.data.result == 0) {
          this.isCollect = false;
        } else {
          Toast.fail({
            duration: 2000,
            message: res.data.result + res.data.msg
          });
        }
      });
    },
    /* 商品收藏 */
    SET_SEARCH_GOOD_COLLECT(id) {
      this.islogin();
      const time = new Date().getTime();
      const axiosurl = this.isCollect
        ? "/api/wxmp/favorites/delGoodsFavorites"
        : "/api/wxmp/favorites/setGoodsFavorites";
      const obj = {
        goods_id: id,
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          id +
            "" +
            localStorage.getItem("userId") +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          Toast(this.isCollect ? "取消收藏！" : "收藏成功！");
          this.isCollect = !this.isCollect;
        } else {
          Toast.fail({
            duration: 2000,
            message: res.data.result + res.data.msg
          });
        }
      });
    },
    /**
     * @Author: VANCOUNTDOWN_FINISH
     * @Date: 2019-11-22 12:00:02
     * @Desc: 倒计时结束回调函数
     */

    VANCOUNTDOWN_FINISH() {
      this.$refs.countDown.pause();
      this.get_details(this.$route.query.id);
    },
    GOVIP() {
      // from_v: 1.电信
      if (sessionStorage.getItem("from_v") == 1) {
        let str = JSON.stringify([
          { goods_id: "31223", goods_num: 1, car_id: -1 }
        ]);
        sessionStorage.setItem("order_list", Base64.encode(str));
        this.$router.push({
          path: "/sub_order",
          query: { coupon_id: 0 }
        });
      } else if (sessionStorage.getItem("from_v") == 2) {
        // sessionStorage.setItem("tishi", "");
        // location.href = "/wxmp/act/2020/09/CDMA/tishi.html?resType=0";
        if (
          sessionStorage.getItem("usermessage") &&
          JSON.parse(sessionStorage.getItem("usermessage")).mobile_account
        ) {
          this.searchUserIsCoordination();
        } else {
          sessionStorage.setItem(
            "BounceAddress",
            Base64.decode(
              location.origin + "/wxmp/act/2020/09/CDMA/tishi.html?resType=0"
            )
          );
          this.$router.push({ path: "/login", query: { type: "act" } });
        }
      } else {
        sessionStorage.setItem("orderbackurl", this.$route.fullPath);
        this.$router.push({ path: "/vip_buy" });
      }
    },
    BACKPRO() {
      // 返回上一级
      window.location.href = this.referrer;
    },
    /**
     * @Author: flydreame
     * @Date: 2019-11-15 17:02:27
     * @Desc: 立即购买
     */
    createdOrder() {
      if (!this.islogin()) {
        return false;
      }
      if (this.$store.state.blacklist) {
        return false;
      }
      this.defineTYPE = "createdOrder";
      let usermessage = JSON.parse(sessionStorage.getItem("usermessage"));
      // 判断用户有无手机号
      if (usermessage.mobile_account == "") {
        if (this.getIsWxClient()) {
          sessionStorage.setItem("logintype", "bind");
        } else {
          sessionStorage.setItem("logintype", "login");
        }
        this.$router.push({ path: "/login" });
        return false;
      }
      if (
        sessionStorage.getItem("from_v") == 2 ||
        (this.$route.query.from_v && this.$route.query.from_v == 2)
      ) {
        this.from_v = 2;
        sessionStorage.setItem("from_v", 2);
        if (
          sessionStorage.getItem("usermessage") &&
          JSON.parse(sessionStorage.getItem("usermessage")).mobile_account
        ) {
          this.searchUserIsCoordination();
        }
      }
      // 判断是否已经选择数量和规格
      if (this.show) {
        if (!this.goodsNum) {
          this.show = true;
          Toast("您还没有增加购买数量哦~");
          return false;
        }
        if (!this.SELECT_GOODS_INFO) {
          this.show = true;
          Toast("请选择规格~");
          return false;
        }
      }
      if (!this.goodsNum) {
        this.show = true;
        return false;
      }
      // 判断是不是需要关注公众号
      // if(this.goodsInfo.guanzhu == 1){
      //   this.is_follow = true;
      //   return false;
      // }
      let obj = [
        {
          goods_id: this.SELECT_GOODS_INFO.id,
          goods_num: this.goodsNum,
          car_id: -1,
          aid:
            sessionStorage.getItem("aid") || localStorage.getItem("aid") || -1
        }
      ];
      let str = JSON.stringify(obj);
      sessionStorage.setItem("order_list", Base64.encode(str));
      this.$router.push({
        path: "/sub_order",
        query: { coupon_id: this.coupon_id }
      });
    },

    /**
     * @Author: Deng
     * @Date: 2019-11-15 10:58:33
     * @Desc:  对比时间
     */

    contrastTime(evalue) {
      var arr = evalue.substr(0, 19).split(/[- : \/]/);
      var dB = new Date(arr[0], arr[1] - 1, arr[2], arr[3], arr[4], arr[5]);
      var d = new Date();
      if (Date.parse(d) > Date.parse(dB)) {
        //时间戳对比
        return 1;
      }
      return 0;
    },
    /**
     * @Author: Deng
     * @Date: 2019-11-15 10:57:49
     * @Desc:  获取详情
     */

    get_details(id) {
      const time = new Date().getTime();
      const obj = {
        id: id,
        stamp: time,
        user_id: localStorage.getItem("userId") || "",
        sign: MD5(id + "" + time + localStorage.getItem("oKey"))
      };
      axios
        .post(api + "/wxmp/info/goods/dogetGoodsinfo", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            document.setTitle(`商品详情【${res.data.data.act_name}】`);
            this.goodstype = res.data.goodstype;
            this.defaultTagPrize = res.data.defaultTagPrize;
            this.goodsInfo = res.data.data;
            this.goodsImages = res.data.goodsPlusList;
            this.get_details_path(res.data.goods_id);
            this.GET_COUPON_LIST();
            this.Distribution = res.data.data.if_ally;
            /* 判断是否有商品规格 */
            if (!this.goodstype.length) {
              // this.goodsNum = 1;
              this.SELECT_GOODS_INFO = {
                id: res.data.data.id,
                tag_title: res.data.data.act_name
              };
            } else {
              // this.SELECT_GOODS_INFO = this.goodstype.filter((v,i)=>{if(v.id == res.data.data.id)this.active = i;return v.id == res.data.data.id})[0];
            }

            if (this.contrastTime(res.data.data.begin_time)) {
              if (!this.contrastTime(res.data.data.end_time)) {
                this.buttonType = 0;
                if (res.data.goods_num - res.data.sell_num <= 0) {
                  //判断是否还有货
                  this.buttonType = 4;
                  this.negative = "手慢了，抢光了！";
                } else {
                  if (
                    !localStorage.getItem("userId") ||
                    !sessionStorage.getItem("usermessage")
                  ) {
                  } else {
                    //判断是否会员专享
                    let usermessage = JSON.parse(
                      sessionStorage.getItem("usermessage")
                    );
                    if (res.data.vip_result == 0) {
                      //判断是否团购
                      if (res.data.groupon == "1") {
                        //是团购，显示团购
                        this.buttonType = 5;
                      } else {
                        //不是团购，正常显示
                        //判断价钱是否纯积分
                        if (res.data.prize == 0) {
                          this.buttonType = 1;
                        } else {
                          this.buttonType = 0;
                        }
                      }
                      //开始判断时间
                      //先判断开始时间的情况（开始时间为空）
                      if (res.data.start_time_byday == "") {
                        //开始时间为空，结束时间为空，正常
                        if (res.data.end_time_byday == "") {
                          //正常显示
                          // this.buttonType = 0
                        } else {
                          //开始时间为空，结束不为空
                          if (!this.contrastTime(res.data.end_time_byday)) {
                            //判断当前时间是否超过结束时间
                            //没超过，正常显示
                            // this.buttonType = 0
                          } else {
                            //超过了，结束了
                            this.buttonType = 3;
                            this.negative = "抢购已结束，下次请早！";
                          }
                        }
                      } else {
                        //开始不为空
                        //结束为空
                        if (res.data.end_time_byday == "") {
                          //判断是否开始
                          if (this.contrastTime(res.data.start_time_byday)) {
                            //开始了，正常显示
                            // this.buttonType = 0
                          } else {
                            //还没开始呢
                            this.buttonType = 2;

                            this.negative = "您来早了，抢购未开始！";
                          }
                        } else {
                          //开始不为空，结束不为空
                          //判断是否开始
                          if (this.contrastTime(res.data.start_time_byday)) {
                            //开始出售，判断是否结束 start_time_byday
                            if (!this.contrastTime(res.data.end_time_byday)) {
                              //当前【未超过】结束时间 正常显示
                              // this.buttonType = 0
                            } else {
                              //当前【超过】结束时间  替换显示
                              this.buttonType = 3;
                              this.negative = "抢购已结束，下次请早！";
                            }
                          } else {
                            //未开始出售
                            this.buttonType = 2;
                            this.negative = "您来早了，抢购未开始！";
                          }
                        }
                      }
                    } else if (res.data.vip_result == 1) {
                      this.buttonType = 10;
                      this.negative = res.data.vip_msg;
                    } else if (res.data.vip_result == 2) {
                      this.buttonType = 4;
                      this.negative = res.data.vip_msg;
                    }
                  }
                }
              } else {
                this.buttonType = 4;
                this.negative = "抢购已结束，下次请早！";
              }
            } else {
              this.buttonType = 4;
              this.negative = "您来早了，抢购未开始！";
            }
            /* 判断购买类型 */
            if (res.data.point_type == "0") {
              /* 判断购买类型：为积分【加】现金 */
              if (res.data.point == "0") {
                //积分为零
                this.price = `￥${res.data.prize}`;
              } else {
                //积分不为零
                this.price =
                  res.data.prize == "0"
                    ? `${res.data.point}积分`
                    : `￥${res.data.prize}元+${res.data.point}积分`;
              }
            } else if (res.data.point_type == "1") {
              /* 判断购买类型：为积分【或】现金 */
              if (res.data.point == "0") {
                //积分为零
                this.price = `￥${res.data.prize}`;
              } else {
                if (res.data.prize == "0") {
                  this.price = `${res.data.point}积分`;
                } else {
                  this.price = `￥${res.data.prize}元或${res.data.point}积分`;
                }
              }
            }
            /* 设置分享 */
            let vm = this;
            if (this.Distribution && localStorage.getItem("userId")) {
              window.dataForWeixin = {
                appId: "",
                imgUrl: `${vm.goodsInfo.title_url}`, // get_post_weixin_thumb 为微信机器人高级版中的函数
                link:
                  "https://" +
                  window.location.host +
                  "/wxmp/api/share.jsp?gourl=" +
                  Base64.encode(
                    "https://js.51takeit.com/wxmp/index.html#/redirect?state=shop_details&shareId=" +
                      vm.goodsInfo.id +
                      "&aid=" +
                      localStorage.getItem("userId")
                  ),
                title: vm.goodsInfo.act_name,
                desc: "",
                fakeid: ""
              };
            } else {
              window.dataForWeixin = {
                appId: "",
                imgUrl: `${vm.goodsInfo.title_url}`, // get_post_weixin_thumb 为微信机器人高级版中的函数
                link:
                  "https://" +
                  window.location.host +
                  "/wxmp/api/share.jsp?gourl=" +
                  Base64.encode(
                    "https://js.51takeit.com/wxmp/index.html#/redirect?state=shop_details&shareId=" +
                      vm.goodsInfo.id
                  ),
                title: vm.goodsInfo.act_name,
                desc: "",
                fakeid: ""
              };
            }
            window.setShare();
            /* 筛选特定商品不做分享 */
            if (vm.goodsInfo.id == 30812 || vm.goodsInfo.id == 30813) {
              wx.ready(() => {
                wx.hideOptionMenu({
                  //要隐藏功能按钮（// 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮）
                  menuList: [
                    "menuItem:share:appMessage", //发送给朋友
                    "menuItem:share:timeline", //分享到朋友圈
                    "menuItem:share:qq", //分享到QQ
                    "menuItem:share:weiboApp", //分享到Weibo
                    "menuItem:share:favorite", //收藏
                    "menuItem:share:facebook", //分享到FB
                    "menuItem:share:QZone", //分享到 QQ 空间
                    "menuItem:copyUrl" //复制链接
                  ]
                });
              });
            }
          }
        });
    },
    /**
     * @Author: flydreame
     * @Date: 2019-11-15 16:18:31
     * @Desc: 根据id请求详情
     */

    get_details_path(id) {
      // eslint-disable-next-line no-undef
      axios
        .get("/wxmp/shop/contentnew.jsp?id=" + id)
        .then(res => {
          // // console.log("get_details_path -> res", res)
          this.goodsDetail = res.data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    /**
     * @Author: Deng
     * @Date: 2019-11-15 10:51:24
     * @Desc: 规格选择  item【商品标签对象】 index【商品标签索引】
     */

    setSpec(item, index) {
      this.active = index;
      this.SELECT_GOODS_INFO = { ...item };
      this.goodsNum = 1;
      this.$route.query.id = this.SELECT_GOODS_INFO.id;
      console.log(this.SELECT_GOODS_INFO);
      if (this.SELECT_GOODS_INFO.id != this.goodsInfo.id) {
        this.get_details(item.id);
      }
    },
    onChange(value) {
      console.log(value);
      this.goodsNum = value;
    },
    /**
     * @Author: Deng
     * @Date: 2019-11-15 10:59:32
     * @Desc: 点击ICON type【0首页 1客服 2购物车 3收藏】
     */

    onClickIcon(type) {
      if (type === 1) {
        if (
          sessionStorage.getItem("from_v") == 2 ||
          sessionStorage.getItem("from_v") == 3
        ) {
          if (!this.islogin()) {
            return false;
          }
          this.$router.push({ path: `/user` });
        } else {
          this.kefu = true;
        }
      } else if (type === 2) {
        // Toast('购物车');
        if (!this.islogin()) {
          return false;
        }
        this.$router.push({ path: `/cart` });
      } else if (type === 0) {
        // Toast('首页');
        if (
          sessionStorage.getItem("from_v") == 2 ||
          this.$route.query.from_v == 2
        ) {
          location.href =
            "https://js.51takeit.com/wxmp/act/2020/09/CDMA/zhekouka1.html";
        } else if (
          sessionStorage.getItem("from_v") == 3 ||
          this.$route.query.from_v == 3
        ) {
          location.href = "https://js.51takeit.com/wxmp/cmccindex.jsp";
        } else {
          this.$router.push({ path: `/index` });
        }
      } else if (type === 3) {
        if (!this.islogin()) {
          return false;
        }
        this.SET_SEARCH_GOOD_COLLECT(this.goodsInfo.id);
      }
    },
    /**
     * @Author: Deng
     * @Date: 2019-11-15 11:05:49
     * @Desc:  打开商品规格
     */

    onClickButton() {
      // Toast('点击按钮');
      this.show = true;
    },
    /**
     * @Author: Deng
     * @Date: 2019-11-15 11:06:52
     * @Desc:  添加购物车
     */

    AddShopCar() {
      if (!this.islogin()) {
        return false;
      }
      let usermessage = JSON.parse(sessionStorage.getItem("usermessage"));
      if (
        sessionStorage.getItem("from_v") == 2 ||
        (this.$route.query.from_v && this.$route.query.from_v == 2)
      ) {
        this.from_v = 2;
        sessionStorage.setItem("from_v", 2);
        if (
          sessionStorage.getItem("usermessage") &&
          JSON.parse(sessionStorage.getItem("usermessage")).mobile_account
        ) {
          this.searchUserIsCoordination();
        }
      }
      // 判断用户有无手机号
      if (usermessage && usermessage.mobile_account == "") {
        if (this.getIsWxClient()) {
          sessionStorage.setItem("logintype", "bind");
        } else {
          sessionStorage.setItem("logintype", "login");
        }
        this.$router.push({ path: "/login" });
        return false;
      }
      this.defineTYPE = "AddShopCar";
      if (!this.goodsNum) {
        this.show = true;
        Toast("您还没有增加购买数量哦~");
        return false;
      }
      if (!this.SELECT_GOODS_INFO.id) {
        this.show = true;
        Toast("请选择规格~");
        return false;
      }
      const time = new Date().getTime();
      const obj = {
        goods_id: this.SELECT_GOODS_INFO.id,
        aid: sessionStorage.getItem("aid") || -1,
        user_id: localStorage.getItem("userId"),
        sell_num: this.goodsNum,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            this.SELECT_GOODS_INFO.id +
            time +
            localStorage.getItem("oKey")
        )
      };
      console.log("AddShopCar -> obj", obj);
      // eslint-disable-next-line no-undef
      axios
        .post(api + "/wxmp/doShoppingCartAdd", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            Toast("商品成功加入购物车！");
            this.getShopList(1);
            this.show = false;
          } else {
            Toast.fail({
              duration: 2000,
              message: res.data.result + res.data.msg
            });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    //获取购物车数据
    getShopList(pageNum) {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        pageNum: pageNum,
        pageSize: 100,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            pageNum +
            "100" +
            time +
            "" +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/wxmp/doShoppingCartList", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            // this.shopCar = [...res.data.data];
            this.shopCar = 0; //必须初始化  不然添加购物车后会叠加数量
            res.data.data.forEach(v => {
              this.shopCar += v.shoppingCar.sell_num * 1;
            });
            // // console.log("getShopList -> this.shopCar", this.shopCar)
          } else if (res.data.result == 1019) {
            this.shopCar = 0;
          } else {
            Toast.fail({
              duration: 2000,
              message: res.data.result + res.data.msg
            });
          }
        });
    },
    getIsWxClient() {
      var ua = navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        return true;
      }
      return false;
    },
    /* 查询电信用户是否已办理指定套餐 */
    searchUserIsCoordination() {
      const STAMP = Date.now();
      const obj = {
        id: localStorage.getItem("userId"),
        stamp: STAMP,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            STAMP +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/wxmp/log/user/getUserTelCoordination", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            sessionStorage.setItem(
              "usermessage",
              JSON.stringify(res.data.data)
            );
            const GOODSID = this.$route.query.id
              ? this.$route.query.id
              : sessionStorage.getItem("shareId");
            this.get_details(GOODSID);
          } else if (res.data.result == 0) {
            sessionStorage.setItem("tishi", res.data.msg);
            // 亲，您还未订购省钱卡业，请先点击下面的链接前往订购！
            location.href =
              location.origin + "/wxmp/act/2020/09/CDMA/tishi.html?resType=0"; // 跳转至指定订购链接
          } else if (res.data.result == 2) {
            // 亲，省钱卡权益仅对上海电信用户开放，您无法享受该项权益！
            sessionStorage.setItem("tishi", res.data.msg);
            location.href =
              location.origin + "/wxmp/act/2020/09/CDMA/tishi.html?resType=2"; // 跳转至指定订购链接
          } else if (res.data.result == 1001 || res.data.result == 2001) {
            // 亲，省钱卡权益仅对上海电信用户开放，您无法享受该项权益！
            this.$router.push({ path: "/login" });
          } else {
            sessionStorage.setItem("tishi", res.data.msg);
            location.href =
              location.origin + "/wxmp/act/2020/09/CDMA/tishi.html?resType=3"; // 跳转至指定订购链接
          }
        });
    }
  },
  beforeDestroy() {
    clearTimeout(this.timer);
  }
};
</script>
<style lang="scss">
#shopdetail {
  .van-popup {
    overflow: visible;
    height: 11.2rem;
    padding: 0.8rem 0.31rem 0;
    box-sizing: border-box;
  }
  .van-popup--bottom.van-popup--round {
    border-radius: 0.2rem 0.2rem 0 0;
  }
  .van-notice-bar {
    position: fixed;
    bottom: 0.98rem;
    left: 0;
    box-sizing: border-box;
    width: 100%;
  }
  .van-swipe-item {
    display: flex;
    align-items: center;
  }
  .van-stepper__minus::before,
  .van-stepper__plus::before {
    width: 0.14rem;
    height: 1px;
  }
  .van-stepper__plus::after {
    height: 0.14rem;
    width: 1px;
  }
}
</style>
<style lang="scss" scoped>
html {
  position: relative;
}
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 6.2rem;
  height: 8.98rem;
}
.about {
  font-size: 0.28rem;
  text-align: left;
  position: absolute;
  z-index: 33;
  width: 100%;
  height: 100%;
  min-height: calc(100% + 1px);
  background: #f3f3f3;
  padding-bottom: 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  .goodsprize {
    width: 4.23rem;
    position: absolute;
    top: 0.34rem;
    left: 2.02rem;
    padding: 0.08rem;
    box-sizing: border-box;
    font-size: 0.34rem;
    color: #e90000;
  }
  .spec {
    width: 100%;
    text-align: left;
    padding: 0.3rem 0 0.6rem;
    box-sizing: border-box;

    h4 {
      font-size: 0.28rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #2e2e2e;
      line-height: 0.48rem;
      margin: 0;
    }
    .list {
      padding-top: 0.27rem;
      padding-bottom: 0.26rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      max-height: 5rem;
      overflow-y: scroll;
      touch-action: pan-y;
      -webkit-overflow-scrolling: touch;
      li {
        width: 3.26rem;
        height: 0.62rem;
        margin-right: 0.32rem;
        margin-bottom: 0.27rem;
        background: #ebebeb;
        border-radius: 0.05rem;
        line-height: 0.6rem;
        text-align: center;
        font-size: 0.26rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
      }
      li:nth-child(2n) {
        margin-right: 0;
      }
      li.active {
        background: #fff4bf;
        border: 0.01rem solid #ffd200;
        box-sizing: border-box;
      }
    }
    .step {
      display: flex;
      justify-content: space-between;
    }
  }

  .button_box {
    display: flex;
    min-width: 5rem;
    justify-content: space-around;
    align-items: center;
    height: 1.18rem;
    text-align: center;
    span {
      background: rgba(240, 240, 240, 1);
      border-radius: 0.7rem;
      width: 2.3rem;
      height: 0.7rem;
      line-height: 0.7rem;
      font-size: 0.3rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }
    .createdOrder {
      background: rgba(255, 210, 0, 1);
    }
    .buyVIP {
      width: 4.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      background: rgba(255, 210, 0, 1);
    }
    .negative {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
    }
  }
  // 规格弹出窗 确定按钮
  .button_box1 {
    display: flex;
    width: 100%;
    min-width: 5rem;
    justify-content: space-around;
    align-items: center;
    height: 0.98rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-top: 0.01rem solid #dddddd;
    margin-left: -0.31rem;
    span {
      background: rgba(240, 240, 240, 1);
      border-radius: 0.7rem;
      width: 2.3rem;
      height: 0.7rem;
      line-height: 0.7rem;
      font-size: 0.3rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }
    .define {
      width: 6.9rem;
      height: 0.8rem;
      line-height: 0.8rem;
      font-size: 0.36rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      background: rgba(255, 210, 0, 1);
    }
  }
  .shydhn {
    bottom: 0.78rem;
  }
  .select-goodsinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .goodsImg {
      display: block;
      width: 2.1rem;
      height: 2.1rem;
      border-radius: 0.1rem;
      box-sizing: border-box;
    }
    .select-goodsinfo_right {
      margin-left: 0.19rem;
      width: 4.59rem;
      h3 {
        font-size: 0.3rem;
        line-height: 0.4rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
      }
      p {
        margin-top: 0.2rem;
        color: #2d2d2d;
      }
      .select-content {
        font-size: 0.22rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(46, 46, 46, 1);
        margin-top: 0.2rem;
      }
      img {
        width: 0.35rem;
        height: 0.16rem;
      }
    }
  }

  .goodsAction {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1111;
    width: 100%;
    height: 0.98rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0.01rem 0.01rem 0.08rem rgba(221, 221, 221, 0.6);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 0.22rem;
    box-sizing: border-box;
    .goodsActionItem {
      width: 0.61rem;
      margin-right: 0.18rem;
      height: 100%;
      font-size: 0.2rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 0.44rem;
        height: 0.44rem;
        margin: 0;
      }
    }
    .kefu {
      // width: 0.44rem;
      margin-right: 0.12rem;
    }
    .shopCar {
      // width: 0.6rem;
      margin-right: 0.12rem;
      p {
        margin: 0;
      }
      .shopCarInfo {
        position: absolute;
        top: 0.05rem;
        right: -0.05rem;
        width: 0.3rem;
        height: 0.3rem;
        background: rgba(207, 31, 1, 1);
        border-radius: 50%;
        text-align: center;
        line-height: 0.3rem;
        font-size: 0.18rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .goodsAction--shydhn {
    bottom: 0.78rem;
  }
  // top
  .top {
    background: #fff;
    height: auto;
    border-radius: 0.1rem;
    .goodsInfo {
      width: 100%;
      height: 0.8rem;
      background-size: 7.5rem 0.94rem;
      background-position: 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .goodsInfo_left {
        width: 5.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #fff;
        padding-left: 0.2rem;
        font-size: 0.3rem;
        height: 100%;
        letter-spacing: 0;
      }
      .goodsInfo_right {
        width: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0.04rem;
        box-sizing: border-box;
        p {
          font-size: 0.2rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ff5110;
        }
        .item {
          display: inline-block;
          // width: 0.34rem;
          padding: 0 0.03rem;
          height: 0.34rem;
          margin-right: 0.11rem;
          font-size: 0.24rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          line-height: 0.34rem;
          background: #ff4f10;
          border-radius: 0.08rem;
          position: relative;
        }
        .item::after {
          content: ":";
          position: absolute;
          color: rgba(255, 29, 71, 1);
          right: -0.08rem;
        }
        .item:last-child:after {
          content: "";
          position: absolute;
          color: rgba(255, 29, 71, 1);
          right: -0.08rem;
        }
        .days {
          margin-right: 0.05rem;
          font-size: 0.24rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ff1d47;
          text-align: center;
          line-height: 0.44rem;
        }
      }
    }
  }
  //规格选择区
  .sect {
    margin-top: 0.18rem;
    width: 7.5rem;
    height: 0.98rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    font-size: 0.3rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.34rem;
    padding-right: 0.34rem;
    box-sizing: border-box;
    cursor: pointer;
    .sect-header {
      font-size: 0.28rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      margin-right: 0.26rem;
    }
    .sect-content {
      font-size: 0.24rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(46, 46, 46, 1);
    }
  }
  .goodsDetail {
    background: #fff;
    border-radius: 0.1rem;
    padding-top: 0.38rem;
    margin-top: 0.18rem;
    min-height: 4.8rem;

    h5 {
      width: 5rem;
      margin: 0 auto 0.39rem;
      font-size: 0.3rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 0.48rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    h5::before {
      content: "";
      display: block;
      height: 0.02rem;
      width: 1.7rem;
      background: #dddddd;
    }
    h5::after {
      content: "";
      display: block;
      height: 0.02rem;
      width: 1.7rem;
      background: #dddddd;
    }
  }
  .Showcase {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .Showcase_left {
      width: 5.75rem;
    }
    .Showcase_right {
      width: calc(100% - 5.75rem);
      padding-right: 0.2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;
      .right-item {
        width: 50%;
        padding-top: 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.24rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
        transition: all 0.5s;
        // &:active {
        //   transform: scale(0.9);
        // }
        span {
          margin-top: 0.1rem;
        }
      }
    }
  }
  .couponlist {
    margin-top: 0.47rem;
    max-height: 8.4rem;
    overflow-y: scroll;
    .couponlist-item {
      width: 6.86rem;
      height: 2.12rem;
      margin-bottom: 0.3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      .couponlist-item_left {
        width: 2.1rem;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .coupon_price {
          color: #c44e48;
          font-size: 0.68rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          span {
            font-size: 0.36rem;
          }
        }
        .coupon_pricemin {
          color: #c44e48;
          font-size: 0.26rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
        }
      }
      .couponlist-item_right {
        padding-left: 0.36rem;
        padding-top: 0.3rem;
        padding-bottom: 0.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        width: calc(100% - 3.76rem);
        height: 100%;
        .coupon_name {
          font-size: 0.3rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: rgba(46, 46, 46, 1);
        }
        .coupon_desc {
          font-size: 0.24rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: rgba(128, 128, 128, 1);
        }
        .coupon_date {
          font-size: 0.22rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: rgba(128, 128, 128, 1);
        }
      }
      .coupon_btn {
        width: 1.5rem;
        height: 0.5rem;
        background: rgba(196, 78, 72, 1);
        border-radius: 0.25rem;
        font-size: 0.24rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        line-height: 0.5rem;
      }
    }
  }
  /* 分享图片生成区 */
  .postmask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  #posterHtml {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: -1000;
    margin: auto;
    width: 6.2rem;
    height: 8.98rem;
    background: rgba(255, 255, 255, 1);

    img {
      width: 100%;
      height: 6.2rem;
    }
    .posterHtml-goodsinfo {
      width: 100%;
      height: 0.76rem;
      padding: 0 0.19rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.22rem;
      .posterHtml-goodsinfo_left {
        padding-right: 0.42rem;
        box-sizing: border-box;
        width: 3.79rem;
        font-size: 0.28rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(77, 77, 77, 1);
        line-height: 0.36rem;
        border-right: 0.01rem solid #dcdcdc;
      }
      .posterHtml-goodsinfo_right {
        width: calc(100% - 3.79rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0.76rem;
        p {
          width: 100%;
          padding-left: 0.2rem;
          box-sizing: border-box;
          text-align: left;
        }
      }
    }
    .posterHtml-rule {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0.23rem;
      padding-right: 0.25rem;
      margin-top: 0.3rem;
      box-sizing: border-box;
      .qrcode {
        width: 1.3rem;
        height: 1.3rem;
        // background: rgba(181, 181, 181, 1);
        margin-right: 0.12rem;
      }
      .posterHtml-rule_text {
        color: #999999;
        font-size: 0.24rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        margin-right: 0.3rem;
      }
      .logo {
        width: 0.88rem;
        height: 0.88rem;
      }
    }
  }
}
</style>
