<template>
  <div class="wrapper">
    <div class="title"
         style='background: url("./static/user/login_bg.png") center/cover no-repeat;'>
      <p>订单详情</p>
    </div>
    <div class="hollow-compose-many-circles">
      <div class="goods">
        <img src=""
             alt="">
        <p>已完成支付</p>
      </div>
      <p class="list">支付金额 <span style="margin-left:0.5rem;">39.9元</span></p>
      <p class="list">支付方式 <span style="margin-left:0.5rem;">微信支付</span></p>
      <p class="list">订单状态 <span style="margin-left:0.5rem;color:#009900;">已完成支付</span></p>
      <div class="btn suc"
           @click="GOIndex">继续订购</div>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
// import wx from 'weixin-jsapi'

Vue.use(Toast);
export default {
  name: "H5PaySuccess",
  data () {
    return {
      QueryNum: 0,
      IntervalObject: null,
      id: ''
    }
  },
  methods: {
    autoCheckOrderPay () {
      this.QueryNum = this.QueryNum + 1;
      if (this.QueryNum <= 5) {
        Toast(this.QueryNum)
        // this.CheckOrderPay();
      } else {
        clearInterval(this.IntervalObject);
      }
    },
    CheckOrderPay () {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem('userId'),
        oid: this.id,
        stamp: time,
        sign: MD5(localStorage.getItem('userId') + '' + this.id + '' + time + localStorage.getItem('Key')
        )
      };
      axios.post(api + '/wxmp/info/order/orderPayType', qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.is_pay == 1 || res.data.is_pay == 2) {
              if (res.data.data.forward_url) {
                if (/(https:\/)|(http:\/)/g.test(res.data.data.forward_url)) {
                  window.location.href = res.data.data.forward_url;
                } else {
                  this.$router.push({ path: res.data.data.forward_url, query: { vip_type: this.act_name } });
                }
              } else {
                this.$router.push({ path: "/pay_suc", query: { oid: this.id } });
              }
            } else {
              Toast('尚未完成支付！')
            }
          }
        })
    },
    GOIndex () {
      this.$router.push({ path: '/index' })
    },
  },
  created () {
    this.id = this.$route.query.id ? this.$route.query.id : sessionStorage.getItem('oid1');
    if (this.id) {
      this.IntervalObject = setInterval(() => {
        // this.autoCheckOrderPay();
      }, 15000)
    }
    setTimeout(() => {
      // location.href = sessionStorage.getItem('mweb_url');
    }, 1200)

  },
  mounted () { },
  destroyed () {
    clearInterval(this.IntervalObject);
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  width: 100%;
  height: 100%;
  background: #ffffff;
  .title {
    font-size: 0.48rem;
    font-family: Source Han Sans CN;
    color: #000000;
    width: 100%;
    height: 4.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      width: 100%;
      margin-top: -2rem;
    }
  }
  .btn {
    width: 6.3rem;
    height: 0.9rem;
    border: 0.02rem solid rgba(255, 210, 0, 1);
    border-radius: 0.45rem;
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.62rem;
  }
  .suc {
    background: rgba(255, 210, 0, 1);
  }
  .goods {
    width: 100%;
    height: 3.4rem;
    // background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 1.64rem;
      height: 1.64rem;
      background: #eee;
      margin-right: 0.25rem;
    }
    p {
      text-align: left;
      width: 3.22rem;
      font-size: 0.36rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(46, 46, 46, 1);
      line-height: 0.48rem;
    }
  }
  .list {
    font-size: 0.38rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(46, 46, 46, 1);
    margin: 1rem auto;
    text-align: left;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .hollow-compose-many-circles {
    width: 7rem;
    height: 11rem;
    position: relative;
    margin: auto;
    top: -2.2rem;
    background: radial-gradient(
          circle at right bottom,
          transparent 0.2rem,
          #fff 0
        )
        top right / 51% 3.4rem no-repeat,
      radial-gradient(circle at left bottom, transparent 0.2rem, #fff 0) top
        left / 51% 3.4rem no-repeat,
      radial-gradient(circle at right top, transparent 0.2rem, #fff 0) bottom
        right / 51% 7.6rem no-repeat,
      radial-gradient(circle at left top, transparent 0.2rem, #fff 0) bottom
        left / 51% 7.6rem no-repeat;
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.2));
  }

  .hollow-compose-many-circles::before {
    content: "";
    width: 6.4rem;
    border: 0.01rem dashed #eee;
    position: absolute;
    left: 0;
    right: 0;
    top: 3.4rem;
    margin: auto;
  }

  .hollow-compose-many-circles::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 100%;
    left: 0;
    bottom: -0.2rem;
    background-image: radial-gradient(
      0.4rem circle at 0.4rem 0.2rem,
      transparent 0.2rem,
      #fff 0.2rem
    );
    background-size: 0.6rem 0.3rem;
    background-repeat: repeat-x;
  }
}
</style>