<template>
  <div class="wrapper">
    <div
      class="title"
      style="background: url('./static/user/login_bg1.png') center/cover no-repeat;"
    >
      <p>是否已支付成功？</p>
    </div>
    <div class="btn suc" @click="CheckOrderPay">已完成支付</div>
    <div class="btn" @click="toBACK">支付遇到问题 重新支付</div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";

Vue.use(Toast);
export default {
  name: "H5WaitOrderPay",
  data() {
    return {
      QueryNum: 0,
      IntervalObject: null,
      id: ""
    };
  },
  methods: {
    toBACK() {
      this.$router.push({ path: "/sub_order" });
    },
    autoCheckOrderPay() {
      this.QueryNum = this.QueryNum + 1;
      if (this.QueryNum <= 5) {
        Toast(this.QueryNum);
        this.CheckOrderPay();
      } else {
        clearInterval(this.IntervalObject);
      }
    },
    CheckOrderPay() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        oid: this.id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.id +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post("/api/wxmp/info/order/orderPayType", qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.is_pay == 1 || res.data.is_pay == 2) {
              if (res.data.data.forward_url) {
                if (/(https:\/)|(http:\/)/g.test(res.data.data.forward_url)) {
                  window.location.href = res.data.data.forward_url;
                } else {
                  this.$router.push({
                    path: res.data.data.forward_url,
                    query: { vip_type: this.act_name }
                  });
                }
              } else {
                this.$router.push({
                  path: "/pay_suc",
                  query: { oid: this.id }
                });
              }
            } else {
              Toast("尚未完成支付！");
            }
          }
        });
    },
    getTokenData() {
      let time = new Date().getTime();
      let obj = {
        token: this.token,
        code: this.code,
        stamp: time,
        sign: MD5(this.token + "" + time + localStorage.getItem("oKey"))
      };
      axios.post("/api/user/loginByOrderToken", qs.stringify(obj)).then(res => {
        console.log(res);
        if (res.data.result == 1) {
          let usermessage = res.data.data;
          let oid = res.data.dataOrder.id;
          this.id = oid;
          localStorage.setItem("userId", usermessage.id);
          sessionStorage.setItem("usermessage", JSON.stringify(usermessage));
          sessionStorage.setItem("order_id", oid);
          localStorage.setItem(
            "token",
            new Date().getTime() + 24 * 60 * 60 * 1000
          );
          this.get_key();
        } else {
          Toast(res.data.result + " " + res.data.msg);
        }
      });
    },
    get_key() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time
      };
      axios
        .post("/api/wxmp/log/user/getUserIDKey", qs.stringify(obj))
        .then(res => {
          // 如果绑定过用户，就跳到个人中心，否则就跳到绑定用户；
          if (res.data.result == 1) {
            let key_length = res.data.key_length;
            let deskey_length = res.data.deskey_length;
            let Key = Base64.decode(res.data.key)
              .trim()
              .substr(0, key_length);
            let des = Base64.decode(res.data.deskey)
              .trim()
              .substr(0, deskey_length);
            localStorage.setItem("Key", Key);
            localStorage.setItem("des", des);
            this.CheckOrderPay();
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    // 判断是哪个流程 1.APP 内嵌 跳转微信支付  2.浏览器跳转微信支付

    /* 判断本地是否有 Key oid uerId */
    if (this.$route.query.id) {
      //本地有信息 原路径跳转
      this.id = this.$route.query.id
        ? this.$route.query.id
        : sessionStorage.getItem("oid1");
      if (this.id) {
        this.IntervalObject = setInterval(() => {
          this.autoCheckOrderPay();
        }, 15000);
        setTimeout(() => {
          let mweb_url = sessionStorage.getItem("mweb_url");
          // console.log(mweb_url)
          location.href = mweb_url;
        }, 1200);
      }
    } else {
      //本地没有信息 非原路径跳转
      this.token = this.$route.query.token;
      this.code = this.$route.query.code;
      this.getTokenData();
    }
  },
  mounted() {},
  destroyed() {
    clearInterval(this.IntervalObject);
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  width: 100%;
  height: 100%;
  background: #ffffff;
  .title {
    font-size: 0.34rem;
    font-family: Source Han Sans CN;
    color: #000000;
    width: 100%;
    height: 4.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.13rem;
    p {
      width: 100%;
      margin-top: 1.8rem;
    }
  }
  .btn {
    width: 6.3rem;
    height: 0.9rem;
    border: 0.02rem solid rgba(255, 210, 0, 1);
    border-radius: 0.45rem;
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.62rem;
  }
  .suc {
    background: rgba(255, 210, 0, 1);
  }
}
</style>