<template>
  <!-- 举手基本支付页面 仅做支付接口的调用  通过订单号调用支付接口 -->
  <div class="sure_order">
    <div class="address"
         v-if="order_details.addr_type!=''&& order_details.e_ticket==0"
         @click="choice(order_details.id)">
      <div class="left">
        <img src="@/../public/static/shop/adress.png"
             alt="">
      </div>
      <div class="center">
        <div class="center_top">{{order_details.username}}{{order_details.mobile}}</div>
        <div class="center_bottom">{{order_details.province}}{{order_details.city}}{{order_details.district}} {{order_details.address}}</div>
      </div>
      <div class="right">
        <img src="@/../public/static/user/more.png"
             alt>
      </div>
    </div>
    <div class="address"
         v-if="order_details.addr_type ==''&& order_details.e_ticket==0"
         @click="choice(order_details.id)">
      <div class="new_add_adress">
        <div>+</div>
        <div>添加新地址</div>
      </div>
    </div>
    <div class="order_number">订单编号：{{order_details.id}}</div>
    <div class="shop_list">
      <div class="list"
           v-for="(etim,index) in  order_details.recordarray"
           :key="index">
        <div class="list_left">
          <img :src="etim.title_url"
               alt="">
        </div>
        <div class="list_right">
          <div class="list_name">{{etim.act_name}}</div>
          <div class="list_specifications">
            <div class="specifications_left"></div>
            <div class="specifications_right">数量{{etim.sell_num}}</div>
          </div>
          <div class="price">{{order_prize[index]}}</div>
        </div>
      </div>
    </div>
    <div class="shop_set">
      <div class="discount_code">
        <div class="name">优惠券</div>
        <div class="code_name">{{order_details.coupon_name?order_details.coupon_name:'无'}}</div>
        <!--<img :src="config_host?config_host+'/wxmp/static/user/more.png':''" alt>-->
      </div>
      <div class="discount_code">
        <div class="name">运费</div>
        <div class="freight">{{shop_postage}}</div>
      </div>
      <div class="discount_code">
        <div class="name">积分抵扣</div>
        <div class="freight">{{order_details.deduction_point}}分</div>
      </div>
      <div class="discount_code" v-if="order_details.goods_discount_value*1">
        <div class="name">满减金额</div>
        <div class="prize">￥{{(order_details.goods_discount_value/100).toFixed(2)}}</div>
      </div>
    </div>
    <div class="total_price">
      <div class="name">总价</div>
      <div class="prize">{{price}}</div>
    </div>
    <div class="pay_list">
      <div class="wx_pay">
        <img src="@/../public/static/shop/weixin.png"
             alt="">
        <div>微信支付</div>
      </div>
    </div>
    <div :class="apptype==''?'sub_order':'yidong'"
         @click="order_pay()">{{(order_details.total_fee * 1 + order_details.total_postage * 1) == 0? '立即领取':"立即付款"}}</div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";

Vue.use(Toast);
export default {
  name: "pay_order",
  data () {
    return {
      new_add: false,
      order_details: [],
      order_prize: [],  //商品价钱
      price: '', //总价
      shop_price: '',  //商品总额
      shop_postage: '',  //商品运费,
      id: '',  //订单id
      shop_type: [], //商品类型
      act_name: '',
      mweb_url: ''
    }
  },
  created () {
    /shydhn/g.test(window.navigator.userAgent) ? this.apptype = 'shydhn' : this.apptype = '';
    this.id = this.$route.query.id;
    this.get_order_detaild(this.id);
  },
  mounted(){
    document.title = '去付款'
  },
  methods: {
    //拉取订单是否支付成功
    order_stush () {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem('userId'),
        oid: this.id,
        stamp: time,
        sign: MD5(localStorage.getItem('userId') + '' + this.id + '' + time + localStorage.getItem('Key')
        )
      };
      axios.post(api + '/wxmp/info/order/orderPayType', qs.stringify(obj))
        .then(res => {
          console.log(res);
          if (res.data.result == 1) {
            if (res.data.is_pay == 1 || res.data.is_pay == 2) {
              // window.location.href=`https://vote.com/wxmp/index.html#/pay_suc`;

              if (res.data.data.forward_url) {
                if (/(https:\/)|(http:\/)/g.test(res.data.data.forward_url)) {
                  window.location.href = res.data.data.forward_url;
                } else {
                  this.$router.push({ path: res.data.data.forward_url, query: { vip_type: this.act_name } });
                }
              } else {
                this.$router.push({ path: "/pay_suc", query: { oid: this.id } });
              }
            } else {
              setTimeout(() => { this.order_stush() }, 8000)
            }
          }
        })

    },
    //订单支付
    order_pay () {
      let that = this;
      if (this.order_details.addr_type == '' && this.shop_type.indexOf('1') == -1) {
        Toast('请选择地址');
        return false;
      }
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem('userId'),
        oid: this.id,
        stamp: time,
        sign: MD5(localStorage.getItem('userId') + '' + this.id + '' + time + localStorage.getItem('Key')
        )
      };
      axios.post(api + '/wxmp/info/order/payOrder', qs.stringify(obj))
        .then(res => {
          console.log(res)
          if (res.data.result == 1) {
            if (this.order_details.total_fee * 1 + this.order_details.total_postage * 1 == 0) {
              if (res.data.wait_pay) {
                that.order_stush();
              } else {
                if (res.data.data.forward_url) {
                  if (/(https:\/)|(http:\/)/g.test(res.data.data.forward_url)) {
                    window.location.href = res.data.data.forward_url;
                  } else {
                    this.$router.push({ path: res.data.data.forward_url, query: { vip_type: this.act_name } });
                  }
                } else {
                  this.$router.push({ path: "/pay_suc", query: { oid: this.id } });
                }
              }
            } else {
              var ua = navigator.userAgent.toLowerCase();
              if (ua.match(/MicroMessenger/i) == "micromessenger") {
                WeixinJSBridge.invoke(
                  "getBrandWCPayRequest", {
                  "appId": res.data.appId,
                  "timeStamp": res.data.timeStamp,
                  "nonceStr": res.data.nonceStr,
                  "package": res.data.package,
                  "signType": res.data.signType,
                  "paySign": res.data.paySign
                },
                  function (res_suc) {
                    console.log(res_suc);
                    if (res_suc.err_msg == "get_brand_wcpay_request:ok") {
                      if (res.data.wait_pay) {
                        that.order_stush();
                      } else {
                        if (res.data.data.forward_url) {
                          if (/(https:\/)|(http:\/)/g.test(res.data.data.forward_url)) {
                            window.location.href = res.data.data.forward_url;
                          } else {
                            this.$router.push({ path: res.data.data.forward_url, query: { vip_type: this.act_name } });
                          }
                        } else {
                          this.$router.push({ path: "/pay_suc", query: { oid: this.id } });
                        }
                      }
                    }
                  }
                );
              } else {
                this.mweb_url = res.data.mweb_url;
                sessionStorage.setItem('mweb_url', res.data.mweb_url)
                this.$router.push({ path: '/h5waitorderpay', query: { id: this.id } })
                // location.href = res.data.mweb_url;
              }

            }
          } else {
            Toast(res.data.msg);
          }
        })

    },
    choice (id) {
      this.$router.push({ path: "/usera/address", query: { order_id: id } });
    },
    get_order_detaild (id) {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem('userId'),
        id,
        stamp: time,
        sign: MD5(id + '' + time + localStorage.getItem('Key')
        )
      };
      axios.post(api + '/wxmp/info/order/doGoodsOrderRecord', qs.stringify(obj))
        .then(res => {
          if (res.data.result == '1') {
            this.order_details = res.data.data;
            this.act_name = res.data.data.act_name;
            this.shop_price = `￥${((this.order_details.total_fee * 1) * 0.01).toFixed(2)}`
            this.shop_postage = `￥${((this.order_details.total_postage * 1) * 0.01).toFixed(2)}`
            let order_list = res.data.data.recordarray;
            for (let i = 0; i < order_list.length; i++) {
              this.shop_type.push(order_list[i].e_ticket);
              console.log(this.shop_type);
            }
            for (let i = 0; i < order_list.length; i++) {
              let price = '';
              if (order_list[i].point == '0') {
                //积分为零
                price = `￥${((order_list[i].prize * 1) * 0.01).toFixed(2)}`
              } else {
                if ((order_list[i].prize * 1) * 0.01 == '0') {
                  price = `${order_list[i].point}积分`
                } else {
                  price = `￥${((order_list[i].prize * 1) * 0.01).toFixed(2)}+${order_list[i].point}积分`
                }
              }
              this.order_prize.push(price);
            }
            if (this.order_details.total_point == '0') {
              //积分为零
              this.price = `￥${((this.order_details.total_fee * 1 + this.order_details.total_postage * 1) * 0.01).toFixed(2)}`
            } else {
              if ((this.order_details.total_fee * 1 + this.order_details.total_postage * 1) * 0.01 == '0') {
                this.price = `${this.order_details.total_point}积分`
              } else {
                this.price = `￥${((this.order_details.total_fee * 1 + this.order_details.total_postage * 1) * 0.01).toFixed(2)}+${this.order_details.total_point}积分`
              }
            }

          }
        })

    }
  }
}
</script>

<style scoped lang="scss">
.sure_order {
  background: rgba(244, 244, 244, 1);
  min-height: 100vh;
  width: 100%;
  padding-bottom: 0.88rem;
  .address {
    width: 100%;
    min-height: 1.78rem;
    padding: 0.3rem 0.32rem;
    box-sizing: border-box;
    border-bottom: 0.16rem solid rgba(244, 244, 244, 1);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    .left {
      width: 0.32rem;
      height: 0.39rem;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .center {
      width: 85%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: left;
      .center_top {
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        margin-bottom: 0.19rem;
      }
      .center_bottom {
        color: rgba(102, 102, 102, 1);
        font-size: 0.28rem;
      }
    }
    .right {
      width: 0.14rem;
      height: 0.25rem;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .new_add_adress {
      width: fit-content;
      text-align: center;
      font-size: 0.32rem;
      color: rgba(102, 102, 102, 1);
      display: flex;
      margin: 0 auto;
      div {
        font-size: 0.7rem;
        margin-right: 0.2rem;
      }
      div:last-child {
        font-size: 0.32rem;
        line-height: 1rem;
      }
    }
  }
  .order_number {
    text-align: left;
    width: 100%;
    height: 0.87rem;
    padding-left: 0.32rem;
    box-sizing: border-box;
    font-size: 0.28rem;
    color: rgba(51, 51, 51, 1);
    line-height: 0.87rem;
    background: #ffffff;
    border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
  }
  .shop_list {
    width: 100%;
    height: auto;
    padding: 0 0.32rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
    background: #ffffff;
    .list {
      width: 100%;
      padding: 0.32rem 0;
      height: 1.34rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
      .list_left {
        width: 1.34rem;
        height: 1.34rem;
        img {
          display: block;
          width: 100%;
          height: 100%;
          background: #f0f0f0;
        }
      }
      .list_right {
        height: 100%;
        flex: 1;
        margin-left: 0.24rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: left;
        .list_name {
          color: rgba(51, 51, 51, 1);
          font-size: 0.32rem;
        }
        .list_specifications {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .specifications_left {
            color: rgba(153, 153, 153, 1);
            font-size: 0.22rem;
          }
          .specifications_right {
            color: rgba(153, 153, 153, 1);
            font-size: 0.24rem;
          }
        }
        .price {
          color: rgba(34, 34, 34, 1);
          font-size: 0.3rem;
        }
      }
    }
    .list:last-child {
      border-bottom: none;
    }
  }
  .shop_set {
    width: 100%;
    padding: 0 0.32rem;
    box-sizing: border-box;
    background: #ffffff;
    .discount_code {
      width: 100%;
      height: 0.88rem;
      border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      top: 0;
      left: 0;
      .name {
        font-size: 0.3rem;
        color: rgba(51, 51, 51, 1);
      }
      .code_name {
        font-size: 0.26rem;
        color: rgba(51, 51, 51, 1);
        position: absolute;
        right: 0.28rem;
      }
      img {
        display: block;
        width: 0.14rem;
        height: 0.25rem;
        transform: translateY(4rem);
      }
      .freight {
        font-size: 0.3rem;
        color: rgba(51, 51, 51, 1);
      }
    }
  }
  .total_price {
    background: #ffffff;
    width: 100%;
    height: 1.06rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.32rem;
    box-sizing: border-box;
    .name {
      font-size: 0.3rem;
      color: rgba(102, 102, 102, 1);
    }
    .prize {
      font-size: 0.3rem;
      color: rgba(254, 56, 36, 1);
      font-weight: bold;
    }
  }
  .pay_list {
    width: 100%;
    height: auto;
    background: #ffffff;
    padding-left: 0.29rem;
    box-sizing: border-box;
    margin-top: 0.16rem;
    .wx_pay {
      width: 100%;
      height: 0.92rem;
      display: flex;
      align-items: center;
      img {
        display: block;
        width: 0.51rem;
        height: 0.51rem;
        margin-right: 0.15rem;
      }
      div {
        font-size: 0.3rem;
        color: rgba(102, 102, 102, 1);
      }
    }
  }
  .sub_order {
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    color: rgba(51, 51, 51, 1);
    line-height: 0.88rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #fccb2f;
  }
  .yidong {
    width: 100%;
    height: 0.88rem;
    font-size: 0.3rem;
    color: rgba(51, 51, 51, 1);
    line-height: 0.88rem;
    text-align: center;
    position: fixed;
    bottom: 0.88rem;
    left: 0;
    z-index: 999;
    background: #fccb2f;
  }
}
</style>