<template>
  <div class="pay_suc">
    <div class="top">
      <img src="@/../public/static/shop/suc_pay1.png" alt />
      <div class="pay_staus">购买成功</div>

      <div>
        <img
          src="@/../public/static/shop/WeChat.png"
          alt
          style="display: block;width: 2.6rem;height: 2.6rem;background: #eee;margin-top: .2rem;"
        />
        <p
          style="display: block;color:#eb9100;height: .8rem;width:6.8rem;margin: .1rem auto 0;font-size: .26rem;line-height: .4rem;"
        >
          请长按上方二维码关注“举手来了”公众号
          <br />查询您的订单信息和更多会员优惠！
        </p>
      </div>
      <div class="btnbox">
        <div class="btn_look" @click="return_index()">返回首页</div>
        <div class="btn_look" v-if="button_des" @click="goto_order_list()">查看订单</div>
        <div class="btn_look" v-else @click="more_active()">更多活动</div>
      </div>
    </div>
    <div class="bottom" v-if="GOOD_LIST.length">
      <div
        class="title"
        style="background-image:url('./static/shop/suc_pay-recommend.png')"
      >{{randomNum}}% 的优选客都推荐的优选好物</div>
      <ul class="goodslist">
        <li
          class="goodslist-item"
          v-for="item in GOOD_LIST"
          :key="item.id"
          @click="GoodDetail(item.id)"
        >
          <img :src="item.title_url" alt class="goodsImg" />
          <div class="right">
            <div class="goods-name van-ellipsis">{{item.act_name}}</div>
            <div class="goods-desc van-multi-ellipsis--l2">{{item.descr}}</div>
            <div class="goods-price">
              <span>¥</span>
              {{(item.prize/100).toFixed(2)}}
              <div v-if="item.vip_prize*1" class="vip-price">
                {{(item.vip_prize/100).toFixed(2)}}
                <img src="@/../public/static/goods/vip.png" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
import { Divider } from "vant";

Vue.use(Toast).use(Divider);
import GoodList from "../../components/list";
export default {
  data() {
    return {
      button_des: true,
      applet_forward_url: "",
      GOOD_LIST: [],
      GOOD_LIST_SHOW: false,
      randomNum: parseInt(Math.random() * (97 - 91) + 92, 10)
    };
  },
  methods: {
    //返回首页
    return_index() {
      if (sessionStorage.getItem("from_v") == 2) {
        location.href = "/wxmp/act/2020/09/CDMA/zhekouka1.html";
      } else if (sessionStorage.getItem("from_v") == 3) {
        location.href = "/wxmp/cmccindex.jsp";
      } else {
        this.$router.push({ path: "/index" });
      }
    },
    //查看我的订单
    goto_order_list() {
      // this.$router.push({path:"/all_order",query:{active:1}});
      this.$router.push({ path: `/all_order`, query: { active: 1 } });
    },
    /* 获取商品LIST */
    GET_GOOD_LIST() {
      console.log(1111);
      const time = new Date().getTime();
      // CLASS_ID = 1 热销 2 推荐
      const axiosurl = "/api/wxmp/info/goods/getRecommendGoodsOrderbyClass";
      let order_id = this.oid;
      // let order_id = '20581';
      const obj = {
        order_id: order_id,
        stamp: time,
        sign: MD5(order_id + time + "" + localStorage.getItem("oKey"))
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        this.GOOD_LIST_SHOW = true;
        if (res.data.result == 1 && res.data.dataList) {
          this.GOOD_LIST = [...res.data.dataList];
          this.GOOD_LIST_SHOW = true;
        } else {
          this.GOOD_LIST = [];
        }
      });
    },
    /* 跳转商品详情 */
    GoodDetail(id) {
      this.$router.push({ path: "shop_details", query: { id: id } });
    }
  },
  created() {
    if (this.$route.query.applet_forward_url) {
      this.button_des = true;
      this.applet_forward_url = this.$route.query.applet_forward_url;
    }
    if (this.$route.query.oid) {
      this.oid = this.$route.query.oid;
    }
    this.GET_GOOD_LIST();
  },
  mounted() {
    document.title = "购买成功！";
  }
};
</script>
<style scoped lang="scss">
.pay_suc {
  width: 100%;
  height: 100vh;
  background: #f1eff2;
  overflow: auto;
  text-align: center;
  .top {
    padding: 0.39rem 0 0.44rem;
    background: #ffffff;
    margin-bottom: 0.2rem;
    img {
      display: block;
      width: 0.82rem;
      height: 0.82rem;
      margin: 0 auto;
    }
    .pay_staus {
      font-size: 0.4rem;
      color: rgba(34, 34, 34, 1);
      font-weight: bold;
      margin-top: 0.33rem;
    }
    .pay_des {
      font-size: 0.32rem;
      color: rgba(102, 102, 102, 1);
      margin-top: 0.3rem;
    }
    .pay_tell {
      color: rgba(153, 153, 153, 1);
      font-size: 0.26rem;
      margin-top: 0.21rem;
    }
    .pay_phone {
      color: rgba(76, 174, 235, 1);
      font-size: 0.24rem;
      margin-top: 0.15rem;
    }

    .btnbox {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 0.46rem;
      width: 100%;
      font-size: 0.3rem;
      font-family: Source Han Sans CN;
      color: #2e2e2e;
      .return_index {
        width: 2.2rem;
        height: 0.6rem;
        border-radius: 0.45rem;
        line-height: 0.6rem;
      }
      .btn_look {
        width: 2.2rem;
        height: 0.6rem;
        background: linear-gradient(
          154deg,
          rgba(255, 210, 0, 1) 0%,
          rgba(252, 202, 55, 1) 100%
        );
        border-radius: 0.45rem;
        line-height: 0.6rem;
      }
    }
  }
  .bottom {
    background: #ffffff;
    .title {
      width: 100%;
      height: 1.33rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      font-size: 0.4rem;
      font-family: Source Han Sans CN;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      line-height: 1.1rem;
      letter-spacing: 0.02rem;
    }
    .goodslist {
      padding-top: 0.2rem;
      .goodslist-item {
        padding: 0 0.32rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 2.38rem;
        .goodsImg {
          width: 2.16rem;
          height: 2.16rem;
        }

        .right {
          width: calc(100% - 2.35rem);
          height: 100%;
          box-sizing: border-box;
          padding-top: 0.14rem;
          margin-left: 0.19rem;
          text-align: left;
          border-top: 0.01rem solid #ebebeb;

          .goods-name {
            font-size: 0.32rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
          }
          .goods-desc {
            font-size: 0.28rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: rgba(128, 128, 128, 1);
            margin-top: 0.08rem;
            height: 1rem;
          }
          .goods-price {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            align-content: center;
            font-size: 0.41rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: rgba(233, 0, 0, 1);
            span {
              font-size: 0.32rem;
            }
            .vip-price {
              margin-left: 0.15rem;
              display: flex;
              justify-content: flex-start;
              align-items: baseline;
              align-content: center;
              font-size: 0.32rem;
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: rgba(45, 45, 45, 1);
              img {
                width: 0.46rem;
                height: 0.21rem;
                margin-left: 0.08rem;
              }
            }
          }
        }
        &:first-child .right {
          border-top: none;
        }
      }
    }
  }
}
</style>