<template>
  <div class="about" :class="apptype == 'shydhn' ? 'shydhn' : ''">
    <!-- 顶部操作栏 -->
    <van-sticky>
      <div class="top">
        <div class="top_left">
          <van-icon name="shopping-cart-o" size=".34rem" />
          <span>我的购物车</span>
        </div>
        <div class="manage_btn" @click="edit">
          {{ subshow ? "完成" : "编辑" }}
        </div>
      </div>
    </van-sticky>
    <!-- 购物车列表 -->
    <van-checkbox-group
      v-model="result"
      ref="checkboxGroup"
      class="shoplist"
      v-if="shopcarList.length || !finished"
    >
      <van-swipe-cell
        v-for="(goodsItem, key) in shopcarList"
        :key="key"
        class="item"
        :style="{
          marginTop:
            goodsItem.discountText == 1 || goodsItem.discountText
              ? '0.2rem'
              : '',
          borderTopLeftRadius:
            goodsItem.goods_discount_first == 1 ? '0.16rem' : '',
          borderTopRightRadius:
            goodsItem.goods_discount_first == 1 ? '0.16rem' : '',
          borderBottomLeftRadius:
            goodsItem.goods_discount_last == 1 ? '0.16rem' : '',
          borderBottomRightRadius:
            goodsItem.goods_discount_last == 1 ? '0.16rem' : ''
        }"
      >
        <!-- <p style="line-height: 0.7rem;text-align: left;padding-left:0.3rem;box-sizing: border-box;" v-if="goodsItem.discountText==1">没有优惠</p> -->
        <p
          class="van-multi-ellipsis--l2"
          style="line-height: 0.46rem;padding: 0.1rem 0.1rem 0rem 0.4rem;text-align: left;box-sizing: border-box;letter-spacing: 0.01rem;"
          v-if="goodsItem.discountText != 1 && goodsItem.discountText"
        >
          <van-tag color="#ff0303" text-color="#ffff">满减</van-tag>
          {{ goodsItem.discountText }}
        </p>
        <div class="content">
          <van-checkbox
            checked-color="#ffd200"
            :name="goodsItem.goods.id"
            class="con_l"
          />
          <van-image
            width="1.64rem"
            height="1.64rem"
            lazy-load
            :src="goodsItem.goods.title_url"
            @click="goodSkip(goodsItem.goods.id)"
          />
          <div class="con_r">
            <h4 @click="goodSkip(goodsItem.goods.id)">
              {{ goodsItem.goods.act_name }}
            </h4>
            <div class="con_r_b">
              <div class="b_l">
                <van-tag
                  style="padding:0.2em 0.2rem"
                  v-if="goodsItem.goods.tag_title"
                  color="#f4f4f4"
                  text-color="#666666"
                  >{{ goodsItem.goods.tag_title }}</van-tag
                >
                <div v-else class="empty_h20" style="height:0.4rem"></div>
                <div class="price_point">
                  <div>
                    <span style="font-size:.2rem;">{{
                      goodsItem.goods.prize * 1 ? "¥" : ""
                    }}</span>
                    <span
                      >{{
                        goodsItem.goods.prize * 1
                          ? (goodsItem.goods.prize / 100).toFixed(2)
                          : ""
                      }}{{
                        goodsItem.goods.prize == 0 || goodsItem.goods.point == 0
                          ? ""
                          : "+"
                      }}{{
                        goodsItem.goods.point * 1
                          ? (goodsItem.goods.point > 10000
                              ? goodsItem.goods.point / 10000 + "w"
                              : goodsItem.goods.point) + "积分"
                          : ""
                      }}</span
                    >
                  </div>
                  <span
                    v-if="
                      goodsItem.goods.is_vip * 1 > 0 &&
                        goodsItem.goods.vip_prize * 1 &&
                        goodsItem.goods.vip_prize * 1 <
                          goodsItem.goods.prize * 1
                    "
                    style="font-size:.2rem;"
                    >{{ goodsItem.goods.vip_prize * 1 ? "¥" : "" }}</span
                  >
                  <span
                    v-if="
                      goodsItem.goods.is_vip * 1 > 0 &&
                        goodsItem.goods.vip_prize * 1 &&
                        goodsItem.goods.vip_prize * 1 <
                          goodsItem.goods.prize * 1
                    "
                    style="font-weight:400;font-size:.3rem;"
                    >{{
                      goodsItem.goods.vip_prize * 1
                        ? (goodsItem.goods.vip_prize / 100).toFixed(2)
                        : ""
                    }}{{
                      goodsItem.goods.vip_prize == 0 ||
                      goodsItem.goods.vip_point == 0
                        ? ""
                        : "+"
                    }}{{
                      goodsItem.goods.vip_point * 1
                        ? (goodsItem.goods.vip_point > 10000
                            ? goodsItem.goods.vip_point / 10000 + "w"
                            : goodsItem.goods.vip_point) + "积分"
                        : ""
                    }}</span
                  >
                  <img
                    v-if="
                      goodsItem.goods.is_vip * 1 > 0 &&
                        goodsItem.goods.vip_prize * 1 &&
                        goodsItem.goods.vip_prize * 1 <
                          goodsItem.goods.prize * 1
                    "
                    src="@/../public/static/goods/vip.png"
                    alt
                    style="width:.4rem;height:.2rem;display:inline-block;margin-left:.08rem;"
                  />
                </div>
              </div>
              <div class="b_r">
                <van-stepper
                  :value="goodsItem.shoppingCar.sell_num"
                  disable-input
                  button-size="20"
                  @blur="onChange($event, goodsItem, key)"
                  @plus="onPlus($event, goodsItem, key)"
                  @minus="onMinus($event, goodsItem, key)"
                />
              </div>
            </div>
          </div>
        </div>
        <template #right>
          <van-button
            text="删除"
            type="danger"
            class="delete-button"
            @click="deleteSection(goodsItem, key)"
          />
        </template>
      </van-swipe-cell>
    </van-checkbox-group>
    <!-- 空购物车 -->
    <div class="card_no" v-if="!shopcarList.length && finished">
      <van-empty
        class="custom-image"
        image="https://js.51takeit.com/wxmp/static/shop/shopcarno.png"
      />
    </div>
    <!-- 热门推 -->
    <div class="weekSale">
      <div
        style="background-image:url('https://js.51takeit.com/wxmp/static/goods/recommend.png');width:3.36rem;height:0.29rem;background-size:3.36rem 0.29rem;margin:0 auto 0.4rem;"
      ></div>
      <goods-List :data="tuijian" v-if="tuijian.length" />
    </div>
    <!-- 兼容移动app 内嵌fixed的问题 -->
    <div v-if="apptype == 'shydhn'" style="width:100%;height:0.88rem;"></div>
    <!-- 提交订单栏 -->
    <van-submit-bar
      :class="apptype == 'shydhn' ? 'bar-shydhn' : ''"
      :price="totalPrice"
      button-text="去结算"
      button-color="#ffd200"
      @submit="onSubmit"
      :tip="tip"
      v-if="!subshow"
    >
      <van-checkbox
        :value="is_checkALL"
        checked-color="#ffd200"
        @click="checkAll"
        >全选</van-checkbox
      >
    </van-submit-bar>
    <van-submit-bar
      :price="totalPrice"
      button-text="删除"
      @submit="onDelete"
      :tip="tip"
      v-else
    >
      <van-checkbox
        :value="is_checkALL"
        checked-color="#ffd200"
        @click="checkAll"
        >全选</van-checkbox
      >
    </van-submit-bar>
    <!-- 删除 二次确认框 -->
    <van-dialog
      v-model="show"
      show-cancel-button
      confirmButtonText="删除"
      :before-close="beforeClose"
    >
      <p style="line-height: 0.5rem;padding: 0.4rem 0.2rem;">
        您要将
        {{
          orderDel.length > 1
            ? orderDel.length + "件商品从购物车"
            : " ( " + delGood.act_name + " ) 从购物车"
        }}删除吗？
      </p>
    </van-dialog>
    <tabbar></tabbar>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Tabbar from "../TabBar.vue";
import GoodsList from "../../components/goodsModel.vue";

import Vue from "vue";
import { Checkbox, CheckboxGroup } from "vant";
import { SwipeCell } from "vant";
import { Sticky } from "vant";
import { Icon } from "vant";
import { Image as VanImage } from "vant";
import { Lazyload } from "vant";
import { SubmitBar } from "vant";
import { List } from "vant";
import { Empty } from "vant";
import { Stepper } from "vant";
import { Tag } from "vant";
import { Dialog } from "vant";
import { Toast } from "vant";

Vue.use(Toast);
Vue.use(Tag);
Vue.use(Stepper);
Vue.use(Empty);
Vue.use(List);
Vue.use(SubmitBar);
Vue.use(VanImage);
Vue.use(Lazyload);
Vue.use(Icon);
Vue.use(Sticky);
Vue.use(SwipeCell);
Vue.use(Checkbox);
Vue.use(CheckboxGroup);
export default {
  components: {
    Tabbar,
    GoodsList
  },
  data() {
    return {
      apptype: "", // 移动APP 内嵌网页会有吸低bug 超出屏幕底部
      tip: "", // 优惠提示
      show: false, // 删除提示框
      subshow: false, // 编辑/完成
      loading: false, // 加载
      finished: false, // 完成所有加载
      is_checkALL: false, // 是否全选
      timer: null, // 定时器对象
      shopcarList: [],
      discountConfig: [],
      delGood: {},
      discount: {},
      tuijian: [],
      submitGoods: [],
      orderDel: [],
      result: [],
      totalPrice: 0,
      pageNum: 1, // 页数
      pageSize: 120 // 10条
    };
  },
  created() {
    /shydhn/g.test(window.navigator.userAgent)
      ? (this.apptype = "shydhn")
      : (this.apptype = "");
    this.getDiscountConfig();
    this.getShopList();
    this.goods_qingdan();
  },
  mounted() {
    document.setTitle("购物车");
  },
  watch: {
    result: {
      handler(newValue, oldValue) {
        this.totalPrice = 0;
        this.discount = {};
        this.submitGoods = [];
        if (newValue.length === this.shopcarList.length) {
          this.is_checkALL = true;
        } else {
          this.is_checkALL = false;
        }
        newValue.forEach(val => {
          this.shopcarList.forEach(ele => {
            if (ele.goods.id == val) {
              this.totalPrice += ele.goods.prize * ele.shoppingCar.sell_num;
              let discount = this.discountConfig.filter(dis => {
                return ele.goods.goods_discount_id == dis.discount.id;
              });
              if (discount.length) {
                let end_time = new Date(
                  discount[0].discount.end_time.replace(/-/g, "/").substr(0, 19)
                ).getTime();
                let begin_time = new Date(
                  discount[0].discount.begin_time
                    .replace(/-/g, "/")
                    .substr(0, 19)
                ).getTime();
                if (end_time > Date.now() && begin_time < Date.now()) {
                  // 有效期内
                  if (discount[0].discount.discount_type == 0) {
                    // 满多少金额减多少金额
                    if (this.discount[ele.goods.goods_discount_id]) {
                      this.$set(
                        this.discount,
                        ele.goods.goods_discount_id,
                        this.discount[ele.goods.goods_discount_id] * 1 +
                          ele.goods.prize * ele.shoppingCar.sell_num
                      );
                    } else {
                      this.$set(
                        this.discount,
                        ele.goods.goods_discount_id,
                        ele.goods.prize * ele.shoppingCar.sell_num
                      );
                    }
                  }
                  if (discount[0].discount.discount_type == 2) {
                    // 满多少金额按比例折扣
                    if (this.discount[ele.goods.goods_discount_id]) {
                      this.$set(
                        this.discount,
                        ele.goods.goods_discount_id,
                        this.discount[ele.goods.goods_discount_id] * 1 +
                          ele.goods.prize * ele.shoppingCar.sell_num
                      );
                    } else {
                      this.$set(
                        this.discount,
                        ele.goods.goods_discount_id,
                        ele.goods.prize * ele.shoppingCar.sell_num
                      );
                    }
                  }
                  /* --------------------------- */
                  if (discount[0].discount.discount_type == 4) {
                    // 满几件商品减多少金额
                    if (this.discount[ele.goods.goods_discount_id]) {
                      this.$set(
                        this.discount,
                        ele.goods.goods_discount_id,
                        this.discount[ele.goods.goods_discount_id] * 1 +
                          ele.shoppingCar.sell_num * 1
                      );
                    } else {
                      this.$set(
                        this.discount,
                        ele.goods.goods_discount_id,
                        ele.shoppingCar.sell_num * 1
                      );
                    }
                  }
                  /* --------------------------- */
                  if (discount[0].discount.discount_type == 6) {
                    // 满几件商品按比例折扣
                    if (this.discount[ele.goods.goods_discount_id]) {
                      this.$set(this.discount, ele.goods.goods_discount_id, {
                        num:
                          this.discount[ele.goods.goods_discount_id].num * 1 +
                          ele.shoppingCar.sell_num * 1,
                        prize:
                          this.discount[ele.goods.goods_discount_id].prize * 1 +
                          ele.goods.prize * ele.shoppingCar.sell_num
                      });
                    } else {
                      this.$set(this.discount, ele.goods.goods_discount_id, {
                        num: ele.shoppingCar.sell_num * 1,
                        prize: ele.goods.prize * ele.shoppingCar.sell_num
                      });
                    }
                  }
                }
              }
            }
          });
        });
      }
    },
    shopcarList: {
      handler(newValue, oldValue) {
        this.discount = {};
        this.totalPrice = 0;
        let disRoot = "";
        if (this.result.length === 0) {
          return false;
        }
        newValue.forEach(val => {
          if (
            this.result.filter(v => {
              return v == val.goods.id;
            }).length
          ) {
            let discount = this.discountConfig.filter(dis => {
              return val.goods.goods_discount_id == dis.discount.id;
            });

            if (discount.length) {
              let end_time = new Date(
                discount[0].discount.end_time.replace(/-/g, "/").substr(0, 19)
              ).getTime();
              let begin_time = new Date(
                discount[0].discount.begin_time.replace(/-/g, "/").substr(0, 19)
              ).getTime();
              if (end_time > Date.now() && begin_time < Date.now()) {
                // 有效期内
                /* ---------- 满多少金额减多少金额 -------------- */
                if (discount[0].discount.discount_type == 0) {
                  if (this.discount[val.goods.goods_discount_id]) {
                    this.$set(
                      this.discount,
                      val.goods.goods_discount_id,
                      this.discount[val.goods.goods_discount_id] * 1 +
                        val.goods.prize * val.shoppingCar.sell_num
                    );
                  } else {
                    this.$set(
                      this.discount,
                      val.goods.goods_discount_id,
                      val.goods.prize * val.shoppingCar.sell_num
                    );
                  }
                }
                /* ---------- 满多少金额按比例折扣 -------------- */
                if (discount[0].discount.discount_type == 2) {
                  if (this.discount[val.goods.goods_discount_id]) {
                    this.$set(
                      this.discount,
                      val.goods.goods_discount_id,
                      this.discount[val.goods.goods_discount_id] * 1 +
                        val.goods.prize * val.shoppingCar.sell_num
                    );
                  } else {
                    this.$set(
                      this.discount,
                      val.goods.goods_discount_id,
                      val.goods.prize * val.shoppingCar.sell_num
                    );
                  }
                }
                /* ---------- 满几件商品减多少金额 -------------- */
                if (discount[0].discount.discount_type == 4) {
                  if (this.discount[val.goods.goods_discount_id]) {
                    this.$set(
                      this.discount,
                      val.goods.goods_discount_id,
                      this.discount[val.goods.goods_discount_id] * 1 +
                        val.shoppingCar.sell_num * 1
                    );
                  } else {
                    this.$set(
                      this.discount,
                      val.goods.goods_discount_id,
                      val.shoppingCar.sell_num * 1
                    );
                  }
                }
                /* ---------- 满几件商品按比例折扣 -------------- */
                if (discount[0].discount.discount_type == 6) {
                  if (this.discount[val.goods.goods_discount_id]) {
                    this.$set(this.discount, val.goods.goods_discount_id, {
                      num:
                        this.discount[val.goods.goods_discount_id].num * 1 +
                        val.shoppingCar.sell_num * 1,
                      prize:
                        this.discount[val.goods.goods_discount_id].prize * 1 +
                        val.goods.prize * val.shoppingCar.sell_num
                    });
                  } else {
                    this.$set(this.discount, val.goods.goods_discount_id, {
                      num: val.shoppingCar.sell_num * 1,
                      prize: val.goods.prize * val.shoppingCar.sell_num
                    });
                  }
                }
              }
            }
          }
          this.result.forEach(res => {
            if (val.goods.id == res) {
              this.totalPrice += val.goods.prize * val.shoppingCar.sell_num;
            }
          });
        });
      },
      deep: true
    },
    discount: {
      handler(newValue, oldValue) {
        let curDiscount = 0;
        this.discountConfig.forEach(ele => {
          if (newValue[ele.discount.id]) {
            /* 满多少金额减多少金额 */
            if (ele.discount.discount_type == 0) {
              let resultARR = ele.discountLevelList
                .filter(filter_val => {
                  return newValue[ele.discount.id] >= filter_val.discount_fee;
                })
                .sort((a, b) => {
                  return b.discount_level - a.discount_level;
                });
              if (resultARR.length) {
                curDiscount += resultARR[0].discount_value * 1;
              }
            }
            /* 满多少金额按比例折扣 */
            if (ele.discount.discount_type == 2) {
              let resultARR = ele.discountLevelList
                .filter(filter_val => {
                  return newValue[ele.discount.id] >= filter_val.discount_fee;
                })
                .sort((a, b) => {
                  return b.discount_level - a.discount_level;
                });
              if (resultARR.length) {
                curDiscount +=
                  (resultARR[0].discount_ratio / 1000) *
                  newValue[ele.discount.id];
              }
            }
            /* 满几件商品减多少金额 */
            if (ele.discount.discount_type == 4) {
              let resultARR = ele.discountLevelList
                .filter(filter_val => {
                  return (
                    newValue[ele.discount.id] >= filter_val.discount_sellnum
                  );
                })
                .sort((a, b) => {
                  return b.discount_level * 1 - a.discount_level * 1;
                });

              if (resultARR.length) {
                curDiscount += resultARR[0].discount_value * 1;
              }
            }
            /* 满几件商品按比例折扣 */
            if (ele.discount.discount_type == 6) {
              let resultARR = ele.discountLevelList
                .filter(filter_val => {
                  return (
                    newValue[ele.discount.id].num >= filter_val.discount_sellnum
                  );
                })
                .sort((a, b) => {
                  return b.discount_level * 1 - a.discount_level * 1;
                });

              if (resultARR.length) {
                curDiscount +=
                  (resultARR[0].discount_ratio / 1000) *
                  newValue[ele.discount.id].prize;
              }
            }
          }
        });
        this.tip = curDiscount
          ? `原价:${(this.totalPrice / 100).toFixed(2)}元。已选商品共计优惠 ${(
              curDiscount / 100
            ).toFixed(2)}元`
          : "";
        this.totalPrice = this.totalPrice - curDiscount;
      }
    }
  },
  methods: {
    /* 列表动画 start */
    beforeEnter(el) {
      el.style.opacity = 0;
    },
    enter(el, done) {
      console.log(el.dataset.index);
      let delay = el.dataset.index * 100;
      setTimeout(() => {
        el.style.transition = "opacity 0.4s ";
        el.style.opacity = 1;
        el.style.animation = "one-in 0.4s infinite";
        el.style["animation-iteration-count"] = 1;
        done();
      }, delay);
    },
    /* 列表动画 end   */
    getDiscountConfig() {
      axios
        .get("/wxmp/api/goods_discount.json")
        .then(res => {
          if (res.status === 200) {
            this.discountConfig = [...res.data.discountList];
          }
        })
        .catch(err => {
          this.getShopList();
        });
    },
    onChange(e, val, index) {
      this.submitNum(index, val.shoppingCar.id);
    },
    onLoad() {
      this.getShopList();
    },
    onSubmit() {
      if (this.result.length == 0) {
        //未选择结算商品
        Toast("请选择需要结算的商品~");
        return;
      }
      if (this.$store.state.blacklist) {
        return false;
      }
      let order = [];
      for (let i = 0; i < this.shopcarList.length; i++) {
        this.result.forEach(ele => {
          if (this.shopcarList[i].goods.id === ele) {
            order.push({
              goods_id: this.shopcarList[i].shoppingCar.goods_id * 1,
              goods_num: this.shopcarList[i].shoppingCar.sell_num * 1,
              car_id: this.shopcarList[i].shoppingCar.id * 1,
              aid:
                sessionStorage.getItem("aid") ||
                localStorage.getItem("aid") ||
                -1
            });
          }
        });
      }
      //跳转订单页面
      sessionStorage.setItem(
        "order_list",
        Base64.encode(JSON.stringify(order))
      );
      this.$router.push({ path: "/sub_order" });
    },
    /* 编辑按钮 */
    edit() {
      this.subshow = !this.subshow;
    },
    toggle(index, val) {
      val.selected = !val.selected;
      // this.$set(val, "selected", !val.selected);
    },
    checkAll() {
      if (!this.is_checkALL) {
        this.is_checkALL = true;
        this.$refs.checkboxGroup.toggleAll(true);
      } else {
        this.is_checkALL = false;
        this.$refs.checkboxGroup.toggleAll(false);
      }
    },
    //获取购物车数据
    getShopList() {
      this.loading = false;
      this.finished = true;
      var time = new Date().getTime();
      const merchant_id = sessionStorage.getItem("StoreUserInfo")
        ? JSON.parse(sessionStorage.getItem("StoreUserInfo")).merchant_id
        : "-1";
      var obj = {
        user_id: localStorage.getItem("userId"),
        merchant_id: merchant_id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            merchant_id +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/wxmp/doShoppingCartListNew", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            res.data.data.forEach(element => {
              element.discountConfig = this.discountConfig.filter(ele => {
                return element.goods.goods_discount_id == ele.discount.id;
              })[0];
              if (element.goods_discount_first == 1) {
                if (element.discountConfig) {
                  let discountText =
                    element.discountConfig.discount.goods_discount_name;
                  element.discountConfig.discountLevelList.forEach(val => {
                    discountText += " " + val.goods_discount_level_name + " , ";
                  });
                  this.$set(
                    element,
                    "discountText",
                    discountText.substr(0, discountText.length - 2)
                  );
                } else {
                  this.$set(element, "discountText", 1);
                }
              } else {
                this.$set(element, "discountText", "");
              }
              this.$set(element, "selected", false);
              this.$set(element, "discount", false);
              this.shopcarList.push(element);
            });
          } else {
            this.finished = true;
          }
        });
    },
    // 修改数量
    submitNum(index, id) {
      if (this.shopcarList[index].shoppingCar.sell_num <= 0) {
        this.shopcarList[index].shoppingCar.sell_num = 1;
        return;
      } else {
        let vm = this;
        clearTimeout(this.timer);
        this.timer = setTimeout(function() {
          let time = new Date().getTime();
          let obj = {
            id: id,
            sell_num: vm.shopcarList[index].shoppingCar.sell_num,
            stamp: time,
            sign: MD5(
              id +
                "" +
                vm.shopcarList[index].shoppingCar.sell_num +
                "" +
                time +
                localStorage.getItem("oKey")
            )
          };
          // eslint-disable-next-line no-undef
          axios
            .post(api + "/wxmp/doUserShoppingCartModNum", qs.stringify(obj))
            .then(res => {
              console.log(res);
            })
            .catch(error => {
              console.log(error);
            });
        }, 500);
      }
    },
    // 增加 +
    onPlus(e, val, index) {
      if (this.shopcarList[index].shoppingCar.sell_num === 99) return;
      this.shopcarList[index].shoppingCar.sell_num++;
      this.submitNum(index, val.shoppingCar.id);
    },
    // 减少 -
    onMinus(e, val, index) {
      if (this.shopcarList[index].shoppingCar.sell_num === 0) return;
      this.shopcarList[index].shoppingCar.sell_num--;
      this.submitNum(index, val.shoppingCar.id);
    },
    // 删除
    deleteSection(val, index) {
      this.show = true;
      this.delGood = val.goods;
      if (index != -1) {
        this.orderDel.push(val.shoppingCar.id);
        this.delIndex = index;
      }
    },
    onDelete() {
      this.show = true;
      this.shopcarList.forEach(ele => {
        this.result.forEach(val => {
          if (ele.goods.id === val) {
            this.delGood = ele.goods;
            this.orderDel.push(ele.shoppingCar.id);
          }
        });
      });
    },
    /* 关闭提示框 */
    beforeClose(action, done) {
      let vm = this;
      if (action === "confirm") {
        var time = new Date().getTime();
        var obj = {
          idlist: vm.orderDel.toString(),
          stamp: time,
          sign: MD5(
            vm.orderDel.toString() + time + "" + localStorage.getItem("oKey")
          )
        };
        axios
          .post(api + "/wxmp/doShoppingCartDel", qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.orderDel.forEach(val => {
                vm.shopcarList.forEach((ele, index) => {
                  if (ele.shoppingCar.id === val) {
                    vm.shopcarList.splice(index, 1);
                  }
                });
              });
              done();
            } else {
              done();
              Toast("网络异常，删除失败");
            }
          });
        setTimeout(function() {
          vm.orderDel = [];
          vm.delIndex = -1;
          this.delAll = false;
        }, 400);
      } else {
        done();
        setTimeout(function() {
          vm.orderDel = [];
          vm.delIndex = -1;
        }, 400);
      }
    },
    //相关推荐
    goods_qingdan() {
      var time = new Date().getTime();
      var obj = {
        class_id: -1,
        from_v: sessionStorage.getItem("from_v") || 0,
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(
          "-1" + "" + "1" + "10" + time + "" + localStorage.getItem("oKey")
        )
      };
      // eslint-disable-next-line no-undef
      axios
        .post(
          api + "/wxmp/info/goods/doGoodsClassRecommendAPIInfolist",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataNum != 0) {
              //存在商品
              this.tuijian = res.data.dataList;
            }
          } else {
            // eslint-disable-next-line no-undef
            console.error("相关推荐 数据出错 ===>" + res.data.msg);
          }
        })
        .catch(error => {
          // eslint-disable-next-line no-undef
          console.error(error);
        });
    },
    goodSkip(id) {
      /* 商品跳转 */
      // window.location.href = '/wxmp/shop/Productdetails.html?id='+id+'&aid=-1';
      this.$router.push({ path: "/shop_details", query: { id: id, aid: -1 } });
    }
  }
};
</script>
<style lang="scss" scoped>
@keyframes one-in {
  from {
    padding-top: 100px;
    height: 0%;
  }

  to {
    padding-top: 0px;
    height: 100%;
  }
}
.about {
  width: 100%;
  height: 100%;
  font-family: "SYgoogle", "ZJD", "WZSF";
  overflow-y: scroll;
  background: #f3f3f3;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.38rem;
    box-sizing: border-box;
    height: 0.8rem;
    box-shadow: 0rem 0.02rem 0.06rem 0rem rgba(0, 0, 0, 0.05);
    font-size: 0.26rem;
    font-weight: 600;
    background: #fff;
    .top_left {
      display: flex;
      align-items: center;
      span {
        margin-left: 0.2rem;
        line-height: 1;
      }
    }
    .manage_btn {
      font-size: 0.28rem;
    }
  }
  .shoplist {
    // height: calc(100% - 0.9rem);
    // max-height: calc(100% - 0.9rem);
    overflow-y: scroll;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    .item {
      font-family: "ZJD", "WZSF", "SYgoogle";
      min-height: 2.86rem;
      box-shadow: 0.1rem 0.1rem 0.2rem #dddddd40;
      background: #fff;
      /deep/ .van-swipe-cell__wrapper {
        width: 100%;
        .van-swipe-cell__right {
          right: -0.01rem;
        }
      }
      .content {
        padding: 0.21rem 0.32rem;
        box-sizing: border-box;
        height: 2.86rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .con_l {
          margin-right: 0.24rem;
          height: 100%;
        }
        .con_r {
          padding-top: 0.2rem;
          box-sizing: border-box;
          margin-left: 0.24rem;
          width: 4.42rem;
          height: 100%;
          font-size: 0.26rem;
          text-align: left;
          h4 {
            height: 0.8rem;
            color: rgba(0, 0, 0, 1);
            line-height: 0.4rem;
            text-align: left;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          .con_r_b {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price_point {
              text-align: left;
              width: 3rem;
              height: 0.45rem;
              font-size: 0.3rem;
              font-family: PingFangSC;
              font-weight: 600;
              color: #ff0000;
            }
            .b_r {
              height: 0.8rem;
              display: flex;
              align-items: flex-end;
            }
          }
          /deep/ .van-stepper__input {
            width: 0.42rem;
            margin: 0;
            border-left: 1px solid #797979;
            border-right: 1px solid #797979;
          }
          /deep/ .van-stepper {
            border: 1px solid #797979;
          }
        }
      }
      /deep/ .van-checkbox__label {
        font-size: 0.3rem;
        line-height: 1;
      }
      .delete-button {
        height: 100%;
      }
    }
  }
  .card_no {
    height: 3.2rem;
    padding-top: 1.27rem;
    padding-bottom: 2.8rem;
    background: #fff;
    margin-top: 0.2rem;
    /deep/ .van-empty__image {
      width: 3.67rem;
    }
  }
  .weekSale {
    padding-top: 0.31rem;
    padding-bottom: 0.29rem;
    border-radius: 0.16rem;
    margin-top: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #dddddd40;
  }
  /deep/ .van-submit-bar {
    bottom: 1.17rem;
    .van-submit-bar__bar {
      height: 0.88rem;
    }
    .van-submit-bar__button {
      width: 2.4rem;
      height: 0.7rem;
    }
  }
  /deep/ .van-submit-bar.bar-shydhn {
    bottom: 1.37rem;
  }
}
</style>
