<template>
  <div class="up_order">
    <div class="shop_list">
      <div class="list" v-for="(etim, index) in order_list" :key="index">
        <div class="list_left">
          <img :src="etim.title_url" alt />
        </div>
        <div class="list_right">
          <div class="name">{{ etim.act_name }}</div>
          <div class="num">数量：{{ etim.buy_num }}</div>
          <div class="prize">{{ order_prize[index] }}</div>
        </div>
      </div>
      <div class="list" v-if="order_list.length == 0">
        <div class="list_left">
          <img src alt />
        </div>
        <div class="list_right">
          <div
            class="name"
            style="min-height: .4rem;line-height: .4rem;background: #f1f1f1;"
          ></div>
          <div
            class="num"
            style="min-height: .4rem;line-height: .4rem;background: #f1f1f1;"
          ></div>
          <div
            class="prize"
            style="min-height: .4rem;line-height: .4rem;background: #f1f1f1;"
          ></div>
        </div>
      </div>
    </div>
    <div class="shop_set">
      <div class="discount_code" @click="choice()">
        <div class="name">优惠券</div>
        <div class="code_name">
          {{
            orderinfo &&
            (orderinfo.can_coupon == 1 || orderinfo.is_money_coupon == 1)
              ? code_des
              : orderinfo.can_coupon_desc
          }}
        </div>
        <img src="@/../public/static/user/more.png" alt />
      </div>
      <div class="discount_code">
        <div class="name">运费</div>
        <div class="freight">￥{{ postage }}</div>
      </div>
      <div class="discount_code">
        <div class="name">{{ point_des }}</div>
        <van-switch
          v-model="checked"
          :disabled="point_des == '该订单不能抵扣' ? true : false"
          @change="switch_tap($event)"
          active-color="#4b0"
          inactive-color="#fff"
          size="20px"
        />
      </div>
      <div class="vip_tui" v-show="!is_vip && goods_type != '2'">
        <div class="name">
          <p>{{ apptype == "shydhn" ? "" : "限时优惠" }}</p>
          <p class="desc">
            {{
              apptype == "shydhn"
                ? "更多超值优惠，立省21.9元起"
                : "会员¥6.9元起商品全部享受会员价"
            }}
          </p>
        </div>
        <div class="btn" @click="getVIP">
          {{ apptype == "shydhn" ? "马上领取" : "立即开通" }}
        </div>
      </div>
      <div class="discount_code" v-if="orderinfo.total_discount">
        <div class="name">满减金额</div>
        <div class="prize">
          ￥{{ (orderinfo.total_discount / 100).toFixed(2) }}
        </div>
      </div>
    </div>

    <div class="total_price">
      <div class="name">总价</div>
      <div class="prize">{{ all_priza }}</div>
    </div>
    <div class="pay_list">
      <div class="wx_pay">
        <img src="@/../public/static/shop/weixin.png" alt />
        <div>微信支付</div>
      </div>
    </div>
    <div
      class="sub_order"
      :class="apptype == '' ? '' : 'yidong'"
      @click="creat_order()"
    >
      提交订单
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Switch } from "vant";
import { Toast } from "vant";
import { Dialog } from "vant";
Vue.use(Toast)
  .use(Switch)
  .use(Dialog);
export default {
  name: "sub_order",
  components: {},
  data() {
    return {
      apptype: "",
      checked: false,
      coupon_id: "-1", //优惠卷id
      aid: "-1", //联盟id
      goods_info_data: "",
      order_list: [],
      order_prize: [],
      orderinfo: {},
      code_des: "未选择优惠",
      point_des: "积分抵扣",
      all_priza: "", //总价显示
      postage: "", //总邮费
      prize: "", //总金钱+总邮费
      point: "", //总积分
      discount_point: "", //折扣金额
      g_oid: "-1", //团购id
      is_gift: "0", //是否赠品
      goods_type: "2", //API商品
      is_vip: 0
    };
  },
  created() {
    /shydhn/g.test(window.navigator.userAgent)
      ? (this.apptype = "shydhn")
      : (this.apptype = "");
    if (this.$route.query.aid) {
      this.aid = this.$route.query.aid;
    } else if (localStorage.getItem("aid")) {
      this.aid = localStorage.getItem("aid");
    } else if (sessionStorage.getItem("aid")) {
      this.aid = sessionStorage.getItem("aid");
    } else {
      this.aid = "-1";
    }
    if (this.$route.query.coupon_id) {
      this.coupon_id = this.$route.query.coupon_id;
    } else if (sessionStorage.getItem("coupon_id")) {
      this.coupon_id = sessionStorage.getItem("coupon_id");
    }
    this.is_vip = sessionStorage.getItem("is_vip") * 1;
    this.goods_info_data = sessionStorage.getItem("order_list");
    this.get_sure();
  },
  mounted() {
    document.title = "订单详情";
  },
  methods: {
    // 开通VIP
    getVIP() {
      this.$router.push({ path: "/vip_buy" });
    },
    switch_tap(e) {
      console.log(e);
      // this.checked=e.mp.detail
      if (this.checked) {
        this.get_all_prize(this.prize, this.point, this.discount_point);
      } else {
        this.get_all_prize(this.prize, this.point);
      }
    },
    //总价
    get_all_prize(prize, point, discount_point) {
      console.log(discount_point);
      //计算总价  //总价钱+总积分+总邮费
      if (point == "0") {
        //积分为零
        if (discount_point) {
          this.all_priza = `￥${(
            (prize - discount_point > 0 ? prize - discount_point : 0) * 0.01
          ).toFixed(2)}`;
        } else {
          this.all_priza = `￥${(prize * 0.01).toFixed(2)}`;
        }
      } else {
        if (prize == "0") {
          this.all_priza = `${point}积分`;
        } else {
          if (discount_point) {
            this.all_priza = `￥${(
              (prize - discount_point > 0 ? prize - discount_point : 0) * 0.01
            ).toFixed(2)}+${point}积分`;
          } else {
            this.all_priza = `￥${(prize * 0.01).toFixed(2)}+${point}积分`;
          }
        }
      }
    },
    //选择优惠卷
    choice() {
      this.$router.push({
        path: "/couponlist",
        query: { types: 1, aid: this.aid }
      });
    },
    get_sure() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        goods_info_data: this.goods_info_data,
        coupon_id: this.coupon_id,
        aid: this.aid,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.goods_info_data +
            "" +
            this.coupon_id +
            "" +
            this.aid +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/preOrder", qs.stringify(obj))
        .then(res => {
          console.log(res.data.result);
          if (res.data.result == "1") {
            this.order_list = res.data.dataList;
            this.orderinfo = res.data;

            console.log(this.orderinfo);
            this.postage = (res.data.postage * 0.01).toFixed(2); //总邮费
            this.goods_type = res.data.dataList[0].goods_type; //总邮费
            this.prize = res.data.total_fee * 1 + res.data.postage * 1; //总金钱+总邮费
            this.point = res.data.total_point; //总积分
            //商品积分抵扣判断
            //判断是否能抵扣
            if (res.data.total_deduction_point == "0") {
              //不能抵扣
              this.point_des = "该订单不能抵扣";
              this.discount_point = 0;
            } else {
              this.discount_point = res.data.can_deduction_fee; //抵扣金钱
              let discount = (res.data.can_deduction_fee * 0.01).toFixed(2);
              this.point_des = `${res.data.can_deduction_point}积分抵扣${discount}元`;
            }
            this.get_all_prize(this.prize, this.point);
            //计算每个商品价钱
            for (let i = 0; i < this.order_list.length; i++) {
              let price = "";
              if (this.order_list[i].point == "0") {
                //积分为零
                price = `￥${(this.order_list[i].prize * 1 * 0.01).toFixed(2)}`;
              } else {
                if (this.order_list[i].prize * 1 * 0.01 == "0") {
                  price = `${this.order_list[i].point}积分`;
                } else {
                  price = `￥${(this.order_list[i].prize * 1 * 0.01).toFixed(
                    2
                  )}+${this.order_list[i].point}积分`;
                }
              }
              this.order_prize.push(price);
            }
            //判断是否选择优惠卷
            console.log(res.data.jsonCoupon);
            console.log(res.data.coupon_flag);
            if (res.data.jsonCoupon) {
              if (res.data.coupon_flag == 1) {
                this.code_des = res.data.jsonCoupon.coupon_name;
              } else if (res.data.coupon_flag == 0) {
                //订单金额不足，优惠券不可用
                Toast("订单金额不足，优惠券不可用");
              } else if (res.data.coupon_flag == 9) {
                //优惠券已经被使用，请使用其他优惠券
                Toast("优惠券已经被使用，请使用其他优惠券");
              } else if (res.data.coupon_flag == 18) {
                //优惠券未到使用期
                Toast("优惠券未到使用期");
              } else if (res.data.coupon_flag == 19) {
                //优惠券已经过期
                Toast("优惠券已经过期");
              } else if (res.data.coupon_flag == 20) {
                //优惠券其他订单使用中
                Toast("优惠券其他订单使用中");
              } else {
                //优惠券不可用
                Toast("优惠券不可用");
              }
            }
          } else if (res.data.result == "5207") {
            Dialog.alert({
              message: res.data.msg
            }).then(() => {
              // on close
              this.$router.push({ path: `/cart` });
            });
          } else if (res.data.result == "5206") {
            // 购买数量超过限制
            Dialog.alert({
              message: res.data.msg,
              overlayClass: "overlayClass",
              closeOnPopstate: true
            }).then(() => {
              // on close
              this.$router.back(-1);
            });
          } else {
            Toast(res.data.msg);
          }
        });
    },
    //生成订单
    async creat_order() {
      var ua = navigator.userAgent.toLowerCase();
      var pay_channel = "1";
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        pay_channel = "1";
      } else {
        pay_channel = "4";
      }
      let is_deduction = "";
      if (this.checked) {
        is_deduction = 1;
      } else {
        is_deduction = 0;
      }
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        goods_info_data: this.goods_info_data,
        coupon_id: this.coupon_id,
        is_deduction,
        g_oid: this.g_oid,
        is_gift: this.is_gift,
        aid: this.aid,
        pay_channel: pay_channel, //H5 4
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            this.goods_info_data +
            "" +
            this.coupon_id +
            "" +
            is_deduction +
            "" +
            this.g_oid +
            "" +
            "" +
            this.is_gift +
            this.aid +
            "" +
            pay_channel +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/createOrder", qs.stringify(obj))
        .then(res => {
          console.log(res.data.result);
          if (res.data.result == 1) {
            console.log(res);
            sessionStorage.setItem("order_id", res.data.data.id);
            window.location.href = `/wxmp/?index.html#/pay_order?id=${res.data.data.id}`;
          } else if (res.data.result == 5220) {
            Toast("商品超过购买数量");
          } else if (res.data.result == 5208) {
            Toast("积分不足");
          } else if (res.data.result == 999) {
            this.$store.commit("changeBlackList", 1);
            return false;
          } else if (res.data.result == 5231) {
            Toast("抢购已结束");
          } else {
            // Toast(res.data.msg)
          }
        });
    }
  }
};
</script>
<style scoped lang="scss">
.up_order {
  background: rgba(244, 244, 244, 1);
  min-height: 100vh;
  padding-bottom: 1rem;
  box-sizing: border-box;
  width: 100%;
}
.shop_list {
  width: 100%;
  height: auto;
  padding: 0 0 0 0.31rem;
  box-sizing: border-box;
  border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
  background: #ffffff;
  .list {
    width: 100%;
    height: 1.76rem;
    padding: 0.47rem 0 0.42rem 0;
    /*box-sizing: border-box;*/
    border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
    display: flex;
    justify-content: space-between;
    .list_left {
      width: 1.76rem;
      height: 1.76rem;
      margin-right: 0.16rem;
      background: #dddddd;
      img {
        display: block;
        width: 1.76rem;
        height: 1.76rem;
        background: #dddddd;
      }
    }
    .list_right {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding-right: 0.31rem;
      box-sizing: border-box;
      .name {
        font-size: 0.3rem;
        color: rgba(51, 51, 51, 1);
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        text-align: left;
      }
      .num {
        font-size: 0.24rem;
        color: rgba(153, 153, 153, 1);
        text-align: left;
      }
      .prize {
        font-size: 0.34rem;
        color: rgba(34, 34, 34, 1);
        text-align: left;
      }
    }
  }
  .list:last-child {
    border-bottom: none;
  }
}
.shop_set {
  width: 100%;
  padding: 0 0.32rem;
  box-sizing: border-box;
  background: #ffffff;
  .discount_code {
    width: 100%;
    height: 0.88rem;
    border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    .name {
      font-size: 0.3rem;
      color: rgba(51, 51, 51, 1);
      text-align: left;
      p {
        font-size: 0.3rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(34, 34, 34, 1);
        line-height: 0.42rem;
      }
      .desc {
        color: rgba(243, 166, 82, 1);
      }
    }
    .code_name {
      font-size: 0.26rem;
      color: rgba(153, 153, 153, 1);
      position: absolute;
      right: 0.28rem;
    }
    .btn {
      width: 1.5rem;
      height: 0.53rem;
      border-radius: 0.04rem;
      border: 0.02rem solid rgba(243, 166, 82, 1);
      font-size: 0.28rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(243, 166, 82, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      display: block;
      width: 0.14rem;
      height: 0.25rem;
      transform: translateY(0.04rem);
    }
    .freight {
      font-size: 0.3rem;
      color: rgba(51, 51, 51, 1);
    }
  }
  .vip_tui {
    width: 100%;
    padding: 0.23rem 0;
    border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    .name {
      font-size: 0.3rem;
      color: rgba(51, 51, 51, 1);
      text-align: left;
      p {
        font-size: 0.3rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(34, 34, 34, 1);
        line-height: 0.42rem;
      }
      .desc {
        color: rgba(102, 102, 102, 1);
      }
    }
    .btn {
      width: 1.5rem;
      height: 0.53rem;
      border-radius: 0.04rem;
      border: 0.02rem solid rgba(243, 166, 82, 1);
      font-size: 0.28rem;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(243, 166, 82, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.total_price {
  background: #ffffff;
  width: 100%;
  height: 1.06rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.32rem;
  box-sizing: border-box;
  .name {
    font-size: 0.3rem;
    color: rgba(102, 102, 102, 1);
  }
  .prize {
    font-size: 0.3rem;
    color: rgba(254, 56, 36, 1);
    font-weight: bold;
  }
}
.pay_list {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding-left: 0.29rem;
  box-sizing: border-box;
  margin-top: 0.16rem;
  .wx_pay {
    width: 100%;
    height: 0.92rem;
    display: flex;
    align-items: center;
    img {
      display: block;
      width: 0.51rem;
      height: 0.51rem;
      margin-right: 0.15rem;
    }
    div {
      font-size: 0.3rem;
      color: rgba(102, 102, 102, 1);
    }
  }
}
.sub_order {
  width: 100%;
  height: 0.88rem;
  font-size: 0.3rem;
  color: rgba(51, 51, 51, 1);
  line-height: 0.88rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: #fccb2f;
}
.yidong {
  width: 100%;
  height: 0.88rem;
  font-size: 0.3rem;
  color: rgba(51, 51, 51, 1);
  line-height: 0.88rem;
  text-align: center;
  position: fixed;
  bottom: 0.88rem;
  left: 0;
  z-index: 999;
  background: #fccb2f;
}
.overlayClass {
  background-color: rgba(34, 34, 34, 0.8);
}
</style>
