<!--
 * @Author: your name
 * @Date: 2020-08-05 16:50:13
 * @LastEditTime: 2020-09-14 15:04:04
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \jushou\hand-up-3.0\src\views\login\backurl.vue
-->
<template>
  <div></div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Dialog } from "vant";
import { Toast } from "vant";
Vue.use(Dialog);
Vue.use(Toast);
export default {
  name: "backurl",
  created() {
    if (sessionStorage.getItem("backurl")) {
      // location.href = Base64.decode(sessionStorage.getItem('backurl'));
      window.location.replace(
        Base64.decode(decodeURIComponent(sessionStorage.getItem("backurl")))
      );
    } else {
      this.$router.push({ path: "index" });
    }
  }
};
</script>
<style lang="scss" scoped>
.color {
  .van-dialog {
    .van-dialog__confirm {
      color: #fff;
    }
  }
}
</style>