<template>
  <div id="login_box">
    <div
      class="title"
      style="background-image: url('./static/user/login_bg.png')"
    ></div>
    <div class="content">
      <van-field
        v-model="tel"
        :disabled="finish ? true : false"
        left-icon="./static/user/icon-phone.png"
        type="tel"
        maxlength="11"
        placeholder="请输入11位手机号"
      />
      <van-field
        v-model="code"
        type="tel"
        center
        clearable
        left-icon="./static/user/icon-sms.png"
        placeholder="请输入图形验证码"
      >
        <div class="code" slot="button" @click="refreshCode">
          <s-identify :identifyCode="identifyCode"></s-identify>
        </div>
      </van-field>
      <van-field
        v-model="smsVal"
        type="tel"
        maxlength="6"
        center
        clearable
        left-icon="./static/user/icon-sms.png"
        placeholder="请输入短信验证码"
      >
        <template #button>
          <van-button
            v-if="!finish"
            size="small"
            plain
            round
            hairline
            @click="getPhoneVerificationCode"
            type="danger"
            >获取验证码</van-button
          >
          <van-count-down
            v-else
            :time="time"
            @finish="onFinish"
            format=" ss 秒"
          />
        </template>
      </van-field>
      <div class="submit">
        <van-button
          round
          block
          :disabled="smsVal ? false : true"
          type="info"
          color="#FFD200"
          @click="confirmHandle"
          >{{ pageTitle }}</van-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
import SIdentify from "@/components/identifyingCode";
import util from "@/style/utils.js";
import Vue from "vue";
import { Field } from "vant";
import { Tab, Tabs } from "vant";
import { Dialog } from "vant";
import { Toast } from "vant";
import { CountDown } from "vant";
import { Divider } from "vant";
import { Button } from "vant";
Vue.use(Tab)
  .use(Tabs)
  .use(Button)
  .use(CountDown)
  .use(Divider)
  .use(Dialog)
  .use(Toast)
  .use(Field);
export default {
  name: "Login",
  components: {
    SIdentify
  },
  data() {
    return {
      pageTitle: "手机登录",
      tel: "",
      sms: "", //发送的手机验证码
      smsVal: "", //输入的手机验证码
      afresh: "", //重新
      time: 60000, //倒计时60秒
      show: false, //输入手机验证码对话框 状态
      finish: false, //倒计时是否结束
      loadingLogin: false, //登录按钮状态
      loadingRegister: false, //注册按钮状态
      code: "", //图形验证码
      identifyCodes: "1234567890",
      active: 1,
      identifyCode: ""
    };
  },
  created() {
    this.makeCode(this.identifyCodes, 4);
    if (util.isWxJSBridge()) {
      this.pageTitle = "绑定手机";
    }
  },
  mounted() {
    document.title = "";
  },
  methods: {
    /* 倒计时结束 */
    onFinish() {
      this.finish = false;
      this.afresh = "重新";
    },
    /* 随机数 */
    randomNum(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    },
    /* 生成图形验证码 */
    makeCode(o, l) {
      for (let i = 0; i < l; i++) {
        this.identifyCode += this.identifyCodes[
          this.randomNum(0, this.identifyCodes.length)
        ];
      }
    },
    /* 刷新图形验证码 */
    refreshCode() {
      this.identifyCode = "";
      this.makeCode(this.identifyCodes, 4);
    },
    /* 获取手机验证码 */
    getPhoneVerificationCode() {
      if (/^1[3456789]\d{9}$/.test(this.tel)) {
        if (
          this.code !== "" &&
          this.code.toUpperCase() == this.identifyCode.toUpperCase()
        ) {
          let time = new Date().getTime();
          let obj = {
            service_code: 1, //（0通用 1用户注册登录绑定手机 2支付提现 3设置修改密码）
            mobile: this.tel,
            user_id: localStorage.getItem("userId"),
            stamp: time,
            sign: MD5(
              1 + "" + this.tel + "" + time + localStorage.getItem("oKey")
            )
          };
          axios
            .post("/api/user/sendMobileCode", qs.stringify(obj))
            .then(res => {
              if (res.data.result == 1) {
                this.finish = true;
              } else {
                Toast(res.data.result + " " + res.data.msg);
              }
            })
            .catch(error => {
              console.log(error);
            });
        } else {
          Toast("请输入正确的图形验证码");
        }
      } else {
        Toast("请输入正确的手机号");
      }
    },
    /* H5端 --> 通过短信验证码获取token */
    getToken() {
      if (this.smsVal.trim() === "") {
        return false;
      }
      let time = new Date().getTime();
      let obj = {
        code: this.smsVal,
        mobile: this.tel,
        stamp: time,
        sign: MD5(
          this.smsVal + "" + this.tel + "" + time + localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/user/getTokenByMobileCode", qs.stringify(obj))
        .then(res => {
          // 如果绑定过用户，就跳到个人中心，否则就跳到绑定用户；
          if (res.data.result == 1) {
            this.LoginHandelClick(res.data.token);
          } else {
            Toast(res.data.result + " " + res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /* 微信端 --> 通过短信验证码绑定用户手机 */
    bindUserMobile() {
      if (this.smsVal.trim() === "") {
        return false;
      }
      let time = new Date().getTime();
      let obj = {
        code: this.smsVal,
        mobile: this.tel,
        user_id: localStorage.getItem("userId"),
        src: "wxmp", //操作来源
        stamp: time,
        sign: MD5(
          "wxmp" +
            localStorage.getItem("userId") +
            this.smsVal +
            "" +
            this.tel +
            "" +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/user/bindMobileByCode", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            sessionStorage.setItem(
              "usermessage",
              JSON.stringify(res.data.data)
            );
            localStorage.setItem("userId", res.data.data.id);
            let is_vip =
              res.data.data.vip_lv > 0 &&
              new Date(
                res.data.data.validity_time.substr(0, 19).replace(/-/g, "/")
              ).getTime() > Date.now()
                ? 1
                : 0;
            sessionStorage.setItem("is_vip", is_vip);
            this.get_key();
          } else if (res.data.result == 0) {
            //需要二次确认
            this.RegHandelClick(res.data.token);
          } else {
            Toast(res.data.result + " " + res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /* 微信端 -->  二次确认绑定 */
    RegHandelClick(token) {
      if (this.smsVal.trim() === "") {
        return false;
      }
      let time = new Date().getTime();
      let obj = {
        mobile: this.tel,
        token: token,
        user_id: localStorage.getItem("userId"),
        src: "wxmp", //操作来源
        stamp: time,
        sign: MD5(
          "wxmp" +
            localStorage.getItem("userId") +
            token +
            "" +
            this.tel +
            "" +
            time +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/user/bindMobileByToken", qs.stringify(obj))
        .then(res => {
          // 如果绑定过用户，就跳到个人中心，否则就跳到绑定用户；
          if (res.data.result == 1) {
            this.LoginHandelClick(token);
          } else if (res.data.result == 0) {
            //需要二次确认
            Toast(res.data.result + " " + res.data.msg);
          } else {
            Toast(res.data.result + " " + res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /* H5端  --> 登录按钮 验证短信验证码通过后跳转登录前的页面 */
    LoginHandelClick(token) {
      let time = new Date().getTime();
      let obj = {
        token: token,
        mobile: this.tel,
        stamp: time,
        sign: MD5(token + "" + time + localStorage.getItem("oKey"))
      };
      axios
        .post("/api/user/loginByMobileToken", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            sessionStorage.setItem(
              "usermessage",
              JSON.stringify(res.data.data)
            );
            localStorage.setItem("userId", res.data.data.id);
            let is_vip =
              res.data.data.vip_lv > 0 &&
              new Date(
                res.data.data.validity_time.substr(0, 19).replace(/-/g, "/")
              ).getTime() > Date.now()
                ? 1
                : 0;
            sessionStorage.setItem("is_vip", is_vip);
            let token = new Date().getTime() + 24 * 60 * 60 * 1000; //登录有效期 1天
            localStorage.setItem("token", token);
            this.get_key();
          } else {
            Toast(res.data.result + " " + res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /* 获取key  通过userId */
    get_key() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time
      };
      axios
        .post(api + "/wxmp/log/user/getUserIDKey", qs.stringify(obj))
        .then(res => {
          // 如果绑定过用户，就跳到个人中心，否则就跳到绑定用户；
          if (res.data.result == 1) {
            let key_length = res.data.key_length;
            let deskey_length = res.data.deskey_length;
            let Key = Base64.decode(res.data.key)
              .trim()
              .substr(0, key_length);
            let des = Base64.decode(res.data.deskey)
              .trim()
              .substr(0, deskey_length);
            localStorage.setItem("Key", Key);
            localStorage.setItem("des", des);
            if (sessionStorage.getItem("from_v") == 2 && sessionStorage.getItem("isMoneySavCard") == 1) {
               this.searchUserIsCoordination();
             } else {
            if (this.$route.query.type == "act") {
              location.href = sessionStorage.getItem("BounceAddress");
            } else {
              this.$router.push({
                path: sessionStorage.getItem("state")
                  ? sessionStorage.getItem("state")
                  : "/index",
                query: JSON.parse(sessionStorage.getItem("stateQuery"))
              });
            }
             }
          } else {
            Toast(res.data.result + " " + res.data.msg);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /* 查询电信用户是否已办理指定套餐 */
    searchUserIsCoordination() {
      const STAMP = Date.now();
      const obj = {
        id: localStorage.getItem("userId"),
        stamp: STAMP,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            STAMP +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post("/api/wxmp/log/user/getUserTelCoordination", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            sessionStorage.setItem(
              "usermessage",
              JSON.stringify(res.data.data)
            );

            if (sessionStorage.getItem("from_c") == "banner") {
              sessionStorage.removeItem("from_c");
              sessionStorage.setItem("tishi", "您已订购省钱卡业务！");
              location.href = "/wxmp/act/2020/09/CDMA/tishi.html?resType=3";
            } else {
              if (this.$route.query.type == "act") {
                location.href = sessionStorage.getItem("BounceAddress");
              } else {
                 this.$router.push({
                   path: sessionStorage.getItem("state")
                     ? sessionStorage.getItem("state")
                   : "/index",
                   query: JSON.parse(sessionStorage.getItem("stateQuery"))
                });
              }
            }
          } else if (res.data.result == 0) {
            sessionStorage.setItem("tishi", res.data.msg);
            location.href = "/wxmp/act/2020/09/CDMA/tishi.html?resType=0";
            // 亲，您还未订购省钱卡业，请先点击下面的链接前往订购！
          } else if (res.data.result == 2) {
            sessionStorage.setItem("tishi", res.data.msg);
            // 亲，省钱卡权益仅对上海电信用户开放，您无法享受该项权益！
            location.href = "/wxmp/act/2020/09/CDMA/tishi.html?resType=2";
          } else {
            sessionStorage.setItem("tishi", res.data.msg);
            location.href = "/wxmp/act/2020/09/CDMA/tishi.html?resType=3";
            // Toast(res.data.result + "," + res.data.msg);
          }
        });
    },
    /* 绑定手机号按钮 */
    confirmHandle() {
      // 先获取token 再通过token获取用户信息
      //微信端绑定手机需要用到的接口：一、下发短信验证码、四、通过短信验证码绑定用户手机、五、通过token绑定用户手机
      // H5端登录需要用到的接口：一、下发短信验证码、二、通过短信验证码获取token、三、通过token登录获取用户信息
      var ua = navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        this.bindUserMobile();
      } else {
        this.getToken();
      }
    },
    /* dialog cancel 回调函数 取消 */
    cancelHandle() {
      this.show = false;
    }
  }
};
</script>

<style scoped lang="scss">
#login_box {
  width: 100%;
  height: 100%;
  .title {
    font-size: 0.48rem;
    font-family: Source Han Sans CN;
    color: #000000;
    width: 100%;
    height: 8.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  .content {
    width: 6.39rem;
    margin: auto;
    background: #ffffff;
    border-radius: 0.28rem;
    box-shadow: 0 0 0.2rem rgba(223, 223, 223, 0.91);
    padding: 0.85rem 0.39rem 0;
    box-sizing: border-box;
    transform: translateY(-66%);
  }
  .marginCSS {
    margin-top: 1rem;
  }
  .code {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submit {
    width: 100%;
    padding: 0.2rem;
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    box-sizing: border-box;
  }
  /deep/ .van-field__left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    .van-icon {
      font-size: 22px;
    }
  }
  /deep/ .van-count-down {
    color: #999;
  }
  /deep/ .van-cell {
    height: 0.88rem;
    background: #f8f8f8;
    margin-bottom: 0.4rem;
    padding: 10px 16px 10px 8px;
    border-radius: 0.16rem;
    // line-height: 1.1rem;
  }
  /deep/ .van-field__value {
    display: flex;
    align-items: center;
    .van-field__body {
      width: 100%;
    }
  }
  /deep/ .van-tabs {
    height: 100%;
    box-sizing: border-box;
    padding: 0.4rem 0.3rem;
    .van-tabs__wrap {
      .van-tabs__nav--card {
        border: 1px solid rgb(97, 73, 246);
      }
      .van-tabs__nav--card .van-tab {
        color: rgb(97, 73, 246);
        border: 1px solid rgb(97, 73, 246);
      }
      .van-tabs__nav--card .van-tab.van-tab--active {
        color: #fff;
        background-color: rgb(97, 73, 246);
      }
    }
    .van-tabs__content {
      padding-top: 0.8rem;
      background: #fff;
      border-radius: 0.1rem;
    }
  }
}
</style>