<template>
  <div id="example-2" style="background: url('./static/psychtest/index_bg_02.png') no-repeat center/cover;">
    <button @click="getCheck"
            style="background: url('./static/psychtest/index_btn.png') no-repeat center/cover;width: 2.3rem;height: .64rem;border: none;"></button>
    <transition name="bounce">
      <div v-if="show" class="dialog-bg">
        <div class="dialog_text">
          <p>您已参与过本题的测试</p>
          <div class="btn">
            <span @click="againPlay">再玩一次</span>
            <span @click="testResult">查看结果</span>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'

  export default {
    name: "test2",
    data() {
      return {
        show: false,
        period: '',
        index: 0,
        result_id: 0
      }
    },
    created() {
      this.period = "20180919144250650";//正式服期号
      // this.period = '20180917171704721';
      window.dataForWeixin = {
        appId: "",
        imgUrl: 'https://js.51takeit.com/wxmp/static/psychtest/test2_share.jpg', // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: 'https://js.51takeit.com/wxmp/index.html#/redirect?state=testindex2&shareId=' + this.period,
        title: "测你是宫斗剧中的哪个人",
        desc: "快来测一测你属于哪个后宫佳人",
        fakeid: ""
      };
      window.setShare();
    },
    mounted() {
      document.title = "测你是宫斗剧中的哪个人";
    },
    methods: {
      getCheck() {
        // this.show = true;
        let vm = this;
        let times = Date.now();
        let obj = {
          user_id: localStorage.getItem("userId"),
          period: vm.period,
          stamp: times,
          sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/query/getAnswerrecordInfoTwo', qs.stringify(obj))
          .then(res => {

            if (res.data.result == 1) {
              //做过测试
              vm.show = true;
              vm.result_id = res.data.queryResultId;
            } else if (res.data.result == 1019) {
              //没有做过测试
              vm.$router.push({path: '/testpic2', query: {period: vm.period}});
            }
          }).catch(error => {
          console.log(error);
        });
      },
      againPlay() {
        let vm = this;
        vm.$router.push({path: "/testpic2", query: {period: vm.period}})
      },
      //查看结果
      testResult() {
        let vm = this;
        vm.$router.push({path: "/testresult2", query: {result_id: vm.result_id, period: vm.period}})
      }
    }
  }
</script>

<style scoped lang="scss">
  #example-2 {
    width: 100%;
    height: 100%;
    button {
      position: absolute;
      bottom: .09rem;
      left: 0;
      right: 0;
      margin: auto;
    }
    .dialog-bg {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .dialog_text {
        width: 5.2rem;
        height: 2.43rem;
        display: block;
        background: #ffffff;
        border-radius: .07rem;
        p{
          padding: 0;
          margin: 0 auto;
          line-height: 1.28rem;
          font-size: .34rem;
          color: #000;
          text-align: center;
          border-bottom: 1px solid #e0e0e0;
        }
        .btn{
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            width: 50%;
            text-align: center;
            color: #555;
            line-height: 1.14rem;
            border-right: 1px solid #e0e0e0;
            font-size: .3rem;
          }
          span:last-child{
            border: none;
          }
        }
      }
    }
  }

  .bounce-enter-active {
    animation: bounce-in .5s;
  }

  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }

  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

</style>
