<template>
    <div class="start_test_box">
        <div class="start_test" style="background: url('./static/psychtest/14.jpg') no-repeat center/cover;">
            <div class="go" @click="getCheck">GO</div>
        </div>
        <div class="dialog" v-show="dialog">
            <div class="cont">
                <p>您已参与过本题测试，您可以</p>
                <div
                        style="width: 4.73rem;height: 50%;margin: auto;display: flex;justify-content: space-between;align-items: center;">
                    <div class="again-btn"
                         style="background: url('./static/psychtest/again_dialog.png') no-repeat center/cover"
                         @click="againPlay">再玩一次
                    </div>
                    <div class="result-btn"
                         style="background: url('./static/psychtest/again_dialog.png') no-repeat center/cover"
                         @click="testResult">查看结果
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import qs from 'qs'
    import MD5 from 'js-md5'

    export default {
        name: "text_index",
        created() {
            this.period = "20181011094346812";//正式服
            // this.period = "20181009155322146";//测试服

            // if(this.$route.query.period){
            //   this.period = this.$route.query.period;
            // }else if(localStorage.getItem('shareId') != ''){
            //   this.period = localStorage.getItem('shareId');
            // }
        },
        // mounted() {
        //     document.title = "你爱上一个人需要多久";
        //     window.dataForWeixin={
        //         appId:	"",
        //         imgUrl:	'https://js.51takeit.com/wxmp/static/psychtest/nav1.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
        //         link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshNav',
        //         title:	'你爱上一个人需要多久',
        //         desc:	"快来测一测",
        //         fakeid:	""
        //     };
        //     window.setShare();
        // },
        data() {
            return {
                dialog: false,
                period: '',
                index: 0,
                result_id:0
            }
        },
        methods: {
            //查询是否做过测试题
            getCheck() {
                let vm = this;
                let times = Date.now();
                let obj = {
                    user_id: localStorage.getItem("userId"),
                    period:vm.period,
                    stamp: times,
                    sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
                };
                axios.post(api + '/wxmp/info/query/getAnswerrecordInfoTwo', qs.stringify(obj))
                    .then(res => {

                        if (res.data.result == 1) {
                            //做过测试
                            vm.dialog = true;
                            vm.result_id = res.data.queryResultId;
                        }else if(res.data.result == 4319){
                            //未做完测试
                            vm.index = res.data.data.sort;
                            vm.$router.push({path: '/testpic3', query: {period: vm.period,index: vm.index}});
                        }else if (res.data.result == 1019) {
                            //没有做过测试
                            vm.$router.push({path: '/testpic3', query: {period: vm.period}});
                        }
                    }).catch(error => {
                    console.log(error);
                });

            },
            againPlay() {
                let vm = this;
                vm.$router.push({path: "/testpic3", query: {period: vm.period}})
            },
            //查看结果
            testResult() {
                let vm = this;
                vm.$router.push({path:"/testresult3",query:{result_id:vm.result_id,period:vm.period}})
            }
        }
    }
</script>

<style scoped lang="scss">
    .dialog {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        z-index: 99;
        .cont {
            width: 5.3rem;
            height: 2.8rem;
            background: #ffffff;
            box-shadow: .05rem .05rem 1px #2b020f;
            border-radius: .08rem;
            p {
                line-height: 1.4rem;
                text-align: center;
                color: #2b020f;
                font-size: 0.3rem;
                border-bottom: 1px solid #aa9a9f;
            }
            .again-btn, .result-btn {
                width: 2.1rem;
                height: .73rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .start_test{
        width: 100%;
        height: 11.30rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        /*background-size: cover;*/
        .go{
            width: 1.04rem;
            height: 1.04rem;
            background: #7C9ABC;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0  auto;
            top: 10.02rem;
            font-size: 0.46rem;
            color: #ffffff;
        }
    }
</style>
