<template>
  <div class="test-wrap" style="background: url('./static/psychtest/bg.png') no-repeat center/cover;">
    <div class="box" style="background: url('./static/psychtest/box.png') no-repeat center/cover;">
      <p class="content">
        根据英国专家所进行的大规模快速约会实验，女性在选择未来的人生伴侣决定过程所花费的时间比男性来短，如果在30秒内无法让异性印象深刻，那么注定成为“无缘的人”。想知道你爱上一个人需要多久吗赶紧来测试一下吧~</p>
      <div class="btn" @click="getCheck" style="background: url('./static/psychtest/btn.png') no-repeat center/cover;">开始测试</div>
    </div>
    <div class="dialog" v-show="dialog">
      <div class="cont">
        <p>您已参与过本题测试，您可以</p>
        <div
          style="width: 4.73rem;height: 50%;margin: auto;display: flex;justify-content: space-between;align-items: center;">
          <div class="again-btn"
               style="background: url('./static/psychtest/again_dialog.png') no-repeat center/cover"
               @click="againPlay">再玩一次
          </div>
          <div class="result-btn"
               style="background: url('./static/psychtest/again_dialog.png') no-repeat center/cover"
               @click="testResult">查看结果
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'

  export default {
    name: "text_index",
    created() {
      this.period = "20180720164058171";//正式服

      // if(this.$route.query.period){
      //   this.period = this.$route.query.period;
      // }else if(localStorage.getItem('shareId') != ''){
      //   this.period = localStorage.getItem('shareId');
      // }
    },
    mounted() {
      document.title = "你爱上一个人需要多久";
      window.dataForWeixin={
          appId:	"",
          imgUrl:	'https://js.51takeit.com/wxmp/static/psychtest/nav1.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
          link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=cshNav',
          title:	'你爱上一个人需要多久',
          desc:	"快来测一测",
          fakeid:	""
      };
      window.setShare();
    },
    data() {
      return {
        dialog: false,
        period: '',
        index: 0,
        result_id:0
      }
    },
    methods: {
      //查询是否做过测试题
      getCheck() {
        let vm = this;
        let times = Date.now();
        let obj = {
          user_id: localStorage.getItem("userId"),
          period:vm.period,
          stamp: times,
          sign: MD5(localStorage.getItem("userId") + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/query/getAnswerrecordInfo', qs.stringify(obj))
          .then(res => {

            if (res.data.result == 1) {
              //做过测试
              vm.dialog = true;
              vm.result_id = res.data.queryResult.id;

            }else if(res.data.result == 4319){
              //未做完测试
              vm.index = res.data.data.sort;
              vm.$router.push({path: '/testpic', query: {period: vm.period,index: vm.index}});
            }else if (res.data.result == 1019) {
              //没有做过测试
              vm.$router.push({path: '/testpic', query: {period: vm.period}});
            }
          }).catch(error => {
          console.log(error);
        });

      },
      againPlay() {
        let vm = this;
        vm.$router.push({path: "/testpic", query: {period: vm.period}})
      },
      //查看结果
      testResult() {
        let vm = this;
        vm.$router.push({path:"/testresult",query:{result_id:vm.result_id,period:vm.period}})
      }
    }
  }
</script>

<style scoped lang="scss">
  .test-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    .box {
      width: 5.67rem;
      height: 8.02rem;
      position: absolute;
      top: 1.79rem;
      left: .91rem;
      .content {
        width: 4.11rem;
        height: 3.24rem;
        position: absolute;
        top: 2.95rem;
        left: 0;
        right: 0;
        margin: auto;
        font-family: SourceHanSansCN-Regular;
        font-size: 0.28rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.36rem;
        letter-spacing: 0.02rem;
        color: #333333;
        text-align: left;
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: SourceHanSansCN-Medium;
        font-size: 0.3rem;
        font-weight: 600;
        line-height: .86rem;
        letter-spacing: 0.02rem;
        color: #2b020f;
        width: 3.59rem;
        height: .86rem;

        position: absolute;
        bottom: .83rem;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

  }

  .dialog {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 99;
    .cont {
      width: 5.3rem;
      height: 2.8rem;
      background: #ffffff;
      box-shadow: .05rem .05rem 1px #2b020f;
      border-radius: .08rem;
      p {
        line-height: 1.4rem;
        text-align: center;
        color: #2b020f;
        font-size: 0.3rem;
        border-bottom: 1px solid #aa9a9f;
      }
      .again-btn, .result-btn {
        width: 2.1rem;
        height: .73rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
</style>
