<template>
  <div class="test-wrap">
    <img :src="result_url" alt="" style="width: 100%;position: absolute;z-index: 22;">
    <p>长按屏幕保存图片</p>
    <div class="btn-box">
      <div class="again-btn" style="background: url('./static/psychtest/again-btn.png') no-repeat center/cover"
           @click="againPlay">再测一次
      </div>
      <div class="more-btn" style="background: url('./static/psychtest/more-btn.png') no-repeat center/cover"
           @click="morePlay">更多测试
      </div>
    </div>
  </div>
</template>

<script>
  import qs from 'qs'
  import MD5 from 'js-md5'

  export default {
    name: "testresult",
    created() {
      this.period = this.$route.query.period;
      this.result_id = this.$route.query.result_id;
      this.getResult(this.result_id);
    },
    mounted() {
      document.title = "测试结果";
      window.dataForWeixin={
                appId:	"",
                imgUrl:	'https://js.51takeit.com/wxmp/static/psychtest/nav1.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
                link:	'https://js.51takeit.com/wxmp/index.html#/redirect?state=find',
                title:	'你爱上一个人需要多久',
                desc:	"快来测一测",
                fakeid:	""
            };
            window.setShare();
    },
    data() {
      return {
        period: '',
        result_id: 0,
        result_url: "",
      }
    },
    methods: {
      //查询结果
      getResult(id) {
        let vm = this;
        let times = Date.now();
        let obj = {
          id: id,
          stamp: times,
          sign: MD5(id + '' + times + '' + localStorage.getItem('Key'))
        };
        axios.post(api + '/wxmp/info/query/getqueryResultInfo', qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.result_url = res.data.data.pic_url;
            }

          }).catch(error => {
          console.log(error);
        });
      },
      againPlay() {
        let vm = this;
        vm.$router.push({path: "/testpic", query: {period: vm.period}});
      },
      morePlay() {
        let vm = this;
        vm.$router.push({path: "/find"});
      }
    }
  }
</script>

<style scoped lang="scss">
  .test-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      z-index: 22;
      top: 0;
      left: 0;
    }
    p {
      font-size: 0.28rem;
      color: #e59c01;
      position: absolute;
      top: 9.6rem;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 33;
    }
    .btn-box {
      font-size: 0.3rem;
      font-weight: normal;
      font-stretch: normal;
      color: #fefefe;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 4.68rem;
      margin: .18rem auto 0;
      position: absolute;
      top: 10rem;
      left: 0;
      right: 0;
      z-index: 99;
      .again-btn {
        width: 2rem;
        height: .81rem;
        line-height: .81rem;
      }
      .more-btn {
        width: 2rem;
        height: .81rem;
        line-height: .81rem;
      }
    }
  }
</style>
