<template>
  <div
    class="test-wrap"
    style="background: url('./static/psychtest/testpic1_bg.png') no-repeat center/cover;"
  >
    <div
      class="paizi"
      style="background: url('./static/psychtest/paizi1.png') no-repeat center/cover;"
    >
      <p>
        第&nbsp;
        <span class="index">{{"0"+(activeIndex+1)}}</span>
        /{{"0"+testList.length}} 题
      </p>
    </div>
    <div
      class="box_title"
      style="background: url('./static/psychtest/box_title.png') no-repeat center/cover;width: 6.9rem;height: .59rem;margin: auto;"
    ></div>
    <div
      class="box"
      style="background: url('./static/psychtest/box_body.png') no-repeat center/cover;"
    >
      <p
        class="title"
        style="background: url('./static/psychtest/title_04.png') no-repeat center/cover;"
      >
        <span style="font-weight: 600;">题目：</span>
        {{testList[activeIndex].subject_title}}
      </p>
      <div
        v-for="(items,i) in testList[activeIndex].subjectarray"
        :key="i"
        :style="{'background':'url('+(active== items.opt_id?'./static/psychtest/opt_bg_active.png':'./static/psychtest/opt_bg.png')+') no-repeat center/cover'}"
        class="options"
        @click="optSelect(items.jump_subject_sort,items.opt_id)"
        v-html="items.opt_title"
      ></div>
      <div
        class="btn"
        @click="nextTest"
        v-if="next_index > 0"
        style="background: url('./static/psychtest/test1_btn.png') no-repeat center/cover;"
      >下一题</div>
      <div
        class="btn"
        @click="getTest"
        v-else
        style="background: url('./static/psychtest/btn1.png') no-repeat center/cover;"
      >提交</div>
    </div>
    <div class="dialog" v-show="dialog">
      <div class="cont">
        <p>您还没选择答案，请去选择吧~</p>
        <div
          style="width: 4.73rem;height: 50%;margin: auto;display: flex;justify-content: center;align-items: center;"
        >
          <div
            class="again-btn"
            style="background: url('./static/psychtest/again_dialog.png') no-repeat center/cover"
            @click="close"
          >确定</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import qs from "qs";
import MD5 from "js-md5";

export default {
  name: "testpic",
  created() {
    this.period = this.$route.query.period;
    this.activeIndex = 0;
    this.getData();
    /*window.dataForWeixin = {
        appId: "",
        imgUrl: './static/psychtest/nav1.png', // get_post_weixin_thumb 为微信机器人高级版中的函数
        link: 'https://js.51takeit.com/wxmp/index.html#/redirect?state=testindex&shareId=' + this.period,
        title: "你爱上一个人需要多久",
        desc: "",
        fakeid: ""
      };
      window.setShare();*/
  },
  mounted() {
    document.title = "测你的大脑性能是男是女";
  },
  data() {
    return {
      dialog: false,
      period: "",
      select_id: null,
      activeIndex: 0,
      active: -1,
      testList: [],
      result: [],
      result_id: 0,
      next_index: 0
    };
  },
  methods: {
    //获取题目数据
    getData() {
      let vm = this;
      let times = Date.now();
      let obj = {
        period: vm.period,
        stamp: times,
        sign: MD5(vm.period + "" + times + "" + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/info/query/getSubjectAndOptInfo", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            vm.testList = res.data.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    //选择选项
    optSelect(index, id) {
      this.next_index = index;
      console.log(this.next_index);
      this.active = id;
      this.select_id = id;
    },
    //下一题
    nextTest() {
      this.activeIndex = this.next_index - 1;
      let vm = this;
      if (this.select_id === null) {
        vm.dialog = true;
      } else {
        // 选项重置
        this.select_id = null;
        this.active = -1;
      }
    },
    //提交选项 计算分数显示结果
    getTest() {
      let vm = this;
      if (this.select_id === null) {
        vm.dialog = true;
      } else {
        let times = Date.now();
        let obj = {
          user_id: localStorage.getItem("userId"),
          opt_id: vm.select_id,
          period: vm.period,
          stamp: times,
          sign: MD5(
            localStorage.getItem("userId") +
              "" +
              times +
              "" +
              localStorage.getItem("Key")
          )
        };
        axios
          .post(api + "/wxmp/info/query/dosaveAddTwo", qs.stringify(obj))
          .then(res => {
            if (res.data.result == 1) {
              vm.result_id = res.data.queryResultId;
              vm.$router.push({
                path: "/testresult1",
                query: { result_id: res.data.queryResultId, period: vm.period }
              });
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    close() {
      this.dialog = false;
    }
  }
};
</script>

<style scoped lang="scss">
.test-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  .paizi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.21rem;
    height: 2.09rem;
    line-height: 2.51rem;
    margin: 0 auto 0.3rem;
    color: #380010;
    font-size: 0.44rem;
    font-weight: normal;
    font-stretch: normal;
    p {
      padding-top: 0.4rem;
      width: 100%;
      height: 1.26rem;
      line-height: 1.66rem;
    }
    .index {
      font-size: 0.45rem;
      color: #fefefe;
    }
  }
  .box {
    width: 6.9rem;
    height: 8.04rem;
    margin: auto;
    padding-top: 0.4rem;
    box-sizing: border-box;
    position: relative;
    .title {
      width: 5.36rem;
      height: 2.54rem;
      color: #380010;
      font-family: SourceHanSansCN-Regular;
      font-size: 0.34rem;
      font-weight: 400;
      font-stretch: normal;
      line-height: 0.6rem;
      padding: 0.4rem 0.28rem 0;
      text-align: left;
      box-sizing: border-box;
      margin: 0 auto 0.3rem;
    }
  }
  .options {
    width: 4.8rem;
    height: 0.92rem;
    text-align: left;
    display: flex;
    align-items: center;
    /*line-height: .91rem;*/
    padding-left: 0.32rem;
    font-size: 0.28rem;
    color: #2b020f;
    margin: 0 auto 0.38rem;
  }
  .options > span {
    font-size: 0.36rem;
    color: #2c001a;
  }
  .btn {
    width: 2rem;
    height: 0.81rem;
    margin: auto;
    font-size: 0.3rem;
    line-height: 0.81rem;
    text-align: center;
    color: #fefefe;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    right: 0;
  }
}

.dialog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 99;
  .cont {
    width: 5.3rem;
    height: 2.8rem;
    background: #ffffff;
    box-shadow: 0.05rem 0.05rem 1px #2b020f;
    border-radius: 0.08rem;
    p {
      line-height: 1.4rem;
      text-align: center;
      color: #2b020f;
      font-size: 0.3rem;
      border-bottom: 1px solid #aa9a9f;
    }
    .again-btn,
    .result-btn {
      width: 2.1rem;
      height: 0.73rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
