<template>
  <div class="wrapper">
    <div class="top">
      <div class="left">
        <div class="title">累计确认提成金额</div>
        <div class="money" style="color:#e90000;">
          ¥
          {{
            AllyUserData.confirm_commission_fee
              ? (AllyUserData.confirm_commission_fee / 100).toFixed(2)
              : 0.0
          }}
        </div>
      </div>
      <div class="btn">
        <img
          src="@/../public/static/user/rulebtn.png"
          alt
          style="width:1.46rem;height: 0.23rem;margin-bottom: 0.5rem;"
          @click="show = true"
        />
        <img
          src="@/../public/static/goods/balance-btn.png"
          alt
          style="width:2.19rem;height: 0.91rem;"
          @click="toRoute('/WeChat')"
        />
      </div>
    </div>
    <div class="content">
      <div class="left_GoodsClass">
        <div
          class="GoodsClass-item"
          v-for="(v, i) in GOODSCLASS"
          :class="active == i ? 'active' : ''"
          :key="v.class_id"
          @click="setActive(v, i)"
        >
          <span>{{ v.class_name }}</span>
        </div>
        <div class="GoodsClass-item" @click="toRoute('/myDistribution')">
          <span>我的分销</span>
        </div>
      </div>
      <div class="right_GoodsInfo">
        <div class="GOODS_LIST">
          <div v-if="CUR_GOODSlIST.length">
            <div
              class="goodsbox"
              v-for="(v, i) in CUR_GOODSlIST"
              :key="i"
              @click="goUrl(v)"
            >
              <div class="goodsImg">
                <!-- <img :src="v.title_url" alt /> -->
                <van-image
                  width="100%"
                  height="100%"
                  lazy-load
                  fit="fill"
                  :src="v.title_url"
                />
                <!-- <div class="lable_icon"
                    v-if="v.lable_icon">
                  <img v-if="v.lable_icon == 'hot'"
                      src="@/../public/static/goods/icon-hot.png"
                      alt="热门">
                  <img v-if="v.lable_icon == 'vip'"
                      src="@/../public/static/goods/icon-vip.png"
                      alt="会员">
                  <img v-if="v.lable_icon == 'new'"
                      src="@/../public/static/goods/icon-new.png"
                      alt="新品">
                  <img v-if="v.lable_icon == 'recomm'"
                      src="@/../public/static/goods/icon-recomm.png"
                      alt="推荐">
                  <img v-if="v.lable_icon == 'onsale'"
                      src="@/../public/static/goods/icon-onsale.png"
                      alt="打折">
                  <img v-if="v.lable_icon == 'limit'"
                      src="@/../public/static/goods/icon-limit.png"
                      alt="限量">
                  <img v-if="v.lable_icon == 'countdown'"
                      src="@/../public/static/goods/icon-countdown.png"
                      alt="限时">
                  <img v-if="v.lable_icon == 'seckill'"
                      src="@/../public/static/goods/icon-seckill.png"
                      alt="秒杀">
                </div>-->
              </div>
              <div class="goodsInfo">
                <div class="goodstitle textoverflow--Singleline">
                  {{ v.act_name }}
                </div>
                <div class="goods-desc textoverflow--Singleline">
                  {{ v.descr }}
                </div>
                <div class="goodsprice">
                  <p>
                    <span>¥</span>
                    <span style="font-size: 0.3rem;">{{
                      (v.prize / 100).toFixed(2)
                    }}</span>
                  </p>
                  <div
                    class="vip-price"
                    style="font-size: 0.24rem;font-weight: 400;"
                  >
                    收益 ¥{{ (v.ally_commission_money / 100).toFixed(2) }}
                  </div>
                  <div
                    class="vip-price"
                    style="font-size: 0.24rem;font-weight: 400;"
                  >
                    有效期截止至:{{ v.ally_end_time.substr(0, 11) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <van-empty
            v-else
            class="custom-image"
            image="https://img.yzcdn.cn/vant/custom-empty-image.png"
            description="暂时还没有商品哦~"
          />
          <!-- 兼容移动app 内嵌fixed的问题 -->
          <div
            v-if="apptype == 'shydhn'"
            style="width:100%;height:0.88rem;"
          ></div>
        </div>
      </div>
    </div>
    <rule-com :show="show" @closeRule="closeRule"></rule-com>
  </div>
</template>

<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from "vue";
import { Swipe, SwipeItem } from "vant";
import { Toast } from "vant";
import { Dialog } from "vant";
import { Overlay } from "vant";
import { Search } from "vant";
import { Icon } from "vant";
import { Image as VanImage } from "vant";
import { Lazyload } from "vant";
import { Empty } from "vant";
import ruleCom from "./components/ruleDialog";
Vue.use(Swipe)
  .use(Toast)
  .use(Dialog)
  .use(Icon)
  .use(Overlay)
  .use(Search)
  .use(Lazyload)
  .use(VanImage)
  .use(Empty)
  .use(SwipeItem);
export default {
  components: {
    ruleCom
  },
  data() {
    return {
      SearchValue: "",
      sub_url: "",
      apptype: "",
      GOODSCLASS: [],
      AllyUserData: "",
      GOODSlIST: [],
      CUR_GOODSlIST: [],
      swiperAdvertismentList: [],
      active: 0,
      tabbar: [
        {
          name: "首页",
          imgUrl: "./static/tabbar/home_nor.png",
          route: "index"
        },
        {
          name: "限时购",
          imgUrl: "./static/tabbar/diacover_nor.png",
          route: "limited"
        },
        {
          name: "专区",
          imgUrl: "./static/tabbar/tab_classify_pre.png",
          route: "special_area"
        },
        {
          name: "购物车",
          imgUrl: "./static/tabbar/shopping_nor.png",
          route: "cart"
        },
        {
          name: "我的",
          imgUrl: "./static/tabbar/my_nor.png",
          route: "user"
        }
      ],
      dialog: false,
      show: false
    };
  },
  created() {
    /shydhn/g.test(window.navigator.userAgent)
      ? (this.apptype = "shydhn")
      : (this.apptype = "");
    if (this.$route.query.class_id) {
      this.class_id = this.$route.query.class_id;
    }

    this.getGoodsListData();
    if (!this.$store.state.AllyUserData) {
      this.searchAllybyUser();
    } else if (
      localStorage.getItem("userId") !== this.$store.state.AllyUserData.user_id
    ) {
      this.searchAllybyUser();
    } else {
      this.AllyUserData = this.$store.state.AllyUserData;
    }
    console.log("created -> this.$route", this.$route);
  },
  mounted() {
    document.title = "合伙人商品列表";
  },
  methods: {
    /* 关闭rule */
    closeRule() {
      this.show = false;
    },
    /* 查询是否合伙人 */
    searchAllybyUser() {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/userally/getAllybyUser", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            // 查询成功
            console.log("searchAllybyUser -> this.$store", this.$store);
            this.$store.commit("changeAllyUserData", res.data.data);
            this.AllyUserData = this.$store.state.AllyUserData;
          } else if (res.data.result == 2000) {
            console.log(res.data.msg);
            this.$router.push({
              path: "/redirect",
              query: { state: this.$route.name }
            });
            // 用户不存在
          } else if (res.data.result == 2002) {
            console.log(res.data.msg);
            this.$router.push({ path: "/Partner" });

            // 不是合伙人
          } else {
            // 其它错误
            console.log(res.data.msg);
          }
        })
        .catch(error => {});
    },
    getGoodsListData() {
      axios.get("/wxmp/api/allyuser_0.json").then(response => {
        this.GOODSCLASS = response.data.dataList.map(v => {
          return v;
        });

        this.active =
          response.data.dataList.findIndex((v, i) => {
            return v.class_id == this.class_id;
          }) != -1
            ? response.data.dataList.findIndex((v, i) => {
                return v.class_id == this.class_id;
              })
            : 0;
        this.GOODSlIST = response.data.dataList.map(v => {
          return v.dataList;
        });
        this.CUR_GOODSlIST = this.GOODSlIST[this.active]
          ? this.GOODSlIST[this.active]
          : [];
        this.sub_url = response.data.sub_url;
        // console.log("created -> this.sub_url", this.sub_url);
      });
    },
    /* 查询 */
    onSearch() {
      sessionStorage.setItem("search", this.SearchValue);
      this.$router.push({ path: "/search" });
    },
    setActive(v, i) {
      this.CUR_GOODSlIST = this.GOODSlIST[i];
      this.active = i;
    },
    /* 商品跳转 */
    goUrl(e) {
      if (e.id !== -1) {
        this.$router.push({ path: "/shop_details", query: { id: e.id } });
      } else {
        location.href = e.goods_url;
      }
    },
    toRoute(path) {
      this.$router.push({ path: path });
    }
  }
};
</script>
<style lang="scss" scoped>
.textoverflow--Singleline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textoverflow--Multiline {
  overflow: hidden;
  display: -webkit-box;
  　　-webkit-box-orient: vertical;
  　　-webkit-line-clamp: 2;
}
input::-webkit-input-placeholder {
  color: #000;
}
.custom-image {
  width: 5rem;
  height: 6rem;
  margin: auto;
  /deep/ .van-empty__image {
    width: 2rem;
    height: 2rem;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  padding-top: 0.3rem;
  .banner {
    width: 5.4rem;
    height: 2.1rem;
    border-radius: 0.06rem;
    overflow: hidden;
    margin: 0 auto 0.06rem;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .top {
    width: 6.96rem;
    height: 2.8rem;
    padding: 0.4rem 0.22rem 0.3rem 0.4rem;
    box-sizing: border-box;
    margin: 0 auto 0.3rem;
    background-image: url("../../../../public/static/goods/bg.png");
    background-size: cover;
    background-position: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 0.34rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        display: flex;
        align-items: center;
        i {
          margin-left: 0.08rem;
        }
      }
    }
    .money {
      margin-bottom: 0.16rem;
      font-size: 0.5rem;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
      text-align: left;
    }
    .btn {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      img {
        margin-right: -0.14rem;
      }
    }
  }
  /* goods */
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 3.44rem);
    -webkit-overflow-scrolling: touch;
  }
  /* left */
  .left_GoodsClass {
    width: 1.72rem;
    box-sizing: border-box;
    background: #f6f6f6;
    overflow-y: scroll;
    min-height: calc(100% + 1px);
    .GoodsClass-item {
      width: 100%;
      height: 0.96rem;
      display: flex;
      align-items: center;
    }
    .GoodsClass-item.active {
      background: #ffffff;
      span {
        color: #2b2b2b;
        font-size: 0.29rem;
        font-family: Source Han Sans CN;
        font-weight: bold;
        width: 100%;
        border-left: 0.08rem solid #ffd200;
        box-sizing: border-box;
      }
    }
    span {
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #808080;
      font-size: 0.25rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      cursor: pointer;
    }
  }
  /* right */
  .right_GoodsInfo {
    width: 5.78rem;
    background: #fff;
    box-sizing: border-box;
    text-align: left;
  }
  .GOODS_LIST {
    height: 100%;
    overflow-y: scroll;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
  }
  .GOODS_LIST .goodsbox {
    display: flex;
    width: 5.24rem;
    height: 1.85rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    outline: none;
    margin: auto;
    position: relative;
  }
  .GOODS_LIST .goodsbox:last-child {
    border-bottom: none;
  }
  .GOODS_LIST .goodsImg {
    width: 1.68rem;
    height: 1.68rem;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    .lable_icon {
      position: absolute;
      top: 0;
      left: 0.16rem;
      width: 0.36rem;
    }
  }

  .goodsInfo {
    width: calc(100% - 1.84rem);
    height: 100%;
    padding-top: 0.1rem;
    margin-left: 0.16rem;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #ebebeb;
  }
  .goodstitle {
    font-size: 0.26rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: #000000;
    line-height: 0.36rem;
  }
  .goods-desc {
    color: #808080;
    font-size: 0.22rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
  }
  .goodsprice {
    width: 2.78rem;
    height: 0.72rem;
    font-size: 0.22rem;
    font-family: Source Han Sans CN;
    letter-spacing: 0;
    color: #e90000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: baseline;
    margin-top: 0.24rem;
  }
  .goodsprice p {
    font-size: 0.3rem;
    margin-right: 0.1rem;
  }
  .goodsprice .vip-price {
    font-size: 0.24rem;
    color: #2d2d2d;
  }
  .goodsprice p span {
    width: 100%;
    height: 100%;
    font-size: 0.22rem;
  }
  /* TABBAR */
  .tabbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.01rem solid #c4c4c4;
    height: 1.16rem;
    background: #fff;
  }
  .tabbar li {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tabbar li img {
    width: 0.44rem;
    height: 0.44rem;
    margin-bottom: 0.1rem;
  }
  .tabbar li span {
    color: #333;
    line-height: 1;
    font-size: 12px;
  }
  .van-search {
    padding: 0.17rem 0.63rem 0.27rem;
  }
  .van-search__content {
    background-color: #f8f8f8;
    padding-left: 0.24rem;
  }
  .van-field__control {
    font-size: 0.24rem;
  }
}
</style>