<template>
  <div class="wrap">
    <h1>合伙人规则</h1>
    <p>
      1. 注册登陆成功后，点击“立即成为合伙人”即可成为合伙人；
      <br />
      <br />2. 合伙人通过分享分销商品列表内的商品，并在订单支付成功后15天内无退款，即为分销成功，获得相应的分销提成；
      <br />
      <br />3. 合伙人可通过“我的分销商品”中查看自己的收益；
      <br />
      <br />4. 提成金额提现最低为10元。
    </p>
    <van-checkbox v-if="!AllyUserData" v-model="checkbox" shape="square" checked-color="#2BFF85">
      已阅读并同意
      <span style="color:#E94230">《合伙人规则》</span>
    </van-checkbox>
    <div class="btn" v-if="!AllyUserData" @click="BecomePartner">立即成为合伙人</div>
    <div class="btn back" v-if="AllyUserData" @click="$router.back(-1)">返回</div>
    <div class="btn back" style="margin-top: 0.5rem" v-if="!AllyUserData" @click="backUrl">返回</div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Checkbox, CheckboxGroup } from "vant";
import { Toast } from "vant";

Vue.use(Checkbox);
Vue.use(CheckboxGroup);
Vue.use(Toast);
export default {
  name: "Partner",
  data() {
    return {
      checkbox: false,
      AllyUserData: ""
    };
  },
  created() {
    if (
      this.$store.state.AllyUserData &&
      localStorage.getItem("userId") !== this.$store.state.AllyUserData.user_id
    ) {
      this.$store.commit("changeAllyUserData", null);
    }
    this.AllyUserData = this.$store.state.AllyUserData;
  },
  mounted() {
    document.title = "合伙人规则";
  },
  methods: {
    backUrl() {
      this.$router.push({ path: "/user" });
    },
    BecomePartner() {
      if (!this.checkbox) {
        Toast("请勾选同意《合伙人规则》");
        return false;
      }
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/userally/addAllybyUser", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            // 申请成功
            this.$store.commit("changeAllyUserData", res.data.data);
            this.$router.push({ path: "/goodsListShare" });
          } else if (res.data.result == 2000) {
            console.log(res.data.msg);
            // 用户不存在
          } else if (res.data.result == 2001) {
            console.log(res.data.msg);
            this.$router.push({ path: "/goodsListShare" });
            // 已是合伙人
          } else {
            // 其它错误
            console.log(res.data.msg);
          }
        })
        .catch(error => {});
    },
    toRoute(path, query = {}) {
      this.$router.push({ path: path, query: query });
    }
  }
};
</script>

<style scoped lang="scss">
.wrap {
  h1 {
    padding: 0.45rem 0;
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
  }
  p {
    width: 6.46rem;
    height: 5.52rem;
    font-size: 0.3rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 0.48rem;
    margin: auto;
    overflow-y: auto;
    text-align: left;
    white-space: pre-line;
    word-break: break-all;
  }
  /deep/ .van-checkbox {
    width: 6.46rem;
    margin: 0.65rem auto 0.65rem;
    font-size: 0.24rem;
    .van-checkbox__icon {
      font-size: 0.3rem;
    }
    .van-checkbox__label {
      color: #999999;
      line-height: 1;
    }
  }
  .btn {
    width: 6.3rem;
    height: 0.9rem;
    background: rgba(255, 210, 0, 1);
    border-radius: 0.45rem;
    margin: auto;
    font-size: 0.36rem;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 0.9rem;
    text-align: center;
  }
  .back {
    margin-top: 1rem;
  }
}
</style>