<!--
 * @Author: your name
 * @Date: 2020-08-05 17:29:09
 * @LastEditTime: 2020-08-27 16:52:58
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \jushou\store\src\views\About.vue
-->
<template>
  <div class="about">
    <h1>A 问藏书房</h1>
    <h1>B 问藏書房</h1>
    <h2>C 问藏書房</h2>

    <h3 @click="resize">D 问藏書房</h3>
  </div>
</template>
<script>
import { _debounce, confirm } from "@/decorator/debounce.js";
export default {
  created() {},
  updated() {
    console.log(this.$route.params);
  },
  methods: {
    // @_throttle(500)
    @confirm()
    @_debounce(500)
    resize() {
      console.log("问藏書房");
    }
  }
};
</script>
<style lang="scss" scoped>
.about {
  display: grid;
  // grid: var(--响应式);
  h1 {
    font-family: "ZJD", "WZSF", "SYgoogle";
    // background: var(--极光绿);
  }
  h2 {
    font-family: "SYgoogle";
    // background: var(--极光绿);
  }
  h3 {
    font-family: "ZJD";
    // background: var(--极光绿);
  }
}
</style>
