<template>
    <div class="result_wrap" :style="{background:styleData.exbackcolor}">
        <canvas id="canvas" style="width:7.5rem;height:11.3rem;" hidden></canvas>
        <img :src="saveImage" alt="">
        <!-- <span class="text">*长按可保存图片</span> -->
        <div class="btn-box">
            <div class="again-btn" :style="{backgroundImage:'url('+styleData.again_btn_url+')'}"
                @click="againPlay">
            </div>
            <div class="more-btn" :style="{backgroundImage:'url('+styleData.more_btn_url+')'}"
                @click="morePlay">
            </div>
        </div>
    </div>
</template>

<script>
import qs from 'qs'
  import MD5 from 'js-md5'
export default {
    name:"result",
    data(){
        return{
            saveImage:"",
            resultData:{
                pic_url:'',
                act_ewm_url:'',
                exbackcolor:''
            },//测试结果对象  通过本页面调取 getData()方法获取
            styleData:{
                again_btn_url:'',
                more_btn_url:'',
            },//测试首页获取到的测试题背景图 按钮图 等数据 存在session里 在session取 session.getItem('styleData');
            score: '',//计分制得分  从上个页面通过query参数带过来
            period:""//期号字段
        }
    },
    created(){
        this.styleData = JSON.parse(sessionStorage.getItem('styleData'));
        this.result_id = this.$route.query.result_id;
        this.period = this.$route.query.period;/* 获取期号 */
        this.score = this.$route.query.score;/* 获取分数 */
        this.getData();//获取结果数据
    },
    mounted(){
        if(sessionStorage.getItem('testTitle')){
            document.title = sessionStorage.getItem('testTitle');
        }else{
            document.title = '心理测试';
        }
        this.drawImg();
    },
    methods:{
        getPixelRatio(context){
            /* 计算屏幕像素比例 */
            var backingStore = context.backingStorePixelRatio ||
            context.webkitBackingStorePixelRatio ||
            context.mozBackingStorePixelRatio ||
            context.msBackingStorePixelRatio ||
            context.oBackingStorePixelRatio ||
            context.backingStorePixelRatio || 1;
            return (window.devicePixelRatio || 1) / backingStore;
        },
        againPlay(){
            this.$router.push({path: '/SkipTestTempleteteSub', query: {period: this.period}});
        },
        morePlay(){
            sessionStorage.setItem('active',2);
            this.$router.push({path: '/find'});
        },
        drawImg(){
            /* 绘制canvas保存成图片显示在页面上 */
            let vm = this;
            let canvas = $('#canvas')[0];
            let ctx = canvas.getContext('2d');
            let ratio = this.getPixelRatio(ctx);
            let pix = ratio/2;
            let width = 375*ratio;
            let height = 565*ratio;
            canvas.width = width;
            canvas.height = height;
            var img=new Image();
            img.src = this.resultData.pic_url;
            
            img.onload = function(){
                console.log(vm.resultData);
                ctx.drawImage(img,0,0,750,1102,0,0,width,height);
                ctx.save();
                var qcore=new Image();
                qcore.src = "/wxmp/"+vm.resultData.act_ewm_url;
                // qcore.src = vm.resultData.act_ewm_url;
                qcore.onload = function(){
                    ctx.drawImage(qcore,573*pix,78*pix,96*pix,96*pix);
                    ctx.save();
                    let base64 = canvas.toDataURL("image/jpg");
                    vm.saveImage = base64;
                    // console.log(vm.saveImage);
                }
            }
        },
        getData(){
            let vm = this;
            let times = Date.now();
            let obj = {
            id: vm.result_id,
            stamp: times,
            sign: MD5(vm.result_id + '' + times + '' + localStorage.getItem('oKey'))
            };
            console.log(vm.result_id + '' + times + '' + localStorage.getItem('oKey'));
            axios.post(api + '/wxmp/info/query/getqueryResultCurrentInfo', qs.stringify(obj))
            .then(res => {
                console.log("获取结果信息接口result值 ===>"+res.data.result);
                if (res.data.result == 1) {
                    this.resultData = res.data.data;
                    window.dataForWeixin={
                        appId: "",
                        imgUrl: this.styleData.back_url, // get_post_weixin_thumb 为微信机器人高级版中的函数
                        link: "https://" + window.location.host + "/wxmp/api/share.jsp?gourl="+Base64.encode(window.location.href.split('index.html')[0]+'index.html#/redirect?state=SkipTestTemplete&shareId='+vm.period),
                        title: this.resultData.view_conent!=''?this.resultData.view_conent:JSON.parse(sessionStorage.getItem('styleData')).act_name,
                        desc: JSON.parse(sessionStorage.getItem('styleData')).act_desc,
                        fakeid: ""
                        };
                        console.log(window.dataForWeixin);
                    window.setShare();
                    this.drawImg();
                }else {
                
                }
            }).catch(error => {
                console.log(error);
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.result_wrap{
    width: 100%;
    height: 100%;
    min-height: calc(100% + 1px);
    img{
        width: 100%;
    }
    .text{
        position: absolute;
        top: 9.39rem;
        right: 0;
        left: 0;
        z-index: 9999;
        color: #132835;
        width: 2.36rem;
        font-size: .3rem;
        letter-spacing: .01rem;
        margin: auto;
    }
    .btn-box{
        width: 100%;
        height: .92rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 10rem;
        padding: 0 .6rem;
    box-sizing: border-box;
        div{
            width: 2.21rem;
            height: .81rem;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
        .again-btn{
            margin-right: .43rem;
        }

    }

}
</style>
