<template>
  <div class="content">
    <dl v-for="(item,index) in list" :key="index">
      <dt><p class="p1">{{item.balance_name}}</p><p class="p2">{{item.income/100}}</p></dt>
      <dd><p class="p3">{{item.create_time.split(' ')[0]}}</p><p class="p4"></p></dd>
    </dl>
    <div class="kong" v-if="list.length == 0">
      <img src="@/../public/static/user/balance_kong.png" alt="">
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import Des from "@/style/des.js";
import qs from "qs";
import Vue from "vue";
import {Toast} from 'vant';

Vue.use(Toast);
export default {
  name: "balanceList",
  data () {
    return {
      list:[],
      pageSize: 50,
      pageNum: 1,
    };
  },
  created(){
    this.searchList();
  },
  mounted(){},
  methods:{
    searchList(){
      let time = new Date().getTime();
      let obj = {
          user_id: localStorage.getItem("userId"),
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          stamp: time,
          sign: MD5(localStorage.getItem("userId") + '' + time + localStorage.getItem('oKey'))
      };
      axios.post(api + '/wxmp/user/balance/getlist', qs.stringify(obj))
          .then((res) => {
              console.log(res);
              if(res.data.result==1){
                  if(res.data.dataNum==0){
                    this.list = [];
                  }else{
                    this.list = res.data.dataList;
                  }
              }
          })
          .catch(function (err) {
            console.log(err);
          })
    }
  }
}
</script>
<style lang="scss" scoped>
.kong{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 3.75rem;
    height: 3.71rem;
  }
}
    .content {
      width:7.5rem;
      height:100%;
      background:#fff;
    }
    dl{
      margin-left:.32rem;
      width:7.18rem;
      height:1.12rem;
      border-bottom:.02rem #E0E0E0 solid;
    }
    dt,dd {
      float:left;
      width:7.18rem;
    }
    dt {
      margin-top:.14rem;
      margin-bottom:.09rem;
    }

    .p1,.p2 {
      font-weight:400;
      font-size:.3rem;
      color:#333;
    }

    .p3,.p4 {
      
      font-size:.24rem;
      color:#999;
    }
    
    .p1,.p3 {
      float:left;
    }

    .p2,.p4 {

      margin-right:.32rem;
      float:right;
    }
</style>