<template>
  <div class="content">
    <div class="top">
      <p class="t1">余额(元)</p>
      <p class="t2">{{balance/100}}</p>
      <img src="@/../public/static/active314/wave.gif" alt="">
    </div>
    <div class="bottom">
      <dl>
        <dt><p class="p1">累积提现</p></dt>
        <dd><p class="p2">{{total_num/100}}元</p></dd>
      </dl>
      <dl v-for="(item,index) in list" :key="index" @click="skip(item.route)">
        <dt><p class="p1">{{item.name}}</p></dt>
        <dd><img src="@/../public/static/active314/next.png" alt="" class="right"></dd>
      </dl>
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import Des from "@/style/des.js";
import qs from "qs";
import Vue from "vue";
import {Toast} from 'vant';

Vue.use(Toast);
export default {
  name: "WeChat",
  data () {
    return {
      list:[
        {name:'提现',route:'/balance'},
        {name:'充值',route:'/recharge'},
        {name:'提现记录',route:'/balanceList'}
        ],
        balance: 0,
        total_num: 0,
    };
  },
  methods:{
    skip(route){
      if(route == '/balanceList'){
        this.$router.push({path:route})
      }else{
        location.href = `/wxmp/?index.html#${route}`
      }
      
    },
    searchList(){
      let time = new Date().getTime();
      let obj = {
          user_id: localStorage.getItem("userId"),
          pageNum: this.pageNum,
          pageSize: this.pageSize,
          stamp: time,
          sign: MD5(localStorage.getItem("userId") + '' + time + localStorage.getItem('oKey'))
      };
      axios.post(api + '/wxmp/user/balance/getlist', qs.stringify(obj))
          .then((res) => {
              console.log(res);
              if(res.data.result==1){
                  if(res.data.dataNum==0){
                    this.total_num = 0;
                  }else{
                    res.data.dataList.forEach(element => {
                      if(element.income*1<0){
                        this.total_num+=element.income*1;
                      }
                    });
                    this.total_num = Math.abs(this.total_num);
                  }
              }
          })
          .catch(function (err) {
            console.log(err);
          })
    },
    get_msg() {
      var time = new Date().getTime();
      var obj = {
          id: localStorage.getItem("userId"),
          stamp: time,
          sign: MD5(
              localStorage.getItem("userId") +
              "" +
              time +
              localStorage.getItem("Key")
          )
      };
      axios.post(api + "/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
          .then((res) => {
              if (res.data.result == 1) {
                  console.log('查询成功');
                  if (res.data.data.balance != '') {
                    var num = Des.decryptByDES(res.data.data.balance,localStorage.getItem("des"));
                      if (num == '') {
                          this.balance = 0;
                      } else {
                          this.balance = num;
                      }
                  } else {
                      this.balance = 0;
                  }
              } else if (res.data.result == 1021) {
                  //重定向
              } else {
                  console.log(res.data.msg)
              }
          })
          .catch((error) => {
              console.log(error)
          })
    },
  },
  created(){
    this.get_msg();
    this.searchList();
  }
}
</script>
<style lang="scss" scoped>
.content {
      width:7.5rem;
      height:100%;
      background:#fff;
      padding-top: .49rem;
      box-sizing: border-box;
    }

    .top {
      width:6.71rem;
      height:2.2rem;
      background:linear-gradient(188deg,rgba(255,224,21,1) 0%,rgba(255,196,9,1) 100%);
      border-radius:.1rem;
      text-align: center;
      margin-left:.4rem;
      padding-top:.54rem;
      img{
        width: 100%;
        height: 1rem;
        mix-blend-mode:screen;
      }
    }

    .top .t1 {
      font-size:.34rem;
      font-weight: normal;
      color:#222;
    }

    .top .t2 {
      font-size:.5rem;
      color:#222;
      font-weight: bold;
      margin-top:.26rem;
    }

    .bottom {
      width:7.18rem;
      padding-left:.32rem;
      margin-top:.5rem;
    }

    dl {
      width:7.18rem;
      height:1.03rem;
      line-height:1.03rem;
      border-bottom:.02rem #E0E0E0 solid;

    }

    dl p {
      font-size:.3rem;
      color:#333;
      font-weight: bold;
      float:left;
    }
    dl img {
      width:.36rem;
      height:.56rem;
      float:right;
      margin-top:.23rem;
    }

    .p2 {
      float:right;
    }

    .p2,dl img {
      margin-right:.32rem;
    }

</style>