import { List } from 'vant';
<!--
 * @Descripttion: 
 * @version: V1.0.0
 * @Author: sueRimn
 * @Date: 2020-01-07 15:50:55
 * @LastEditors  : sueRimn
 * @LastEditTime : 2020-01-08 12:07:56
 -->
<template>
  <div id="chatComponents">
    <div class="chatbox">
      <div id="chat">
        <div class="list" :class="item.from_c == 1? 'left' : 'right'" v-for="(item,index) in list" :key="index">
          <p>{{item.from_c == 1? item.c_nick : (item.s_nick?item.s_nick:'客服')}}</p>
          <img :src="item.c_head_url" alt="" v-if="item.from_c == 1">
          <div :class="item.from_c == 1? 'tip' : 'tip-right'">
            {{item.content}}
          </div>
          <img :src="item.s_head_url" alt="" v-if="item.from_c == 0" class="img-right">
        </div>
      </div>
    </div>
    <div class="textbox">
      <van-field
        v-model="sms"
        center
        clearable
        autofocus
        arrow-direction="left"
        safe-area-inset-bottom
      >
        <van-button slot="button" size="small" type="primary" @click="receiveServiceMsg">发送</van-button>
      </van-field>
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from 'vue';
import { Field } from 'vant';
import { Toast } from 'vant';
Vue
.use(Field)
.use(Toast);
export default {
  name:'Customer',
  data(){
    return{
      list:[],
      sms:""
    }
  },
  created() {
    this.getServiceMsgList();
  },
  mounted() {
    document.title = '客服聊天对话';
  },
  methods: {
    getServiceMsgList(){
      const time = new Date().getTime();
      const C_OPEN_ID = sessionStorage.getItem('c_open_id');
      const obj = {
        c_open_id: C_OPEN_ID,
        stamp: time,
        sign: MD5(C_OPEN_ID + "" + time + localStorage.getItem("oKey"))
      };
      axios.post(api + "/wxmp/msg/getServiceMsgList", qs.stringify(obj))
      .then(res=>{
        if(res.data.result == 1){
          this.list = res.data.dataList;
          document.title = '与 '+res.data.dataList.filter(obj=>{return obj.from_c == 1})[0].c_nick+' 聊天对话中';
          this.$nextTick(() => {
            let msg = document.getElementsByClassName('chatbox')[0]; // 获取对象
            msg.scrollTop = msg.scrollHeight; // 滚动高度
          })
        }else{
          Toast(res.data.msg);
        }
      })
    },
    receiveServiceMsg(){
      if(this.sms){
        const time = new Date().getTime();
        const C_OPEN_ID = sessionStorage.getItem('c_open_id');
        const S_OPEN_ID = sessionStorage.getItem('s_open_id');
        const obj = {
          c_open_id: C_OPEN_ID,
          s_open_id: S_OPEN_ID,
          content: this.sms,
          stamp: time,
          sign: MD5(C_OPEN_ID + "" + S_OPEN_ID + time + localStorage.getItem("oKey"))
        };
        axios.post(api + "/wxmp/msg/receiveServiceMsg", qs.stringify(obj))
        .then(res=>{
          if(res.data.result == 1){
            this.list.push(res.data.data);
            this.sms = '';
            this.$nextTick(() => {
              let msg = document.getElementsByClassName('chatbox')[0]; // 获取对象
              msg.scrollTop = msg.scrollHeight; // 滚动高度
            })
          }else{
            Toast(res.data.msg);
          }
        })
      }else{
        Toast("请输入有效信息");
      }
      
    }
  },
}
</script>
<style lang="scss" scoped>
$sw:0.246rem;
$sh:0.12rem;
$imgW:0.8rem;

  #chatComponents {
    font-family:Source Han Sans CN;
    width: 100%;
    height: 100%;
    .chatbox{
      height: calc(100% - 1.08rem);
      padding: 0.3rem 0.25rem;
      box-sizing: border-box;
      overflow: scroll;
      .list{
        position: relative;
        padding: 0.2rem 0;
        margin: 0.3rem 0;
        box-sizing: border-box;
        p{
          position: absolute;
          top: -0.2rem;
          font-size: 0.24rem;
          color: #9e9e9e;
        }
        img{
          width: $imgW;
          height: $imgW;
          border-radius: 0.1rem;
          margin-right: 0.38rem;
          background: #000;
        }
        img.img-right{
          width: $imgW;
          height: $imgW;
          border-radius: 0.1rem;
          margin-left: 0.38rem;
          margin-right: 0;
          background: #000;
        }
        .tip {
          display: inline-block ;
          line-height: 0.6rem;
          font-size: 0.26rem;
          max-width: 5.02rem;
          border: 1px solid #fff;
          border-radius: 4px;
          position: relative;
          background-color: #fff;
          padding: 0.1rem 0.2rem;
          box-sizing: border-box;
          filter: drop-shadow(0px 2px 4px rgba(64, 158, 225, 0.9));
          text-align: left;
          &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $sh $sw $sh 0;
            border-color: transparent #fff transparent transparent;
            position: absolute;
            top: ($imgW - $sh - $sh) / 2;
            left: -$sw;
            margin: auto;
            z-index: 2;
          }
          
        }
        .tip-right {
          overflow: hidden;
          display: inline-block ;
          line-height: 0.6rem;
          font-size: 0.26rem;
          max-width: 5.02rem;
          border: 1px solid #fff;
          border-radius: 4px;
          position: relative;
          background-color: #fff;
          padding: 0.1rem 0.2rem;
          box-sizing: border-box;
          filter: drop-shadow(0px 2px 4px rgba(64, 158, 225, 0.9));
          text-align: right;
          &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $sh 0 $sh $sw;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            top: ($imgW - $sh - $sh) / 2;
            left: none;
            right: -$sw;
            margin: auto;
            z-index: 2;
          }
          
        }
      }
      .left{
        display: flex;
        justify-content: flex-start;
      }
      .right{
        display: flex;
        justify-content: flex-end;
      }
      
    }
    .textbox{
      position: fixed;
      width: 100%;
      bottom: 0;
      height: 1.08rem;
      
    }
    .van-cell{
      background: #f2f2f2;
      height: 1.24rem;
      padding: 0.2rem 0.32rem 0.34rem;
      .van-field__control{
        background: #fff;
        border-radius: 0.08rem;
        line-height: 0.7rem;
        font-size: 0.26rem;
        padding: 0 0.2rem;
        color: #4d4d4d;
      }
    }
    
  }
</style>