import { List } from 'vant';
<!--
 * @Descripttion: 
 * @version: V1.0.0
 * @Author: sueRimn
 * @Date: 2020-01-06 15:15:59
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2020-09-02 10:58:37
 -->
 <template>
  <div id="gifts">
    <van-skeleton :row="3" :loading="loading">
      <template v-if="List.length">
        <div class="list" v-for="(item, index) in List" :key="index">
          <div class="left">{{item.gift_name}}</div>
          <div class="right">
            <span
              class="btn"
              @click="shareBTN(item)"
              v-if="item.get_flag == 0"
            >{{item.share_flag == 0 ?'送好友':'已分享'}}</span>
            <span class="btn gited" @click="gited" v-if="item.get_flag == 1">已领取</span>
          </div>
        </div>
      </template>
      <div class="no" v-if="!List.length">暂时没有礼品券哦~</div>
    </van-skeleton>
    <div class="mask" v-show="share" @click="share=!share">
      <p class="share-text">去给好友送份大礼吧！</p>
    </div>
  </div>
</template>
<script>
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from "vue";
import { Skeleton } from "vant";
import { Toast } from "vant";
Vue.use(Skeleton).use(Toast);
export default {
  name: "gifts",
  data() {
    return {
      List: [],
      loading: true,
      share: false
    };
  },
  created() {
    //获取奖券列表
    this.getList();
  },
  mounted() {
    document.title = "礼品清单";
    window.setShare();
    wx.ready(() => {
      if (sessionStorage.getItem("from")) {
        sessionStorage.removeItem("from");
      }

      wx.redirectTo({ url: "/pages/users/2020gifts/main" });
    });
  },
  methods: {
    getList() {
      const time = new Date().getTime();
      const obj = {
        stamp: time,
        user_id: localStorage.getItem("userId"),
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            "" +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/wxmp/gift/userGiftList", qs.stringify(obj))
        .then(response => {
          this.loading = false;
          if (response.data.result == 1) {
            this.List = response.data.dataList;
          } else if (response.data.result == 1019) {
          } else {
            Toast(response.data.msg);
          }
        });
    },
    shareBTN(info) {
      window.dataForWeixin = {
        appId: "",
        imgUrl: `${info.share_pic ? info.share_pic : ""}`, // get_post_weixin_thumb 为微信机器人高级版中的函数
        link:
          "https://" +
          window.location.host +
          "/wxmp/api/share.jsp?gourl=" +
          Base64.encode(
            `https://${
              window.location.host
            }/wxmp/index.html#/redirect?state=backurl&backurl=${Base64.encode(
              info.share_url
            ).replace(/==/g, "")}&gift_id=${info.id}`
          ),
        title: info.bless_msg,
        desc: info.share_titel,
        fakeid: ""
      };
      sessionStorage.setItem("liquan", info.id);
      console.log(window.dataForWeixin);
      window.shareSuccess = this.shareSuccess;
      window.setShare();
      this.share = true;
    },
    gited() {
      Toast("已赠送过好友，换张送吧~");
    },
    shareSuccess() {
      const time = new Date().getTime();
      const obj = {
        gift_id: sessionStorage.getItem("liquan"),
        stamp: time,
        sign: MD5(
          sessionStorage.getItem("liquan") +
            "" +
            time +
            "" +
            localStorage.getItem("oKey")
        )
      };
      axios
        .post(api + "/wxmp/gift/doShareGift", qs.stringify(obj))
        .then(response => {
          sessionStorage.removeItem("liquan");
          if (response.data.result == 1) {
            this.getList();
          }
        });
    }
  }
};
</script>
<style lang="scss" scoped>
@keyframes move {
  0% {
    transform: translate(-200px, -200px) rotate(45deg);
  }
  100% {
    transform: translate(200px, 200px) rotate(45deg);
  }
}
$shanguang: move 2s infinite ease-out;
#gifts {
  width: 100%;
  height: 100%;
  padding: 0.8rem 0.24rem;
  box-sizing: border-box;
  font-family: Source Han Sans CN;
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1rem;
    font-size: 0.3rem;
    color: #4d4d4d;
    font-weight: 500;
    font-family: Source Han Sans CN;
    border: 0.01rem solid #eee;
    // border-bottom: 0.01rem solid #eee;
    // border-top: 0.01rem solid #eee;
    margin-bottom: 0.2rem;
    box-shadow: 0rem 0rem 0.1rem rgba(217, 121, 34, 0.14);
    border-radius: 0.1rem;
    .left {
      width: 75%;
      text-align: left;
      padding-left: 0.18rem;
      box-sizing: border-box;
    }
    .right {
      width: 25%;
      height: 100%;
      border-left: 0.01rem solid #eee;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn {
        display: block;
        width: 80%;
        height: 50%;
        border-radius: 0.5rem;
        background: linear-gradient(
          45deg,
          rgba(250, 175, 68, 1),
          rgba(250, 175, 68, 1),
          rgba(255, 207, 139, 1)
        );
        color: #fff;
        font-size: 0.28rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          height: 150%;
          width: 25px;
          background: #fff;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          opacity: 0.6;
          filter: blur(6px);
          animation: $shanguang;
        }
      }
      .gited {
        background: #eee;
        color: #4d4d4d75;
        &::after {
          content: "";
          height: 0;
          width: 0;
          background: #fff;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          opacity: 0.6;
          filter: blur(6px);
          animation: none;
        }
      }
    }
  }
  .no {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
  }
}
.mask {
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  top: 0;
  left: 0;
  .share-text {
    width: 100%;
    font-size: 0.32rem;
    color: #fff;
    line-height: 1.8rem;
  }
}
</style>