<template>
  <div class="wrapper" style="background-image:url('./static/index/newbg.png')">
    <ul class="couponlist">
      <li
        class="couponlist-item"
        v-for="(item,i) in COUPON_INFO"
        :key="item.id"
        :style="{backgroundImage:`url(${item.canGain?'./static/index/coupon_pre1.png':'./static/index/coupon_nor1.png'})`}"
      >
        <div class="couponlist-item_left">
          <div class="coupon_price">
            <span>¥</span>
            {{item.prize/100}}
            <p class="coupon_name van-ellipsis">{{item.coupon_name}}</p>
          </div>
          <p class="coupon_desc van-ellipsis">{{item.coupon_desc?item.coupon_desc:'描述描述'}}</p>
          <!-- <p class="coupon_date">有效期{{item.begin_use_time.substr(0,11).replace(/-/g,'.')}}-{{item.end_use_time.substr(0,11).replace(/-/g,'.')}}</p> -->
        </div>
        <div class="coupon_btn" @click="setCoupon(item.id,i)" v-if="item.canGain">立即领取</div>
        <div class="coupon_btn" style="color:#999" v-if="!item.canGain">立即领取</div>
      </li>
    </ul>
    <div
      class="btn"
      @click="GoIndexPage"
      style="width:6.26rem;height:0.78rem;position:absolute;top:10.88rem;left:0;right:0;margin:auto;line-height:0.78rem;text-align:center;background:#FFD200;font-size:0.3rem;color:rgba(0,0,0,1);border-radius:0.78rem;"
    >返回首页</div>
  </div>
</template>

<script>
import MD5 from "js-md5";
import qs from "qs";
import Vue from "vue";
import { Toast } from "vant";
Vue.use(Toast);
export default {
  components: {},
  props: {},
  data() {
    return {
      COUPON_INFO: "" //已选优惠券
    };
  },
  methods: {
    /* 查询商品优惠券列表 */
    GET_COUPON_LIST() {
      console.log("youhuiqian");
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/info/coupon/newUserCouponList";
      const obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          this.COUPON_INFO = res.data.dataList;
        }
      });
    },
    /* 选择优惠券 */
    setCoupon(id, i) {
      const time = new Date().getTime();
      const axiosurl = "/api/wxmp/info/coupon/newUserGainCoupon";
      const obj = {
        user_id: localStorage.getItem("userId"),
        coupon_id: id,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            "" +
            id +
            time +
            "" +
            localStorage.getItem("Key")
        )
      };
      axios.post(axiosurl, qs.stringify(obj)).then(res => {
        if (res.data.result == 1) {
          this.COUPON_INFO[i].canGain = 0;
          sessionStorage.setItem("coupon_id", res.data.data.id);
          Toast("领取优惠券成功！");
        } else {
          Toast(res.data.result + res.data.msg);
        }
      });
    },
    GoIndexPage() {
      this.$router.push({ path: "/index" });
    }
  },
  created() {
    this.GET_COUPON_LIST();
  },
  mounted() {}
};
</script>
<style lang="scss" scoped>
.wrapper {
  width: 100%;
  height: 100%;
  background-size: 7.5rem 15rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  .couponlist {
    width: 5.8rem;
    height: 5.4rem;
    overflow-y: scroll;
    position: absolute;
    top: 5.36rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    .couponlist-item {
      width: 5.8rem;
      height: 1.46rem;
      margin-bottom: 0.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      .couponlist-item_left {
        width: 3.7rem;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #c44e48;
        padding-left: 0.34rem;
        box-sizing: border-box;
        .coupon_price {
          text-align: left;
          width: 100%;
          font-size: 0.42rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          display: flex;
          justify-content: flex-start;
          align-content: center;
          align-items: baseline;
          span {
            font-size: 0.37rem;
          }
          .coupon_name {
            margin-left: 0.06rem;
            font-size: 0.24rem;
            font-family: Source Han Sans CN;
            font-weight: 500;
          }
        }

        .coupon_desc {
          width: 100%;
          text-align: left;
          font-size: 0.2rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          margin-top: 0.08rem;
          margin-bottom: 0.08rem;
        }
        .coupon_date {
          width: 100%;
          font-size: 0.2rem;
          font-family: Source Han Sans CN;
          font-weight: 500;
          text-align: left;
        }
      }
      .coupon_btn {
        width: calc(100% - 3.7rem);
        height: 0.42rem;
        border-radius: 0.21rem;
        font-size: 0.27rem;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: #e01212;
        text-align: center;
        line-height: 0.42rem;
      }
    }
  }
}
</style>