<template>
  <div class="vip-buy-wrap">
    <div
      class="vip-card-bg"
      style="background: url('./static/user/vip_card.png')  center/cover no-repeat;"
    >
      <p>{{is_vip?'您的会员权益'+usermessage.validity_time.split(' ')[0]+'到期':""}}</p>
    </div>
    <div class="vip-rule">
      <p class="vip-rule_title">
        <img src="@/../public/static/user/vip_title_02.png" alt />
      </p>
      <ul>
        <li v-for="(vipRule_opt,index) in VIP_RULE" :key="index">
          <img :src="vipRule_opt.url" alt />
          <h5>{{vipRule_opt.title}}</h5>
          <p>{{vipRule_opt.desc}}</p>
        </li>
      </ul>
    </div>
    <div class="vip-goods" v-if="!is_buy">
      <p class="vip-goods_title">
        <img src="@/../public/static/user/vip_title_03.png" alt />
      </p>
      <good-list :data="goodList" />
    </div>
    <div class="vip-record" v-if="!is_buy" style="padding-bottom: 1.6rem;padding-top: .27rem;">
      <p class="vip-record_title">
        <img src="@/../public/static/user/vip_title_04.png" alt />
      </p>
      <ul>
        <li
          style="width: 100%;height: .86rem;border-top:0.01rem solid rgba(224,224,224,1);"
          v-for="(item,index) in vip_record"
          :key="index"
        >
          <div
            style="width: 60%;display: flex;align-items: center;justify-content: space-between;text-align:left"
          >
            <div class="vip-name">{{item.goodsRecord?item.goodsRecord[0].act_name:item.fee_name}}</div>
            <div class="vip-date">{{item.pay_time.split('.')[0]}}</div>
          </div>
          <div class="vip-price" v-if="item.prize*1">￥{{(item.prize/100).toFixed(2)}}</div>
          <div class="vip-price" v-if="item.point*1">{{item.point}} 积分</div>
        </li>
      </ul>
    </div>

    <div class="vip-menu" v-if="is_buy">
      <p class="vip-menu_title">
        <img src="@/../public/static/user/vip_title_01.png" alt />
      </p>
      <ul>
        <li
          :class="vip_active == index?'vip-menu_active':''"
          v-for="(vip_opt,index) in vip_opt_list"
          @click="vipOpt(index,vip_opt)"
          :key="index"
        >
          <div class="vip-menu_name">{{vip_opt.fee_name}}</div>
          <div class="vip-menu_cur" v-if="vip_opt.goods.prize*1">
            <span>￥</span>
            {{vip_opt.goods.prize*1/100}}
          </div>
          <div class="vip-menu_cur" v-else>
            {{vip_opt.goods.point*1}}
            <span class="point">积分</span>
          </div>
          <div class="vip-menu_ori" v-if="vip_opt.goods.prize*1">
            <del>¥{{vip_opt.goods.goods_cost*1/100}}</del>
          </div>

          <div
            class="mark"
            v-if="vip_active == index"
            :class="vip_active == index?'vip-menu_active':''"
          >限时特惠</div>
        </li>
      </ul>
    </div>
    <div class="rule">
      <van-checkbox v-model="checked" checked-color="#1AF266" icon-size="14px" shape="square">
        {{checked?'已':'未'}}阅读并同意
        <span class="red" @click.stop="readyRule">《举手优选会员规则》</span>
      </van-checkbox>
    </div>
    <div class="btnBox">
      <div class="btn" @click="buyVip" v-if="is_vip">立即续费</div>
      <div class="btn" @click="buyVip" v-else>开通{{validity_day}}卡</div>
    </div>
  </div>
</template>

<script>
import GoodList from "../../../components/list";
import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";

import Vue from "vue";
import { Checkbox, CheckboxGroup, Toast } from "vant";
Vue.use(Checkbox).use(CheckboxGroup);
export default {
  name: "vip_buy",
  data() {
    return {
      checked: 0,
      is_vip: 0,
      is_buy: 1,
      vip_info: "购物享受特价优惠，专题活动",
      validity_time: "",
      goodList: [],
      vip_opt_list: [],
      VIP_RULE: [
        {
          url: "./static/user/viprule_01.png",
          title: "价格权益",
          desc: "会员专属价"
        },
        {
          url: "./static/user/viprule_02.png",
          title: "商品特权",
          desc: "会员专属商品"
        },
        {
          url: "./static/user/viprule_03.png",
          title: "积分福利",
          desc: "会员积分翻倍"
        }
      ],
      vip_active: 0,
      usermessage: {},
      vip_record: [],
      validity_day: "月"
    };
  },
  components: {
    GoodList
  },
  created() {
    this.is_vip = sessionStorage.getItem("is_vip") * 1;
    this.usermessage = JSON.parse(sessionStorage.getItem("usermessage"));
    if (this.is_vip) {
      if (
        new Date(this.usermessage.validity_time.substr(0, 19)).getTime() <
        Date.now()
      ) {
        //会员到期
        console.log("会员到期");
        this.is_buy = 1;
      } else {
        this.is_buy = 0;
      }
    }
    this.getVipOpt();
    this.getVipGoods();
    this.getVipInfo();
  },
  methods: {
    // 阅读规则
    readyRule() {
      this.$router.push({ path: "vip_rule" });
    },
    //选择vip开通类型
    vipOpt(index, item) {
      this.vip_active = index;
      //判断购买按钮显示
      if (item.validity_day <= "30") {
        this.validity_day = "月";
      } else if (item.validity_day >= "365") {
        this.validity_day = "年";
      } else if (item.validity_day > "30" && item.validity_day <= "92") {
        this.validity_day = "季";
      }
    },
    //获取VIP 推荐商品
    getVipGoods() {
      var time = new Date().getTime();
      var obj = {
        Class_id: "-1",
        pageNum: 1,
        pageSize: 4,
        stamp: time,
        sign: MD5("-1" + "1" + "4" + time + "" + localStorage.getItem("oKey"))
      };
      axios
        .post(
          api + "/wxmp/info/goods/doGoodsClassHotAPIInfolist",
          qs.stringify(obj)
        )
        .then(res => {
          if (res.data.result == 1) {
            if (res.data.dataNum != 0) {
              this.goodList = res.data.dataList;
            } else {
              this.goodList = [];
            }
          } else {
            this.goodList = [];
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    // 获取VIP 选项
    getVipOpt() {
      var times = new Date().getTime();
      var obj = {
        pageNum: 1,
        pageSize: 10,
        stamp: times,
        sign: MD5(1 + "" + 10 + times + localStorage.getItem("Key"))
      };
      axios
        .post(api + "/wxmp/user/vip/getVipFeeList", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.vip_opt_list = res.data.data;
          }
        });
    },
    //获取VIP记录列表
    getVipInfo() {
      var time = new Date().getTime();
      var obj = {
        user_id: localStorage.getItem("userId"),
        pageNum: 1,
        pageSize: 10,
        stamp: time,
        sign: MD5(
          localStorage.getItem("userId") +
            1 +
            "" +
            10 +
            time +
            localStorage.getItem("Key")
        )
      };
      axios
        .post(api + "/wxmp/info/order/doVipGoodsOrderList", qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.vip_record = res.data.dataList;
          } else {
            console.log(res.data.msg);
          }
        });
    },
    //购买VIP
    buyVip() {
      if (this.is_buy) {
        if (!this.checked) {
          Toast("请先阅读并同意《举手优选会员规则》！");
          return false;
        }
        let order = [
          {
            goods_id: this.vip_opt_list[this.vip_active].goods_id,
            goods_num: 1,
            car_id: -1
          }
        ];
        sessionStorage.setItem(
          "order_list",
          Base64.encode(JSON.stringify(order))
        );
        this.$router.push({ path: "/sub_order" });
      } else {
        this.is_buy = 1;
      }
    }
  }
};
</script>

<style scoped lang="scss">
.vip-buy-wrap {
  width: 100%;
  height: calc(100% + 1px);
  overflow-y: scroll;
  padding-top: 0.65rem;
  box-sizing: border-box;
  .red {
    color: #e94230;
    font-size: 0.24rem;
    font-family: Source Han Sans CN;
  }
  .rule {
    padding: 0 0.53rem;
    box-sizing: border-box;
    margin-top: 0.7rem;
    margin-bottom: 1.51rem;
  }
  /deep/ .van-checkbox__label {
    color: #999;
    font-size: 0.24rem;
    font-family: Source Han Sans CN;
  }
  .vip-card-bg {
    margin: 0 auto 0.49rem;
    width: 6.8rem;
    height: 3.47rem;
    // box-shadow:0 0.07rem 0.32rem 0.09rem rgba(75,75,75,0.28);
    border-radius: 0.16rem;
    p {
      padding-top: 2.8rem;
      margin-left: 0.55rem;
      text-align: left;
      font-size: 0.24rem;
      font-family: PingFangSC-Regular;
      color: #f7f6f3;
      line-height: 0.4rem;
    }
  }
  .vip-goods {
    .vip-goods_title {
      width: 2.26rem;
      height: 0.29rem;
      margin: 0 auto 0.49rem;
      img {
        width: 100%;
      }
    }
  }
  .vip-record {
    text-align: left;
    font-size: 0.34rem;
    font-family: PingFangSC-Medium;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
    line-height: 0.48rem;
    .vip-record_title {
      width: 2.26rem;
      height: 0.29rem;
      margin: 0.49rem auto 0.49rem;
      img {
        width: 100%;
      }
    }
    ul {
      padding-top: 0.18rem;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.32rem;
        padding-right: 0.32rem;
        box-sizing: border-box;
        .vip-name {
          font-size: 0.3rem;
          font-family: PingFangSC-Regular;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
          line-height: 0.4rem;
          margin-right: 0.3rem;
        }
        .vip-date {
          font-size: 0.24rem;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
          line-height: 0.3rem;
          /*margin-right: 2.7rem;*/
        }
        .vip-price {
          font-size: 0.32rem;
          font-family: PingFangSC-Medium;
          font-weight: 400;
          color: rgba(34, 34, 34, 1);
          line-height: 0.45rem;
        }
      }
      li:last-child {
        border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
      }
    }
  }
  .vip-rule {
    text-align: left;
    font-size: 0.34rem;
    font-family: PingFangSC-Medium;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
    padding-bottom: 0.83rem;
    .vip-rule_title {
      width: 2.26rem;
      height: 0.29rem;
      margin: auto;
      img {
        width: 100%;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.49rem 0.77rem 0;
      box-sizing: border-box;
      font-family: Source Han Sans CN;
      li {
        width: 1.5rem;
        height: 1.71rem;
        text-align: center;
        img {
          width: 1rem;
          height: 1rem;
          margin: auto;
        }
        h5 {
          font-size: 0.24rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #2e2e2e;
        }
        p {
          font-size: 0.18rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
      }
    }
  }
  .vip-menu {
    text-align: center;
    font-size: 0.34rem;
    font-family: PingFangSC-Medium;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
    line-height: 0.48rem;
    .vip-menu_title {
      width: 2.26rem;
      height: 0.29rem;
      margin: auto;
      img {
        width: 100%;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.45rem 0.53rem 0;
      box-sizing: border-box;
      font-family: Source Han Sans CN;
      li {
        width: 1.96rem;
        height: 1.96rem;
        border-radius: 0.15rem;
        text-align: center;
        border: 0.01rem solid rgba(151, 151, 151, 1);
        padding-top: 0.32rem;
        box-sizing: border-box;
        .vip-menu_name {
          font-size: 0.32rem;
          font-family: PingFangSC-Regular;
          font-weight: 600;
          color: rgba(51, 51, 51, 1);
          margin-bottom: 0.09rem;
        }
        .vip-menu_cur {
          font-size: 0.47rem;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          color: #e90000;
          // margin-bottom: .18rem;
          line-height: 0.47rem;
          span {
            font-size: 0.36rem;
          }
        }
        .vip-menu_ori {
          font-size: 0.3rem;
          font-family: PingFangSC-Medium;
          font-weight: 500;
          color: rgba(153, 153, 153, 1);
        }
        .del {
          font-size: 0.18rem;
          font-family: PingFangSC-Medium;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
        span.point {
          font-size: 0.18rem;
          color: #808080;
        }
      }
      li.vip-menu_active {
        width: 1.96rem;
        height: 1.96rem;
        background: rgba(255, 244, 191, 1);
        border-radius: 0.15rem;
        border: 0.01rem solid #ffd200;
        position: relative;
        .mark {
          width: 1.12rem;
          height: 0.26rem;
          background: rgba(233, 0, 0, 1);
          padding: 0.05rem;
          border-radius: 0.26rem;
          position: absolute;
          top: -0.13rem;
          left: 0.15rem;
          font-size: 0.12rem;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: rgba(254, 254, 254, 1);
          line-height: 0.26rem;
        }
      }
    }
  }
  .btnBox {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1.21rem;
    background: #fff;
    .btn {
      margin: auto;
      width: 6.9rem;
      height: 0.8rem;
      background: #ffd200;
      border-radius: 0.4rem;
      font-size: 0.36rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(34, 34, 34, 1);
      line-height: 0.8rem;
    }
  }
}
</style>