<!--
 * @Author: your name
 * @Date: 2020-06-30 15:43:47
 * @LastEditTime: 2020-06-30 15:46:23
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \hand-up-3.0\src\views\users\vip\vip_rule.vue
--> 
<template>
  <div class="wrap">
    <img src="@/../public/static/user/vip_rule.png" alt="">
    <div class="btn" @click="back">返回</div>
  </div>
</template>

<script>
export default {
  name:'vip_rule',
  data(){
    return{}
  },
  methods:{
    back(){
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
.wrap{
  padding-top: 0.45rem;
  overflow-y: scroll;
  img{
    width: 6.86rem;
    height: 15.42rem;
    display: block;
    margin: auto;
  }
  .btn{
    width:6.3rem;
    height:0.9rem;
    background:rgba(255,210,0,1);
    border-radius:0.45rem;
    font-size:0.36rem;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem auto;
  }
}
</style>>