<!--
 * @Author: your name
 * @Date: 2019-11-20 10:45:27
 * @LastEditTime: 2019-11-24 18:05:21
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \hand-up-3.0\src\views\users\vip\vip_buy_success.vue
 -->
<template>
    <div class="vip-wrap">
        <img src="@/../public/static/user/vip_buy_success.png" alt="">
        <h6>支付成功</h6>
        <p>
            您已成功购买举手VIP<span style="color: red">{{vip_type}}</span>啦
            <br>
            现在就去买买买吧！
        </p>
        <div class="back_btn" @click="getBack">返回</div>
    </div>
</template>

<script>
    export default {
        name: "vip_buy_success",
        data(){
            return{
                vip_type:'月付会员'
            }
        },
        created(){
            if(this.$route.query.vip_type){
                this.vip_type = this.$route.query.vip_type;
            }
        },
        methods:{
            getBack(){
                this.$router.push({path:sessionStorage.getItem('orderbackurl')?sessionStorage.getItem('orderbackurl'):'/index'})
            }
        }
    }
</script>

<style scoped lang="scss">
.vip-wrap{
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding-top: 1.34rem;
    box-sizing: border-box;
    text-align: center;
    background: #fff;
    img{
        display: block;
        width: 1.86rem;
        height: 1.44rem;
        margin: 0 auto .32rem;
    }
    h6{
        width: 100%;
        font-size:0.4rem;
        font-family:PingFangSC-Medium;
        font-weight:600;
        color:rgba(34,34,34,1);
        line-height:0.56rem;
        margin-bottom: .56rem;
    }
    p{
        width: 100%;
        font-size:0.32rem;
        font-family:PingFangSC-Regular;
        color:rgba(102,102,102,1);
        line-height:0.45rem;
    }
    .back_btn{
        font-size:0.3rem;
        width: 3.99rem;
        height:0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .72rem auto 0;
        border-radius:0.45rem;
        border:0.01rem solid rgba(151,151,151,1);
        color:rgba(34,34,34,1);

    }
}
</style>