<template>
  <div class="guess-wrap">
    <div class="tab-nav">
      <div v-for="(item,index) in tabs"
           :key="index"
           @click='Active(index)'
           class="tab-nav-item"
           :class="active == index?'tab-nav-item tab-nav-item-active':'tab-nav-item'">{{item.tabName}}</div>
    </div>
    <div class="tab-content"
         v-if="is_list&&!show">
      <div class="tab-content_title">{{tabs[active].tabTitle}}</div>
      <div class="tab-content_table_title">
        <span v-for="(theads,index) in tabs[active].table"
              :key="index"
              class="table_item">{{theads}}</span>
      </div>
      <ul v-if="active == 0 "
          class="table_tbody">
        <van-list v-model="loading"
                  :error.sync="error"
                  error-text="请求失败，点击重新加载"
                  :finished="finished"
                  @load="onLoad"
                  loading-text="数据加载中"
                  :immediate-check="false">
          <li v-for="(item,index) in list"
              :key="index">
            <span class="tb_item">
              <span v-if="item.guess_tag">{{item.guess_tag}} 钢索</span>
              <span v-if="item.guess_sort == 1 && item.guess_tag == ''">A 钢索</span>
              <span v-if="item.guess_sort == 2 && item.guess_tag == ''">B 钢索</span>
              <span v-if="item.guess_sort == 3 && item.guess_tag == ''">C 钢索</span>
              <span v-if="item.guess_sort == 4 && item.guess_tag == ''">D 钢索</span>
              <span v-if="item.guess_sort == 5 && item.guess_tag == ''">E 钢索</span>
              <span class="time">{{item.create_time.split(' ')[0].replace(/-/g,'/')}}</span>
            </span>
            <span class="tb_item">{{item.multiple}}</span>
            <span class="tb_item">{{item.multiple}}元</span>
            <span class="tb_item tb_item_btn"
                  @click='getResult(item)'
                  v-if="item.end_flag == 0">未开奖</span>
            <span class="tb_item tb_item_btn"
                  @click='getResult(item)'
                  v-if="item.end_flag == 1">已中奖</span>
            <span class="tb_item tb_item_btn"
                  @click='getResult(item)'
                  v-if="item.end_flag == 2">未中奖</span>
          </li>
        </van-list>
      </ul>
      <ul v-if="active == 1"
          class="table_tbody">
        <van-list v-model="loading1"
                  :error.sync="error1"
                  error-text="请求失败，点击重新加载"
                  :finished="finished1"
                  @load="onLoad1"
                  loading-text="数据加载中"
                  :immediate-check="false">
          <li v-for="(item,index) in list1"
              :key="index">
            <span class="tb_item">
              <span v-if="item.guess_tag">{{item.guess_tag}} 钢索</span>
              <span v-if="item.guess_sort == 1 && item.guess_tag == ''">A 钢索</span>
              <span v-if="item.guess_sort == 2 && item.guess_tag == ''">B 钢索</span>
              <span v-if="item.guess_sort == 3 && item.guess_tag == ''">C 钢索</span>
              <span v-if="item.guess_sort == 4 && item.guess_tag == ''">D 钢索</span>
              <span v-if="item.guess_sort == 5 && item.guess_tag == ''">E 钢索</span>
              <span class="time">{{item.create_time.split(' ')[0].replace(/-/g,'/')}}</span>
            </span>
            <span class="tb_item">{{item.guess_number}}</span>
            <span class="tb_item">{{item.multiple}}元</span>
            <span class="tb_item tb_item_btn"
                  @click='getResult(item)'
                  v-if="item.end_flag == 0">未开奖</span>
            <span class="tb_item tb_item_btn"
                  @click='getResult(item)'
                  v-if="item.end_flag == 1">已中奖</span>
            <span class="tb_item tb_item_btn"
                  @click='getResult(item)'
                  v-if="item.end_flag == 2">未中奖</span>
          </li>
        </van-list>
      </ul>
      <div style="margin:.66rem auto;background:linear-gradient(0deg,rgba(90,210,216,1),rgba(51,167,173,1));width:3.6rem;height:.88rem;border-radius: .44rem;line-height:.88rem;color:#fff;font-size: .36rem;"
           @click="skip('/guess')">返回首页</div>
    </div>
    <div class="is_list"
         v-if="!is_list&&!show"
         style="width:100%;height: 100%;display:flex;justify-content: center;align-items: center;flex-direction: column;position:absolute;top:0;left:0;padding-top:.98rem;box-sizing:border-box;z-index:1;">
      <p style="font-size:.36rem;color:#217F80;margin-bottom:2.68rem;">您还没有竞猜哦，快去竞猜吧！</p>
      <div style="background:linear-gradient(0deg,rgba(90,210,216,1),rgba(51,167,173,1));width:3.6rem;height:.88rem;border-radius: .88rem;line-height:.88rem;color:#fff;font-size: .36rem;"
           @click="skip('/guess')">马上竞猜</div>
    </div>
    <div class="dialog"
         v-if='dialog'>
      <!-- 猜断弹框 1未开奖 2未中奖 3中奖未领取 4中奖已领取-->
      <div v-if='award_flag == 1'
           class="not_lottery dialog-item"
           style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;">
        <h3 class='dialog_title'>温馨提示</h3>
        <p style="height: 3.56rem;">
          钢索尚未切断
          <br>
          请等待开奖
        </p>
        <div @click='close'
             class="close"
             style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;"></div>
      </div>
      <div v-if='award_flag == 2'
           class="not_guess dialog-item"
           style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;">
        <h3 class='dialog_title'>很遗憾</h3>
        <p style="height: 3.56rem;">
          您没有猜中
          <br>
          {{resultTag}}钢索是第二根被切断的
        </p>
        <div @click='close'
             class="close"
             style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;"></div>
      </div>
      <div v-if='award_flag == 3'
           class="guess dialog-item"
           style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;">
        <h3 class='dialog_title'>恭喜您</h3>
        <p>
          <span>猜中啦！</span>
          <span style="font-weight:600;">第二根被切断的是{{resultTag}}钢索</span>
          <!-- <span>此次可平分奖金{{money}}元</span>  -->
          <span>您可以分得{{prize_value}}元</span>
        </p>
        <div class="btn">领取奖金</div>
        <div @click='close'
             class="close"
             style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;margin-top:1.36rem;"></div>
      </div>
      <div v-if='award_flag == 4'
           class="have_got dialog-item"
           style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;">
        <h3 class='dialog_title'>恭喜您</h3>
        <p>
          <span>猜中啦！</span>
          <span style="font-weight:600;">第二根被切断的是{{resultTag}}钢索</span>
          <!-- <span>此次可平分奖金{{money}}元</span>  -->
          <span>您可以分得{{prize_value}}元</span>
        </p>
        <div class="btn"
             @click="skip('/WeChat')">领取奖金</div>
        <div class="desc">奖金可至举手优选“个人中心-我的钱包-零钱”查看</div>
        <div @click='close'
             class="close"
             style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;margin-top:.88rem;"></div>
      </div>
      <!-- 猜数字弹框 2未中奖 3中奖未领取 4中奖已领取-->
      <div v-if='award_flag1 == 2'
           class="guess dialog-item"
           style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;">
        <h3 class='dialog_title'>很遗憾</h3>
        <p style="height: 3.56rem;">
          您没有猜中
          <br>
          {{resultTag}}钢索在第{{cut_count}}刀被切断
        </p>
        <div @click='close'
             class="close"
             style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;"></div>
      </div>
      <div v-if='award_flag1 == 3'
           class="guess dialog-item"
           style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;">
        <h3 class='dialog_title'>恭喜您</h3>
        <p>
          <span>猜中啦！</span>
          {{resultTag}}钢索在第{{cut_count}}刀被切断
          <span>{{prize_name}}</span>
        </p>
        <div class="btn"
             v-if="is_get1==0"
             @click="getprize">我要领取</div>
        <div class="btn btn_get"
             v-if="is_get1==1"
             @click="getprize">已领取</div>
        <div @click='close'
             class="close"
             style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;margin-top:1.36rem;"></div>
      </div>
      <div v-if='award_flag1 == 4'
           class="guess dialog-item"
           style="background:url('@/../static/active314/guess_dialog.png') no-repeat center/cover;">
        <h3 class='dialog_title'>恭喜您</h3>
        <p>
          {{resultTag}}钢索在第{{cut_count}}刀被切断
          <span>您的竞猜数字接近结果</span>
          <span>{{prize_name}}</span>
        </p>
        <div class="btn"
             v-if="is_get1==0"
             @click="getprize">我要领取</div>
        <div class="btn btn_get"
             v-if="is_get1==1"
             @click="getprize">已领取</div>
        <div @click='close'
             class="close"
             style="background:url('@/../static/active314/guess_close.png') no-repeat center/cover;margin-top:1.36rem;"></div>
      </div>
    </div>
    <!--填写信息-->
    <div class="rule"
         v-if="award_id!=-1 && info_flag== 1">
      <div class="info_box">
        <div class="info_title">填写个人信息</div>
        <input v-model="name"
               type="text"
               placeholder="姓名"
               v-on:blur="sure">
        <input v-model="tel"
               type="tel"
               placeholder="手机号"
               v-on:blur="sure_mobie"
               maxlength="11">
        <input v-model="ID_card"
               type="text"
               placeholder="身份证号"
               v-on:blur="sure_id_num"
               maxlength="18">
        <div class="id_num_trip">
          我们将会对您的个人信息保密，请您放心填写
          <br>
          *请填写本人身份证信息，确定后不可更改。
        </div>
        <div class="id_num_trip"></div>
        <div class="submit"
             @click="setInfo">提交</div>
      </div>
    </div>
    <!--确认信息-->
    <div class="rule"
         v-if="award_id!=-1 && info_flag== 2">
      <div class="info_box">
        <div class="info_title">确认个人信息</div>
        <input v-model="name"
               type="text"
               placeholder="姓名"
               disabled="disabled">
        <input v-model="tel"
               type="number"
               placeholder="手机号"
               disabled="disabled">
        <input v-model="ID_card"
               type="text"
               placeholder="身份证号"
               disabled="disabled">
        <div class="sure"
             @click="saveInfo">确认</div>
        <div class="update"
             @click="revise">修改信息</div>
      </div>
    </div>
    <van-overlay :show="show">
      <van-loading size="24px" color="#fff" style="top:50%;">请求数据中...</van-loading>
    </van-overlay>

    
  </div>
</template>

<script>
import Vue from 'vue'
import { Progress } from 'vant';
import { List } from 'vant';
import { Toast } from 'vant';
import { Tab, Tabs } from 'vant';
import { Overlay } from 'vant';
import { Loading } from 'vant';
// import { Base64 } from "js-base64";
import MD5 from "js-md5";
import qs from "qs";
Vue.use(Progress).use(List).use(Toast).use(Tab).use(Tabs).use(Overlay).use(Loading);
export default {
  name: "GuessList",
  data () {
    return {
      active: 0,
      tabs: [
        { tabName: '牵引索挑战', tabTitle: '请竞猜第二根断的是哪根钢索？', table: ['投注项', '投注倍数', '投注金额', '竞猜结果'] },
        { tabName: '举手数字猜', tabTitle: '请竞猜哪个数字切断该根钢索？', table: ['投注项', '投注数字', '投注金额', '竞猜结果'] },
      ],
      game_code: 'drf520',
      list: [],
      list1: [],
      /* 滚动加载 */
      loading: false,
      finished: false,
      finishLoad: true,
      error: false,
      loading1: false,
      finished1: false,
      finishLoad1: true,
      error1: false,
      is_list: false,

      pageNum: 1,
      pageSize: 10,
      /* 提示框 */
      show: true,
      dialog: false,
      award_flag: 0,//类型
      award_flag1: 0,//类型
      resultTag: '',
      prize_name: '',
      prize_value: '',
      money: '',
      cut_count: '',
      is_get: 1,
      is_get1: 1,
      award_id: -1,
      info_flag: 0,
      name: '',
      tel: '',
      ID_card: ''
    }
  },
  created () {
    let that = this;
    if (this.$route.query.active) {
      this.active = 1;
      setTimeout(function () {
        that.getList1(2);
      }, 500)

    } else {
      this.active = 0;
      setTimeout(function () {
        that.getList(1);
      }, 500)
    }
  },
  mounted () {
    document.title = "我的竞猜";
  },
  methods: {
    checkIDCard (idcode) {
      // 加权因子
      var weight_factor = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2];
      // 校验码
      var check_code = ['1', '0', 'X', '9', '8', '7', '6', '5', '4', '3', '2'];

      var code = idcode + "";
      var last = idcode[17];//最后一个

      var seventeen = code.substring(0, 17);

      // ISO 7064:1983.MOD 11-2
      // 判断最后一位校验码是否正确
      var arr = seventeen.split("");
      var len = arr.length;
      var num = 0;
      for (var i = 0; i < len; i++) {
        num = num + arr[i] * weight_factor[i];
      }

      // 获取余数
      var resisue = num % 11;
      var last_no = check_code[resisue];

      // 格式的正则
      // 正则思路
      /*
      第一位不可能是0
      第二位到第六位可以是0-9
      第七位到第十位是年份，所以七八位为19或者20
      十一位和十二位是月份，这两位是01-12之间的数值
      十三位和十四位是日期，是从01-31之间的数值
      十五，十六，十七都是数字0-9
      十八位可能是数字0-9，也可能是X
      */
      var idcard_patter = /^[1-9][0-9]{5}([1][9][0-9]{2}|[2][0][0|1][0-9])([0][1-9]|[1][0|1|2])([0][1-9]|[1|2][0-9]|[3][0|1])[0-9]{3}([0-9]|[X])$/;

      // 判断格式是否正确
      var format = idcard_patter.test(idcode);

      // 返回验证结果，校验码和格式同时正确才算是合法的身份证号码
      return last === last_no && format ? true : false;
    },
    sure () {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
    },
    //手机验证
    sure_mobie () {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
      if (!(/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(this.tel))) {
        Toast("手机格式错误");
      }
    },
    //身份证号验证
    sure_id_num () {
      var bfscrolltop = document.body.scrollTop;
      document.body.scrollTop = bfscrolltop;
      if (!this.checkIDCard(this.ID_card)) {
        Toast("身份证格式错误");
      }
    },
    skip (route) {
      if (route == '/guess') {
        window.location.href = `/wxmp/?index.html#/guess`;
      } else {
        this.$router.push({ path: route })
      }

    },
    onLoad () {
      console.log('进来了');
      let vm = this;
      //  vm.pageNum++;
      setTimeout(function () {
        vm.pageNum++;
        // 加载状态结束
        vm.loading = false;
        if (vm.finishLoad) {
          vm.getList(1);
        } else {
          vm.finished = true;
        }
      }, 800);
    },
    onLoad1 () {
      console.log('进来了');
      let vm = this;
      // vm.pageNum++;
      setTimeout(function () {
        vm.pageNum++;
        // 加载状态结束
        vm.loading1 = false;
        if (vm.finishLoad1) {
          vm.getList1(2);
        } else {
          vm.finished1 = true;
        }
      }, 800);
    },
    rest () {
      this.list = [];
      this.pageNum = 1;
      this.loading = false;
      this.finished = false;
      this.finishLoad = true;
      this.loading1 = false;
      this.finished1 = false;
      this.finishLoad1 = true;
    },
    Active (i) {
      this.rest();
      this.active = i;
      this.list = [];
      this.list1 = [];
      if (i == 0) {
        this.getList(1);
      } else {
        this.getList1(2);
      }
    },
    getList (type) {
      if(this.pageNum == 1){
              this.show = true;
            }
      let time = new Date().getTime();
      let obj = {
        game_code: this.game_code,
        user_id: localStorage.getItem("userId"),
        guess_type: type,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5(localStorage.getItem("userId") + '' + this.game_code + time + localStorage.getItem('Key'))
      }
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/user/game/cutguess/cut/getGuessRecord', qs.stringify(obj))
        .then(res => {
          console.log(res);
          if(this.pageNum == 1){
              this.show = false;
            }
          if (res.data.result == 1) {
            this.list.push(...res.data.dataList);
          } else if (res.data.result == 0) {
            if (type == 1) {
              this.loading = false;
              this.finishLoad = false;
              this.finished = true;
            } else {
              this.loading1 = false;
              this.finishLoad1 = false;
              this.finished = true;
            }
          } else {
            this.error = true;
            this.error1 = true;
          }
          console.log(this.list.length);
          if (this.list.length) {
            this.is_list = true;
          } else {
            this.is_list = false;
          }
        })

    },
    getList1 (type) {
      if(this.pageNum == 1){
        this.show = true;
      }
      let time = new Date().getTime();
      let obj = {
        game_code: this.game_code,
        user_id: localStorage.getItem("userId"),
        guess_type: type,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        stamp: time,
        sign: MD5(localStorage.getItem("userId") + '' + this.game_code + time + localStorage.getItem('Key'))
      }
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/user/game/cutguess/cut/getGuessRecord', qs.stringify(obj))
        .then(res => {
          console.log(res);
          if(this.pageNum == 1){
              this.show = false;
            }
          if (res.data.result == 1) {
            this.list1.push(...res.data.dataList);
            
          } else if (res.data.result == 0) {
            if (type == 1) {
              this.loading = false;
              this.finishLoad = false;
              this.finished = true;
            } else {
              this.loading1 = false;
              this.finishLoad1 = false;
              this.finished = true;
            }
          } else {
            this.error = true;
            this.error1 = true;
          }
          if (this.list1.length) {
            this.is_list = true;
          } else {
            this.is_list = false;
          }
        })

    },
    getResult (item) {
      if (item.award_flag == 0 && item.end_flag == 0) {
        this.dialog = true;
        this.award_flag = 1;
        return false;
      }
      let time = new Date().getTime();
      let obj = {
        order_id: item.id,
        stamp: time,
        sign: MD5(item.id + '' + time + localStorage.getItem('Key'))
      }
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/user/game/cutguess/getByIdResult', qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            this.award_id = res.data.data.award_id;
            this.resultTag = res.data.data.guess_tag;
            this.prize_name = res.data.data.prize_name;
            console.log(res.data.data.prize_type);
            if (res.data.data.prize_type == 1) {
              //钢索所挑战
              if (res.data.data.guess_type == 1) {
                this.prize_value = res.data.data.prize_value / 100;
                this.money = res.data.money;
                //is_get  0未领取 1已领取 直接发放至我的钱包 余额
                this.dialog = true;
                this.award_flag = 4;
                // if(res.data.data.is_get == 0){
                //   this.dialog = true;
                //   this.award_flag = 3;
                // }else if(res.data.data.is_get == 1){
                //   this.dialog = true;
                //   this.award_flag = 4;
                // }
              }
            } else if (res.data.data.prize_type == 0) {
              //举手数字猜
              if (res.data.data.guess_type == 2) {
                this.prize_name = res.data.data.prize_name;
                this.cut_count = res.data.cut_count;
                //is_get  0未领取 1已领取
                if (res.data.data.is_get == 0) {
                  this.is_get1 = 0;
                } else {
                  this.is_get1 = 1;
                }
                //判断所选数字是否与中奖数字一致
                if (res.data.cut_count == res.data.data.guess_number) {
                  this.dialog = true;
                  this.award_flag1 = 3;
                } else {
                  this.dialog = true;
                  this.award_flag1 = 4;
                }
              }
            }
          } else if (res.data.result == 0) {
            //未中奖  当有cut_count字段时为猜数字
            this.resultTag = res.data.guess_tag;
            this.dialog = true;
            if (res.data.cut_count) {
              this.cut_count = res.data.cut_count;
              this.award_flag1 = 2;
            } else {
              this.award_flag = 2;
            }
          } else if (res.data.result == 2001) {
            //未开奖
            this.dialog = true;
            this.award_flag = 1;
          } else {
            Toast(res.data.msg);
          }
        })
    },
    close () {
      this.award_flag = 0;
      this.award_flag1 = 0;
      this.dialog = false;
    },
    getprize () {
      if (this.is_get1 == 0) {
        Toast('领取奖品,请至我的奖品领取');
        this.dialog = false;
        this.award_flag = 0;
        this.award_flag1 = 0;
        this.info_flag = 1;
      } else {
        Toast('奖品已领取')
      }
    },
    setInfo () {
      if (this.name == '') {
        Toast('请输入名字')
        return false;
      }
      if (this.tel == '') {
        Toast('请输入手机号')
        return false;
      }
      if (this.ID_card == '') {
        Toast('请输入身份证')
        return false;
      }
      if (!(/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(this.tel))) {
        Toast("手机格式错误");
        return false;
      }
      if (!this.checkIDCard(this.ID_card)) {
        Toast("身份证格式错误");
        return false;
      }
      if (this.name != '' && this.tel != '' && this.ID_card != '') {
        this.info_flag = 2;
      }
    },
    revise () {
      this.info_flag = 1;
    },
    select_details (index, type) {
      if (index == 'chou') {

      } else {
        sessionStorage.setItem('prizeInfo', JSON.stringify(this.prize_list[index]));
      }
      if (type == 0) {
        //实物跳转
        this.$router.push({ path: '/get_shop' })
      } else if (type == 3) {
        //跳转举手优惠卷
        this.$router.push({ path: '/jushou' })
      } else if (type == 5) {
        //爱奇艺

      } else if (type == 6) {
        //外链
        this.$router.push({ path: '/outer_chain' })
      } else if (type == 7) {
        //淘口令
        this.$router.push({ path: '/mouth' })
      } else if (type == 8) {
        //序列码
        this.$router.push({ path: '/get_discount' })
      } else if (type == 9) {
        //在来一次
        this.$router.push({ path: '/again' })
      } else if (type == 10) {
        //长按识别二维码
        this.$router.push({ path: '/two_code' })
      } else if (type == 11) {
        //截图保存
        this.$router.push({ path: '/screen' })
      } else if (type == 12) {
        //举手会员卡
        this.$router.push({ path: '/get_jushou' })
      } else if (type == 13) {
        //举手现金
        this.$router.push({ path: '/get_code_free' })
      } else if (type == 14) {
        //车
        this.$router.push({ path: '/get_car' })
      }
    },
    saveInfo () {
      let time = new Date().getTime();
      let obj = {
        id: this.award_id,
        user_id: localStorage.getItem("userId"),
        link_name: this.name,
        link_mobile: this.tel,
        id_num: this.ID_card,
        stamp: time,
        sign: MD5(this.award_id + '' + localStorage.getItem("userId") + time + localStorage.getItem('oKey'))
      }
      // eslint-disable-next-line no-undef
      axios.post(api + '/wxmp/user/game/cut/modAwardinfo', qs.stringify(obj))
        .then(res => {
          if (res.data.result == 1) {
            sessionStorage.setItem('prizeInfo', JSON.stringify(res.data.date));
            this.select_details('chou', res.data.date.prize_type)
          }


        })
        .catch(err => {
          console.log(err);
        })
    }
  }
}
</script>

<style scoped lang="scss">
.guess-wrap {
  width: 100%;
  background: #aef5f4;
  min-height: calc(100% + 1px);
  .tab-nav {
    width: 100%;
    height: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .tab-nav-item {
      width: 50%;
      height: 100%;
      background: #449495;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.32rem;
      font-family: SourceHanSansCN-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 0.48rem;
      position: relative;
      top: 0;
    }
    .tab-nav-item-active::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 0.1rem solid transparent;
      border-right: 0.1rem solid transparent;
      border-top: 0.18rem solid #45b2b4;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -0.18rem;
    }
    .tab-nav-item-active {
      background: linear-gradient(180deg, #61dfe9, #45b2b4);
    }
  }
  .tab-content {
    width: 100%;
    height: calc(100% - 0.98rem);
    padding-top: 0.98rem;
    .tab-content_title {
      font-size: 0.32rem;
      font-weight: 400;
      color: #217F80;
      line-height: 0.48rem;
      margin-top: 0.72rem;
    }
    .tab-content_table_title {
      width: 6.6rem;
      height: 0.74rem;
      background: #217f80;
      border-radius: 0.06rem 0.06rem 0 0;
      margin: 0.46rem auto 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .table_item {
        width: 25%;
        height: 0.53rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.29rem;
        letter-spacing: 0.005rem;
        font-family: SourceHanSansCN-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 0.48rem;
        border-left: 0.02rem solid #fff;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
  .table_tbody {
    width: 6.6rem;
    margin: auto;
    letter-spacing: 0.005rem;
    background: #38abb1;
    li {
      width: 100%;
      height: 1.04rem;
      border-bottom: 0.01rem solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .tb_item {
        width: 25%;
        height: 100%;
        padding: 0.25rem 0 0.19rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-size: 0.28rem;
        font-family: SourceHanSansCN-Regular;
        .time {
          font-size: 0.2rem;
          color: rgba(206, 206, 206, 1);
        }
      }
      .tb_item_btn {
        font-size: 0.28rem;
        font-family: PingFangSC-Regular;
        font-weight: 500;
        color: rgba(255, 255, 0, 1);
      }
    }
  }
  .dialog {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .dialog-item {
      width: 6.44rem;
      height: 6.74rem;
      .dialog_title {
        color: #5f0f9e;
        font-size: 0.6rem;
        text-align: center;
        padding-top: 1.38rem;
      }
      p {
        font-size: 0.34rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 2.56rem;
        line-height: 0.54rem;
      }
      .btn {
        background: #5f0f9e;
        width: 3.6rem;
        height: 0.88rem;
        font-size: 0.36rem;
        margin: 0.22rem auto 0;
        border-radius: 0.88rem;
        line-height: 0.88rem;
        color: #fff;
      }
      .btn_get {
        background: #a0a0a0;
      }
      .have_got_btn {
        background: #a0a0a0;
      }
      .desc {
        font-size: 0.24rem;
        color: #5f0f9e;
        text-align: center;
        margin-top: 0.24rem;
      }
      .close {
        width: 0.7rem;
        height: 0.7rem;
        margin: 1.46rem auto 0;
      }
    }
  }
  .rule {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    .info_box {
      width: 5.05rem;
      height: 6.89rem;
      background: rgba(255, 255, 255, 1);
      border-radius: 0.08rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      .id_num_trip {
        width: 100%;
        padding: 0 0.24rem;
        box-sizing: border-box;
        text-align: left;
        font-size: 0.26rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(102, 102, 102, 1);
        margin: 0.25rem 0;
      }
      .info_title {
        color: rgba(34, 34, 34, 1);
        font-size: 0.34rem;
        width: 100%;
        text-align: center;
        margin-top: 0.45rem;
        font-weight: bold;
        margin-bottom: 0.7rem;
      }
      input {
        display: block;
        width: 4.77rem;
        height: 0.78rem;
        /*line-height: 0.78rem;*/
        margin: 0 auto;
        border: none;
        border-bottom: 0.01rem solid rgba(224, 224, 224, 1);
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        padding: 0 0.17rem;
        box-sizing: border-box;
      }
      input::placeholder {
        color: rgba(153, 153, 153, 1);
      }
      input:disabled {
        background: none;
      }
      .submit {
        width: 3.49rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        color: rgba(255, 255, 255, 1);
        font-size: 0.3rem;
        text-align: center;
        line-height: 0.8rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.36rem;
      }
      .sure {
        width: 3.9rem;
        height: 0.8rem;
        background: linear-gradient(
          133deg,
          rgba(241, 129, 194, 1) 0%,
          rgba(167, 92, 225, 1) 100%
        );
        border-radius: 0.08rem;
        color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        font-size: 0.3rem;
        text-align: center;
        line-height: 0.8rem;
        margin: 0 auto;
        margin-top: 0.36rem;
      }
      .update {
        width: 3.9rem;
        height: 0.8rem;
        box-sizing: border-box;
        border-radius: 0 0.08rem;
        border: 0.01rem solid rgba(151, 151, 151, 1);
        background: #ffffff;
        color: rgba(51, 51, 51, 1);
        font-size: 0.3rem;
        line-height: 0.78rem;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0.25rem;
      }
    }
  }
}
</style>