<template>
  <div class="wrap">
    <img v-for="img in imageList"
         :src="img"
         :key="img">
    <div class="btn"
         @click="GetIndex">返回</div>
  </div>
</template>
<script>
import Vue from 'vue';
import { Lazyload } from 'vant';

Vue.use(Lazyload);
export default {
  name: "guess_rule",
  data () {
    return {
      imageList: [
        "./static/active314/guess_rule.png"
      ]
    };
  },
  methods: {
    GetIndex () {
      window.location.href = `/wxmp/?index.html#/guess`;
    }
  },
  mounted () {
    document.title = "举手乐猜规则";
  },
}
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  min-height: calc(100% + 1px);
  background: #aef5f2;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  img {
    width: 6.6rem;
    display: block;
    margin: auto;
  }
  .btn {
    width: 6.2rem;
    height: 0.94rem;
    background: #449495;
    border-radius: 0.1rem;
    margin: 0.45rem auto 0;
    line-height: 0.94rem;
    font-size: 0.34rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }
}
</style>