<template>
  <ul class="Component-goodList" v-bind="$attrs">
    <li v-for="v in data"
        @click="GETDETAIL(v)"
        :key="v.id">
      <img :src="v.title_url"
           class="goodsImg" />
      <h4 class="goodsTitle">{{v.act_name}}</h4>
      <div class="goodsPrice"
           v-if="v.prize*1">
        <div class="price"><span>¥</span>{{(v.prize / 100).toFixed(2)}}</div>
        <div class="vip-price"
             v-if="v.vip_prize*1"><span>¥</span>{{(v.vip_prize / 100).toFixed(2)}}</div>
        <img src="@/../public/static/goods/vip.png"
             class="vip-icon"
             v-if="v.vip_prize*1"
             alt="" />
      </div>
      <div class="goodsPrice"
           v-if="v.point*1">
        <div class="price">{{v.point}}<span>积分</span></div>
        <div class="vip-price"
             v-if="v.vip_point*1">{{v.vip_point}}<span>积分</span></div>
        <img src="@/../public/static/goods/vip.png"
             class="vip-icon"
             v-if="v.vip_point*1"
             alt="" />
      </div>
    </li>
  </ul>

</template>

<script>
export default {
  data () {
    return {
      isWx: true
    }
  },
  props: {
    data: {
      type: Array,
    }
  },
  created () {
    this.isWx = this.getIsWxClient();
  },
  methods: {
    /**
          * 判断是否是微信环境
          */
    getIsWxClient () {
      var ua = navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        return true;
      }
      return false;
    },
    GETDETAIL (v) {
      this.$router.push({ path: '/shop_details', query: { id: v.id } })
      // if(this.isWx){

      // }else{
      // 	if(localStorage.getItem("userId")){
      // 		this.$router.push({path: '/shop_details',query:{id:v.id}})
      // 	}
      // 	this.$router.push({path: '/login'})
      // }

    },
  }
}
</script>

<style lang="scss" scoped>
ul.Component-goodList {
  height: 100%;
  width: 100%;
  padding: 0 0.27rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  li {
    margin-bottom: 0.18rem;
    position: relative;
    width: 3.4rem;
    height: 5.02rem;
    border-radius: 0.15rem;
    overflow: hidden;
    background: #ffffff;
    .goodsImg {
      width: 100%;
      height: 3.4rem;
    }
    .goodsTitle {
      height: 0.72rem;
      margin-top: 0.15rem;
      text-align: left;
      padding: 0 0.2rem;
      box-sizing: border-box;
      font-size: 0.28rem;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 0.36rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .goodsPrice {
      margin-top: 0.24rem;
      padding: 0 0.2rem;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      align-items: baseline;
      letter-spacing: 0;
      .price {
        font-size: 0.32rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(233, 0, 0, 1);
        margin-right: 0.11rem;
        span {
          font-size: 0.25rem;
        }
      }
      .vip-price {
        font-size: 0.25rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(45, 45, 45, 1);
        margin-right: 0.06rem;
      }
      .vip-icon {
        width: 0.35rem;
        height: 0.16rem;
      }
    }
  }
}
</style>