<template>
  <div class="getopenid">
    <van-loading color="blue" type="spinner" size="30px" />
  </div>
</template>
<script>
//引入依赖
import { Base64 } from "js-base64";
import qs from "qs";
import Vue from "vue";
import { Loading } from "vant";

Vue.use(Loading);
export default {
  name: "UserAuth",
  data() {
    return {
      state: "",
      sign: "",
      scope: "snsapi_userinfo",
      new_query: "/index"
    };
  },
  created() {
    if (this.GetQueryString("code")) {
      this.APIDoWebToken(this.GetQueryString("code"));
    } else {
      this.getVersion();
    }
  },
  mounted() {
    document.title = "登录中";
  },
  methods: {
    APIDoWebToken(code) {
      let time = new Date().getTime();
      let obj = {
        code: code,
        scope: "snsapi_userinfo",
        stamp: time,
        sign: this.MD5(
          code + "snsapi_userinfo" + time + localStorage.getItem("oKey")
        )
      };
      this.axios
        .post("/api/doWebToken", qs.stringify(obj))
        .then(res => {
          if (res.result == 1) {
            let user_id = Base64.decode(res.user_code);
            this.sign = Base64.decode(res.userToken);
            localStorage.setItem("userId", user_id);
            localStorage.setItem("userToken", this.sign);
            let vm = this;
            if (localStorage.getItem("oKey")) {
              //判断 localStorage 是否存有 oKey
              if (localStorage.getItem("Key") && localStorage.getItem("des")) {
                //判断 localStorage 是否存有 Key des
                vm.get_msg();
              } else {
                vm.get_key();
              }
            } else {
              vm.getUserIDKey();
            }
          } else {
            // Toast('loginToken ' + res.result);
            console.log("/doWebToken=>接口错误代码" + res.result);
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    GetQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
      var r = window.location.search
        ? window.location.search
            .split("?")[1]
            .substr(0)
            .match(reg)
        : null;
      if (r != null) {
        return r[2];
      } else {
        return false;
      }
    },
    /*
     * 获取版本号
     * 对比版本号 根据条件进行本地缓存的清除
     */
    getVersion() {
      if (!localStorage.getItem("token")) {
        localStorage.clear();
      }
      let times = Date.now();
      let vm = this;
      let obj = { src: "jushou", stamp: times };
      this.axios.post("/api/getWxVersion", qs.stringify(obj)).then(res => {
        if (res.result == 1) {
          vm.version = res.version;
          localStorage.setItem("version", res.version);

          //获取地址信息
          let address = "";
          /* 处理微信分享链接 在index.html拼接?from=singlemessage 等标示 */
          if (
            /(\?from=singlemessage)|(\?from=timeline)|(\?from=groupmessage)/g.test(
              window.location.href
            )
          ) {
            address = window.location.href.replace(
              /(\?from=singlemessage)|(\?from=timeline)|(\?from=groupmessage)/g,
              ""
            );
            location.href = address;
          } else {
            address = window.location.href;
          }
          vm.getUrl(address); //处理地址携带的参数 存入session 例如state shareId
        }
      });
    },
    /*
     * 获取url地址信息
     * 处理地址栏携带的参数 重定向路由等
     * */
    getUrl(address) {
      let add_state;
      if (address.split("?")[1] != undefined) {
        let arr = address.split("?")[1].split("&");
        for (let i = 0; i < arr.length; i++) {
          /* 存入session */
          sessionStorage.setItem(arr[i].split("=")[0], arr[i].split("=")[1]);
        }
        add_state = sessionStorage.getItem("state");
      } else {
        add_state = "bind";
      }

      if (decodeURIComponent(add_state).slice(0, 1) == "/") {
        this.new_query = decodeURIComponent(add_state);
      } else {
        this.new_query = "/" + decodeURIComponent(add_state);
      }
      sessionStorage.setItem("state", this.new_query);
      let vm = this;
      vm.getUserIDKey(); //获取appid
    },
    /*
     * 获取okey appid
     * */
    getUserIDKey() {
      let time = new Date().getTime();
      let vm = this;
      let obj = {
        src: "jushou",
        stamp: time
      };
      this.axios
        .post("/api/getOpenIDKey", qs.stringify(obj))
        .then(res => {
          let okey_length = res.okey_length;
          let okey = Base64.decode(res.okey)
            .trim()
            .substr(0, okey_length);
          let appid = res.appid;

          //okey 解码后多一个空格
          localStorage.setItem("appid", appid);
          localStorage.setItem("oKey", okey);
          localStorage.setItem("wx", res.wx);
          if (localStorage.getItem("userId")) {
            //判断 localStorage 是否存有 userId
            if (localStorage.getItem("Key") && localStorage.getItem("des")) {
              //判断 localStorage 是否存有 Key des
              vm.get_msg();
            } else {
              vm.get_key();
            }
          } else {
            vm.get_userId();
          }
          // vm.get_userId();
        })
        .catch(err => {
          console.log(err);
        });
    },
    /*
     * 获取key  通过userId
     * */
    get_key() {
      let time = new Date().getTime();
      let obj = {
        user_id: localStorage.getItem("userId"),
        stamp: time
      };
      this.axios
        .post("/api/wxmp/log/user/getUserIDKey", qs.stringify(obj))
        .then(res => {
          // 如果绑定过用户，就跳到个人中心，否则就跳到绑定用户；
          if (res.result == 1) {
            let key_length = res.key_length;
            let deskey_length = res.deskey_length;
            let Key = Base64.decode(res.key)
              .trim()
              .substr(0, key_length);
            localStorage.setItem("Key", Key);
            let des = Base64.decode(res.deskey)
              .trim()
              .substr(0, deskey_length);
            localStorage.setItem("des", des);
            this.get_msg();
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /**
     * 判断是否是微信环境
     */
    getIsWxClient() {
      var ua = navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == "micromessenger") {
        return true;
      }
      return false;
    },
    /*
     * 获取userId 通过okey  如果获取不到userId重定向到微信获取
     * */
    get_userId() {
      let time = new Date().getTime();
      let obj = {
        src: "jushou",
        code: this.sign,
        stamp: time,
        str: Base64.encode(localStorage.getItem("oKey")),
        sign: this.MD5("jushou" + time + "" + localStorage.getItem("oKey"))
      };
      this.axios
        .post("/api/getUserInfo", qs.stringify(obj))
        .then(res => {
          if (res.result == 1) {
            localStorage.setItem("userId", Base64.decode(res.user_code).trim());
            this.get_msg();
          } else {
            const redirectURL = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${localStorage.getItem(
              "appid"
            )}&redirect_uri=${window.location.origin +
              window.location.pathname}&response_type=code&scope=${
              this.scope
            }&state=`;
            window.location.href = redirectURL;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    /*
     * 获取用户信息 存储用户基本信息到本地缓存
     * */
    get_msg() {
      if (localStorage.getItem("Key")) {
        let time = new Date().getTime() + "";
        let obj = {
          id: localStorage.getItem("userId"),
          stamp: time,
          sign: this.MD5(
            localStorage.getItem("userId") + time + localStorage.getItem("Key")
          )
        };
        this.axios
          .post("/api/wxmp/log/user/getCheckUserRegUserID", qs.stringify(obj))
          .then(res => {
            if (res.result == 1) {
              let is_vip =
                res.data.vip_lv > 0 &&
                new Date(
                  res.data.validity_time.substr(0, 19).replace(/-/g, "/")
                ).getTime() > Date.now()
                  ? 1
                  : 0;
              sessionStorage.setItem("is_vip", is_vip);
              sessionStorage.setItem("usermessage", JSON.stringify(res.data));
              localStorage.setItem("open_id", res.data.open_id);
              this.$router.push({
                path: sessionStorage.getItem("state"),
                query: {
                  ...(JSON.parse(sessionStorage.getItem("stateQuery"))
                    ? JSON.parse(sessionStorage.getItem("stateQuery"))
                    : {})
                }
              });
            } else if (res.result == 1021) {
              this.uppload_openid();
            } else {
              console.log(res.msg);
            }
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        this.get_key();
      }
    }
  }
};
</script>
<style scoped lang="scss">
.getopenid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
