<template>
  <div class="wrap">
    <van-sticky>
      <van-grid direction="horizontal" :column-num="3">
        <van-grid-item icon="description" text="分类名称" />
        <van-grid-item icon="bar-chart-o" text="商品数量" />
        <van-grid-item icon="setting-o" text="操作" />
      </van-grid>
    </van-sticky>
    <div class="content">
      <van-list
        v-model="loading"
        :finished="finished"
        finished-text="没有更多了"
        @load="onLoad"
      >
        <van-grid
          direction="horizontal"
          :column-num="3"
          v-for="item in list"
          :key="item.id"
        >
          <van-grid-item :text="item.classname + ''" />
          <van-grid-item :text="item.count + ''" />
          <van-grid-item
            icon="setting-o"
            @click="OperaHandle(item)"
            style="color:#442794;font-weight:bold"
            text="打开操作面板"
          />
        </van-grid>
      </van-list>
    </div>
    <van-popup
      :safe-area-inset-bottom="true"
      duration="0.2"
      v-model="show"
      round
      closeable
      close-icon="close"
      position="bottom"
    >
      <div style="height:0.8rem;"></div>
      <van-button
        plain
        hairline
        type="default"
        size="large"
        style="margin-top:0.1rem"
        @click="UpdateClass"
        >修改</van-button
      >
      <van-button
        plain
        hairline
        type="default"
        size="large"
        style="margin-top:0.1rem;color:red"
        @click="DeleteClass"
        >删除</van-button
      >
      <van-button
        plain
        hairline
        type="default"
        size="large"
        style="margin-top:0.1rem"
        @click="ViewProduct"
        >查看商品</van-button
      >
    </van-popup>
    <div class="add" @click="AddClass">
      <svg
        t="1595399658494"
        class="icon"
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="2109"
        width="50"
        height="50"
      >
        <path
          d="M512 512m-469.333333 0a469.333333 469.333333 0 1 0 938.666666 0 469.333333 469.333333 0 1 0-938.666666 0Z"
          fill="#6374ff"
          p-id="2110"
        />
        <path
          d="M746.666667 554.666667H277.333333c-12.8 0-21.333333-8.533333-21.333333-21.333334v-42.666666c0-12.8 8.533333-21.333333 21.333333-21.333334h469.333334c12.8 0 21.333333 8.533333 21.333333 21.333334v42.666666c0 12.8-8.533333 21.333333-21.333333 21.333334z"
          fill="#FFFFFF"
          p-id="2111"
        />
        <path
          d="M469.333333 746.666667V277.333333c0-12.8 8.533333-21.333333 21.333334-21.333333h42.666666c12.8 0 21.333333 8.533333 21.333334 21.333333v469.333334c0 12.8-8.533333 21.333333-21.333334 21.333333h-42.666666c-12.8 0-21.333333-8.533333-21.333334-21.333333z"
          fill="#FFFFFF"
          p-id="2112"
        />
      </svg>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import Vue from "vue";
import { List } from "vant";
import { Cell } from "vant";
import { Grid, GridItem } from "vant";
import { Popup } from "vant";
import { Divider } from "vant";
import { Sticky } from "vant";
import { Icon } from "vant";
import { Toast } from "vant";

Vue.use(Toast);
Vue.use(Icon);
Vue.use(Sticky);
Vue.use(Divider);
Vue.use(Grid);
Vue.use(GridItem);
Vue.use(List).use(Cell);
Vue.use(Popup);
export default {
  name: "goodsClass",
  components: {
    // HelloWorld
  },
  data() {
    return {
      list: [],
      loading: false,
      finished: false,
      show: false
    };
  },
  created() {},
  methods: {
    onLoad() {
      // 异步更新数据
      // setTimeout 仅做示例，真实场景中一般为 ajax 请求
      this.GetClassList();
      // setTimeout(() => {
      //   for (let i = 0; i < 10; i++) {
      //     this.list.push(this.list.length + 1);
      //   }

      //   // 加载状态结束
      //   this.loading = false;

      //   // 数据全部加载完成
      //   if (this.list.length >= 40) {
      //     this.finished = true;
      //   }
      // }, 1000);
    },
    GetClassList() {
      this.loading = false;
      this.finished = true;

      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      FormDate.append("sign", sign);
      this.axios
        .post("/api/merchant/mng/merchantGoodsClassLook", FormDate)
        .then(res => {
          if (res.result === 1) {
            this.list.push(...res.datalist);
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    DeleteClass() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("id", this.CurData.id);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      FormDate.append("sign", sign);
      this.axios
        .post("/api/merchant/mng/merchantGoodsClassDel", FormDate)
        .then(res => {
          if (res.result === 1) {
            this.list = this.list.filter(ele => {
              return ele.id != this.CurData.id;
            });
            this.show = false;
            Toast(res.msg);
          } else {
            Toast(res.result + res.msg);
          }
        });
    },
    UpdateClass() {
      this.$store.commit("changStoreClassUpdateData", this.CurData);
      this.$router.push({ path: "/goodsClassUpdate" });
    },
    OperaHandle(val) {
      this.show = true;
      this.CurData = val;
    },
    ViewProduct() {
      this.$router.push({
        path: "/index/goods",
        query: { cid: this.CurData.id }
      });
    },
    AddClass() {
      this.$router.push({ path: "/goodsClassAdd" });
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap {
  width: 100%;
  height: 100%;
  .content {
    width: 100%;
    height: calc(100% - 2rem);
    overflow-y: scroll;
  }
  .add {
    position: fixed;
    bottom: 1.8rem;
    right: 0.3rem;
    border-radius: 100%;
    background: #ffffff;
    z-index: 99;
  }
}
</style>
