<template>
  <div class="wrap">
    <ul class="card">
      <li class="card-item">
        <span class="lable">商品小图</span>
        <img
          class="title_url"
          :src="formData.title_url"
          alt=""
          @click="ImagePreviewHandel(formData.title_url)"
        />
      </li>
      <li class="card-item">
        <span class="lable">商品大图</span>
        <img
          class="back_pic_url"
          :src="formData.back_pic_url"
          alt=""
          @click="ImagePreviewHandel(formData.back_pic_url)"
        />
      </li>
      <li class="card-item">
        <span class="lable">商品名称</span>
        <p class="content">{{ formData.act_name }}</p>
      </li>
      <li class="card-item">
        <span class="lable">所属分类</span>
        <p class="content">{{ formData.classname }}</p>
      </li>
      <li class="card-item">
        <span class="lable">标签分组</span>
        <p class="content">{{ tag_name }}</p>
      </li>
      <li class="card-item" v-if="formData.tag_id != '0'">
        <span class="lable">标签名称</span>
        <p class="content">{{ formData.tag_name }}</p>
      </li>
      <li class="card-item" v-if="formData.tag_id != '0'">
        <span class="lable">标签排序</span>
        <p class="content">{{ formData.tag_sort }}</p>
      </li>
      <li class="card-item">
        <span class="lable">库存量</span>
        <p class="content">{{ formData.stock }}</p>
      </li>
      <li class="card-item">
        <span class="lable">销量</span>
        <p class="content">{{ formData.sell_num }}</p>
      </li>
      <li class="card-item">
        <span class="lable">付款量</span>
        <p class="content">{{ formData.pay_num }}</p>
      </li>
      <li class="card-item">
        <span class="lable">商品价格</span>
        <p class="content">¥{{ formData.prizeToFixed }}</p>
      </li>
      <li class="card-item">
        <span class="lable">是否隐藏</span>
        <p class="content">
          {{ formData.is_hidden * 1 ? "已隐藏" : "已显示" }}
        </p>
      </li>
      <li class="card-item">
        <span class="lable">上架时间</span>
        <p class="content">
          {{ formData.begin_time | formaTime }}
        </p>
      </li>
      <li class="card-item">
        <span class="lable">下架时间</span>
        <p class="content">
          {{ formData.end_time | formaTime }}
        </p>
      </li>
      <li class="card-item">
        <span class="lable">商品描述</span>
        <p class="content">
          {{ formData.descr }}
        </p>
      </li>
    </ul>
    <div class="btn back" @click="backTo">返回</div>
    <div class="btn update" @click="updateTo">修改</div>
  </div>
</template>

<script>
import { ImagePreview } from "vant";
export default {
  name: "goodsLook",
  data() {
    return {
      formData: {},
      TagList: []
    };
  },
  filters: {
    formaTime(val) {
      return val.substr(0, 19);
    }
  },
  computed: {
    tag_name() {
      let filterData = this.TagList.filter(ele => {
        return ele.id === this.formData.tag_id;
      });
      return filterData.length ? filterData[0].text : "未选择标签分组";
    }
  },
  created() {
    this.formData = this.$store.state.StoreGoodsUpdateData;
    this.getTagList();
  },
  methods: {
    backTo() {
      this.$router.back();
    },
    updateTo() {
      this.$router.push({ path: "/goodsUpdate" });
    },
    ImagePreviewHandel(url) {
      ImagePreview({
        images: ["https://vote.51takeit.com" + url],
        closeable: true
      });
    },
    /* 查询标签 */
    getTagList() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("sign", sign);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      this.axios
        .post("/api/merchant/mng/merchantGoodsTagLook", FormDate)
        .then(res => {
          if (res.result === 1) {
            this.TagList = [
              { text: "下拉选择", value: "0" },
              ...res.datalist.map(ele => {
                return { text: ele.tag_name, value: ele.id };
              })
            ];
          }
        });
    },
    /* 获取商品分类列表 */
    GetClassList() {
      let FormDate = new FormData();
      const STAMP = Date.now();
      const sign = this.MD5(STAMP + localStorage.getItem("oKey"));
      FormDate.append("stamp", STAMP);
      FormDate.append("sign", sign);
      FormDate.append(
        "merchant_id",
        this.$store.state.StoreUserInfo.merchant_id
      );
      this.axios
        .post("/api/merchant/mng/merchantGoodsClassLook", FormDate)
        .then(res => {
          if (res.result === 1) {
            res.datalist.forEach(ele => {
              this.columns.push({ text: ele.classname, className: ele.id });
            });
            if (this.$route.query.cid) {
              this.$set(
                this.formData,
                "classname",
                this.columns.filter(ele => {
                  return ele.className === this.$route.query.cid;
                })[0].text
              );
            }
          }
        });
    }
  }
};
</script>

<style scoped lang="scss">
.wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  touch-action: pan-y;
  padding: 0.56rem 0.2rem 0.2rem;
  box-sizing: border-box;
  background-image: url("../../assets/image/login_bg.png");
  background-size: 7.5rem 16rem;
  background-repeat: no-repeat;
  background-color: #442794;
  text-align: left;
  .card {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.2rem #30225527;
    padding: 0.3rem 0.2rem 1.8rem;
    box-sizing: border-box;
    .card-item {
      padding: 0.2rem;
      box-sizing: border-box;
      color: #333;
      font-size: 0.32rem;
      display: flex;
      place-content: flex-start;
      line-height: 0.5rem;
      border-bottom: 0.01rem solid #e3eff7;
      font-family: "SYgoogle";
      .lable {
        letter-spacing: 0.01rem;
        font-size: 0.36rem;
        // font-weight: 600;
        width: 1.8rem;
        font-family: "WZSF";
        &::after {
          content: ":";
          margin-left: 0.05rem;
        }
      }
      @mixin image() {
        height: 1.2rem;
        background: #d9d9da;
        margin-left: 0.2rem;
        font-size: 0.2rem;
        line-height: 1.2rem;
        text-align: left;
      }
      .title_url {
        width: 1.2rem;
        @include image();
      }
      .back_pic_url {
        width: 1.6rem;
        @include image();
      }
    }
  }
  .btn {
    width: 2rem;
    height: 0.8rem;
    position: fixed;
    bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3rem;
    color: #fff;
    border-radius: 0.2rem;
  }
  .back {
    background: #442794;
    box-shadow: 0 0 0.2rem #442794b6;
    left: 1rem;
  }
  .update {
    background: #2ca066;
    box-shadow: 0 0 0.2rem #2ca06694;
    right: 1rem;
  }
  @include themify($themes) {
    background: themed("background-color");
  }
}
</style>
